﻿@charset "UTF-8";
/* CSS Document */
body
{
	font-family: "Open Sans";
	background:#fcfcfc;
}

.dashboardElement{
	float:left;
	width:350px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	height:300px;
	overflow:hidden;
	position:relative;
    background: none repeat scroll 0% 0% #FAFAFA;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid #EEE;
}
.mainAreaContainer{
	display:table;
	width:100%;
	margin-top:87px;
}
.mainArea{
	display:table-cell;
	min-height:700px; 
    padding:30px;
    padding-bottom: 70px;
    text-align: center;
}

.mainArea h1:first-child, .mainArea .centerBlock h1:first-child
{
    margin-top:                     0px;
}

.mainArea :not(.centerBlock)
{
    text-align:                     left;
}

.mainArea .centerBlock
{
    display:                        inline-block;
}

.mainContentContainer{
	display:table-cell;
	padding:30px;
	vertical-align:top;
}

.coming-soon-overlay
{
    background: rgba(255, 255, 255, 0.6);
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 334px;
    position: absolute;
    text-align: center !important;
    top: 0;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
}

.dashboardHeader{
	position:fixed;
	width:100%;
	min-width:1016px;
	font-family:"Open Sans";
	z-index:3000;
	top:0px;
	left:0px;
}
.dashboardHeader .logo{
	position:absolute;
	display: block;
	width: 250px;
	height: 87px;
	background: url("/RESH/Images/dashboard/logo.png") no-repeat center;
}
.dashboardHeader .title{
	line-height:91px;
	text-align:center;
	font-size:34px;
	text-indent:-10000px;
	background:url("/RESH/Images/text/dashboard.png") no-repeat center;
}

.dashboardHeader .tabContainer {
	padding-left:250px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/tab.png);
	height:87px;
}
.dashboardHeader .tabContainer .tab{
	float:left;
	position:relative;
	background:url(http://static.reshape.net/RESH/Images/dashboard/tab.png);
	width:9%;
	height:87px;
	border-right:1px solid #000;
	color:#fff;
	font-size:11px;
	text-align:center;
}

.dashboardHeader .tabContainer .tab:hover
{
	background-position:center -87px;
	cursor:pointer;
	background-size:110% 200%;
	color:#ce2127;
}

.dashboardHeader .tabContainer .tab:last-child
{
	border:none !important;
}

.dashboardHeader .tabContainer .selected
{
	background-position:center -87px;
	background-size:110% 200%;
	color:#ce2127;
}
.dashboardHeader .tabContainer .tab .text{
	margin-top:4px;
}
.dashboardHeader .tabContainer .tab .icon{
	height:45px;
	margin:auto;
	margin-top:10px;
}
.dashboardHeader .tabContainer .tab .icon:hover{
	background-position:0px 45px;
	cursor:pointer;
}
.dashboardHeader .tabContainer .notifications
{
    position: absolute;
    background: rgba( 203, 33,39, 0.8);
    width: 17px;
    height: 15px;
    border-radius: 5px;
    color: #EAEAEA;
    font-size: 13px;
    line-height: 13px;
    top: 39px;
    right: 49px;
}
.dashboardHeader .tabContainer .tab .globe{
	width:46px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/globe.png);
}
.dashboardHeader .tabContainer .tab .clients{
	width:70px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/clients.png);
}
.dashboardHeader .tabContainer .tab .messages{
	width:70px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/messages.png);
}
.dashboardHeader .tabContainer .tab .payment{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/payment.png);
}
.dashboardHeader .tabContainer .tab .sessions{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/profile.png);
}
.dashboardHeader .tabContainer .tab .cart{
	width:60px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/cart.png);
}
.dashboardHeader .tabContainer .tab .calendar{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/calendar.png);
}
.dashboardHeader .tabContainer .tab .plus{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/plus.png);
}
.dashboardHeader .tabContainer .tab .connections{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/connections.png);
}
.dashboardHeader .tabContainer .tab .analytics{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/graph.png);
}
.dashboardHeader .tabContainer .tab .settings{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/settings.png);
}
.dashboardHeader .tabContainer .tab .home{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/home.png);
}

.dashboardHeader .tabContainer .tab .sign-out{
	width:40px;
	background:url(http://static.reshape.net/RESH/Images/dashboard/sign-out.png);
}

.dashboardHeader .tabContainer .tab .video
{
    width: 57px;
    background:url(http://static.reshape.net/RESH/Images/dashboard/video.png);
    margin-bottom: -2px;
    margin-top: 12px;
}

.dashboardFooter{
	height: 50px;
    background: #262626;
    width: 100%;
    line-height: 50px;
	position:fixed;
	bottom:0px;
	left: 0px;
	color:#FFF;
}