{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">

    <div class="row">

        <div class="col-lg-4">

            <form action="{{ path('login_check') }}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Login</h2>
                <div class="body bg-gray">
                    {% if error %}
                    <br>
                    <div class="alert alert-danger alert-dismissable">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error.message|trans }}
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="_password" class="form-control" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="_remember_me" name="_remember_me"/> Remember Me
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
                </div>
            </form>

        </div>

    </div>

</div>


{% endblock %}
