{% extends '::base.html.twig' %}

{% block body -%}

<div class="row" style="padding-top: 50px;">
  <div class="col-lg-12">
    <div class="alert alert-success" role="alert">
    Verification email sent. Please click on the link to activate your account and complete your profile.
    </div>
  </div>
</div>

{% endblock %}