﻿.weekly-table-container
{
    position:               relative;
}

.weekly-table-container .dates-container
{
    margin-top:             55px;
}

.weekly-table-container .time-slots-container
{
    width:                  80px;
    float:                  left;
    margin-top:             17px;
}

.weekly-table-container .time-slots-container .time-slot
{
    text-align:             center;
    color:                  #1d1d1f;
}

.weekly-table-container .time-slot
{
    height:                 26px;
    line-height:            26px;
    font-size:              12px;
    border-right:           1px solid #e1e1e1;
    
}

.weekly-table-container .time-slot:nth-of-type(2n+1)
{
    background:             #eee;
}

.weekly-table-container .day-container
{
    width:                  130px;
    float:                  left;
}

.weekly-table-container .name
{
    font-size:              12px;
    font-weight:            600;
    text-align:             center;
}

.weekly-table-container .day-container .event
{
    text-indent:            12px;
}

.weekly-table-container .day-container .event:hover
{
    cursor:                 pointer;
    color:                  #5C7C3A;
}

.weekly-table-container .day-container .event .circle
{
    width:                  6px;
    height:                 6px;
    border-radius:          6px;
    background:             #A9E213;
    display:                inline-block;
    margin-right:           3px;
    vertical-align:         middle;
}

.weekly-table-container .navigation-container
{
    margin-top:             30px;
}

.weekly-table-container .navigation-container .nav
{
    font-size:              18px;
}

.weekly-table-container .navigation-container .nav.prev
{
    float:                  left;
}

.weekly-table-container .navigation-container .nav.next
{
    float:                  right;
}