﻿.request-time-component
{
    position:           relative;
    margin-top:         30px;
}

.request-time-component h1
{
    font-size:          30px;
    margin-bottom:      15px;
}

.request-time-component .form-container
{
    float:              left;
}

.request-time-component .right
{
    float:              right;
    padding-left:       70px;
    width:              420px;
    margin-left:        70px;
    border-left:        1px solid #ccc;
    height:             150px;
    margin-top:         25px;
}

.request-time-component .text-container
{
    margin-top:         33px;

}

.request-time-component .text-container h2
{
    font-size:          24px;
}

.request-time-component .text-container p
{
    font-size:          14px;
    line-height:        22px;
}

form label
{
    text-align:         left !important;
}