<!--    {RESH}/RESH/Layouts/RESHdefaultLayout -->

<!--    {RESH}/RESH/Pages/Category/RESHcategoryPage.css
        {RESH}/RESH/Pages/Category/RESHcategoryPage.js
-->
<section class="findYourFitnessPro">
    <div class="headerDiv">
    <div class="light"></div>
        <div class="h1Container">
            <h1 class="greyGradientShadow">FIND YOUR PROFESSIONAL</h1>
        </div>
        <div class="quickMenu">
            <div class="item itemSelected">FITNESS</div>
            <div class="item addborders">HEALTH</div>
            <div class="item">SPORTS</div>
        </div>
    </div>
</section>
<div class="whiteAreaGradient" style="z-index:-1"></div>

<section class="category">
    <div class="tableContainer">
        <div class="left">
            <div class="narrowChoisesContainer">
                <div class="explainContainer">
                    <div class="text1">NARROW YOUR CHOISES</div>
                    <div class="text2">Filtered Browsing</div>
                </div>
                
                <div class="boxContainer">
                    <div class="mainHeader">FITNESS SEARCH</div>
                    
                    <div class="choiseContainer">
                        <div class="mainChoise choiseSelected">CATEGORY<div class="arrow arrowSelected"></div></div>
                        <div class="subChoise">Personal Training<div class="arrow"></div></div>
                        <div class="subChoise">Athletic Training<div class="arrow"></div></div>
                        <div class="subChoise">Yoga<div class="arrow"></div></div>
                        <div class="subChoise">Pilates<div class="arrow"></div></div>
                    </div>
                    
                    <div class="choiseContainer">
                        <div class="mainChoise">LOCATION<div class="arrow"></div></div>
                        <div class="subChoise">Miami Beach<div class="arrow"></div></div>
                        <div class="subChoise">Miami<div class="arrow"></div></div>
                        <div class="subChoise">Fort Lauderdale<div class="arrow"></div></div>
                        <div class="subChoise">Boca Raton<div class="arrow"></div></div>
                    </div>
                    
                    <div class="choiseContainer">
                        <div class="mainChoise">PRICE (30 min)<div class="arrow"></div></div>
                        <div class="subChoise">$25 - $35<div class="arrow"></div></div>
                        <div class="subChoise">$35 - $50<div class="arrow"></div></div>
                        <div class="subChoise">$50+<div class="arrow"></div></div>
                    </div>
                    
                    <div class="choiseContainer">
                        <div class="mainChoise">REVIEWS<div class="arrow"></div></div>
                        <div class="subChoise">
                            <div class="stars" stars="3"></div><div class="arrow"></div>
                        </div>
                        <div class="subChoise">
                            <div class="stars" stars="4"></div><div class="arrow"></div>
                        </div>
                        <div class="subChoise">
                            <div class="stars" stars="5"></div><div class="arrow"></div>
                        </div>
                    </div>
                    
                    <div class="choiseContainer">
                        <div class="mainChoise">GENDER<div class="arrow"></div></div>
                        <div class="subChoise">MAN<div class="arrow"></div></div>
                        <div class="subChoise">WOMAN<div class="arrow"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="yourSelectionsContainer">
                <div class="header">YOUR SELECTIONS:</div>
                <div class="allSelectionsContainer">
                    <div class="selection">
                        PERSONAL TRAINER <div class="removeSelection"></div>
                    </div>
                    <div class="selection">
                        PRICE ($35-50) <div class="removeSelection"></div>
                    </div>
                    <div class="selection">
                        MIAMI BEACH <div class="removeSelection"></div>
                    </div>
                    <div class="selection">
                        MAN <div class="removeSelection"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="allOptionsContainer">
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/personal-training.jpg" /></div>
                    <div class="header">PERSONAL TRAINING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/bodybuilding.jpg" /></div>
                    <div class="header">ATHLETIC TRAINING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/yoga.jpg" /></div>
                    <div class="header">YOGA</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/weight-training.jpg" /></div>
                    <div class="header">WEIGHT TRAINING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/cardio.jpg" /></div>
                    <div class="header">CARDIO WORKOUTS</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/kettlebell.jpg" /></div>
                    <div class="header">CORE TRAINING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/boxing.jpg" /></div>
                    <div class="header">SPORTS CONDITIONING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/stretching.jpg" /></div>
                    <div class="header">PILATES</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/yoga.jpg" /></div>
                    <div class="header">YOGA</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/weight-training.jpg" /></div>
                    <div class="header">WEIGHT TRAINING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/cardio.jpg" /></div>
                    <div class="header">CARDIO WORKOUTS</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/kettlebell.jpg" /></div>
                    <div class="header">CORE TRAINING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/boxing.jpg" /></div>
                    <div class="header">SPORTS CONDITIONING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/stretching.jpg" /></div>
                    <div class="header">PILATES</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/personal-training.jpg" /></div>
                    <div class="header">PERSONAL TRAINING</div>
                    <div class="shadow"></div>
                </div>
                <div class="optionContainer">
                    <div class="picture"><img src="images/category/categories/bodybuilding.jpg" /></div>
                    <div class="header">ATHLETIC TRAINING</div>
                    <div class="shadow"></div>
                </div>
            </div>
        </div>
        <div class="positionFix"></div>    
    </div>
</section>
