.tabsList li
{
    width:                      20% !important;
}

.profileInfo
{
    background:                 #F9F9F9 !important;
}

.profileInfo ol li .tab.tab3
{
    background-position:        -205px 0px !important;
}

.profileInfo ol li .tab.tab4
{
    background-position:        -328px 0px !important;
}

.profileInfo ol li .tab.tab5
{
    background-position:        -286px 0px !important;
}