{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">FAQ edit</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(edit_form) }}

    <div class="form-group">
      {{ form_label(edit_form.question, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
      <div class="col-lg-6">
        {{ form_widget(edit_form.question, {'attr': {'class': 'form-control' }}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(edit_form.answer, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
      <div class="col-lg-6">
        {{ form_widget(edit_form.answer, {'attr': {'class': 'form-control' }}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(edit_form.faqCat, null, {'label': 'Category', 'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
      <div class="col-lg-4">
        {{ form_widget(edit_form.faqCat, {'attr': {'class': 'form-control' }}) }}
      </div>
    </div>

    <ul class="list-unstyled">
      <li class="bottom-space">
        {{ form_widget(edit_form.submit, {'label': ' Update', 'attr': {'class': 'btn btn-primary fa fa-floppy-o' }}) }}
      </li>
      {# <li class="bottom-space">
      {{ form(delete_form) }}
      </li> #}
      <li>
        <a href="{{ path('faq') }}">
          <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-arrow-left"></i> Back to the list</button>
        </a>
      </li>
    </ul>

    {{ form_end(edit_form) }}

  </div>
</div>
{% endblock %}
