{% extends '::base.html.twig' %}

{% block title %}Frequently Asked Questions | ReShape{% endblock %}

{# {% block bigheader %}Frequently Asked Questions{% endblock %} #}

{% block body -%}
<div class="container">
  <div class="row">

    <div class="col-lg-12">

      <div class="tabbable">
        <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
          {% for category in entities %}
          {{ loop.first ? '<li class="active">' : '<li>' }}
          <a data-toggle="tab" href="#faq-tab-{{ category.id }}">
            <i class="bigger-120"></i>
            {{ category.catname }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <div class="tab-content no-border padding-24">
        {% for category in entities %}
        <div id="faq-tab-{{ category.id }}"
        class="tab-pane fade in {{ loop.first ? 'active' : '' }}">
        <span class="accordion-space"></span>
        <div class="accordion" {% if is_granted('ROLE_ADMIN') %} id="sortable" {% endif %}>
          {% for faq in category.faqList %}

          <div id="faq-list-{{ faq.id }}"
          class="panel-group accordion-style1 accordion-style2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="#faq-{{ category.id }}-{{ faq.id }}"
              data-parent="#faq-list-{{ faq.id }}" data-toggle="collapse"
              class="icon fa fa-plus-square-o fa-lg accordion-toggle collapsed no-underline">
              <span class="question-title">{{ faq.question }}</span>
              {% if is_granted('ROLE_ADMIN')  %}
              <a href="{{ path('faq_edit', {'id': faq.id }) }}" class="pull-right">
                <button type="button" class="btn btn-primary btn-xs">EDIT</button>
              </a>
              {% endif %}
            </a>
          </i>
        </div>

        <div class="panel-collapse collapse"
        id="faq-{{ category.id }}-{{ faq.id }}">
        <div class="panel-body">
          {{ faq.answer }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endfor %}
</div>
</div>

</div>
</div>
</div>

{% if is_granted('ROLE_ADMIN')  %}
<ul class="list-unstyled" style="padding-top: 15px;">
  <li>
    <a href="{{ path('faq_new') }}">
      <button type="button" class="btn btn-primary">New FAQ</button>
    </a>
  </li>
</ul>
{% endif %}


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#sortable" ).disableSelection();

    $("#sortable").sortable({
      revert: false,
      axis: 'y',
      update: function (event, ui) {
        var data = $(this).sortable('serialize');

            // POST to server using $.post or $.ajax
            $.ajax({
              data: data,
              type: 'POST',
              url: '{{ path('faq_order') }}'
            });
          }
        });

    $("h4").disableSelection();
  });


// PLUSES AND MINUS + & -
jQuery(function ($) {
  $('.icon').click(function () {
    if ($(this).hasClass('fa-plus-square-o')) {
      $(this).removeClass('fa-plus-square-o');
      $(this).addClass('fa-minus-square-o');
    } else {
      $(this).removeClass('fa-minus-square-o');
      $(this).addClass('fa-plus-square-o');
    }
  })
});
</script>
{% endblock %}


