﻿@charset "UTF-8";
/* CSS Document */

.sign-in-page
{
	font-family:"Open Sans";
}

.sign-in-page .fullScreenBackground
{
	position: fixed;
	z-index: -1;
	top: 91px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
    background: url(http://static.reshape.net/RESH/Images/backgrounds/loginbg.jpg);
    background-size: cover;
}

.sign-in-page .extraBorder
{
    background: url(http://static.reshape.net/RESH/Images/SignIn/tv.png);
    width:900px;
    height: 500px;
    margin:auto;
    margin-top: 10%;
    color: rgb( 225, 225, 225 );
}

.sign-in-page .extraBorderOLD
{
	width:750px;
	border:1px solid #d3d3d3;
    margin:auto;
    margin-top: 10%;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #efe5ef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#efe5ef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#efe5ef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#efe5ef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#efe5ef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 0%,#efe5ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#efe5ef',GradientType=0 ); /* IE6-9 */
	border-radius:8px;

}

.sign-in-page .signInBoxContainer
{
	border-radius:8px;
	/*border: 1px solid #fff;*/
	padding:80px 130px;
}

.sign-in-page .signInBoxContainer .left
{
	float:left;
	width:300px;
	padding-right:30px;
	border-right:1px solid #333;
	margin-right:50px;
}

.sign-in-page .signInBoxContainer .right
{
	float:right;
	width:256px;
}

.sign-in-page .signInBoxContainer h1
{
	color: rgb( 225, 225, 225 );
	font-size:24px;
	font-weight:normal;
	padding-bottom:20px;
	line-height:24px;
	margin-top:0px;
}

.sign-in-page .signInBoxContainer p
{
	margin-top:14px
}

.sign-in-page .signInBoxContainer input[type='text'],
.sign-in-page .signInBoxContainer input[type='email'], 
.sign-in-page .signInBoxContainer input[type='password']
{
	padding: 6px;
	border-radius: 3px;
	border: 1px solid #555;
	background-color: #eaeaea;
	box-shadow: 0px 2px 3px #666 inset;
	width: 260px;
	height: 30px;
	font-size: 15px;
	text-indent: 7px;
}

.sign-in-page .signInBoxContainer input[type='text']:focus,
.sign-in-page .signInBoxContainer input[type='email']:focus, 
.sign-in-page .signInBoxContainer input[type='password']:focus
{
	background-color:		#f7f7f7;
}

.sign-in-page .signInBoxContainer input[type='checkbox']{
	vertical-align:middle;
}

.sign-in-page .signInBoxContainer .rememberMe
{
	font-size:12px;
	margin-left:15px;
	padding-top:5px;
}

.sign-in-page .signInBoxContainer a
{
	text-decoration:underline;
	color: rgb( 225, 225, 225);
}

.sign-in-page .signInBoxContainer a:hover
{
	color:#ce2127;
}

.sign-in-page .signInBoxContainer input[type='submit']
{
	background:url(/RESH/Images/buttons/loginBig.png);
	width:120px;
	height:46px;
	text-indent:-1000px;
	border:none;
}

.sign-in-page .signInBoxContainer input[type='submit']:hover
{
	background-position: 0px -44px;
	cursor:pointer;
}

.sign-in-page .signInBoxContainer .forgotPsswd{
	font-size:12px;
	margin-top:30px;
}
.sign-in-page .signInBoxContainer .newAcct{
	font-size:12px;
	margin-top:5px;
}
.sign-in-page .signInBoxContainer .connectFb
{
	background:url(/RESH/Images/buttons/fbConnect.png);
	width:175px;
	height:29px;
	cursor:pointer;
	margin:auto;
	margin-top:140px;
}

.sign-in-page .signInBoxContainer .fbExplain
{
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
	color: #888;
}

.sign-in-page .right .sign-up
{
    margin-top: 51px;
    font-size: 24px;
}

.sign-in-page .right .desc
{
    margin-top: 10px;
}

.sign-in-page .right a
{
    text-decoration: none;
}

footer
{
    display:none;
}