﻿.forgot-password-page
{
    position:           relative;
    padding-top:         80px;
}

.forgot-password-page .form-container
{
    margin:             auto;
    margin-top:         55px;
    width:              600px;
}

.forgot-password-page label
{
    width:              100px;
    font-size:          24px;
    line-height:        39px;
    text-align:         left;
}

.forgot-password-page input[type='email']
{
    width:              317px;
    font-size:          18px;     
}

.forgot-password-page div.submit
{
    margin-left:        30px;
    float:              right;
    margin-top:         -61px;
}

body
{
    background:         #f9f9f9;
}