<!-- {RESH}/RESH/Components/Dashboard/RESHdashboardTopNetworkComponent.css -->

<section class="dashboardTop dashboardElement">
	<div class="heading">@base.Heading</div>
	
	<div class="peopleContainer">
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/selima.elinger/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/marcmegna/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/sam.haginas/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/olivervk/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/paul.tesar/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/Xenia.X.Kisantal/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/619840205/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="person">
			<div class="picture"><img src="http://graph.facebook.com/karen.gretarsdottir/picture?width=90&height=90" width="100%" /></div>
			<div class="name"><a href="#">Marc Megna</a></div>
		</div>
		<div class="clear"></div>
	</div>
</section>