<!-- {RESH}/RESH/Components/Dashboard/RESHdashboardCalendarWidgetComponent.css -->
<section class="dashboardCalendarWidget dashboardElement">
	<div class="headerContainer">
		<div class="browseLeft"></div>
		<div class="header">JUNE 2013</div>
		<div class="browseRight"></div>
		<div class="clear"></div>
	</div>
	
	<div class="daysContainer">
		<div class="day">MON</div>
		<div class="day">TUE</div>
		<div class="day">WED</div>
		<div class="day">THU</div>
		<div class="day">FRI</div>
		<div class="day">SAT</div>
		<div class="day">SUN</div>
		<div class="clear"></div>
	</div>
	
	<div class="calendarContainer">
		<div class="calendarRow">
			<div class="dateContainer lastMonth">
				<div class="date">29</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer lastMonth">
				<div class="date">30</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer lastMonth">
				<div class="date">31</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">1</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">2</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">3</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">4</div>
				<div class="dot"></div>
			</div>
		</div>
		<div class="calendarRow">
			<div class="dateContainer">
				<div class="date">5</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">6</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">7</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">8</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">9</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">10</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">11</div>
				<div class="dot"></div>
			</div>
		</div>
		<div class="calendarRow">
			<div class="dateContainer">
				<div class="date">12</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">13</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">14</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">15</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">16</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">17</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">18</div>
				<div class="dot"></div>
			</div>
		</div>
		<div class="calendarRow">
			<div class="dateContainer">
				<div class="date">19</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">20</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">21</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">22</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">23</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">24</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">25</div>
				<div class="dot"></div>
			</div>
		</div>
		<div class="calendarRow">
			<div class="dateContainer">
				<div class="date">26</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer curDate">
				<div class="date">27</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">28</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer">
				<div class="date">29</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer">
				<div class="date">30</div>
				<div class="dot active"></div>
			</div>
			<div class="dateContainer nextMonth">
				<div class="date">1</div>
				<div class="dot"></div>
			</div>
			<div class="dateContainer nextMonth">
				<div class="date">2</div>
				<div class="dot"></div>
			</div>
		</div>
		
	</div>
</section>