<!-- {RESH}/RESH/Components/Dashboard/RESHupcomingSessionsComponent.css -->

<section class="upcomingSessions dashboardElement">
	<div class="heading">UPCOMING SESSIONS</div>
	<div class="sessionsContainer">
		<div class="session">
			<div class="name">Group session - Abs Attack (60 mins)</div>
			<div class="details">15 clients. In 2 hours and 10 minutes</div>
		</div>
		<div class="session">
			<div class="name">Group session - Abs Attack (60 mins)</div>
			<div class="details">15 clients. In 2 hours and 10 minutes</div>
		</div>
		<div class="session">
			<div class="name">Group session - Abs Attack (60 mins)</div>
			<div class="details">15 clients. In 2 hours and 10 minutes</div>
		</div>
		<div class="session">
			<div class="name">Group session - Abs Attack (60 mins)</div>
			<div class="details">15 clients. In 2 hours and 10 minutes</div>
		</div>
		<div class="session">
			<div class="name">Group session - Abs Attack (60 mins)</div>
			<div class="details">15 clients. In 2 hours and 10 minutes</div>
		</div>
	</div>
</section>