<!-- {RESH}/RESH/Components/Dashboard/RESHdashboardStatsComponent.css -->
<section class="dashboardStats dashboardElement">
	<div class="container">
		<div class="row">
			<div class="statContainer clients">
				<div class="icon"></div>
				<div class="num">2,145</div>
				<div class="desc">Clients</div>
			</div>
			<div class="statContainer balance">
				<div class="icon"></div>
				<div class="num">$5,421</div>
				<div class="desc">Balance</div>
			</div>
		</div>
		<div class="row">
			<div class="statContainer messages">
				<div class="icon"></div>
				<div class="num">3</div>
				<div class="desc">Messages</div>
			</div>
			<div class="statContainer views">
				<div class="icon"></div>
				<div class="num">1,945</div>
				<div class="desc">Daily Views</div>
			</div>
		</div>
	</div>
</section>