<!-- {RESH}/RESH/Components/Dashboard/RESHdashboardLeftMenuComponent.css -->

<section class="dashboardLeftMenu">
	<div class="menuContainer">
		<div class="profileContainer">
			<div class="picture"><a href="#"><img src="images/dummy9.jpg"></a></div>
			<div class="textContainer">
				<div class="name"><a href="#">MARC MEGNA</a></div>
				<div class="viewProfile"><a href="#">VIEW PROFILE</a></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="tab selected" onClick="window.location='dashboard_clients.html'">All Clients</div>
		<div class="tab" onClick="window.location='dashboard_clients_add'">Add Client</div>
	</div>
</section>