<!-- {RESH}/RESH/Components/Dashboard/RESHdashboardProfileBarContainer.css -->

<section class="dashboardProfileBar">
	<div class="profileContainer">
		<div class="picture"><a href="#"><img src="http://graph.facebook.com/samhaginas/picture?width=60&height=60" ></a></div>
		<div class="textContainer">
			<div class="name"><a href="#">MARC MEGNA</a></div>
			<div class="editProfile"><a href="dashboard_editprofile.html">EDIT PROFILE</a></div>
		</div>
		<div class="clear"></div>
	</div>
</section>