<!-- {RESH}/RESH/Components/Dashboard/RESHdashboardLineGraphComponent.css -->
<section class="dashboardLineGraph dashboardElement">               
	<div class="heading">VISITS</div>
	<div class="chart-line" data="'Year','Visits'|2010,600|2011,800|2012,950|2013,1500"></div>
</section>