<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
{% set route = app.request.attributes.get('_route') %}
  <html lang="en">
  <!--<![endif]-->

  <head>
    <title>{% block title %}Reshape{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ asset('bundles/reshape/assets/css/style.css') }}"/>
      <link rel="stylesheet" href="{{ asset('bundles/reshape/css/night.css') }}"/>

      <!-- Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

      {% if 'reshape_contactus' == route %}
        <style>
          #map {
            height: 420px;
            margin-bottom: 0;
            font-size: 13px;
          }
          #map,
          #map *,
          #map *:before,
          #map *:after {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
          }
        </style>
      {% endif %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  </head>
  <body class="{{ 'profile_socialhub' in route or 'profile_media' in route ? 'body-transparent-bg' }}">

    {% if route == 'profile_socialhub' %}
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}

    <div class="wrapper">
      <!--=== Header ===-->
      <div class="navbar-fixed-top">
        <div class="header header-background {{ 'profile' in route or 'reshape' in route or 'faq' in route ? 'no-bottom-border' }}">
          <!-- Topbar -->
          <div class="topbar">
            <!-- Topbar Navigation -->
            <div class="row">
              <div class="col-md-6 pull-right" style="padding-right:25px;">
                <ul class="loginbar pull-right hidden-xs" style="margin-top:13px;padding-left: 40px;">
                  {% if not app.user %}
                    <li style="margin-right:10px; font-size:15px; color:#FFFFFF;">
                      <i class="fa fa-lock" style="color:#FFFFFF;"></i>
                      <a style="font-family: 'Open Sans', sans-serif; margin-top:30px;" href="{{ path('login') }}">LOGIN</a>
                    </li>
                    <li style="font-size:15px; color:#FFFFFF;">
                      <i class="fa fa-user" style="color:#FFFFFF;"></i>
                      <a style="font-family: 'Open Sans', sans-serif; margin-right:14px;" href="{{ path('professionaluser') }}">REGISTER</a>
                    </li>
                    {% else %}
                    <li style="margin-right:10px; font-size:15px; color:#FFFFFF;">
                      <i class="fa fa-unlock-alt" style="color:#FFFFFF;"></i>
                      <a style="font-family: 'Open Sans', sans-serif; margin-top:30px;" href="{{ path('logout') }}">LOGOUT</a>
                    </li>
                  {% endif %}
                </ul>
                <ul class="loginbar pull-right visible-xs" style="margin-top:3px;">
                  {% if not app.user %}
                    <li style="margin-right:10px; font-size:15px; color:#FFFFFF;">
                      <i class="fa fa-lock" style="color:#FFFFFF;"></i>
                      <a style="font-family: 'Open Sans', sans-serif; margin-top:30px;" href="{{ path('login') }}">LOGIN</a>
                    </li>
                    <li style="font-size:15px; color:#FFFFFF;">
                      <i class="fa fa-user" style="color:#FFFFFF;"></i>
                      <a style="font-family: 'Open Sans', sans-serif;" href="{{ path('professionaluser') }}">REGISTER</a>
                    </li>
                    {% else %}
                    <li style="margin-right:10px; font-size:15px; color:#FFFFFF;">
                      <i class="fa fa-unlock-alt" style="color:#FFFFFF;"></i>
                      <a style="font-family: 'Open Sans', sans-serif; margin-top:30px;" href="{{ path('logout') }}">LOGOUT</a>
                    </li>
                  {% endif %}
                </ul>
                <ul class="social-icons pull-right hidden-xs" style="left:-10px; margin-top:8px;">
                  {% if 'profile' in route %}
                    {% set apiId = app.request.get('apiId') %}
                      <li>
                        <a href="{{ social['Facebook'] is defined ? social['Facebook'].url : 'http://www.facebook.com/reshape.net'}}" data-original-title="Facebook" class="profile_social_facebook_top" target="_blank"></a>
                      </li>
                      <li>
                        <a href="{{ social['Twitter'] is defined ? social['Twitter'].url : 'https://twitter.com/Reshape_net'}}" data-original-title="Twitter" class="profile_social_twitter_top" target="_blank"></a>
                      </li>
                      <li>
                        <a href="{{ social['YouTube'] is defined ? social['YouTube'].url : 'http://www.youtube.com/user/Reshapenet'}}" data-original-title="Goole Plus" class="profile_social_youtube_top" target="_blank"></a>
                      </li>
                      <li>
                        <a href="{{ social['Instagram'] is defined ? social['Instagram'].url : 'http://instagram.com/reshapenet'}}" data-original-title="Linkedin" class="profile_social_instagram_top" target="_blank"></a>
                      </li>
                      {% else %}
                      <li>
                        <a href="http://www.facebook.com/reshape.net" data-original-title="Facebook" class="rounded-x social_facebook" target="_blank"></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/Reshape_net" data-original-title="Twitter" class="rounded-x social_twitter" target="_blank"></a>
                      </li>
                      <li>
                        <a href="http://www.youtube.com/user/Reshapenet" data-original-title="Goole Plus" class="rounded-x social_youtube" target="_blank"></a>
                      </li>
                      <li>
                        <a href="http://instagram.com/reshapenet" data-original-title="Linkedin" class="rounded-x social_instagram" target="_blank"></a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Topbar -->

            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header" style="padding-left: 25px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse"> <span class="sr-only">Toggle navigation</span> <span class="fa fa-bars"></span> </button>
                <a class="navbar-brand hidden-xs" href="{{ path('reshape_homepage') }}" style="postion:relative; top:-23px;">
                  <img id="logo-header" src="{{ asset('bundles/reshape/assets/img/ReShape-Logo.png') }}" alt="ReShape">
                </a>
                <a class="navbar-brand visible-xs" href="{{ path('reshape_homepage') }}" style="postion:relative; top: 8px;">
                  <img id="logo-header" src="{{ asset('bundles/reshape/assets/img/ReShape-Logo.png') }}" alt="ReShape" style="width:200px;">
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-responsive-collapse" style=" padding-right: 25px;">
                <ul class="nav navbar-nav hidden-xs" style="margin-top:-10px;">
                  {% if 'profile' in route %}
                    <li>
                      <a href="{{ path('profile', { 'apiId': apiId }) }}">HOME</a>
                    </li>
                    <li>
                      <a href="{{ path('profile_bio', { 'apiId': apiId }) }}">BIO</a>
                    </li>
                    <li>
                      <a href="{{ path('profile_services', { 'apiId': apiId }) }}">SERVICES</a>
                    </li>
                    <li>
                      <a href="{{ path('profile_media', { 'apiId': apiId }) }}">MEDIA</a>
                    </li>
                    <li>
                      <a href="{{ path('profile_socialhub', { 'apiId': apiId }) }}">SOCIAL HUB</a>
                    </li>
                    {% else %}
                    <li><a href="{{ path('trainers') }}">TRAINERS</a></li>
                    <li><a href="{{ path('health') }}">HEALTH</a></li>
                    <li><a href="{{ path('fitness') }}">FITNESS</a></li>
                    <li><a href="{{ path('sports') }}">SPORTS</a></li>
                    <li><a href="#">ABOUT US</a></li>
                  {% endif %}
                  {# <li><i class="fa fa-shopping-cart" style="color:#ffffff; padding-left: 18px; margin-top: 13px; font-size: 20px;"></i></li> #}
                </ul>
                <ul class="nav navbar-nav visible-xs" style="background-color: #363636; margin-top:-3px;">
                  <li><a href="{{ path('trainers') }}">TRAINERS</a></li>
                  <li><a href="{{ path('health') }}">HEALTH</a></li>
                  <li><a href="{{ path('fitness') }}">FITNESS</a></li>
                  <li><a href="{{ path('sports') }}">SPORTS</a></li>
                  <li><a href="#">ABOUT US</a></li>
                </ul>
              </div>
              <!--/navbar-collapse-->
            </div>
          </div>
        </div>
        <!-- End Navbar -->
      </div>
      <!--=== End Header ===-->

      <!--=== Content Part ===-->
      {# <div class="container content"> #}

      {# PLACE FOR BIG TITLE  #}
      {% if 'faq' == route %}
        <div class="bigheader">
          <span class="hidden-xs">Frequently Asked Questions</span>
          <span class="visible-xs">FAQ</span>
        </div>
        {% elseif 'reshape_pageview' == route %}
        <div class="bigheader">
          <span>
            {% block bigheader %}{% endblock %}
            </span>
          </div>
          {% elseif 'reshape_contactus' == route %}
          <div class="wrapper hidden-xs">
            <section class="map-section">
              <div id="map"></div>
            </section>
          </div>
          <div class="visible-xs">
            <div class="bigheader">
              <span>Contact Us</span>
            </div>
          </div>
        {% endif %}
        {# END PLACE FOR BIG TITLE  #}

        <!-- Begin page content -->

        {% block body %}{% endblock %}

          <!-- End Content Part -->

          <!--=== Footer ===-->
          <div class="copyright visible-lg" style="background-color:#3f3f3f; padding-left: 25px; padding-right: 25px; margin-top:0px;">
            <div class="row">
              <div class="col-md-3" style="margin-top:15px;">
                <img src="{{ asset('bundles/reshape/assets/img/icon-64.png') }}" style="width:40px; float:left; padding-top:5px; margin-right:3px;">
                <span style="color:#adadad; font-size:12px; line-height:17px; font-family: 'Open Sans', sans-serif;">&copy; 2014 Reshape, Inc. <br>All Rights Reserved</span>
              </div>
              <div class="col-md-6" style="text-align:center; margin-top: 16px;">
                <a href="/Professionals/" class="footer_a">Professionals</a>
                <a href="{{ path('faq') }}" class="footer_a">FAQ</a>
                <a href="{{ path('reshape_pageview', { 'slug': 'Terms-and-Conditions' }) }}" class="footer_a">Terms & Conditions </a>
                <a href="{{ path('reshape_pageview', { 'slug': 'Privacy-Policy' }) }}" class="footer_a">Privacy Policy</a>
                <a href="{{ path('reshape_contactus') }}" class="footer_a">Contact Us</a><br>
                <span style="color:#adadad; font-size:12px;font-family: 'Open Sans', sans-serif; ">Good energy always wins.</span>
              </div>
              <div class="col-md-3">
                <ul class="social-icons pull-right" style="left:-10px; margin-top:10px;">
                  <li><a href="http://www.facebook.com/reshape.net" data-original-title="Facebook" class="rounded-x social_facebook" target="_blank"></a></li>
                  <li><a href="https://twitter.com/Reshape_net" data-original-title="Twitter" class="rounded-x social_twitter" target="_blank"></a></li>
                  <li><a href="http://www.youtube.com/user/Reshapenet" data-original-title="Goole Plus" class="rounded-x social_youtube" target="_blank"></a></li>
                  <li><a href="http://instagram.com/reshapenet" data-original-title="Linkedin" class="rounded-x social_instagram" target="_blank"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="copyright visible-md" style="background-color:#3f3f3f; padding-left: 25px; padding-right: 25px; margin-top:0px;">
            <div class="row">
              <div class="col-md-12">
                <ul class="social-icons" style="left:-10px; margin-top:15px; text-align:center;">
                  <li><a href="http://www.facebook.com/reshape.net" data-original-title="Facebook" class="rounded-x social_facebook" target="_blank"></a></li>
                  <li><a href="https://twitter.com/Reshape_net" data-original-title="Twitter" class="rounded-x social_twitter" target="_blank"></a></li>
                  <li><a href="http://www.youtube.com/user/Reshapenet" data-original-title="Goole Plus" class="rounded-x social_youtube" target="_blank"></a></li>
                  <li><a href="http://instagram.com/reshapenet" data-original-title="Linkedin" class="rounded-x social_instagram" target="_blank"></a></li>
                </ul>
              </div>
              <div class="col-md-12" style="text-align:center;">
                <a href="/Professionals/" class="footer_a">Professionals</a> | <a href="{{ path('faq') }}" class="footer_a">FAQ</a> | <a href="{{ path('reshape_pageview', { 'slug': 'Terms-and-Conditions' }) }}" class="footer_a">Terms & Conditions</a> | <a href="{{ path('reshape_pageview', { 'slug': 'Privacy-Policy' }) }}" class="footer_a">Privacy Policy</a> | <a href="{{ path('reshape_contactus') }}" class="footer_a">Contact</a>
              </div>

              <div class="col-md-12" style="text-align:center">
                <span style="color:#adadad; font-size:14px; font-family: 'Open Sans', sans-serif; margin-top:5px;">&copy; 2014 Reshape, Inc. All Rights Reserved</span>
                {# </span> #}
              </div>
              <div class="col-md-12" style="text-align:center">
                <span style="color:#adadad; font-size:12px;font-family: 'Open Sans', sans-serif; ">Good energy always wins.</span>
              </div>
            </div>
          </div>
          <div class="copyright visible-sm" style="background-color:#3f3f3f; padding-left: 25px; padding-right: 25px; margin-top:0px;">
            <div class="row">
              <div class="col-md-12">
                <ul class="social-icons" style="left:-10px; margin-top:15px; text-align:center;">
                  <li><a href="http://www.facebook.com/reshape.net" data-original-title="Facebook" class="rounded-x social_facebook" target="_blank"></a></li>
                  <li><a href="https://twitter.com/Reshape_net" data-original-title="Twitter" class="rounded-x social_twitter" target="_blank"></a></li>
                  <li><a href="http://www.youtube.com/user/Reshapenet" data-original-title="Goole Plus" class="rounded-x social_youtube" target="_blank"></a></li>
                  <li><a href="http://instagram.com/reshapenet" data-original-title="Linkedin" class="rounded-x social_instagram" target="_blank"></a></li>
                </ul>
              </div>
              <div class="col-md-12" style="text-align:center;">
                <a href="/Professionals/" class="footer_a">Professionals</a> | <a href="{{ path('faq') }}" class="footer_a">FAQ</a> | <a href="{{ path('reshape_pageview', { 'slug': 'Terms-and-Conditions' }) }}" class="footer_a">Terms & Conditions</a> | <a href="{{ path('reshape_pageview', { 'slug': 'Privacy-Policy' }) }}" class="footer_a">Privacy Policy</a> | <a href="{{ path('reshape_contactus') }}" class="footer_a">Contact Us</a>
              </div>

              <div class="col-md-12" style="text-align:center">
                <span style="color:#adadad; font-size:14px; font-family: 'Open Sans', sans-serif; margin-top:5px;">&copy; 2014 Reshape, Inc.<br>All Rights Reserved</span>
              </div>
              <div class="col-md-12" style="text-align:center">
                <span style="color:#adadad; font-size:12px;font-family: 'Open Sans', sans-serif; ">Good energy always wins.</span>
              </div>
            </div>
          </div>
          <div class="copyright visible-xs" style="background-color:#3f3f3f; padding-left: 25px; padding-right: 25px; margin-top:0px;">
            <div class="row">
              <div class="col-md-12">
                <ul class="social-icons" style="left:-10px; margin-top:15px; text-align:center;">
                  <li><a href="http://www.facebook.com/reshape.net" data-original-title="Facebook" class="rounded-x social_facebook" target="_blank"></a></li>
                  <li><a href="https://twitter.com/Reshape_net" data-original-title="Twitter" class="rounded-x social_twitter" target="_blank"></a></li>
                  <li><a href="http://www.youtube.com/user/Reshapenet" data-original-title="Goole Plus" class="rounded-x social_youtube" target="_blank"></a></li>
                  <li><a href="http://instagram.com/reshapenet" data-original-title="Linkedin" class="rounded-x social_instagram" target="_blank"></a></li>
                </ul>
              </div>
              <div class="col-md-12" style="text-align:center;">
                <a href="/Professionals/" class="footer_a">Professionals</a>
                <a href="{{ path('faq') }}" class="footer_a">FAQ</a>
                <a href="{{ path('reshape_pageview', { 'slug': 'Terms-and-Conditions' }) }}" class="footer_a">Terms & Conditions</a><br>
                <a href="{{ path('reshape_pageview', { 'slug': 'Privacy-Policy' }) }}" class="footer_a">Privacy Policy</a>
                <a href="{{ path('reshape_contactus') }}" class="footer_a">Contact</a>
              </div>

              <div class="col-md-12" style="text-align:center">
                <span style="color:#adadad; font-size:14px; font-family: 'Open Sans', sans-serif; margin-top:5px;">&copy; 2014 Reshape, Inc.<br>All Rights Reserved</span>
              </div>
              <div class="col-md-12" style="text-align:center">
                <span style="color:#adadad; font-size:12px;font-family: 'Open Sans', sans-serif; ">Good energy always wins.</span>
              </div>
            </div>
          </div>

        </div>
        <!--/wrapper-->
        <!--=== End Footer ===-->

        {% block javascripts %}
          <script src="//code.jquery.com/jquery-latest.js"></script>
          <!-- Latest compiled and minified BootStrap JavaScript -->
          <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="{{ asset('bundles/reshape/assets/plugins/jquery-migrate-1.2.1.min.js') }}"></script>

  <!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <![endif]-->
  {% endblock %}

</body>
</html>