﻿@charset "UTF-8";
/* CSS Document */

.networkOverview
{
	position: 		relative;
	font-family: 	"Open Sans";
}

.networkOverview h1
{
	font-size:		28px;
	text-transform:	uppercase;
}

.networkOverview .topArea
{
	margin-bottom:	20px;
}

.networkOverview .selection
{
	margin-top:		20px;
	padding-bottom:	7px;
	border-bottom:	1px solid #ccc;
}

.networkOverview .selection .option
{
	float:			left;
	margin-right:	25px;
	font-size:		12px;
}

.networkOverview .option:hover
{
	color:			#ce2127;
	cursor:			pointer;
}

.networkOverview .selection .selected
{
	color:			#ce2127;
}

.networkOverview .networkOverviewContainer
{
	margin-left:	-25px;
}

.networkOverview .client
{
	float:			left;
	height:			168px;
	margin-left:	25px;
	margin-bottom:	25px;
	background:		#eaeaea;
}

.networkOverview .client:hover
{
	background:		#ccc;
}

.networkOverview .client .picture{
	width:			168px;
	height:			168px;
	overflow:		hidden;
	float:			left;
}

.networkOverview .client .picture img
{
    width:          100%;
}

.networkOverview .client .moreInfo
{
	padding:		20px;
	float:			left;
	height:			102px;
	width:			318px;
	padding-top:	17px;
}

.networkOverview .client .name
{
	font-size:		22px;
}

.networkOverview .client .location, .networkOverview .client .numberofsessions
{
	font-size:		13px;
}

.networkOverview .client .date-time-container
{
    
}

.networkOverview .client .date-time-container .weekday
{
    font-size:      28px;
    text-transform: uppercase;
    font-weight:    400;
    display:        inline-block;
}

.networkOverview .client .date-time-container .month-day-container
{
    display:        inline-block;
}

.networkOverview .client .date-time-container .month-day-container .month
{
    font-size:      13px;
    text-transform: uppercase;
}

.networkOverview .client .date-time-container .month-day-container .day
{
    font-size:      11px;
    margin-top:     -4px
}

.networkOverview .client .date-time-container .time
{
    font-size:      13px;
}

.networkOverview .client .icons-container
{
    margin-top:     14px;
}

.networkOverview .client .icons-container .icon
{
    display:        inline-block;
    margin-right:   1px;
}

.networkOverview .client .icons-container .icon:hover
{
    cursor:         pointer;
}

.networkOverview .client .icons-container .icon .image-container
{
}

.networkOverview .client .icons-container .icon .explain
{
    display:            none;
    position:           absolute;
    padding:            3px;
    font-size:          12px;
    background:         #f7f7f7;
    border-radius:      3px;
    margin-top:         -70px;
    margin-left:        -9px;
}

.networkOverview .client .icons-container .icon .text
{
    display:            none;
    position:           absolute;
    background:         #000;
    line-height:        35px;
    border-radius:      20px 20px;
    margin-top:         -40px;
    padding:            0px 10px;
    color:              #fff;
    margin-left:        40px;
}

.networkOverview .client .note-container
{
    display:            none;
    position:           absolute;
    background:         none repeat scroll 0% 0% rgb(204, 204, 204);
    margin-left:        -188px;
    width:              506px;
    padding:            10px;
    border-bottom:      2px solid #000;
    margin-top:         9px;
}

.networkOverview .client .select-container
{
    display:            none;
    position:           absolute;
    background:         none repeat scroll 0% 0% rgb(204, 204, 204);
    margin-left:        -188px;
    width:              506px;
    padding:            10px;
    border-bottom:      2px solid #000;
    margin-top:         9px;
}

.networkOverview .search
{
	float:				right;
	margin-top:			-10px;
}

.networkOverview .search input
{
	padding: 			6px;
	-moz-border-radius: 7px;
	border-radius: 		7px;
	border: 			none;
	background-color: 	#f7f7f7;
	-moz-box-shadow: 	inset 0 4px 10px #eaeaea;
	-webkit-box-shadow: inset 0 4px 10px #eaeaea;
	box-shadow: 		inset 0 4px 8px #eaeaea;
	width: 				140px;
	height: 			14px;
	font-size: 			12px;
	text-indent:		5px;
}
.networkOverview .search input:focus{
	background-color: 	#eaeaea;
	-moz-box-shadow: 	inset 0 4px 10px #ccc;
	-webkit-box-shadow: inset 0 4px 10px #ccc;
	box-shadow: 		inset 0 4px 8px #ccc;
}

.filter-area
{
    margin-bottom:      20px;
}

.filter-area .filter
{
    display:            inline-block;
    margin-right:       2px;
    background:         #eaeaea;
    width:              100px;
}

.filter-area .filter:hover, .filter-area .filter.selected
{
    background:         #ce2127;
    cursor:             pointer;
    color:              #fff;
}

.filter-area .filter .image-container
{

}

.filter-area .filter .image-container img
{
    float:              left;
}

.filter-area .filter .text
{
    font-size:          10px;
    line-height:        17px;
    text-align:         center;
}

.respond-container
{
    display:            none;
    background:         rgba(0, 0, 0, 0.4);
    position:           fixed;
    z-index:            4000;
    margin:             auto;
    left:               0px;
    top:                0px;
    width:              100%;
    height:             100%;
    overflow:           auto;
}

.responds-container
{
    background:         #F7F7F7;
    width:              1200px;
    margin:             80px auto auto;
    border-radius:      5px;
    padding-top:        1px;
}

.close-all
{
    position:           fixed;
    left:               50%;
    margin-left:        620px;
    top:                90px;
    font-weight:        600;
    color:              #fff;
}

.close-all:hover
{
    color:              #ce2127;
    cursor:             pointer;
}

.new-times
{
    display:            none;
    background:         #F7F7F7;
    width:              1200px;
    margin:             120px auto auto;
    border-radius:      5px;
    padding-top:        1px;
}

.new-times .time-slots-container
{
    margin-top:         30px;
}

.new-times .dates-container
{
    margin:             auto;
    width:              1070px;
}

.new-times .day-container
{
    width:              140px;
}

.new-times .overview .image
{
    float:              none;
    width:              75px;
    height:             75px;
}

.new-times h1
{
    display: block;
    text-align: center !important;
    margin-top: -9px !important;
    text-transform: none;
    font-size: 19px;
    margin-bottom: 21px;
}

.new-times .overview .name
{
    display: none;
}

.new-times form
{
    padding-top: 20px;
    padding-bottom: 20px;
}