/*
 * Template Name: Unify - Responsive Bootstrap Template
 * Description: Business, Corporate, Portfolio and Blog Theme.
 * Version: 1.4
 * Author: @htmlstream
 * Website: http://htmlstream.com
 */

 /*Import Global Compulsory CSS Files*/
 @import url(app.css);
 @import url(plugins.css);
 @import url(ie8.css);

 /*Import CSS Plugins*/
 @import url(plugins/animate.css);
 @import url(plugins/box-shadows.css);





/*Boxed Layout
------------------------------------*/
.wrapper {
	background: #fff;
}



/*Top Bar (login, search etc.)
------------------------------------*/
.topbar {
	z-index: 12;
	padding: 8px 0;
	position: relative;
}

.topbar ul.loginbar {
	margin: 0;
}

.topbar ul.loginbar > li {
	display: inline;
	list-style: none;
	position: relative;
	padding-bottom: 15px;
}

.topbar ul.loginbar > li > a {
	color: #FFFFFF;
	font-size: 11px;
	text-transform: uppercase;
}

.topbar ul.loginbar > li > a:hover {
	color: #E12933;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
}

.topbar ul.loginbar li i.fa {
	color: #bbb;
}

.topbar ul.loginbar li.topbar-devider {
	top: -1px;
	padding: 0;
	font-size: 8px;
	position: relative;
	margin: 0 9px 0 5px;
	font-family: Tahoma;
	border-right: solid 1px #bbb;
}

/*Lenguages*/
.topbar ul.lenguages {
	top: 25px;
	left: -5px;
	display: none;
	padding: 4px 0;
	padding-left: 0;
	list-style: none;
	min-width: 100px;
	position: absolute;
	background: #f0f0f0;
}

.topbar li:hover ul.lenguages {
	display: block;
}

.topbar ul.lenguages:after {
	top: -4px;
	width: 0;
	height: 0;
	left: 8px;
	content: " ";
	display: block;
	position: absolute;
	border-bottom: 6px solid #f0f0f0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}

.topbar ul.lenguages li a {
	color: #555;
	display: block;
	font-size: 10px;
	padding: 2px 12px;
	margin-bottom: 1px;
	text-transform: uppercase;
}

.topbar ul.lenguages li.active a i {
	color: #999;
	float: right;
	margin-top: 2px;
}

.topbar ul.lenguages li a:hover,
.topbar ul.lenguages li.active a {
	background: #fafafa;
}

.topbar ul.lenguages li a:hover {
	text-decoration: none;
}

/*Top Bar v1 (login, search etc.)
------------------------------------*/
.topbar-v1 {
	background: #fdfdfd;
	border-bottom: solid 1px #f0f0f0;
}

/*Top Contacts*/
.topbar-v1 ul {
	margin: 0;
}

.topbar-v1 .top-v1-contacts li {
	color: #666;
	padding: 5px 0;
	font-size: 12px;
	margin-right: 15px;
	display: inline-block;
}

.topbar-v1 .top-v1-contacts i {
	color: #999;
	font-size: 13px;
	margin-right: 3px;
}

/*Top Data*/
.topbar-v1 .top-v1-data {
	text-align: right;
}

.topbar-v1 .top-v1-data li {
	padding: 5px 11px;
	display: inline-block;
	border-right: solid 1px #eee;
}

.topbar-v1 .top-v1-data li:first-child {
	border-left: solid 1px #eee;
}

.topbar-v1 .top-v1-data li a {
	font-size: 12px;
}

.topbar-v1 .top-v1-data li a:hover {
	text-decoration: none;
}

.topbar-v1 .top-v1-data li i {
	color: #777;
	font-size: 13px;
}

.topbar-v1 .top-v1-data li a:hover i {
	color: #72c02c;
}

/*Responsive Topbar v1*/
@media (max-width: 992px) {
	.topbar-v1 ul {
		text-align: center !important;
	}

	.topbar-v1 .top-v1-contacts {
		margin: 10px 0;
	}

	.topbar-v1 .top-v1-data li {
		top: 1px;
		padding: 6px 16px;
		margin-left: -5px;
		position: relative;
		border: solid 1px #eee;
	}
}

/*Header Default
------------------------------------*/
.header {
	z-index: 99;
	position: relative;
	/*border-bottom: solid 2px #eee;*/
}

.header .navbar {
	margin: 0;
	min-height: inherit;
}

.header .navbar-default {
	border: none;
	background: none;
}

.header .navbar-collapse {
	position: relative;
	/*max-height: inherit;*/
}

/*Brand*/
.header .navbar-brand {
	z-index: 999;
	top: -10px;
	position: relative;
	padding: 0 10px 10px;
}

/*Navbar Brand*/
@media (max-width: 992px) {
	.header .navbar-brand {
		top: 0;
		height: 40px;
	}
}

.header .navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.header .navbar-default .navbar-nav > .active > a {
	color: #72c02c;
}

/*Navbar Nav*/
@media (min-width: 992px) {
	.header .navbar-nav {
		float: right;
	}
}

/*Dropdown*/
.header .navbar-right .dropdown-menu {
	right: inherit;
}

/*Navbar Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: #E12933;
	padding: 6px 10px 2px;
}

.navbar-toggle:hover {
	background: #5fb611 !important;
}

.navbar-default .navbar-toggle {
	border-color: #E12933;
}

.navbar-default .navbar-toggle .fa {
	color: #fff;
	font-size: 19px;
}

/*Responsive Navbar*/
@media (max-width: 999px) {
	/*Dropdown Menu Slide Down Effect*/
	.navbar-nav .open .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		margin-top: 0;
		position: static;
		box-shadow: none;
		background-color: transparent;
	}

	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}

	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}

	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
		background-color: transparent;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}

	/*Responsive code for max-width: 1000px*/
	.header .navbar-header {
		float: none;
	}

	.header .navbar-toggle {
		display: block;
	}

	.header .navbar-collapse.collapse {
		display: none !important;
	}

	.header .navbar-collapse.collapse.in {
		display: block !important;
		overflow-y: auto !important;
	}

	.header .navbar-nav {
		margin: 7px 0;
		float: none !important;
	}

	.header .navbar-nav > li {
		float: none;
	}

	.header .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	/*Design for max-width: 1200px*/
	.header .navbar-collapse,
	.header .navbar-collapse .container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.header .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.header .navbar-default .navbar-nav > li a {
		/*margin-bottom: 1px;*/
		border-bottom: solid 1px #eee;
	}

	.header .navbar-default .navbar-nav > li > a:focus {
		background: none;
	}

	.header .navbar-default .navbar-nav > li > a:hover {
		color: #72c02c;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		color: #fff !important;
		background: #72c02c;
		/*border-bottom: solid 2px #72c02c;*/
	}

	.header .dropdown-submenu li a {
		font-size: 12px;
	}
}

@media (min-width: 1000px) {
	/*Navbar Collapse*/
	.header .navbar-collapse {
		padding: 0;
	}

	/*Navbar*/
	.header .navbar-nav {
		top: 2px;
		position: relative;
	}

	.header .navbar-default .navbar-nav > li > a {
		padding-left: 30px;
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:focus {
		border-bottom: solid 2px transparent;
	}

	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		/*border-bottom: solid 2px #72c02c;*/
		color: #E12933;
		background-color:transparent;
		text-decoration: none;
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > li > a:focus,
	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: none;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #72c02c;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu {
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0;
		z-index: 9999 !important;
		margin-top: -2px !important;
		border-top: solid 2px #72c02c;
		border-bottom: solid 2px #687074;
	}

	.header .dropdown-menu li a {
		color: #687074;
		font-size: 13px;
		font-weight: 400;
		padding: 6px 15px;
		border-bottom: solid 1px #eee;
	}

	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		color: #fff;
		filter: none !important;
		background: #687074 !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}

	.header .open > .dropdown-menu,
	.header-v1 .open > .dropdown-menu {
		display: none;
	}

	/*Search*/
	.header .navbar .search-open {
		width: 330px;
	}
}

/*Search Box*/
.header .navbar .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;
}

.header .navbar .nav > li > .search:hover {
	color: #72c02c;
	background: #f7f7f7;
	border-bottom-color: #72c02c;
}

.header .navbar .search-open {
	right: 0;
	top: 38px;
	display: none;
	padding: 14px;
	position: absolute;
	background: #fcfcfc;
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd;
}

.header .navbar .search-open form {
	margin: 0;
}

@media (min-width: 767px) and (max-width: 1000px) {
	.header .navbar > .container .navbar-brand,
	.header .navbar > .container-fluid .navbar-brand {
		margin-left: -10px;
	}

	.header .navbar-toggle {
		margin-right: 0;
	}

	.header .navbar .search-open {
		width: 93%;
	}
}

@media (max-width: 999px) {
	.header .navbar .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		line-height: 12px;
		text-align: left;
		text-align: center;
		margin: 5px 10px 0;
		background: #eee;
		border-bottom: none;
	}

	.header .navbar .nav > li > .search:hover {
		color: #fff !important;
		background: #5fb611;
	}

	.header .navbar .search-open {
		top: 5px;
		padding: 0;
		left: 48px;
		border-top: none;
		box-shadow: none;
		background: none;
		margin-right: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1000px) {
	.header .header .navbar-nav {
		margin: 7px 0 !important;
	}
}

/*Header v1
------------------------------------*/
.header-v1 {
	border-bottom: none;
}

/*Brand*/
.header-v1 .navbar-brand {
	top: 2px;
	padding: 0 10px 10px;
}

/*Search Box*/
.header-v1 .navbar .search-open {
	background: #f8f8f8;
}

@media (max-width: 767px) {
	.header-v1 .navbar .search-open {
		bottom: -6px;
	}
}

.header-v1 .navbar .nav > li > .search {
	padding: 11px;
	border: none;
	min-width: 37px;
}

.header-v1 .navbar .nav > li > .search:hover {
	color: #fff;
	background: #72c02c;
}

/*Toggle*/
.header-v1 .navbar-toggle {
	margin-top: 3px;
}

/*Responsive Header v1*/
@media (min-width: 767px) and (max-width: 992px) {
	/*Brand*/
	.header-v1 .navbar-brand {
		margin-bottom: 15px;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header-v1 .navbar-default .navbar-nav > li {
		margin-left: 1px;
	}

	.header-v1 .navbar-default .navbar-nav > li > a {
		padding: 9px 30px 6px 20px;
	}

	.header-v1 .navbar-default .navbar-nav > .active > a,
	.header-v1 .navbar-default .navbar-nav > li > a:hover,
	.header-v1 .navbar-default .navbar-nav > li > a:focus {
		color: #fff !important;
		background: #72c02c !important;
	}

	.header-v1 .navbar-default .navbar-nav > .open > a,
	.header-v1 .navbar-default .navbar-nav > .open > a:hover,
	.header-v1 .navbar-default .navbar-nav > .open > a:focus {
		color: #fff;
		background: #72c02c;
	}

	/*Dropdown Menu*/
	.header-v1 .dropdown-menu {
		background: #fafafa;
	}
}

/*Header Fixed
------------------------------------*/
/*Header*/
.header-fixed .header {
	height: 78px;
}

.header-fixed .header.header-fixed-shrink {
	top: 0;
	left: 0;
	width: 100%;
	height: 95px;
	z-index: 9999;
	position: fixed;
	margin-top: -35px;
	border-bottom-color: #f5f5f5;
	background: rgba(255,255,255, 0.9);
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	transition: height 0.6s;
}

/*Brand*/
.header-fixed .header.header-fixed-shrink .navbar-brand {
	top: 10px;
	z-index: 1;
	position: relative;
	padding: 0 10px 10px;
}

.header-fixed .header.header-fixed-shrink .navbar-brand img {
	width: 90%;
}

.header-fixed .header.header-fixed-shrink .search,
.header-fixed .header.header-fixed-shrink .active a {
	border-bottom: none !important;
}

.header-fixed .header.header-fixed-shrink .dropdown > a:after {
	top: 19px;
}

/*Toggle*/
.header-fixed .navbar-toggle {
	margin-top: 5px;
}

/*Search Bar*/
.header-fixed .header.header-fixed-shrink .search {
	margin-top: 12px;
	padding: 8px !important;
	color: #585f69 !important;
	background: none !important;
}

.header-fixed .header.header-fixed-shrink .search-open {
	border-top: none;
	background: rgba(255,255,255, 0.9);
}

/*Responsive Fixed Header*/
@media (max-width: 992px) {
	/*Header*/
	.header-fixed .header {
		height: 118px;
	}

	.header-fixed .header.header-fixed-shrink {
		height: 135px;
	}
}

@media (max-width: 767px) {
	/*Header*/
	.header-fixed .header,
	.header-fixed .header.header-fixed-shrink {
		height: 88px;
	}

	/*Navbar*/
	.header-fixed .header .navbar-nav {
		background: #fff;
		padding: 6px 0;
		margin-top: 0px;
		border: solid 1px #eee;
	}

	.header-fixed .header .navbar-default .navbar-collapse,
	.header-fixed .header .navbar-default .navbar-form {
		border: none;
	}

	/*Toggle*/
	.header-fixed .navbar-toggle {
		margin-top: 9px;
	}

	/*Search*/
	.header-fixed .header.header-fixed-shrink .navbar .nav > li > .search {
		top: 5px;
		position: relative;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header-fixed .header.header-fixed-shrink .navbar-nav > li > a {
		padding: 19px 30px 18px 20px;
		border-bottom: solid 1px transparent !important;
	}

	/*Search Bar*/
	.header-fixed .header.header-fixed-shrink .search-open {
		top: 56px;
	}
}

/*Dropdown Submenu for BS3
------------------------------------*/
.dropdown-submenu {
	position: relative;
}

.dropdown > a:after,
.dropdown-submenu > a:after {
	top: 8px;
	right: 9px;
	font-size: 11px;
	content: "\f105";
	position: absolute;
	font-weight: normal;
	display: inline-block;
	font-family: FontAwesome;
}

@media (max-width: 1000px) {
	.dropdown-submenu > a:after {
		content: " ";
	}
}

.dropdown > a:after {
	top: 9px;
	right: 15px;
	content: "\f107";
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -5px;
	margin-left: 0px;
}

/*Submenu comes from LEFT side*/
.dropdown-submenu > .dropdown-menu.submenu-left {
	left: -100%;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

@media (max-width: 1000px) {
	.dropdown-submenu > .dropdown-menu {
		display: block;
		margin-left: 15px;
	}
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.dropdown-menu li [class^="fa-"],
.dropdown-menu li [class*=" fa-"] {
	left: -3px;
	width: 1.25em;
	margin-right: 1px;
	position: relative;
	text-align: center;
	display: inline-block;
}
.dropdown-menu li [class^="fa-"].fa-lg,
.dropdown-menu li [class*=" fa-"].fa-lg {
	/* increased font size for fa-lg */
	width: 1.5625em;
}

/*Menu Icons*/
.menu-icon {
	margin-right: 10px;
	font-weight: 200;
}

/*Dropdown Show*/
.dropdown-show {
	position: relative;
	display: inline-block;
	box-shadow: 0 0 4px #eee;
}

/*Main Styles
------------------------------------*/
/*Purchase Block*/
.purchase {
	padding: 25px 0 30px;
	border-bottom: solid 1px #eee;
	background: url(../img/breadcrumbs.png) repeat;
}
.purchase p {
	margin-bottom: 0;
}
.purchase span {
	color: #666;
	display: block;
	font-size: 24px;
	line-height: 35px;
	font-weight: normal;
	margin-bottom: 12px;
	font-family: 'Open Sans', sans-serif;
}

.purchase .btn-buy {
	text-align: center;
}

.purchase .btn-buy a {
	margin-top: 27px;
}

.purchase .btn-buy a i {
	margin-right: 5px;
}

@media (max-width: 992px) {
	.purchase {
		text-align: center;
	}

	.purchase span {
		font-size: 22px;
		line-height: 29px;
	}

	.purchase .btn-buy a {
		margin-top: 25px;
		font-size: 16px;
	}
}

/*Service*/
.service {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 15px 15px 10px;
}
.service:hover {
	background: #fcfcfc;
	box-shadow: 0 0 5px #ddd;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}
.service:hover i {
	color: #656565;
}

.service .desc {
	padding: 0 15px;
	overflow: hidden;
}
.service .desc h4 {
	font-size: 22px;
	line-height: 25px;
}

.service .service-icon {
	float: left;
	padding: 10px;
	color: #72c02c;
	font-size: 35px;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.service .service-icon.icon-cogs {
	font-size: 37px;
}
.service .service-icon.icon-plane {
	font-size: 43px;
}

/* Recent Work  */
.recent-work a {
	text-align: center;
	background: #fcfcfc;
	display: inline-block;
}

.recent-work a:hover {
	text-decoration: none;
}

.recent-work a:hover strong {
	color: #555;
}

.recent-work em.overflow-hidden {
	display: block;
}

.recent-work a span {
	display: block;
	padding: 10px;
	border-bottom: solid 2px #eee;
}

.recent-work a strong {
	color: #555;
	display: block;
}

.recent-work a i {
	color: #777;
}

.recent-work a img {
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.recent-work a:hover img {
	opacity: 0.8;
	-webkit-transform: scale(1.2) rotate(3deg);
	-moz-transform: scale(1.2) rotate(3deg);
	-o-transform: scale(1.0) rotate(3deg);
	-ms-transform: scale(1.2) rotate(3deg);
	transform: scale(1.2) rotate(3deg);
}

.recent-work a:hover span {
	border-bottom: solid 2px #72c02c;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Work */
.work {
	margin-top: 6px;
}
.work .details {
	padding: 10px;
}
.work .caption {
	display: block;
	padding-top: 5px;
	color: #585f69 !important;
	font-size: 18px !important;
}
.work .caption:hover {
	cursor: pointer;
	color: #444 !important;
	text-decoration: underline;
}

/*Footer*/
.footer {
	color: #dadada;
	background: #585f69;
	padding: 20px 0 30px;
}

.footer.margin-top-0 {
	margin-top: 0;
}

.footer p,
.footer a {
	font-size: 14px;
}
.footer p {
	color: #dadada;
}

.footer a {
	color: #72c02c;
}
.footer a:hover {
	color: #a8f85f;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.footer h2,
.footer h3,
.footer h4 {
	color: #e4e4e4;
	background: none;
	text-shadow: none;
}

/*Footer Subsribe*/
.footer .footer-subsribe {
	width: 85%;
}

/*Footer Blog Posts*/
.footer .blog-list {
	margin: 0;
	padding: 0;
	color: #dadada;
	list-style: none;
}

.footer .blog-list li {
	padding: 0 0;
	margin-bottom: 7px;
}
.footer .blog-list li span {
	color: #818488;
}

.footer .dl-horizontal,
.footer .dl-horizontal:hover {
	border: none !important;
	background: none !important;
}
.footer .posts .dl-horizontal a {
	color: #dadada;
}
.footer .dl-horizontal a:hover {
	color: #a8f85f !important;
}
.footer .dl-horizontal img {
	border-color: #888 !important;
}

/*Copyright*/
.copyright {
	margin-top: 30px;
	font-size: 12px;
	padding: 11px 0 16px;
	background: #3e4753;
	border-top: solid 1px #777;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.copyright p {
	color: #dadada;
	margin-top: 12px;
}

.copyright a {
	margin: 0 5px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#FFFFFF;
}
.copyright a:hover {
	color:#E12933;
	text-decoration:none;
}

.copyright a img {
	margin-top: 5px;
}

/*Breadcrumbs
------------------------------------*/
/*Default Breadcrumbs*/
.breadcrumbs {
	overflow: hidden;
	padding: 10px 0 6px;
	border-bottom: solid 1px #eee;
	background: url(../img/breadcrumbs.png) repeat;
}
.breadcrumbs h1 {
	color: #666;
	font-size: 22px;
	margin-top: 8px;
}

.breadcrumb {
	top: 10px;
	padding-right: 0;
	background: none;
	position: relative;
}
.breadcrumb a {
	color: #777;
}
.breadcrumb li.active,
.breadcrumb li a:hover {
	color: #72c02c;
	text-decoration: none;
}

@media (max-width: 550px) {
	.breadcrumbs h1.pull-left,
	.breadcrumbs ul.pull-right {
		width: 100%;
		text-align: center;
	}

	.breadcrumbs h1.pull-left {
		margin-bottom: 0;
	}

	.breadcrumbs .breadcrumb {
		top: 0;
		margin-bottom: 10px;
	}
}

/*Thumbnails
------------------------------------*/
a.thumbnail {
	padding: 0;
	border: none;
	margin-bottom: 15px;
}

.thumbnail-style {
	padding: 7px;
	margin-bottom: 20px;
}
.thumbnail-style:hover {
	box-shadow: 0 0 8px #ddd;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.thumbnail h3,
.thumbnail-style h3 {
	margin: 6px 0 8px 0;
}

.thumbnail h3 a,
.thumbnail-style h3 a {
	color: #585f69;
	font-size: 20px;
}

.thumbnail h3 a:hover,
.thumbnail-style h3 a:hover {
	color: #72c02c;
	text-decoration: none;
}

.thumbnail-style .thumbnail-img {
	position: relative;
	margin-bottom: 11px;
}

.thumbnail-style a.btn-more {
	right: -10px;
	bottom: 10px;
	color: #fff;
	padding: 1px 6px;
	position: absolute;
	background: #72c02c;
	display: inline-block;
}
.thumbnail-style a.btn-more:hover {
	text-decoration: none;
	box-shadow: 0 0 0 2px #377500;
}
.thumbnail-style:hover a.btn-more {
	right: 10px;
}

.thumbnail-kenburn img {
	left: 10px;
	margin-left: -10px;
	position: relative;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.thumbnail-kenburn:hover img {
	-webkit-transform: scale(1.2) rotate(2deg);
	-moz-transform: scale(1.2) rotate(2deg);
	-o-transform: scale(1.2) rotate(2deg);
	-ms-transform: scale(1.2) rotate(2deg);
	transform: scale(1.2) rotate(2deg);
}

/*Servive Blocks
------------------------------------*/
/*Service Alternative Block*/
.service-alternative .service:hover {
	background: #76ca2c;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.service-alternative .service:hover i,
.service-alternative .service:hover p,
.service-alternative .service:hover h4 {
	color: #fff;
}

/*Servive Block Versions*/
.service-v1 h2 {
	margin: 15px 0 10px;
	font-size: 20px;
	line-height: 28px;
}

.service-v1 p {
	text-align: justify;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a {
	color: #555;
}

.posts .dl-horizontal {
	margin-bottom: 15px;
	overflow: hidden;
}

.posts .dl-horizontal dt {
	width: 60px;
	float: left;
}

.posts .dl-horizontal dt img {
	width: 60px;
	height: 60px;
	padding: 2px;
	margin-top: 2px;
	border: solid 1px #ddd;
}

.posts .dl-horizontal dd {
	margin-left: 70px;
}

.posts .dl-horizontal dd p {
	margin: 0;
}

.posts .dl-horizontal dd a {
	font-size: 14px;
	line-height: 16px !important;
}

.posts .dl-horizontal dd a:hover {
	color: #72c02c;
	text-decoration: none;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
	color: #72c02c;
	border-color: #72c02c !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/*About Page
------------------------------------*/
.team ul.team-socail {
	text-align: right;
}

.team ul.team-socail li {
	margin: 0 !important;
	padding: 0 !important;
}

.team ul.team-socail li a,
.team ul.team-socail li a:hover {
	text-decoration: none;
}

.team ul.team-socail li i {
	color: #aaa;
	padding: 3px;
	min-width: 30px;
	font-size: 20px;
	text-align: center;
	background: #f7f7f7;
	display: inline-block;
}

.team ul.team-socail li i:hover {
	color: #fff;
	background: #72c02c;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.team .thumbnail-style {
	padding: 12px;
}

.team .thumbnail-style img {
	margin-bottom: 7px;
}

.team .thumbnail-style h3 {
	margin-bottom-bottom: 5px;
}

.team .thumbnail-style:hover h3 a {
	color: #72c02c !important;
}

.team .thumbnail-style small {
	display: block;
	margin-top: 5px;
	font-size: 12px;
}

/*About Me Page
------------------------------------*/
.about-me {
	overflow: hidden;
}

.about-me h2 {
	margin: 0;
	font-size: 20px;
	text-transform: uppercase;
}

.about-me span {
	color: #999;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.about-me .social-icons {
	margin-top: 7px;
}

/*About My Goals*/
.about-my-goals h2 {
	text-transform: uppercase;
}

/*About Skills*/
.about-skills {
	padding: 40px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: url(../img/breadcrumbs.png) repeat;
}

/*Gallery Page
------------------------------------*/
.gallery-page .thumbnail,
.gallery-page .thumbnail:hover {
	padding: 0;
	border: none;
	box-shadow: none;
}
.gallery-page .thumbnails {
	margin-bottom:6px;
}

/*Privacy Page
------------------------------------*/
.privacy a {
	text-decoration: underline;
}
.privacy a:hover {
	color: #72c02c;
	text-decoration: none;
}

/*Portfolio Item Page v1
------------------------------------*/
.portfolio-item h2 {
	color: #555;
	font-size: 24px;
	margin: 0 0 15px;
}
.portfolio-item li {
	padding: 3px 0;
}
.portfolio-item p a {
	text-decoration: underline;
}
.portfolio-item p a:hover {
	text-decoration: none;
}

/*Portfolio Item v1*/
.portfolio-item1 ul {
	margin: 10px 0 20px;
}

.portfolio-item1 li {
	font-size: 16px;
	margin-bottom: 3px;
}

.portfolio-item1 li i {
	font-size: 18px;
	margin-right: 4px;
}

/*Sidebar Features
------------------------------------*/
/*Blog Tags*/
ul.blog-tags li {
	display: inline-block;
}

ul.blog-tags a {
	font-size :13px;
	padding: 2px 7px;
	background: #f7f7f7;
	margin: 0 3px 6px 0;
	display: inline-block;
}

ul.blog-tags a i {
	color: #666;
}

ul.blog-tags a:hover {
	background: #72c02c;
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
	color: #fff !important;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*Blog Photo Stream*/
.blog-photos li {
	display: inline;
}
.blog-photos li img {
	opacity: 0.6;
	width: 58px;
	height: 58px;
	margin: 0 2px 8px;
}
.blog-photos li img:hover {
	opacity: 1;
	box-shadow: 0 0 0 2px #72c02c;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner {
	padding: 10px;
	background: #f7f7f7;
	position: relative;
	margin-bottom: 10px;
	/*border-top: solid 2px #eee;*/
}

.blog-twitter .blog-twitter-inner,
.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
	width: 0;
	height: 0;
	right: 0px;
	bottom: 0px;
	content: " ";
	display: block;
	position: absolute;
}

.blog-twitter .blog-twitter-inner:after {
	border-top: 15px solid #eee;
	border-right: 15px solid transparent;
	border-left: 0px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}
.blog-twitter .blog-twitter-inner:before {
	border-bottom: 15px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}

.blog-twitter .blog-twitter-inner:hover {
	border-color: #72c02c;
	border-top-color: #72c02c;
}
.blog-twitter .blog-twitter-inner:hover:after {
	border-top-color: #72c02c;
}

.blog-twitter .blog-twitter-inner span.twitter-time {
	color: #777;
	display: block;
	font-size: 11px;
}

.blog-twitter .blog-twitter-inner a {
	color: #72c02c;
	text-decoration: none;
}
.blog-twitter .blog-twitter-inner a:hover {
	text-decoration: underline;
}

.blog-twitter .blog-twitter-inner i.fa {
	top: 2px;
	color: #bbb;
	font-size: 18px;
	position: relative;
}

/*Choose Block*/
.who li {
	margin-bottom: 6px;
}
.who li i {
	color: #72c02c;
	font-size: 13px;
	min-width: 15px;
	margin-right: 8px;
	text-align: center;
	position: relative;
}
.who li:hover i,
.who li:hover a {
	color: #777;
}
.who li:hover a:hover {
	text-decoration: none;
}

/*Promo Page
------------------------------------*/
/*Slider Part*/
.fullwidthbanner-container.slider-promo {
	max-height: 460px !important;
}

.slider-promo-info-bg {
	padding: 25px 20px 20px;
	background: url(../img/bg-black.png) repeat;
}

.slider-promo-info span.big-size {
	color: #fff;
	display: block;
	font-size: 30px;
	margin-bottom: 25px;
	text-shadow: 0 !important;
}

.slider-promo-info p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
}

/*Promo Box*/
.promo-box {
	padding: 20px;
	margin: 25px 0 20px;
	text-align: center;
}

.promo-box i {
	display: block;
	font-size: 50px;
}

.promo-box p {
	font-size: 14px;
	margin-bottom: 0;
}

.promo-box strong,
.promo-box strong a {
	color: #555;
	display: block;
	font-size: 20px;
	font-weight: 200;
	margin: 20px 0 15px;
}

.promo-box:hover strong,
.promo-box:hover strong a {
	color: #72c02c;
}

/*Promo Service*/
.promo-service {
	margin-bottom: 20px;
}

.promo-service li {
	margin-bottom: 5px;
}

.promo-service a.btn-u {
	margin: 0 20px 10px 0;
}

/*Promo Elements*/
.title-box {
	font-size: 16px;
	text-align: center;
	padding: 10px 0 30px;
	border-bottom: solid 1px #eee;
}

.title-box .title-box-text {
	color: #555;
	display: block;
	font-size: 35px;
	font-weight: 200;
}

@media (max-width: 768px) {
	.title-box .title-box-text {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 10px;
	}
	.title-box p {
		font-size: 15px;
	}
}

.block-blockquote {
	margin: 20px 0;
	text-align: center;
	border: dashed 1px #ccc;
}

.block-blockquote-inner {
	padding: 15px;
}

.block-blockquote p {
	font-size: 26px;
	margin-bottom: 0;
}

/*Info Blocks*/
.info-blocks {
	margin-bottom: 15px;
}

.info-blocks:hover i.icon-info-blocks {
	color: #72c02c;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}

.info-blocks i.icon-info-blocks {
	float: left;
	color: #777;
	font-size: 30px;
	min-width: 50px;
	margin-top: 10px;
	text-align: center;
}

.info-blocks .info-blocks-in {
	padding: 0 10px;
	overflow: hidden;
}

.info-blocks .info-blocks-in h3 {
	color: #555;
	font-size: 20px;
	line-height: 28px;
}

.info-blocks .info-blocks-in p {
	font-size: 12px;
}

/*Brand Page
------------------------------------*/
.brand-page .btn {
	margin-bottom: 10px;
}

/*Form Pages
------------------------------------*/
.form-page input,
.form-page select {
	margin-bottom: 10px;
}

/*Labels and Badges Page
------------------------------------*/
ul.labels-demo {
	margin: 5px 0;
}

ul.labels-demo li {
	list-style: none;
	display: inline-block;
	margin: 0 5px 2px 0;
}

.badge-sidebar {
	border-left: solid 1px #eee;
}

@media (max-width: 991px) {
	.badge-sidebar {
		border-left: none;
	}
}

/*Line Icon Page
------------------------------------*/
.line-icon-page .item-box {
	width: 25%;
	float: left;
	height: 90px;
	text-align: center;
	padding: 20px 10px;
	margin: 0 -1px -1px 0;
	word-wrap: break-word;
	border: 1px solid #ddd;
}

@media (max-width: 768px) {
	.line-icon-page .item-box {
		height: 115px;
	}
}

@media (max-width: 450px) {
	.line-icon-page .item-box {
		height: 130px;
	}
}

.line-icon-page .item-box:hover {
	background: #fafafa;
}

.line-icon-page .item span {
	display: block;
	font-size: 28px;
	margin-bottom: 10px;
}

.line-icon-page .item:hover {
	color: #72c02c;
}

/*Line Icon Page
------------------------------------*/
.icon-page-fa {
	margin-bottom: 20px;
}

.icon-page-fa .item-box {
	float: left;
	height: 100px;
	width: 16% !important;
}

.icon-page-fa .item {
	font-size: 12px;
}

.icon-page-fa .item i {
	color: #555;
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
}

@media (max-width: 767px) {
	.icon-page-fa .item-box {
		width: 20% !important;
	}
}

@media (max-width: 600px) {
	.icon-page-fa .item-box {
		width: 30% !important;
	}
}

@media (max-width: 400px) {
	.icon-page-fa .item-box {
		width: 50% !important;
	}
}

/*GLYPHICONS Icons Page
------------------------------------*/
/*Special styles for displaying the icons and their classes*/
.bs-glyphicons {
	padding-left: 0;
	list-style: none;
	overflow: hidden;
	padding-bottom: 1px;
	margin-bottom: 20px;
}

.bs-glyphicons li {
	width: 25%;
	float: left;
	height: 115px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;
	margin: 0 -1px -1px 0;
	border: 1px solid #ddd;
}

.bs-glyphicons .glyphicon {
	display: block;
	font-size: 24px;
	margin: 5px auto 10px;
}

.bs-glyphicons li:hover {
	color: #72c02c;
	background-color: #fafafa;
}

@media (min-width: 768px) {
	.bs-glyphicons li {
		width: 12.5%;
	}
}

/*Contact Pages
------------------------------------*/
.map {
	width: 100%;
	height: 350px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.gm-style-iw {
	/*overflow: inherit !important;*/
}

.map-box {
	height: 250px;
}

.map-box-space {
	margin-top: 15px;
}

.map-box-space1 {
	margin-top: 7px;
}

/*Background Opacity
------------------------------------*/
.service-or {
	overflow: hidden;
	position: relative;
}

.service-bg {
	background-color: rgba(255,255,255,0.1);
	width: 250px;
	padding: 60px;
	position: absolute;
	top: -10px;
	right: -100px;
	transform: rotate(55deg);
	-o-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
}

/*Service Block v2
------------------------------------*/
.servive-block-v2 .servive-block-in {
	padding: 20px 30px;
	text-align: center;
	margin-bottom: 15px;
	background: rgba(255,255,255,0.2);
}

.servive-block-v2 .servive-block-in img {
	width: 100%;
	margin-bottom: 15px;
}

.servive-block-v2 .servive-block-in i {
	font-size: 40px;
}

.servive-block-v2 .servive-block-in h4 {
	line-height: 25px;
}

.servive-block-v2 .servive-block-in p {
	margin-bottom: 20px;
}

.servive-block-v2 .servive-block-in i,
.servive-block-v2 .servive-block-in h4,
.servive-block-v2 .servive-block-in p {
	color: #fff;
}

/*Easy Block
------------------------------------*/
.easy-block-v1 {
	position: relative;
}

.easy-block-v1 img {
	width: 100%;
}

.easy-block-v1 .overflow-h h3 {
	width: 60%;
	float: left;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 5px;
}

.easy-block-v1 .easy-block-v1-badge {
	left: 0px;
	top: 10px;
	z-index: 1;
	color: #fff;
	padding: 4px 10px;
	position: absolute;
}

/*Easy Block v2
------------------------------------*/
.easy-block-v2 {
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.easy-block-v2 img {
	width: 100%;
}

.easy-bg-v2 {
	top: 5px;
	color: #fff;
	width: 100px;
	padding: 5px;
	right: -32px;
	font-size: 13px;
	position: absolute;
	text-align: center;
	letter-spacing: 2px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/*Easy Block v3
------------------------------------*/
.easy-block-v3 {
	text-align: left;
	background: #585f69;
	margin-bottom: 10px;
	padding: 30px 20px 20px;
}

.easy-block-v3.first {
	background: #696f77;
}
.easy-block-v3.second {
	background: #707780;
}
.easy-block-v3.third {
	background: #787f88;
}

.easy-block-v3 i {
	color: #fff;
	float: left;
	font-size: 30px;
	min-width: 45px;
	padding-top: 10px;
}

.easy-block-v3 .inner-faq-b {
	overflow: hidden;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3 {
	font-size: 21px;
	margin-bottom: 8px;
}

.easy-block-v3 .inner-faq-b h4 {
	color: #fff;
	font-size: 17px;
	margin-bottom: 2px;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3,
.easy-block-v3 .inner-faq-b p {
	color: #fff;
}

/*Full Width Block
------------------------------------*/
.full-w-block {
	padding: 30px 0;
	background: #282828;
}

.full-w-block .info-blocks i,
.full-w-block .info-blocks-in h3 {
	color: #fff;
}

.full-w-block .info-blocks-in p {
	color: #ccc;
}

.full-w-block .info-blocks:hover i.icon-info-blocks {
	color: #fff;
}

/*Team v2
------------------------------------*/
.team-v2 {
	position: relative;
	margin-bottom: 20px;
}

.team-v2 img {
	width: 100%;
}

.team-v2 .inner-team {
	padding: 20px;
	background: #fff;
	text-align: center;
}

.team-v2 .inner-team h3 {
	margin: 0;
}

.team-v2 .inner-team small {
	display: block;
	font-size: 12px;
	margin-bottom: 7px;
}

.team-v2 .inner-team p {
	font-size: 13px;
}

.team-v2 .inner-team hr {
	margin: 10px 0 15px;
}

/*Team-Social ---- Temporary*/
.team-social {
	margin-bottom: 0;
}

.team-social li {
	padding: 0 2px;
}

.team-social li a {
	font-size: 14px;
	padding: 6px 4px;
	text-align: center;
	border-radius: 50% !important;
}

.team-social li i {
	min-width: 20px;
}

.team-social li a.fb {
	color: #4862a3;
	border: 1px solid #4862a3;
}

.team-social li a.tw {
	color: #159ceb;
	border: 1px solid #159ceb;
}

.team-social li a.gp {
	color: #dc4a38;
	border: 1px solid #dc4a38;
}

.team-social li a:hover {
	text-decoration: none;
}

.team-social li a.fb:hover {
	color: #fff;
	background: #4862a3;
}

.team-social li a.tw:hover {
	color: #fff;
	background: #159ceb;
}

.team-social li a.gp:hover {
	color: #fff;
	background: #dc4a38;
}

/*Simple Block
------------------------------------*/
.simple-block {
	margin-bottom: 20px;
}

.simple-block img {
	width: 100%;
}

.simple-block p {
	text-align: center;
}

.simple-block .carousel-indicators {
	top: 10px;
	left: 65%;
	text-align: right;
}

.simple-block .carousel-indicators .active {
	background: #555;
}

.simple-block .carousel-indicators li {
	border-color: #555;
}

.simple-block .carousel-inner > .item {
	margin: 0;
}

.simple-block .responsive-video {
	margin-bottom: 3px;
}

/*Two Blocks
------------------------------------*/
.two-blocks {
	text-align: center;
}

.two-blocks-in {
	margin-bottom: 30px;
}

.two-blocks-in i {
	color: #fff;
	padding: 11px;
	font-size: 30px;
	min-width: 50px;
	text-align: center;
	background: #585f69;
	margin-bottom: 10px;
	display: inline-block;
}

/*Three Blocks
------------------------------------*/
.three-blocks {
	text-align: center;
}

.three-blocks-in {
	margin-bottom: 30px;
}

.three-blocks-in i {
	color: #777;
	padding: 9px 6px;
	font-size: 20px;
	min-width: 40px;
	margin-bottom: 10px;
	border: 1px solid #777;
}

.three-blocks-in h3 {
	font-size: 20px;
	margin-bottom: 7px;
}

/*Temperory Classes
------------------------------------*/
/*Banner-info*/
.banner-info {
	margin-bottom: 10px;
}

.banner-info i {
	float: left;
	color: #fff;
	padding: 11px;
	/*min-width works with line-icon*/
	min-width: 40px;
	font-size: 22px;
	text-align: center;
	margin: 7px 20px 0 0;
}

/*min-width works with FontAwesome*/
.banner-info i.fa {
	min-width: 46px;
}

.banner-info.light i {
	border: 1px solid #fff;
}

.banner-info.dark i {
	background: #585f69;
}

.banner-info h3 {
	font-size: 21px;
	margin-bottom: 5px;
}

.banner-info.light h3 { color: #fff; }
.banner-info.light p { color: #eee; }

/*Breadcrumb-V2*/
.breadcrumbs-v2 {
	text-align: center;
	position: relative;
	background: url(../img/bg/11.jpg) no-repeat center;
}

.breadcrumbs-v2-in {
	padding: 60px 0;
	position: relative;
}

.breadcrumbs-v2 h1 {
	color: #fff;
	text-transform: uppercase;
}

.breadcrumb-v2 li a,
.breadcrumb-v2 li.active {
	color: #fff;
}

.breadcrumb-v2 li i {
	color: #fff;
	min-width: 19px;
	padding: 3px 7px;
	margin-right: 5px;
	text-align: center;
	border: 1px solid #fff;
}

/*Breadcrumbs-v3*/
.breadcrumbs-v3 {
	padding: 10px 0;
	background: #585f69;
	border-bottom: 1px solid #eee;
}

.breadcrumbs-v3 h1 {
	color: #fff;
	margin: 3px 0;
	font-size: 22px;
	font-weight: 200;
}

.breadcrumbs-v3 .breadcrumb {
	padding: 0;
	margin-top: 2px;
	margin-bottom: 0;
}

.breadcrumbs-v3 .breadcrumb li a {
	color: #fff;
}

/*Title-Box-V2*/
.title-box-v2 {
	text-align: center;
	margin-bottom: 40px;
}

.title-box-v2 h2 {
	font-size: 25px;
	text-transform: uppercase;
}

.title-box-v2 p {
	font-size: 13px;
}

/*remove padding from "Col-"*/
.no-space {
	padding: 0;
}

.no-space-left {
	padding-left: 0;
	padding-right: 15px !important;
}

.no-space-right {
	padding-right: 0;
	padding-left: 15px !important;
}

/*List Style v1*/
.list-style-v1 li {
	margin-bottom: 7px;
}

.list-style-v1 i {
	margin-right: 5px;
}

/*Header v2
------------------------------------*/
.header-v2 {
	position: relative;
}

.header-v2 .header {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	border-bottom: none;
}

/*Topbar*/
.header-v2 .topbar ul.loginbar li i.fa {
	color: #555;
}

.header-v2 .topbar ul.loginbar > li > a {
	color: #444;
}

.header-v2 .topbar ul.loginbar > li > a:hover {
	color: #fff;
}

.header-v2 .topbar ul.lenguages {
	background: #333;
}

.header-v2 .topbar ul.lenguages li a {
	color: #fff;
}

.header-v2 .topbar ul.lenguages li.active a,
.header-v2 .topbar ul.lenguages li a:hover {
	color: #000;
	background: #eee;
}

.header-v2 .topbar ul.lenguages li.active a i {
	color: #000;
}

.header-v2 .topbar ul.lenguages:after {
	border-bottom-color: #333;
}

.header-v2 .topbar ul.loginbar li.topbar-devider {
	border-right-color: #555;
}

@media (min-width: 999px) {
	/*Dropdown Submenu3*/
	.header-v2 .dropdown-submenu > .dropdown-menu {
		top: 2px;
	}

	/*Dropdown-Menu*/
	.header-v2 .header .dropdown-menu {
		border-top: none;
		background: #333;
	}

	.header-v2 .header .dropdown-menu li a {
		border-bottom-color: #444;
	}

	.header-v2 .header .dropdown-menu .active > a,
	.header-v2 .header .dropdown-menu li > a:hover {
		color: #333;
		background: #eee !important;
	}

	.header-v2 .header .navbar-default .dropdown a {
		color: #333;
	}

	.header-v2 .topbar ul.loginbar li.topbar-devider {
		border-right-color: #333;
	}

	.header-v2 .header .navbar-default .dropdown-menu a {
		color: #bbb;
	}

	.header-v2 .header .navbar-default .dropdown-menu .active a {
		color: #333;
	}

	.header-v2 .header .navbar-default .navbar-nav > .open > a,
	.header-v2 .header .navbar-default .navbar-nav > .open > a:hover,
	.header-v2 .header .navbar-default .navbar-nav > .open > a:focus {
		color: #333;
	}

	.header-v2 .header .navbar-default .navbar-nav > li > a,
	.header-v2 .header .navbar-default .navbar-nav > li > a:focus {
		border-bottom: solid 0 transparent;
	}

	.header-v2 .header .navbar-default .navbar-nav > li > a:hover,
	.header-v2 .header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 0 transparent;
	}

	/*Bootstrap 'border' and 'box-shadow'*/
	.header-v2 .navbar-default .navbar-collapse,
	.header-v2 .navbar-default .navbar-form {
		border: solid 0 transparent;
	}

	.header-v2 .navbar-collapse {
		box-shadow: none;
	}
}

@media (max-width: 998px) {
	.header-v2 .header .navbar-default .navbar-nav {
		background: #333;
	}

	.header-v2 .header .navbar-default .navbar-right.sb-toggle-right {
		margin-left: 10px;
		float: inherit !important;
	}

	.header-v2 .header .navbar-default .navbar-collapse,
	.header-v2 .header .navbar-default .navbar-form {
		border: none;
		border-top: none;
		box-shadow: none;
	}

	.header-v2 .header .navbar-default .navbar-nav > li a {
		border-bottom: solid 1px #444;
	}

	.header-v2 .header .navbar-default .dropdown a {
		color: #687074;
	}

	.header-v2 .header .navbar-default .navbar-nav > .open > a,
	.header-v2 .header .navbar-default .navbar-nav > .open > a:hover,
	.header-v2 .header .navbar-default .navbar-nav > .open > a:focus {
		color: #72c02c;
	}

	.header-v2 .header .navbar-default .navbar-nav > .active > a,
	.header-v2 .header .navbar-default .navbar-nav > .active > a:hover,
	.header-v2 .header .navbar-default .navbar-nav > .active > a:focus {
		color: #687074 !important;
	}
	.header-v2 .header .navbar-default .navbar-nav > .active > a,
	.header-v2 .header .navbar-default .navbar-nav > .active > a:hover,
	.header-v2 .header .navbar-default .navbar-nav > .active > a:focus {
		background: inherit !important;
	}

	.header-v2 .header .sb-toggle-right:hover {
		color: #72c02c;
	}
}

/*Header v3
------------------------------------*/
@media (min-width: 999px) {
	.header-v3.header .navbar-brand {
		padding: 28px 10px 42px;
	}

	.header-v3.header .navbar-nav {
		margin-top: 15px;
	}

	.header-v3.header .navbar-default .navbar-nav > li > a {
		font-size: 13px;
		padding: 13px 30px 26px 20px;
	}

	.header-v3.header .navbar-default .navbar-nav > li > a,
	.header-v3.header .navbar-default .navbar-nav > li > a:focus {
		border-bottom: solid 2px transparent;
	}

	.header-v3.header .navbar-default .navbar-nav > li > a:hover,
	.header-v3.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px transparent;
	}

	.header-v3.header .dropdown-submenu > .dropdown-menu {
		margin-top: -4px !important;
	}

	.header-v3.header .dropdown > a:after {
		top: 13px;
	}

	/*Search Box*/
	.header-v3.header .navbar .nav > li > .search {
		color: #aaa;
		background: inherit;
		border-bottom: none;
		padding: 15px 0 12px;
	}

	.header-v3.header .navbar .nav > li > .search:hover {
		color: #72c02c;
		background: inherit;
	}

	.header-v3.header .navbar .search-open {
		top: 59px;
	}

	/*Header Fixed Shrink*/
	.header-v3.header.header-fixed-shrink .container > .navbar-header,
	.header-v3.header.header-fixed-shrink .container-fluid > .navbar-header,
	.header-v3.header.header-fixed-shrink .container > .navbar-collapse,
	.header-v3.header.header-fixed-shrink .container-fluid > .navbar-collapse {
		top: 35px;
		position: relative;
	}

	.header-v3.header.header-fixed-shrink .navbar-nav {
		margin-top: 0;
	}

	.header-v3.header.header-fixed-shrink .navbar-default .navbar-nav > li > a {
		padding: 18px 30px 20px 20px;
	}

	.header-v3.header.header-fixed-shrink .dropdown > a:after {
		top: 18px;
	}

	/*Search Box*/
	.header-v3.header.header-fixed-shrink .navbar .nav > li > .search {
		padding: 14px 0 12px;
	}

	.header-v3.header.header-fixed-shrink .navbar .search-open {
		top: 58px;
	}
}

@media (max-width: 998px) {
	/*Navbar Toggle*/
	.header-v3.header .navbar-toggle {
		margin-bottom: 43px;
	}

	/*Navbar Header*/
	.header-v3.header .navbar-header {
		top: 19px;
		position: relative;
	}

	.header-v3.header.header-fixed-shrink .navbar-header {
		top: 35px;
	}
}

.header-v3.header .navbar-collapse {
	max-height: auto !important;
	position: relative !important;
}

/*Responsive Navbar Brand*/
@media (min-width: 990px) and (max-width: 998px) {
	.header-v3.header .navbar-brand {
		top: 6px;
	}
}

/*Header v4
------------------------------------*/
@media (min-width: 999px) {
	.header-v4.header {
		border-bottom: none;
	}

	.header-v4.header .navbar-header {
		margin: 20px 0;
	}

	.header-v4.header .navbar-brand {
		padding: 18px 10px 35px;
	}

	.header-v4.header .navbar-nav {
		top: 1px;
		float: left;
		margin-top: -2px;
	}

	/*Dropdown-Menu*/
	.header-v4.header .dropdown-menu {
		margin-top: -1px !important;
		border-top: 1px solid transparent;
	}

	.header-v4.header .dropdown-submenu > .dropdown-menu {
		top: 0;
	}

	.header-v4.header .navbar-collapse {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	.header-v4.header .navbar-default .navbar-nav > li {
		margin-left: -1px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.header-v4.header .navbar-default .navbar-nav > li.no-border,
	.header-v4.header .navbar-default .navbar-nav > li.no-border:first-child {
		border-left: none;
		border-right: none;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a {
		font-size: 13px;
		padding: 10px 30px 11px 20px;
	}

	.header-v4.header .dropdown > a:after {
		top: 11px;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a,
	.header-v4.header .navbar-default .navbar-nav > li > a:focus {
		border-top: solid 2px transparent;
		border-bottom: solid 2px transparent;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a:hover,
	.header-v4.header .navbar-default .navbar-nav > .active > a {
		border-top: solid 2px #72c02c;
		border-bottom: solid 2px transparent;
	}

	/*Search*/
	.header-v4.header .navbar .nav > li > .search {
		background: inherit;
		border-bottom: none;
		margin: 5px 9px 0 20px;
	}

	.header-v4.header .navbar .search-open {
		top: 44px;
	}
}

@media (max-width: 998px) {
	/*Design for max-width: 1000px*/
	.header-v4.header {
		border-bottom: solid 2px #eee;
	}

	.header-v4.header .navbar-collapse {
		overflow: hidden !important;
	}

	.header-v4.header .navbar-default .navbar-collapse,
	.header-v4.header .navbar-default .navbar-form {
		border-top: 1px solid #e7e7e7;
	}

	.header-v4.header .navbar-collapse,
	.header-v4.header .navbar-default .navbar-nav > li,
	.header-v4.header .navbar-default .navbar-nav > li:first-child {
		border: none;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
		border-bottom: solid 1px #eee !important;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a:focus {
		background: none;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a:hover {
		color: #72c02c;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a,
	.header-v4.header .navbar-default .navbar-nav > li > a:focus {
		border-top: solid 0 transparent;
		border-bottom: solid 0 transparent;
	}

	.header-v4.header .navbar-default .navbar-nav > li > a:hover,
	.header-v4.header .navbar-default .navbar-nav > .active > a {
		border-top: solid 0 transparent;
		border-bottom: solid 0 transparent;
	}

	.header-v4.header .navbar-default .navbar-nav > .active > a,
	.header-v4.header .navbar-default .navbar-nav > .active > a:hover,
	.header-v4.header .navbar-default .navbar-nav > .active > a:focus {
		color: #fff;
		background: #72c02c;
	}
}

@media (min-width: 768px) and (max-width: 998px) {
	/*Navbar Brand*/
	.header .navbar-brand {
		top: 4px;
	}

	/*Search*/
	.header-v4.header .navbar .search-open {
		width: 92%;
	}
}

/*Responsive Search*/
@media (min-width: 992px) and (max-width: 998px) {
	.header-v4.header .navbar .search-open {
		width: 93%;
	}
}

/*Header v5
------------------------------------*/
.header-v5.header {
	border-bottom: none;
}

.header-v5.header .navbar-default {
	background: #252525;
}

.header-v5.header .navbar-nav {
	border: none;
	background: #252525;
}

@media (min-width: 999px) {
	.header-v5.header .navbar-default {
		padding: 0 0 2px;
	}

	.header-v5.header .navbar-brand {
		top: 24px;
	}

	/*Dropdown Menu*/
	.header-v5.header .navbar-nav {
		top: 0;
		margin-bottom: -2px;
	}

	.header-v5.header .dropdown-submenu > .dropdown-menu {
		top: 0;
	}

	.header-v5.header .navbar-default .navbar-nav > li > a {
		color: #eee;
		padding: 30px 30px 26px 20px;
	}

	/*Search a:after*/
	.header-v5.header .dropdown > a:after {
		top: 30px;
		right: 15px;
	}

	/*Dropdown Menu*/
	.header-v5.header .dropdown-menu {
		background: #333;
		margin-top: -1px !important;
		border-top: 1px solid #444;
	}

	.header-v5.header .dropdown-menu li a {
		color: #eee;
		border-bottom-color: #555;
	}

	.header-v5.header .dropdown-menu .active > a,
	.header-v5.header .dropdown-menu li > a:hover {
		color: #eee;
		background: #444 !important;
	}

	.header-v5.header .navbar-default .navbar-nav > li > a,
	.header-v5.header .navbar-default .navbar-nav > li > a:focus {
		border-bottom: solid 2px transparent;
	}

	.header-v5.header .navbar-default .navbar-nav > li > a:hover,
	.header-v5.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px transparent;
	}

	.header-v5.header .navbar-default .navbar-nav > .active > a {
		background: #444;
	}

	.header-v5.header .navbar-default .navbar-nav > .active:hover > a {
		background: #444;
	}

	.header-v5.header .navbar-default .navbar-nav > li > a:hover {
		background: #444;
	}

	/*Slidebar Menu 'Button'*/
	.header-v5.header .sb-toggle-right {
		color: #bbb;
		padding: 0 10px;
		margin-top: 26px;
	}

	.header-v5.header .sb-toggle-right:hover {
		color: #fff;
	}
}

@media (max-width: 998px) {
	.header-v5.header .navbar-right.sb-toggle-right {
		margin-left: 10px;
		float: inherit !important;
	}

	/*Navbar Brand*/
	.header-v5.header .navbar-brand {
		top: 6px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.header-v5.header .navbar-header {
		padding: 14px 0;
	}

	.header-v5.header .navbar-default .navbar-collapse,
	.header-v5.headar .navbar-default .navbar-form {
		border-color: #555;
	}

	/*Navbar Nav*/
	.header-v5.header .navbar-default .navbar-nav > .active > a {
		color: #fff;
	}

	.header-v5.header .navbar-default .navbar-nav > li a {
		color: #bbb;
		border-bottom-color: #555;
	}

	/*Dropdown Menu*/
	.header-v5.header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}

	.header-v5.header .navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.header-v5.header .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.header-v5.header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.header-v5.header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
	}

	/*Navbar Toggle*/
	.header-v5.header .navbar-toggle {
		margin-top: 14px;
	}
	.header-v5.header.header-fixed-shrink .navbar-toggle {
		margin-top: 18px;
	}
}

/*Footer Common classes
------------------------------------*/
/*Thumb Headline*/
.thumb-headline h2 {
	color: #eee;
	font-size: 16px;
}

/*Footer Logo*/
.footer-logo {
	margin: 17px 0 20px;
}

/*Latest List*/
.latest-list li {
	padding: 8px 0;
	border-top: 1px solid #353535;
}

.latest-list li:first-child {
	padding-top: 0;
	border-top: none;
}

.latest-list li a {
	color: #eee;
}

.latest-list small {
	color: #999;
	display: block;
}

/*Link List*/
.link-list li {
	border-top: solid 1px #353535;
}

.link-list li:first-child {
	border-top: none !important;
}

.link-list a {
	color: #eee;
	font-size: 11px;
	padding: 6px 0px;
	display: inline-block;
	text-transform: uppercase;
}

.link-list li i {
	color: #bbb;
	float: right;
	margin-top: 10px;
}

/*Latest Tweets*/
.latest-tweets .latest-tweets-inner p {
	color: #555;
	font-size: 13px;
}

.latest-tweets .latest-tweets-inner a {
	/*color: #3498db;*/
	text-decoration: none;
}
.latest-tweets .latest-tweets-inner a:hover {
	text-decoration: underline;
}

.latest-tweets .latest-tweets-inner i.fa {
	top: 2px;
	float: left;
	color: #bbb;
	color: #55acee;
	font-size: 18px;
	margin-right: 5px;
	position: relative;
}

.latest-tweets .latest-tweets-inner small {
	color: #777;
	display: block;
}

/*Social Icons*/
.social-icons {
	/*margin-top: 5px;*/
}

.social-icons li {
	margin: 0;
}

.social-icons li a {
	margin: 0 1px;
}

/*Footer-v1
------------------------------------*/
.footer-v1 .footer h2 {
	font-weight: 200;
}

.footer-v1 .footer {
	background: #272727;
}

/*Link List*/
.footer-v1 .link-list li {
	border-top: solid 1px #353535;
}

.footer-v1 .link-list a {
	color: #eee;
}

.footer-v1 .link-list i {
	color: #eee;
}

.footer-v1 address {
	line-height: 23px;
}

/*Copyright*/
.footer-v1 .copyright {
	background: #222;
	border-top: none;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

/*Footer-v2
------------------------------------*/
.footer-v2 .footer {
	background: #f7f7f7;
	border-top: 3px solid #eee;
}

.footer-v2 .footer p {
	color: #555;
}

.footer-v2 .headline h2 {
	color: #585f69;
}

/*Footer Subsribe*/
.footer-v2 .footer-subsribe {
	width: 100%;
}

/*Link List*/
.footer-v2 .link-list li {
	border-top: solid 1px #eee;
}

.footer-v2 .link-list a {
	color: #555;
}

.footer-v2 address {
	color: #555;
	line-height: 23px;
}

.footer-v2 address i {
	min-width: 20px;
	margin-right: 5px;
	text-align: center;
}

/*Copyright*/
.footer-v2 .copyright {
	border-top: none;
	background: #eee;
}

.footer-v2 .copyright p {
	color: #555;
}

/*Footer-v3
------------------------------------*/
.footer-v3 .footer {
	background: #252525;
	border-top: 5px solid #555;
}

.footer-v3 .thumb-headline h2 {
	color: #fff;
	margin-bottom: 3px;
}

.footer-v3 .footer p {
	color: #bbb;
}

.footer-v3 .simple-list a {
	color: #bbb;
}

/*Map Image*/
.footer .map-img {
	background: url(../img/main/map-img.png) 5px 60px no-repeat;
}

/*Copyright*/
.footer-v3 .copyright {
	background: #222;
	border-top-color: #292929;
}

/*Slidebar Menu
------------------------------------*/
.sb-slidebar {
	padding: 20px !important;
	background: #333;
	box-shadow: inset 4px 0 10px -4px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 4px 0 10px -4px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 4px 0 10px -4px rgba(0,0,0,0.7);
}

.sb-slidebar .form-control {
	border-color: #444;
	background: #353535;
}

.sb-slidebar .form-control:focus {
	box-shadow: none;
}

/*Custom List*/
.sb-slidebar .custom-list li {
	padding: 8px 0;
	border-top: 1px solid #444;
}

.sb-slidebar .custom-list li:first-child {
	border-top: none;
}

.sb-slidebar .custom-list li a {
	color: #bbb;
}

.sb-slidebar .custom-list li a:hover {
	color: #72c02c;
	text-decoration: none;
}

.sb-slidebar .custom-list li i {
	color: #bbb;
	min-width: 20px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
}

.sb-slidebar address {
	color: #bbb;
	line-height: 22px;
}

/*Button*/
.sb-toggle-right {
	margin-top: 4px;
	font-size: 19px;
	cursor: pointer;
}

.sb-toggle-right:hover {
	color: #eee;
}

/*Social Contacts
------------------------------------*/
.social-contacts li {
	padding: 5px 0;
	border-top: 1px solid #ddd;
}

.social-contacts li:first-child {
	border-top: none;
}

.social-contacts li i {
	color: #777;
	font-size: 13px;
	min-width: 13px;
	margin-right: 12px;
	text-align: center;
}

/*Service Block v3
------------------------------------*/
.service-block-v3 {
	padding: 20px;
}

.service-block-v3 i {
	color: #fff;
	float: left;
	font-size: 50px;
	margin: 0 20px 20px 0;
}

.service-block-v3 .service-heading,
.service-block-v3 .service-in small {
	color: #fff;
	opacity: 0.8;
	line-height: 1;
}

.service-block-v3 .service-in h4,
.service-block-v3 .counter {
	color: #fff;
}

.service-block-v3 .service-heading {
	font-size: 16px;
	text-transform: uppercase;
}

.service-block-v3 .counter {
	display: block;
	line-height: 1;
	font-size: 30px;
}

.service-block-v3 .progress {
	margin-bottom: 7px;
}

/*Service Innner*/
.service-block-v3 .service-in small {
	font-size: 16px;
	text-transform: uppercase;
}

.service-block-v3 .service-in h4 {
	font-size: 16px;
	line-height: 0.8;
	margin-bottom: 0;
}

/*Statistics*/
.service-block-v3 .statistics .heading-xs {
	color: #fff;
	opacity: 0.8;
}

.service-block-v3 .statistics small {
	color: #fff;
}

.service-block-v3 .statistics .progress {
	background: #bbb;
}

.service-block-v3 .statistics .progress-bar-light {
	background: #fff;
}

/*Status Bar
------------------------------------*/
.status-bar li {
	padding-left: 9px;
	border-left: 1px solid #eee;
}

.status-bar li:first-child {
	border-left: none;
}

.status-bar li i {
	color: #72c02c;
	margin-right: 5px;
}

.status-bar li a:hover {
	text-decoration: none;
}

.status-bar-in {
	padding: 10px;
	position: relative;
	background: #f0f0f0;
}

.status-bar-in:after {
	width: 0;
	height: 0;
	top: -10px;
	left: 50px;
	content: " ";
	display: block;
	position: absolute;
	border-bottom: 11px solid #f0f0f0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}

/*Share List*/
.share-list {
	margin-bottom: 0;
}

.share-list li {
	padding-left: 20px;
}

.share-list li:first-child {
	padding-left: 0;
}

.share-list li i {
	color: #72c02c;
	margin-right: 5px;
}

/*Table_Search-V1
------------------------------------*/
.table-search-v1 .btn-u.dropdown-toggle {
	border-left: none;
}

.table-search-v1 .btn-group .btn-u {
	top: 4px;
	padding: 0 6px;
	position: relative;
}

.table-search-v1 thead {
	border-bottom: solid 1px #ddd;
}

.table-search-v1 td {
	vertical-align: middle !important;
}

.table-search-v1 td a {
	color: #555;
}

.table-search-v1 td span {
	display: block;
}

.table-search-v1 .star-vote {
	margin: 5px 0 0px;
}

.table-search-v1 .star-vote li {
	padding: 0;
}

.table-search-v1 .progress {
	margin-bottom: 0;
}

.table-search-v1 .m-marker a {
	font-size: 11px;
}

.table-search-v1 .m-marker i {
	float: left;
	min-width: 20px;
	font-size: 26px;
}

.table-search-v1 .m-marker .display-b {
	top: 3px;
	display: block;
	line-height: 10px;
	position: relative;
}

.table-search-v1 .td-width {
	width: 40%;
}

/*Table_Search-V2
------------------------------------*/
.table-search-v2 .btn-u.dropdown-toggle {
	border-left: none;
}

.table-search-v2 .btn-group .btn-u {
	top: 4px;
	padding: 0 6px;
	position: relative;
}

.table-search-v2 thead {
	border-bottom: solid 1px #ddd;
}

.table-search-v2 td {
	vertical-align: middle !important;
}

.table-search-v2 td img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	display: block;
}

.table-search-v2 .user-names span,
.table-search-v2 .user-names small {
	display: block;
	text-align: center;
}

.table-search-v2 .user-names span {
	color: #555;
	font-size: 16px;
	position: relative;
}

.table-search-v2 .user-names small {
	color: #999;
	font-size: 13px;
}

.table-search-v2 td h3 {
	font-size: 16px;
	margin: 0 0 2px;
}

.table-search-v2 td a {
	color: #555;
}

.table-search-v2 td p {
	margin-bottom: 0;
}

.table-search-v2 td span {
	display: block;
}

.table-search-v2 td small {
	font-style: italic;
}

.table-search-v2 .s-icons {
	margin-bottom: 0;
}

.table-search-v2 .s-icons li {
	padding: 2px;
}

.table-search-v2 .table-buttons {
	margin: 0;
}

.table-search-v2 .table-buttons li {
	padding: 0;
}

.table-search-v2 .table-buttons .btn-u-sm {
	padding: 3px 6px;
}

.table-search-v2 .td-width {
	width: 55%;
}

/*People Say*/
.people-say img {
	float: left;
	width: 40px;
	height: auto;
	margin: 6px 10px 0 0;
}

.people-say .overflow-h span {
	font-weight: 700;
}

.people-say .overflow-h p {
	font-style: italic;
	line-height: 1.3;
}

.people-say .overflow-h small {
	text-align: right;
	font-style: italic;
}

/* Recent Work  */
.owl-work-v1 .owl-navigation {
	top: 3px;
	position: relative;
}

.owl-work-v1 .owl-navigation {
	margin-bottom: 10px;
}

.owl-work-v1 .item a {
	text-align: center;
}

.owl-work-v1 .item a:hover {
	text-decoration: none;
}

.owl-work-v1 .item a:hover strong {
	color: #555;
}

.owl-work-v1 .item em.overflow-hidden {
	display: block;
}

.owl-work-v1 .item a span {
	display: block;
	padding: 10px;
	border-bottom: solid 2px #eee;
}

.owl-work-v1 .item a strong {
	color: #555;
	display: block;
}

.owl-work-v1 .item a i {
	color: #777;
}

.owl-work-v1 .item a img {
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.owl-work-v1 .item a:hover img {
	opacity: 0.8;
	-webkit-transform: scale(1.2) rotate(3deg);
	-moz-transform: scale(1.2) rotate(3deg);
	-o-transform: scale(1.0) rotate(3deg);
	-ms-transform: scale(1.2) rotate(3deg);
	transform: scale(1.2) rotate(3deg);
}

.owl-work-v1 .item a:hover span {
	border-bottom: solid 2px #72c02c;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*Revolution Slider*/
body.dark .tp-banner-container .btn-u.btn-brd.btn-u-light {
	color: #fff;
}

.tp-banner-container .btn-u.btn-brd {
	font-weight: 400;
}

.tp-banner-container {
	position: relative;
}

.revolution-mch-1:after {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	content: ' ';
	position: absolute;
	background: rgba(0,0,0,0.3);
}

.revolution-ch1 {
	color: #fff;
	font-size: 40px;
	font-weight: 400;
	line-height: 60px;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
}

.revolution-ch2 {
	color: #fff;
	font-size: 20px;
	max-width: 470px;
	line-height: 32px;
	position: relative;
	text-align: center;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
}

.revolution-ch2:after {
	left: 50%;
	width: 70px;
	height: 2px;
	content: ' ';
	bottom: -20px;
	background: #fff;
	margin-left: -35px;
	position: absolute;
}


/*CUSTOM CSS BELOW*/

.bottom-space {
	padding-bottom: 10px;
}

.plus-btn {
	padding-top: 27px;
}

.no-underline {
	text-decoration: none !important;
}

.modal-large {
	width: 80%; /* respsonsive width */
	margin-left:-40%; /* width/2) */
}

.modal .modal-body {
	max-height: 400px;
	overflow-y: auto;
}

.headerbackground .container {
	width: 1034px;
}

.nav-mainmenu {
	padding-left: 50px;
	padding-top: 20px;
	font-weight: bold;
	font-size: larger;
}

.nav-mainmenu a {
	color: #fff !important;
}

.login-btn {
	background-image: url(../img/login-btn.png);
	background-repeat: no-repeat;
	width: 69px;
	height: 25px;
	border: none;
}

.signup-btn {
	background-image: url(../img/signup-btn.png);
	background-repeat: no-repeat;
	width: 69px;
	height: 25px;
	border: none;
}

.userbuttons a {
	padding: 3px 5px !important;
}

.shopping-cart {
	color: #fff;
	text-align: right;
	padding: 5px;
}

.contentbackground {
	background-image: url(../img/contentbackground.jpg);
	background-repeat: repeat-x;
}

.tvbackground {
	background-image: url(../img/tvbackground.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 1080px;
}

.tv-screen-form {
	padding: 300px 200px;
	color: #fff;
}

.tv-screen-form h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	padding: 12px 0 10px 0;
}

.tv-screen-form h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 25px;
	padding-bottom: 8px;
}

.left-group {
	padding-right: 5px;
}

.right-group {
	padding-left: 5px;
}

.custom-check {
	font-family: 'Open Sans', sans-serif;
}

.tclink,
.tclink:hover,
.tclink:focus {
	color: inherit;
	text-decoration: underline;
	outline: none;
}

.submit {
	padding-top: 12px;
}

.submit-btn {
	width:170px;
	height:50px;
	background: url(../img/submit-btn-grey.png) top left no-repeat;
	border: 0;
	float: right;
	padding-top: 10px;
}

.submit-btn:hover {
	background: url(../img/submit-btn-red.png) top left no-repeat;
}

/*CUSTOM CHECKS*/

.custom-check .bootstrap-checkbox .icon {
	margin-top: 0;
	width: 15px;
	height: 15px;
}

.custom-check .bootstrap-checkbox button.btn:hover > span.cb-icon-check,
.custom-check .bootstrap-checkbox button.btn:focus > span.cb-icon-check,
.custom-check .bootstrap-checkbox button.btn:active > span.cb-icon-check{
	background-position: 0 -22px !important;
}

.custom-check .bootstrap-checkbox button.btn > span.cb-icon-check-empty,
.custom-check .bootstrap-checkbox.disabled button.btn:hover > span.cb-icon-check-empty,
.custom-check .bootstrap-checkbox.disabled button.btn:active > span.cb-icon-check-empty{
	background-position: -23px -0px !important;
}

.custom-check .bootstrap-checkbox button.btn > span.cb-icon-check,
.custom-check .bootstrap-checkbox.disabled button.btn:hover > span.cb-icon-check,
.custom-check .bootstrap-checkbox.disabled button.btn:active > span.cb-icon-check{
	background-position: 0 0px !important;
}

.custom-check .bootstrap-checkbox > button.btn {
	padding: 2px 0 0 2px !important;
	width: 20px !important;
}

.custom-check {
	margin-bottom: 0;
}

.tv-screen-form .form-control {
	height: 45px;
}

.modal-dialog {
	height: 80%;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
	color: #e3030b;
}

.has-error .form-control:focus {
	border-color: #e3030b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #DB5D63;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #DB5D63;
}

.help-block {
	margin-top: 0;
}

.error-block {
	padding-left: 25px;
}

.header-background {
	background-image: url(../img/Background-TopNavigation.png);
	height:113px;
}


.logo-footer {
	background-image: url(../img/icon-64.png);
	width: 40px;
	margin-top: 17px;
	height: 26px;
}

.accordion a {
	color: #555;
}

.accordion a:active, a:hover {
	color: #E12933;
}

.header {
	z-index: 99;
	position: relative;
	/*border-bottom: solid 2px #A8A8A8;*/
}

.accordion-toggle {
	width: 100%;
	display: block;
	height: 100%;
}

.accordion-space {
	display: block;
	height: 20px;
}

.question-title {
	font-size: 14px;
	line-height: 1.6;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	bottom: 1px;
}

.bigheader {
	/*margin-top: 110px;*/
	text-align: center;
	width: 100%;
	height: 150px;
	background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 50%,transparent 50% );
	background-size: 6px 6px;
	background-color: black;
	color: white;
	padding: 40px;
	margin-bottom: 30px
}

.bigheader span {
	font-size: 42px;
	text-transform: uppercase;
	font-family: "Roboto condensed";
}

html {
	/*background-color: #3f3f3f;*/
}

body {
	padding-top: 110px;
	margin-bottom: 60px;
	background-color: transparent;
}

.super-wall-bg {
	height: 100%;
	background-image: url(../img/home/blackbg.png);
	background-repeat: repeat-x;
	text-align: center;
	padding: 0;
}

.super-wall-bg-sm {
	height: 100%;
	background-image: url(../img/home/bg-sm.png);
	background-repeat: repeat-x;
	text-align: center;
	padding: 0;
}

.super-wall-bg-xsm {
	height: 100%;
	background-image: url(../img/home/bg-xsm.png);
	background-repeat: repeat-x;
	text-align: center;
	padding: 0;
}

.profile_social_facebook_top {
	background: url(../img/icons/social/profile-fb.png) no-repeat;
}
.profile_social_twitter_top {
	background: url(../img/icons/social/profile-twit.png) no-repeat;
}
.profile_social_youtube_top {
	background: url(../img/icons/social/profile-yt.png) no-repeat;
}
.profile_social_instagram_top {
	background: url(../img/icons/social/profile-in.png) no-repeat;
}

.prof-bg {
	background-image: url(../../img/prof-bg.png);
}

.bio-background-top {
	width: 100%;
	background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 54% );
	background-size: 6px 6px;
	position: relative;
	height: 460px;
}

.bio-background-bottom {
	background-image: url(../../img/profilebottom.png);
	height: 370px;
	width: 100%;
	position: absolute;
	top: 460px;
}

.no-bottom-border {
	border-bottom: none;
}

.prof-title{
	text-align:center;
}

.prof-name{
	color:#EEEEEE;
	font-family: 'Roboto condensed', sans-serif;
	font-weight:700;
	font-size:48px;
	text-transform: uppercase;
}

.prof-cert{
	color:#FF3F3F;
	font-size:32px;
}

.prof-descrip{
	color:#FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size:21px;
	margin-top: -32px;
	text-transform: uppercase;
}

.bio-background-top > div > div.prof-title {
	padding-top: 15px;
}

.bio-background-top > div.container {
	padding-top: 48px;
}

.social-hub {
	text-align: center;
	width: 100%;
	/*background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 50% );
	background-size: 6px 6px;
	background-color: black;
	color: white;*/
}

#myDiv,
#myDiv > div {
	height: 420px !important;
}

.coverflow-bottom-box {
	height: 130px;
	margin-bottom: 40px;
}

.largeLabel {
	font-size: 23px !important;
	color: #363636 !important;
}

.followOnReshape {
	display: block;
	margin: 0 auto;
	width: 142px;
	height: 46px;
	background: url(../../img/followOnReshape.png) no-repeat;
}

.arrow-right,
.arrow-left {
	color: inherit;
}

.arrow-right {
	float: right;
	position: relative;
	top: 200px;
	left: 90px;
}

.arrow-left {
	position: relative;
	top: 200px;
	right: 60px;
}

/*.pattern-background {
	background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 50% );
	background-size: 6px 6px;
	background-color: black;
	}*/

	.body-transparent-bg {
		background-color: transparent;
	}

	.prof-location {
		color: #A8A8A8;
		font-family: 'Roboto', sans-serif;
		font-size: 19px;
		margin-top: -12px;
		text-transform: uppercase;
	}

	#wall {
		padding-top: 15px;
	}

	.largeLabel .fa {
		color: #d22130 !important;
	}

	.category-selector .btn-group {
		float: left;
		margin-bottom: 10px;
	}

	.category-selector .btn-group a.btn-primary {
		background-color: #d22130 !important;
		border-color: #d22130 !important;
	}

	.search-sidebar {
		position: fixed;
		top: 113px;
		bottom: 0;
		left: 0;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #000000;
		padding: 0;
		border-right: 1px solid #000000;
	}

	.results-container {
		padding-right: 1px;
		padding-left: 0px;
	}

	.block-options .btn,
	.input-group .btn,
	.modal-content .btn {
		margin-top: 0;
		margin-bottom: 0;
	}

	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px !important;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.breadcrumb.breadcrumb-top {
		background-color: transparent !important;
	}

	#modalNext {
		float: right;
		position: relative;
		background-image: url(../../img/rightarrow.png);
		height: 78px;
		display: block;
		background-repeat: no-repeat;
		width: 68px;
		top: 196px;
		z-index: 1;
	}

	#modalPrev {
		float: left;
		width: 68px;
		position: relative;
		background-image: url(../../img/leftarrow.png);
		background-repeat: no-repeat;
		height: 78px;
		display: block;
		top: 196px;
		z-index: 1;
	}

	#modalNext:hover {
		background-image: url(../../img/rightarrrowhover.png);
	}

	#modalPrev:hover {
		background-image: url(../../img/leftarrrowhover.png);
	}

	.view h4 {
		font-size: 13px;
		font-weight: 200;
	}

	.prof-video {
		min-height: 315px;
	}

	.prof-title i {
		float: right;
		color: #fff;
		cursor: pointer;
	}

	.fb-like-box {
		background: #fff;
	}