{% extends '::base.html.twig' %}

{% block title %}Home | {{ userInfo.publicAlias }} | Profile | Reshape{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/reshape/assets/plugins/royal-3d-coverflow/load/skin_modern_silver.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/reshape/assets/plugins/royal-3d-coverflow/load/html_content.css') }}"/>
    <style type="text/css">
      html {
        background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 53% );
        background-size: 6px 6px;
        background-color: #151515;
      }
      .btn-primary {
        background-color: #d22130;
        border-color: #d22130;
        color: #FFF;
      }
      .btn-primary:hover, .btn-default:hover {
        background-color: #FFF;
        color: #d22130;
        border-color: #d22130;
      }
      .bio-title{
        color: #ffffff;
        font-family: 'open sans', sans-serif;
        font-size: 25px;
      }
      .bio-snip{
        font-style: italic;
        color: rgb(119, 119, 119);
        margin-left: 13px;
        font-family: 'open sans',sans-serif, Helvetica;
        margin-top: -4px;
      }
      .bio-pic img {
        width: 110px;
        height: 110px;
        border-radius: 55px !important;
        border: 2px solid #454545;
        margin: 11px 0 0 30px;
      }
      .bio-text{
        color: rgb(244, 244, 244);
        margin-top: 8px;
        margin-left:-20px;
        text-align: justify;
        letter-spacing: 0px;

      }
      .bio-box{
        background: rgb(61,61,61) transparent;   /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(61, 61, 61, 0.6);   /* RGBa with 0.6 opacity */
        color:#ffffff;
      }
      .bio-box h3{
        font-family: 'Roboto-light', Helvetica, arial, sans-serif;
        font-weight: 300;
      }
      .cert-title{
        margin-top: 4px;
        color: #BABABA;
      }
      .award-title{
        margin-top: 9px;
        color: #BABABA;
      }
      .edu-title{
        margin-top: 19px;
        color: #BABABA;
      }
      .cert-logos{
        padding-bottom: 8px;
      }
      .bio-list{
        color: #E5E5E4;
        list-style: none;
        font-size: 12px;
      }
      .box-content{
        padding-left: 15px;
        padding-bottom: 1px;
        min-height: 190px;
      }
      .box-content-2{
        padding-left: 15px;
        padding-bottom: 1px;
        min-height: 221px;
      }
      .row-space{
        margin-top: 30px;
      }
      .box-icon{
        margin-top: 11px;
      }
      .spec-img{
        margin-left: -13px;
      }

      .bigtext {
        display: block;
        overflow: hidden;
        color:#E7E7E7;
      }

      .expand, .contract {
        cursor: pointer;
        font-weight: bold;
        text-align: right;
        color: #494949;
      }
      .expand:hover, .contract:hover {
        color: #121212;
      }

      .hide {
        display: none;
      }

      span:before, span:after, q:before, q:after {
        content: ''; content: none;
      }
      .imgWrap {
        position: relative;
        min-height: 100px;
      }

      .img-descrip {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(131, 131, 131, 0.72);
        color: #ffffff;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        padding: 31px 10px 10px 10px;
        bottom: 0;
                /*remove comment if you want a gradual transition between states
                -webkit-transition: visibility opacity 0.2s;
                */
              }


              .imgWrap:hover .img-descrip {
                visibility: visible;
                opacity: 1;
              }
              .scrollup {
                width: 44px;
                height: 35px;
                position: fixed;
                bottom: 111px;
                right: 100px;
                display: none;
                text-indent: -9999px;
                background: url('{{ asset('bundles/reshape/img/icon_top.png') }}') no-repeat;
                background-color: #000;
              }
            </style>
          {% endblock %}

          {% block body -%}
            <!-- Beg Content Part -->
            <div class="container-fluid social-hub" style="padding-bottom:10px;">
              <div id="wall" class="full-wall" style="height:auto;">
                <div class="row">
                  <div class="col-md-12 prof-title">

                    <div class="prof-name">
                      {{ userInfo.publicAlias }} <span class="prof-cert">{{ userInfo.title }}</span></div>
                      <br>
                      <div class="prof-descrip">
                        <p>
                          {{ userInfo.tagLine }}
                        </p>
                      </div>
                      <div class="prof-location">
                        <p>
                          {{ userInfo.city|upper }}, {{ userInfo.region|upper }}
                        </p>
                      </div>
                      <ul class="breadcrumb breadcrumb-top" style="font-size: 15px; margin-top: -13px;">
                        <li style="margin-left: -39px;"><a href="{{ path('profile', { 'apiId': apiId }) }}" style="color:#E12933;">Home</a></li>
                        <li style="color:#B6B6B6;">Bio</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container" style="padding-bottom:50px;">
                <div class="row row-space">
                  <div class="col-md-4 pull-right">
                    <a href="#"><button class="btn btn-primary" style="float:right;">CHECKOUT MY UPCOMING SESSIONS</button></a>
                  </div>
                </div>
                <div class="row row-space">
                  <div class="col-md-12">
                    <div class="col-md-4 pull-left">
                      <h3 class="bio-title">A little about {{ userInfo.publicAlias }}</h3>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="bio-snip">{{ userImgs.descr_short }} </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="bio-pic"><img src="{{ userImgs.picture_url }}" alt="Marc Megna"></div>
                  </div>
                  <div class="col-md-10">
                    <div class="bio-text">
                      <span class="bigtext">
                        <p>
                          {{ userInfo.bio }}
                        </p>
                      </span>

                      <p class="expand"><i class="fa fa-arrow-down"></i> Click to Read More <i class="fa fa-arrow-down"></i></p>
                      <p class="contract hide"><i class="fa fa-arrow-up"></i> Click to Hide <i class="fa fa-arrow-up"></i></p>
                    </div>
                  </div>
                </div>
                <div class="row row-space">
                  <div class="col-md-4">
                    <div class="bio-box">
                      <div class="box-content">
                        <span>
                          <img class="box-icon" src="{{ asset('bundles/reshape/img/certicon.png') }}" alt="certification">
                        </span>
                        <h3 class="cert-title">Certifications</h3>
                        <div class="cert-logos">
                          {% for cert in userClassif.4.attributes %}
                            <img src="{{ cert.picture_url|replace({"w_200" : "w_50"}) }}">
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="bio-box">
                      <div class="box-content">
                        <span>
                          <img class="box-icon" src="{{ asset('bundles/reshape/img/awardicon.png') }}" alt="Awards & Accomplishments">
                        </span>
                        <h3 class="award-title">Awards & Accomplishments</h3>
                        <ul class="bio-list">
                          {% for aw in userInfo.lineItems %}
                            <li>{{ aw.name }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="bio-box">
                      <div class="box-content">
                        <span>
                          <img class="box-icon" src="{{ asset('bundles/reshape/img/eduicon.png') }}" alt="Education">
                        </span>
                        <h3 class="edu-title">Education</h3>
                        <h4 style="font-size:15px;">{{ userInfo.mainDegree }}</h4>
                        <p style="margin-top:-8px">{{ userInfo.mainSchool }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row row-space">
                  <div class="col-md-8">
                    <div class="bio-box">
                      <div class="box-content-2">
                        <span>
                          <img class="box-icon" src="{{ asset('bundles/reshape/img/specicon.png') }}" alt="Specialties">
                        </span>
                        <h3 class="edu-title">Specialties</h3>
                        <div class="row" style="margin-left:-15px; margin-top:12px;">
                          {% for spec in userClassif.0.attributes %}
                            <div class="col-md-2">
                              <div class="imgWrap">
                                <img src="{{ spec.picture_url|replace({"w_200" : "w_90"}) }}" alt="{{ spec.name }}">
                                <p class="img-descrip">{{ spec.name }}</p>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="bio-box">
                      <div class="box-content-2">
                        <span>
                          <img class="box-icon" src="{{ asset('bundles/reshape/img/acticon.png') }}" alt="Activities">
                        </span>
                        <h3 class="edu-title">Activities</h3>
                        <ul class="bio-list">
                          {% for act in userClassif.1.attributes %}
                            <li>{{ act.name }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 pull-right">
                  <a href="#" class="scrollup"><i style="color:#fff;" class="fa fa-angle-double-up"></i></a>
                </div>
              </div>
            </div>
            <!-- End Content Part -->
          {% endblock %}

          {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript">
              $(function () {
            var animspeed = 950; // animation speed in milliseconds

            var $span = $('.bigtext');
            var height = $span.height();
            var mini = $('.span').eq(0).height() + $('.bigtext p').height();

            $span.attr('data-fullheight', height + 'px');
            $span.attr('data-miniheight', mini + 'px');
            $span.css('height', mini + 'px');


            $('.expand').on('click', function (e) {
              $text = $(this).prev();

              $text.animate({
                'height': $text.attr('data-fullheight')
              }, animspeed);
              $(this).next('.contract').removeClass('hide');
              $(this).addClass('hide');
            });

            $('.contract').on('click', function (e) {
              $text = $(this).prev().prev();

              $text.animate({
                'height': $text.attr('data-miniheight')
              }, animspeed);
              $(this).prev('.expand').removeClass('hide');
              $(this).addClass('hide');
            });
          });
</script>
<script>
  $(document).ready(function () {

    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $('.scrollup').fadeIn();
      } else {
        $('.scrollup').fadeOut();
      }
    });

    $('.scrollup').click(function () {
      $("html, body").animate({
        scrollTop: 0
      }, 600);
      return false;
    });

  });
</script>
{% endblock %}

