{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/reshape/js/datepicker/css/datepicker.css') }}" type="text/css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/css/bootstrapValidator.min.css"/>
<link rel="stylesheet" href="{{ asset('bundles/reshape/css/bootstrap-formhelpers.min.css') }}"/>
{% endblock %}

{% block body -%}

<div class="row">

  <div class="col-lg-12">

    <h1 class="page-header text-center">Complete Profile</h1>

    <h4 class="text-center">{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</h4>

    <div id="rootwizard">

      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul>
              <li><a id="Tab1" href="#tab1" data-toggle="tab">Step 1</a></li>
              <li><a id="Tab2" href="#tab2" data-toggle="tab">Step 2</a></li>
              {% if app.user.rol != 'ROLE_USER' %}
              <li><a id="Tab3" href="#tab3" data-toggle="tab">Step 3</a></li>
              <li><a id="Tab4" href="#tab4" data-toggle="tab">Step 4</a></li>
              <li><a id="Tab5" href="#tab5" data-toggle="tab">Step 5</a></li>
              <li><a id="Tab6" href="#tab6" data-toggle="tab">Step 6</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <div class="progress">
        <div class="bar progress-bar progress-bar-striped active" role="progressbar">
        </div>
      </div>

      {{ form_start(edit_form, {'attr': {'class': 'form-horizontal', 'id': 'editForm' }}) }}
      {{ form_errors(edit_form) }}

      <div class="tab-content">

        <div class="tab-pane" id="tab1">
          <div class="form-group">
            {{ form_label(edit_form.firstName, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
            <div class="col-lg-4">
              {{ form_widget(edit_form.firstName, {'attr': {'class': 'form-control' }}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(edit_form.lastName, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
            <div class="col-lg-4">
              {{ form_widget(edit_form.lastName, {'attr': {'class': 'form-control' }}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(edit_form.email, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
            <div class="col-lg-4">
              {{ form_widget(edit_form.email, {'attr': {'class': 'form-control' }}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(edit_form.password.first, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }})
          }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.password.first, {'attr': {'class': 'form-control' }}) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_label(edit_form.password.second, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}
          ) }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.password.second, {'attr': {'class': 'form-control' }}) }}
          </div>
        </div>
      </div>


      <div class="tab-pane" id="tab2">
        <div class="form-group">
          {{ form_label(edit_form.country, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.country, {'attr': {'class': 'form-control' }}) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_label(edit_form.address, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.address, {'attr': {'class': 'form-control' }}) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_label(edit_form.city, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.city, {'attr': {'class': 'form-control' }}) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_label(edit_form.state, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.state, {'attr': {'class': 'form-control' }}) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_label(edit_form.zip, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.zip, {'attr': {'class': 'form-control' }}) }}
          </div>
          <span id="errmsg"></span>
        </div>
        <div class="form-group">
          {{ form_label(edit_form.phone, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
          <div class="col-lg-4">
            {{ form_widget(edit_form.phone, {'attr': {'class': 'form-control bfh-phone', 'data-country': 'ninerlabs_reshapebundle_professionaluser_country' }}) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_label(edit_form.birthDate, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
          <div class="col-lg-4">
            <div class="input-group date" id="dpYears" data-date="12-02-1980" data-date-format="mm-dd-yyyy"
            data-date-viewmode="years">
            {{ form_widget(edit_form.birthDate, {'attr': {'class': 'form-control span2', 'readonly': '', 'size': '16' }}
            ) }}
            <span class="input-group-btn add-on">
              <button type="button" class="btn btn-primary"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.genre, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
        <div class="col-lg-4">
          {{ form_widget(edit_form.genre, {'attr': {'class': 'form-control' }}) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.timezone, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
        <div class="col-lg-4">
          {{ form_widget(edit_form.timezone, {'attr': {'class': 'form-control' }}) }}
        </div>
      </div>

    </div>

    {% if app.user.rol != 'ROLE_USER' %}
    <div class="tab-pane" id="tab3">
      <h3>Professional Experience</h3>

      {% if not profexp %}
      <div class="form-group has-feedback">
        <div class="col-lg-4">
          <label class="control-label"
          for="ninerlabs_reshapebundle_professionaluser_profExp_profession">Profession</label>
          <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_profession"
          name="profProfession[]" maxlength="45" class="form-control"
          data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][profession]">
          <small class="help-block" data-bv-validator="stringLength"
          data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][profession]"
          data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
        </small>
      </div>
      <div class="col-lg-4">
        <label class="control-label">Length of time</label>

        <div class="input-group" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
          <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_time" name="profTime[]"
          maxlength="45" class="form-control dpd0-1"
          data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][time]">
          <span class="input-group-addon">To</span>
          <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_timeto"
          name="profTimeto[]"
          maxlength="45" class="form-control dpd0-2"
          data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][timeto]">
        </div>
        <i class="form-control-feedback"
        data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]"
        style="display: none; top: 0px; z-index: 100;"></i><i class="form-control-feedback"
        data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][timeto]"
        style="display: none; top: 0px; z-index: 100;"></i><i
        class="form-control-feedback"
        data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][time]"
        style="display: none; top: 0px; z-index: 100;"></i><i class="form-control-feedback"
        data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][profession]"
        style="display: none; top: 0px; z-index: 100;"></i>
        <small class="help-block" data-bv-validator="stringLength"
        data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][time]"
        data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
      </small>
      <small class="help-block" data-bv-validator="stringLength"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][timeto]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
    </small>
  </div>
  <div class="col-lg-3">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_profExp_locationBusiness">Location
    or Business</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_locationBusiness"
    name="profLocationBusiness[]" maxlength="45" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]">
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default addButton" id="profesionalTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
</div>
{% endif %}

{% for ent in profexp %}
<div class="form-group has-feedback">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_profExp_profession">Profession</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_profession"
    name="profProfession[]" maxlength="45" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][profession]"
    value={{ ent.profession }}>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][profession]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-4">
  <label class="control-label">Length of time</label>

  <div class="input-group" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_time" name="profTime[]"
    maxlength="45" class="form-control dpd{{ loop.index }}-1"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][time]"
    value={{ ent.timeFrom }}>
    <span class="input-group-addon">To</span>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_timeto"
    name="profTimeto[]"
    maxlength="45" class="form-control dpd{{ loop.index }}-2"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][timeto]"
    value={{ ent.timeTo }}>
  </div>
  <i class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]"
  style="display: none; top: 0px; z-index: 100;"></i><i class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][timeto]"
  style="display: none; top: 0px; z-index: 100;"></i><i
  class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][time]"
  style="display: none; top: 0px; z-index: 100;"></i><i class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][profession]"
  style="display: none; top: 0px; z-index: 100;"></i>
  <small class="help-block" data-bv-validator="stringLength"
  data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][time]"
  data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
<small class="help-block" data-bv-validator="stringLength"
data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][timeto]"
data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
</div>
<div class="col-lg-3">
  <label class="control-label"
  for="ninerlabs_reshapebundle_professionaluser_profExp_locationBusiness">Location
  or Business</label>
  <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_locationBusiness"
  name="profLocationBusiness[]" maxlength="45" class="form-control"
  data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]"
  value="{{ ent.locationBusiness }}">
  <small class="help-block" data-bv-validator="stringLength"
  data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]"
  data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
</div>
{% if loop.first %}
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default addButton" id="profesionalTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
{% else %}
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
{% endif %}
</div>
{% endfor %}

<div class="form-group hide has-feedback" id="divprofesionalTemplate">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_profExp_profession">Profession</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_profession"
    name="profProfession[]" maxlength="45" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][profession]">
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][profession]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-4">
  <label class="control-label">Length of time</label>

  <div class="input-group" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_time" name="profTime[]"
    maxlength="45" class="form-control dpd1"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][time]">
    <span class="input-group-addon">To</span>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_timeto" name="profTimeto[]"
    maxlength="45" class="form-control dpd2"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][timeto]">
  </div>
  <i class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]"
  style="display: none; top: 0px; z-index: 100;"></i><i class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][timeto]"
  style="display: none; top: 0px; z-index: 100;"></i><i
  class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][time]"
  style="display: none; top: 0px; z-index: 100;"></i><i class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[profExp][profession]"
  style="display: none; top: 0px; z-index: 100;"></i>
  <small class="help-block" data-bv-validator="stringLength"
  data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][time]"
  data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
<small class="help-block" data-bv-validator="stringLength"
data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][timeto]"
data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
</div>
<div class="col-lg-3">
  <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_profExp_locationBusiness">Location
    or Business</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_profExp_locationBusiness"
    name="profLocationBusiness[]" maxlength="45" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]">
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[profExp][locationBusiness]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
</div>

<h3>References</h3>

{% if not ref %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_references_refName">Reference
      Name</label>
      <input type="text" id="ninerlabs_reshapebundle_professionaluser_references_refName" name="refName[]"
      maxlength="255" class="form-control"
      data-bv-field="ninerlabs_reshapebundle_professionaluser[references][refName]"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][refName]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="stringLength"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[references][refName]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
    </small>
  </div>
  <div class="col-lg-2">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_references_phone">Phone
      Number</label>
      <input type="number" id="ninerlabs_reshapebundle_professionaluser_references_phone" name="refPhone[]"
      class="form-control" data-bv-field="ninerlabs_reshapebundle_professionaluser[references][phone]"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][phone]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="integer"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[references][phone]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid number
    </small>
  </div>
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_references_relationship">Relationship</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_references_relationship"
    name="refRelationship[]" maxlength="45" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[references][relationship]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][relationship]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[references][relationship]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-2 plus-btn">
  <button type="button" class="btn btn-default addButton" id="referencesTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
</div>
{% endif %}

{% for ent in ref %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_references_refName">Reference
      Name</label>
      <input type="text" id="ninerlabs_reshapebundle_professionaluser_references_refName" name="refName[]"
      maxlength="255" class="form-control"
      data-bv-field="ninerlabs_reshapebundle_professionaluser[references][refName]"
      value="{{ ent.refName }}"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][refName]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="stringLength"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[references][refName]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
    </small>
  </div>
  <div class="col-lg-2">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_references_phone">Phone
      Number</label>
      <input type="number" id="ninerlabs_reshapebundle_professionaluser_references_phone"
      name="refPhone[]"
      class="form-control"
      data-bv-field="ninerlabs_reshapebundle_professionaluser[references][phone]"
      value="{{ ent.phone }}"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][phone]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="integer"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[references][phone]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid number
    </small>
  </div>
  <div class="col-lg-4">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_references_relationship">Relationship</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_references_relationship"
    name="refRelationship[]" maxlength="45" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[references][relationship]"
    value="{{ ent.relationship }}"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][relationship]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[references][relationship]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
{% if loop.first %}
<div class="col-lg-2 plus-btn">
  <button type="button" class="btn btn-default addButton" id="referencesTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
{% else %}
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
{% endif %}
</div>
{% endfor %}

<div class="form-group hide" id="divreferencesTemplate">
  <div class="col-lg-4">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_references_refName">Reference
      Name</label>
      <input type="text" id="ninerlabs_reshapebundle_professionaluser_references_refName" name="refName[]"
      maxlength="255" class="form-control"
      data-bv-field="ninerlabs_reshapebundle_professionaluser[references][refName]"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][refName]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="stringLength"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[references][refName]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
    </small>
  </div>
  <div class="col-lg-2">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_references_phone">Phone
      Number</label>
      <input type="number" id="ninerlabs_reshapebundle_professionaluser_references_phone" name="refPhone[]"
      class="form-control" data-bv-field="ninerlabs_reshapebundle_professionaluser[references][phone]"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][phone]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="integer"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[references][phone]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid number
    </small>
  </div>
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_references_relationship">Relationship</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_references_relationship"
    name="refRelationship[]" maxlength="45" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[references][relationship]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[references][relationship]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[references][relationship]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
</div>

<h3>Certifications</h3>

{% if not cert %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_certifications_cert">Certification</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_certifications_cert"
    name="certCert[]"
    maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[certifications][cert]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[certifications][cert]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[certifications][cert]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-2 plus-btn" id="certificationsTemplate">
  <button type="button" class="btn btn-default addButton" id="certificationsTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
</div>
{% endif %}

{% for ent in cert %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_certifications_cert">Certification</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_certifications_cert"
    name="certCert[]"
    maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[certifications][cert]"
    value="{{ ent.cert }}"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[certifications][cert]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[certifications][cert]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
{% if loop.first %}
<div class="col-lg-2 plus-btn" id="certificationsTemplate">
  <button type="button" class="btn btn-default addButton" id="certificationsTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
{% else %}
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
{% endif %}
</div>
{% endfor %}

<div class="form-group hide" id="divcertificationsTemplate">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_certifications_cert">Certification</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_certifications_cert" name="certCert[]"
    maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[certifications][cert]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[certifications][cert]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[certifications][cert]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
</div>

<h3>Education</h3>

{% if not edu %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_education_education">Education</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_education"
    name="eduEeducation[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[education][education]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][education]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[education][education]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-2">
  <label class="control-label"
  for="ninerlabs_reshapebundle_professionaluser_education_degree">Degree</label>
  <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_degree" name="eduDegree[]"
  maxlength="45" class="form-control"
  data-bv-field="ninerlabs_reshapebundle_professionaluser[education][degree]"><i
  class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][degree]"
  style="display: none;"></i>
  <small class="help-block" data-bv-validator="stringLength"
  data-bv-for="ninerlabs_reshapebundle_professionaluser[education][degree]"
  data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
</div>
<div class="col-lg-4">
  <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_education_schoolUni">School
    /
    University</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_schoolUni"
    name="eduSschoolUni[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-2 plus-btn">
  <button type="button" class="btn btn-default addButton" id="educationTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
</div>
{% endif %}

{% for ent in edu %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_education_education">Education</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_education"
    name="eduEeducation[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[education][education]"
    value="{{ ent.education }}"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][education]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[education][education]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-2">
  <label class="control-label"
  for="ninerlabs_reshapebundle_professionaluser_education_degree">Degree</label>
  <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_degree" name="eduDegree[]"
  maxlength="45" class="form-control"
  data-bv-field="ninerlabs_reshapebundle_professionaluser[education][degree]"
  value="{{ ent.degree }}"><i
  class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][degree]"
  style="display: none;"></i>
  <small class="help-block" data-bv-validator="stringLength"
  data-bv-for="ninerlabs_reshapebundle_professionaluser[education][degree]"
  data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
</div>
<div class="col-lg-4">
  <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_education_schoolUni">School
    /
    University</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_schoolUni"
    name="eduSschoolUni[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"
    value="{{ ent.schoolUni }}"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
{% if loop.first %}
<div class="col-lg-2 plus-btn">
  <button type="button" class="btn btn-default addButton" id="educationTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
{% else %}
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
{% endif %}
</div>
{% endfor %}

<div class="form-group hide" id="diveducationTemplate">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_education_education">Education</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_education"
    name="eduEeducation[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[education][education]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][education]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[education][education]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-2">
  <label class="control-label"
  for="ninerlabs_reshapebundle_professionaluser_education_degree">Degree</label>
  <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_degree" name="eduDegree[]"
  maxlength="45" class="form-control"
  data-bv-field="ninerlabs_reshapebundle_professionaluser[education][degree]"><i
  class="form-control-feedback"
  data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][degree]"
  style="display: none;"></i>
  <small class="help-block" data-bv-validator="stringLength"
  data-bv-for="ninerlabs_reshapebundle_professionaluser[education][degree]"
  data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
</small>
</div>
<div class="col-lg-4">
  <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_education_schoolUni">School /
    University</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_education_schoolUni"
    name="eduSschoolUni[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[education][schoolUni]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
</div>

</div>
{# </div> #}

<div class="tab-pane" id="tab4">
  <h3>Specialty</h3>

  {% if not spe %}
  <div class="form-group">
    <div class="col-lg-4">
      <label class="control-label"
      for="ninerlabs_reshapebundle_professionaluser_specialty_specialty">Specialty</label>
      <input type="text" id="ninerlabs_reshapebundle_professionaluser_specialty_specialty"
      name="speSpecialty[]"
      maxlength="255" class="form-control"
      data-bv-field="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="stringLength"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid
      length
    </small>
  </div>
  <div class="col-lg-2 plus-btn">
    <button type="button" class="btn btn-default addButton" id="specialtiesTemplate">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
{% endif %}

{% for ent in spe %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_specialty_specialty">Specialty</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_specialty_specialty"
    name="speSpecialty[]"
    maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"
    value="{{ ent.specialty }}"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid
    length
  </small>
</div>
{% if loop.first %}
<div class="col-lg-2 plus-btn">
  <button type="button" class="btn btn-default addButton" id="specialtiesTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
{% else %}
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
{% endif %}
</div>
{% endfor %}

<div class="form-group hide" id="divspecialtiesTemplate">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_specialty_specialty">Specialty</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_specialty_specialty"
    name="speSpecialty[]"
    maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[specialty][specialty]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
  </small>
</div>
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
</div>

<h3>Client Specialties</h3>

{% if not clspec %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_clientSpec_clientSpec">Client
    Speacialty</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_clientSpec_clientSpec"
    name="clientSpecSpec[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid
    length
  </small>
</div>
<div class="col-lg-2 plus-btn">
  <button type="button" class="btn btn-default addButton" id="clientspecialtiesTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
</div>
{% endif %}

{% for ent in clspec %}
<div class="form-group">
  <div class="col-lg-4">
    <label class="control-label"
    for="ninerlabs_reshapebundle_professionaluser_clientSpec_clientSpec">Client
    Speacialty</label>
    <input type="text" id="ninerlabs_reshapebundle_professionaluser_clientSpec_clientSpec"
    name="clientSpecSpec[]" maxlength="255" class="form-control"
    data-bv-field="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"
    value="{{ ent.clientSpec }}"><i
    class="form-control-feedback"
    data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"
    style="display: none;"></i>
    <small class="help-block" data-bv-validator="stringLength"
    data-bv-for="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"
    data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid
    length
  </small>
</div>
{% if loop.first %}
<div class="col-lg-2 plus-btn">
  <button type="button" class="btn btn-default addButton" id="clientspecialtiesTemplate">
    <i class="fa fa-plus"></i>
  </button>
</div>
{% else %}
<div class="col-lg-1 plus-btn">
  <button type="button" class="btn btn-default removeButton">
    <i class="fa fa-minus"></i>
  </button>
</div>
{% endif %}
</div>
{% endfor %}

<div class="form-group hide" id="divclientspecialtiesTemplate">
  <div class="col-lg-4">
    <label class="control-label" for="ninerlabs_reshapebundle_professionaluser_clientSpec_clientSpec">Client
      Speacialty</label>
      <input type="text" id="ninerlabs_reshapebundle_professionaluser_clientSpec_clientSpec"
      name="clientSpecSpec[]" maxlength="255" class="form-control"
      data-bv-field="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"><i
      class="form-control-feedback"
      data-bv-icon-for="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"
      style="display: none;"></i>
      <small class="help-block" data-bv-validator="stringLength"
      data-bv-for="ninerlabs_reshapebundle_professionaluser[clientSpec][clientSpec]"
      data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length
    </small>
  </div>
  <div class="col-lg-1 plus-btn">
    <button type="button" class="btn btn-default removeButton">
      <i class="fa fa-minus"></i>
    </button>
  </div>
</div>

<h3>Upload Profile Photo</h3>

<div class="form-group">
  <div class="col-lg-4">
    {{ form_label(edit_form.photo, null, {'label_attr': {'class': 'control-label' }}) }}
    {{ form_widget(edit_form.photo, {'attr': {'class': 'form-control' }}) }}
  </div>
</div>

</div>

<div class="tab-pane" id="tab5">
  <h3>Digital Footprint</h3>

  <div class="form-group">
    {{ form_label(edit_form.website, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
    <div class="col-lg-4">
      {{ form_widget(edit_form.website, {'attr': {'class': 'form-control' }}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(edit_form.facebook, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }})
  }}
  <div class="col-lg-4">
    {{ form_widget(edit_form.facebook, {'attr': {'class': 'form-control' }}) }}
  </div>
</div>
<div class="form-group">
  {{ form_label(edit_form.twitter, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
  <div class="col-lg-4">
    {{ form_widget(edit_form.twitter, {'attr': {'class': 'form-control' }}) }}
  </div>
</div>
<div class="form-group">
  {{ form_label(edit_form.instagram, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }})
}}
<div class="col-lg-4">
  {{ form_widget(edit_form.instagram, {'attr': {'class': 'form-control' }}) }}
</div>
</div>
<div class="form-group">
  {{ form_label(edit_form.youtube, null, {'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
  <div class="col-lg-4">
    {{ form_widget(edit_form.youtube, {'attr': {'class': 'form-control' }}) }}
  </div>
</div>
</div>

<div class="tab-pane" id="tab6">
  <h3>Additional Info</h3>

  <div class="form-group">
    <div class="col-lg-4">
      {{ form_widget(edit_form.trainTeach, {'attr': {'class': 'form-control' }}) }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-4">
      {{ form_widget(edit_form.videoBefore, {'attr': {'class': 'form-control' }}) }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-4">
      {{ form_widget(edit_form.reshapeHear, {'attr': {'class': 'form-control' }}) }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-6">
      {{ form_label(edit_form.addInfo, null, {'label': 'Additional information you wish to share with us', 'label_attr': {'class': 'control-label' }}) }}
      {{ form_widget(edit_form.addInfo, {'attr': {'class': 'form-control', 'rows': 10 }}) }}
    </div>
  </div>

</div>

<input type="hidden" id="count" name="count" value="{{ count }}">
<input type="hidden" id="currentstep" name="currentstep" value="">

{% endif %}

<ul class="pager wizard">
  {# <li class="previous first" style="display:none;"><a href="#">First</a></li> #}
  <li class="previous"><a href="#">Previous</a></li>
  {# <li class="next last" style="display:none;"><a href="#">Last</a></li> #}
  <li class="next"><a href="#">Next</a></li>
  <li class="next finish" style="display: none;" id="finish"><a hre="#">Finish</a></li>
</ul>

</div>

{{ form_widget(edit_form.username, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.professional, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.tc, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.submit, { 'label': 'Update', 'attr': {'style': 'display: none'} }) }}

{% if app.user.rol == 'ROLE_USER' %}

{{ form_widget(edit_form.username, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.photo, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.website, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.facebook, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.twitter, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.instagram, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.youtube, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.trainTeach, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.videoBefore, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.reshapeHear, {'attr': {'style': 'display:none;' }}) }}
{{ form_widget(edit_form.addInfo, {'attr': {'style': 'display:none;' }}) }}

{% endif %}

{{ form_end(edit_form) }}

</div>

</div>

</div>



{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  var c = {{ count }};
</script>
<script src="{{ asset('bundles/reshape/js/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/reshape/js/jquery.bootstrap.wizard.min.js') }}"></script>
<script src="{{ asset('bundles/reshape/js/custom.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script>
<script src="{{ asset('bundles/reshape/js/bootstrap-formhelpers.min.js') }}"></script>
{% endblock %}