{% extends '::base.html.twig' %}

{% block title %}Home | {{ userInfo.publicAlias }} | Profile | Reshape{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/reshape/assets/plugins/royal-3d-coverflow/load/skin_modern_silver.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/reshape/assets/plugins/royal-3d-coverflow/load/html_content.css') }}"/>
{% endblock %}

{% block body -%}
<!-- Beg Content Part -->
<div class="bio-background-top" style="background-color: {{ userInfo.backColor ? userInfo.backColor : '#151515' }};">
  <div class="row">
    <div class="col-md-12 prof-title">

      <div class="prof-name">
        {{ userInfo.publicAlias }} <span class="prof-cert">{{ userInfo.title }}</span></div>
        <br>
        <div class="prof-descrip">
          <p>
            {{ userInfo.tagLine }}
          </p>
        </div>
        <div class="prof-location">
          <p>
            {{ userInfo.city|upper }}, {{ userInfo.region|upper }}
          </p>
        </div>
      </div>
    </div>

    <div class="bio-background-bottom"></div>

    <div class="container">
      <div class="row">
        <a class="arrow-left" href="javascript:gotoPrevThumb();">
          <i class="fa fa-chevron-circle-left fa-5x"></i>
        </a>
        <a class="arrow-right" href="javascript:gotoNextThumb();">
          <i class="fa fa-chevron-circle-right fa-5x"></i>
        </a>
        <div class="col-lg-12">

          <!-- div used as a holder for the coverflow -->
          <div id="myDiv"></div>

          <!-- coverflow data -->
          <div id="coverflowData" style="display: none;">

            <!-- category  -->
            <ul data-cat="Category one">
              {% for slide in slides %}
              <ul>
                <li data-type="media" data-width="1024" data-height="700" data-url="{{ slide.video_id ? 'https://www.youtube.com/watch?v=' ~ slide.video_id : slide.picture_url ~ '.png' }}"></li>
                <li data-thumbnail-path="{{ slide.picture_url }}"></li>
                <li data-thumbnail-text="" data-thumbnail-text-title-offset="35" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="7">
                  <p class="largeLabel">{{ slide.title }}</p>
                  <p class="smallLabel">{{ slide.description }}</p>
                </li>
                <li data-info="">
                  <p class="mediaDescriptionHeader">{{ slide.title }}</p>
                  <p class="mediaDescriptionText">{{ slide.description }}</p>
                </li>
              </ul>
              {% endfor %}
            </ul>
            <!-- end  -->

          </div>
        </div>
      </div>
      <div class="row coverflow-bottom-box">
        <div class="col-md-3 text-center">
          <img src="{{ userImgs.logo_url }}">
        </div>
        <div class="col-md-6 bio-paragraph text-center" id="slide_text">
        </div>
        <div class="col-md-3 text-center">
          <a class="followOnReshape" href="#"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content Part -->
  {% endblock %}

  {% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/reshape/assets/plugins/royal-3d-coverflow/java/FWDRoyal3DCoverflow_uncompressed.js') }}"></script>
  <script type="text/javascript">
    var coverflow;

    FWDR3DCovUtils.onReady(function()
    {
      var videoWidth = window.innerWidth * (80 / 100);
      var videoHeight = window.innerHeight * (80 / 100);

      var width = window.innerWidth - 20;

      if( width < 980 )
        width = 980;

      coverflow = new FWDRoyal3DCoverflow({
          //required settings
          coverflowHolderDivId:"myDiv",
          coverflowDataListDivId:"coverflowData",
          displayType:"responsive",
          autoScale:"yes",
          coverflowWidth: width,
          coverflowHeight:400,
          skinPath:"{{ asset('bundles/reshape/assets/plugins/royal-3d-coverflow/load/skin_modern_silver') }}",

          //main settings
          backgroundColor:"",
          backgroundImagePath:"",
          thumbnailsBackgroundImagePath:"",
          scrollbarBackgroundImagePath:"",
          backgroundRepeat:"none",
          showDisplay2DAlways:"no",
          coverflowStartPosition:"center",
          numberOfThumbnailsToDisplayLeftAndRight:4,
          slideshowDelay:5000,
          autoplay:"no",
          showPrevButton:"no",
          showNextButton:"no",
          showSlideshowButton:"no",
          disableNextAndPrevButtonsOnMobile:"no",
          controlsMaxWidth:940,
          slideshowTimerColor:"#777777",
          showContextMenu:"no",
          addKeyboardSupport:"yes",

          //thumbnail settings
          thumbnailWidth:588,
          thumbnailHeight:330,
          thumbnailXOffset3D:85,
          thumbnailXSpace3D:38,
          thumbnailZOffset3D:142,
          thumbnailZSpace3D:88,
          thumbnailYAngle3D:61,
          thumbnailXOffset2D:20,
          thumbnailXSpace2D:30,
          thumbnailBorderSize:0,
          thumbnailBackgroundColor:"",
          thumbnailBorderColor1:"",
          thumbnailBorderColor2:"",
          transparentImages:"yes",
          maxNumberOfThumbnailsOnMobile:13,
          showThumbnailsGradient:"no",
          showThumbnailsHtmlContent:"no",
          textBackgroundColor:"transparent",
          textBackgroundOpacity:.7,
          showText:"yes",
          showTextBackgroundImage:"no",
          showThumbnailBoxShadow:"yes",
          thumbnailBoxShadowCss:"0px 2px 2px #555555",
          showReflection:"yes",
          reflectionHeight:60,
          reflectionDistance:0,
          reflectionOpacity:.2,

          //scrollbar settings
          showScrollbar:"no",
          disableScrollbarOnMobile:"yes",
          enableMouseWheelScroll:"yes",
          scrollbarHandlerWidth:300,
          scrollbarTextColorNormal:"#777777",
          scrollbarTextColorSelected:"#000000",

          //combobox settings
          showComboBox:"no",
          startAtCategory:1,
          selectLabel:"SELECT CATEGORIES",
          allCategoriesLabel:"All Categories",
          showAllCategories:"no",
          comboBoxPosition:"topright",
          selectorBackgroundNormalColor1:"#fcfdfd",
          selectorBackgroundNormalColor2:"#e4e4e4",
          selectorBackgroundSelectedColor1:"#a7a7a7",
          selectorBackgroundSelectedColor2:"#8e8e8e",
          selectorTextNormalColor:"#8b8b8b",
          selectorTextSelectedColor:"#FFFFFF",
          buttonBackgroundNormalColor1:"#e7e7e7",
          buttonBackgroundNormalColor2:"#e7e7e7",
          buttonBackgroundSelectedColor1:"#a7a7a7",
          buttonBackgroundSelectedColor2:"#8e8e8e",
          buttonTextNormalColor:"#000000",
          buttonTextSelectedColor:"#FFFFFF",
          comboBoxShadowColor:"#000000",
          comboBoxHorizontalMargins:12,
          comboBoxVerticalMargins:12,
          comboBoxCornerRadius:0,

          //lightbox settings
          addLightBoxKeyboardSupport:"yes",
          showLightBoxNextAndPrevButtons:"yes",
          showLightBoxZoomButton:"yes",
          showLightBoxInfoButton:"yes",
          showLighBoxSlideShowButton:"yes",
          showLightBoxInfoWindowByDefault:"no",
          slideShowAutoPlay:"no",
          lightBoxVideoAutoPlay:"yes",
          lightBoxVideoWidth: videoWidth,
          lightBoxVideoHeight: videoHeight,
          lightBoxIframeWidth:800,
          lightBoxIframeHeight:600,
          lightBoxBackgroundColor:"#000000",
          lightBoxInfoWindowBackgroundColor:"",
          lightBoxItemBorderColor1:"#fcfdfd",
          lightBoxItemBorderColor2:"#e4FFe4",
          lightBoxItemBackgroundColor:"#333333",
          lightBoxMainBackgroundOpacity:.8,
          lightBoxInfoWindowBackgroundOpacity:.9,
          lightBoxBorderSize:5,
          lightBoxBorderRadius:0,
          lightBoxSlideShowDelay:4000
        });
})


function gotoNextThumb()
{
  coverflow.gotoThumb(coverflow.getCurrentThumbId() + 1);
}

function gotoPrevThumb()
{
  coverflow.gotoThumb(coverflow.getCurrentThumbId() - 1);
}

</script>
{% endblock %}

