{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProfessionalUser list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Birthdate</th>
                <th>Genre</th>
                <th>Timezone</th>
                <th>Tc</th>
                <th>Photo</th>
                <th>Website</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Instagram</th>
                <th>Youtube</th>
                <th>Trainteach</th>
                <th>Videobefore</th>
                <th>Reshapehear</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('professionaluser_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.state }}</td>
                <td>{{ entity.zip }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.birthDate }}</td>
                <td>{{ entity.genre }}</td>
                <td>{{ entity.timezone }}</td>
                <td>{{ entity.tc }}</td>
                <td>{{ entity.photo }}</td>
                <td>{{ entity.website }}</td>
                <td>{{ entity.facebook }}</td>
                <td>{{ entity.twitter }}</td>
                <td>{{ entity.instagram }}</td>
                <td>{{ entity.youtube }}</td>
                <td>{{ entity.trainTeach }}</td>
                <td>{{ entity.videoBefore }}</td>
                <td>{{ entity.reshapeHear }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('professionaluser_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('professionaluser_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('professionaluser_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
