{% extends '::base.html.twig' %}

{% block title %}Media | {{ userInfo.publicAlias }} | Profile | Reshape{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/reshape/css/skin_minimal_dark_global.css') }}"/>
    {# <link rel="stylesheet" href="{{ asset('bundles/reshape/css/responsive_minimal_skin_header_and_footer.css') }}"/> #}
    <style type="text/css">
      html {
        background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 53% );
        background-size: 6px 6px;
        background-color: #151515;
      }
    </style>
  {% endblock %}

  {% block body -%}
    <!-- Beg Content Part -->
    <div class="container-fluid social-hub" style="padding-bottom:10px;">
      <div id="wall" class="full-wall" style="height:auto;">
        <div class="row">
          <div class="col-md-12 prof-title">
            <div class="prof-name">
              {{ userInfo.publicAlias }} <span class="prof-cert">{{ userInfo.title }}</span>
            </div>
            <br>
            <div class="prof-descrip">
              <p>
                {{ userInfo.tagLine }}
              </p>
            </div>
            <div class="prof-location">
              <p>
                {{ userInfo.city|upper }}, {{ userInfo.region|upper }}
              </p>
            </div>


            <ul class="breadcrumb breadcrumb-top" style="font-size: 15px; margin-top: -13px;">
              <li style="margin-left: -39px;"><a href="{{ path('profile', { 'apiId': apiId }) }}" style="color:#E12933;">Home</a></li>
              <li style="color:#B6B6B6;">Media</li>
            </ul>
          </div>
        </div>

        <div class="row category-selector">
          <div class="col-md-12">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Albums <span class="caret"></span></a>
              <ul class="dropdown-menu text-left">
                <li>
                  <a class="selectItem" href="#">All Albums</a>
                </li>
                {% for album in albums %}
                  <li>
                    <a class="selectItem" href="#">{{ album.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="row" id="galleryDivParent">

          <div id="galleryDiv" style="width:100%;"></div>

          <!-- grid data list -->
          <ul id="playlist" style="display: none;">
            <!-- skin -->
            <ul data-skin="">
              <li data-preloader-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/rotite-30-29.png') }}"></li>
              <li data-show-more-thumbnails-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsNormalState.png') }}"></li>
              <li data-show-more-thumbnails-button-selectsed-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsSelectedState.png') }}"></li>
              <li data-image-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/photoIcon.png') }}"></li>
              <li data-video-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/videoIcon.png') }}"></li>
              <li data-link-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/linkIcon.png') }}"></li>
              <li data-iframe-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/iframeIcon.png') }}"></li>
              <li data-hand-move-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/handnmove.cur') }}"></li>
              <li data-hand-drag-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/handgrab.cur') }}"></li>
              <li data-combobox-down-arrow-icon-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow.png') }}"></li>
              <li data-combobox-down-arrow-icon-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow-rollover.png') }}"></li>
              <li data-lightbox-slideshow-preloader-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/slideShowPreloader.png') }}"></li>
              <li data-lightbox-close-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonNormalState.png') }}"></li>
              <li data-lightbox-close-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonSelectedState.png') }}"></li>
              <li data-lightbox-next-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/nextIconNormalState.png') }}"></li>
              <li data-lightbox-next-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/nextIconSelectedState.png') }}"></li>
              <li data-lightbox-prev-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/prevIconNormalState.png') }}"></li>
              <li data-lightbox-prev-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/prevIconSelectedState.png') }}"></li>
              <li data-lightbox-play-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/playButtonNormalState.png') }}"></li>
              <li data-lightbox-play-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/playButtonSelectedState.png') }}"></li>
              <li data-lightbox-pause-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/pauseButtonNormalState.png') }}"></li>
              <li data-lightbox-pause-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/pauseButtonSelectedState.png') }}"></li>
              <li data-lightbox-maximize-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/maximizeButtonNormalState.png') }}"></li>
              <li data-lightbox-maximize-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/maximizeButtonSelectedState.png') }}"></li>
              <li data-lightbox-minimize-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/minimizeButtonNormalState.png') }}"></li>
              <li data-lightbox-minimize-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/minimizeButtonSelectedState.png') }}"></li>
              <li data-lightbox-info-button-open-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenNormalState.png') }}"></li>
              <li data-lightbox-info-button-open-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenSelectedState.png') }}"></li>
              <li data-lightbox-info-button-close-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseNormalPath.png') }}"></li>
              <li data-lightbox-info-button-close-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseSelectedPath.png') }}"></li>
            </ul>

            <!-- image playlist category  -->
            {% for album in albums %}
              <ul data-cat="{{ album.name }}">
                {% for image in album.albumItems %}
                  <ul>
                    <li data-type="media" {{ image.videoId ? 'data-width="1024" data-height="768" ' }}data-url="{{ image.videoId ? 'http://www.youtube.com/watch?v=' ~ image.videoId : image.fullSizeUrl }}"></li>
                    <li data-thumbnail-path="{{ image.thumbUrl }}"></li>
                    <li data-thumbnail-text>
                      <p class="largeLabel">
                        {{ image.videoId ? '<i class="fa fa-play-circle fa-2x"></i>' : '<i class="fa fa-picture-o fa-2x"></i>' }}
                      </p>
                    </li>
                  </ul>
                {% endfor %}
              </ul>
            {% endfor %}

          </ul>

        </div>

      </div>
    </div>
    <!-- End Content Part -->
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/reshape/js/FWDGrid.js') }}"></script>
    {# <script type="text/javascript" src="{{ asset('bundles/reshape/js/header_and_footer.js') }}"></script> #}
    <script type="text/javascript">
  //FWDConsole.setPrototype();
      //var logger =  new FWDConsole()

      var grid;
      var albums_json = $.parseJSON('{{ albums_json|raw }}');

      FWDUtils.onReady(function(){
        create();
      })


      $('.selectItem').click(function () {
        destroy($(this).html());
      })

      function destroy(name){
        grid = null;
        $("#galleryDiv").children().remove();
        category(name);
        create();
      }

      function create(){

        grid = new FWDGrid({
        //main settings
        gridHolderId:"galleryDiv",
        gridPlayListAndSkinId:"playlist",
        showContextMenu:"no",
        //grid settings
        thumbnailOverlayType:"text",
        addMargins:"yes",
        loadMoreThumbsButtonOffest:0,
        thumbnailBaseWidth:200,
        thumbnailBaseHeight:200,
        // nrOfThumbsToShowOnSet:12,
        horizontalSpaceBetweenThumbnails:0,
        verticalSpaceBetweenThumbnails:0,
        thumbnailBorderSize:0,
        thumbnailBorderRadius:0,
        thumbnailOverlayOpacity:.85,
        backgroundColor:"transparent",
        thumbnailOverlayColor:"#000000",
        thumbnailBackgroundColor:"transparent",
        thumbnailBorderNormalColor:"#FFFFFF",
        thumbnailBorderSelectedColor:"#FFFFFF",
        //combobox settings
        startAtCategory:1,
        selectLabel:"SELECT ALBUM",
        allCategoriesLabel:"All Albums",
        showAllCategories:"yes",
        comboBoxPosition:"topleft",
        selctorBackgroundNormalColor:"#FFFFFF",
        selctorBackgroundSelectedColor:"#000000",
        selctorTextNormalColor:"#000000",
        selctorTextSelectedColor:"#FFFFFF",
        buttonBackgroundNormalColor:"#FFFFFF",
        buttonBackgroundSelectedColor:"#000000",
        buttonTextNormalColor:"#000000",
        buttonTextSelectedColor:"#FFFFFF",
        comboBoxShadowColor:"#000000",
        comboBoxHorizontalMargins:2,
        comboBoxVerticalMargins:-30,
        comboBoxCornerRadius:0,
        //ligtbox settings
        addLightBoxKeyboardSupport:"yes",
        showLightBoxNextAndPrevButtons:"yes",
        showLightBoxZoomButton:"yes",
        showLightBoxInfoButton:"yes",
        showLighBoxSlideShowButton:"yes",
        showLightBoxInfoWindowByDefault:"no",
        slideShowAutoPlay:"no",
        lightBoxVideoAutoPlay:"yes",
        lighBoxBackgroundColor:"#000000",
        lightBoxInfoWindowBackgroundColor:"#FFFFFF",
        lightBoxItemBorderColor:"#FFFFFF",
        lightBoxItemBackgroundColor:"#222222",
        lightBoxMainBackgroundOpacity:.8,
        lightBoxInfoWindowBackgroundOpacity:.9,
        lightBoxBorderSize:1,
        lightBoxBorderRadius:0,
        lightBoxSlideShowDelay:4
      });
}

function category(name) {
  var html = '<ul id="playlist" style="display: none;">' +
  '<ul data-skin="">' +
  '<li data-preloader-path="/bundles/reshape/css/skin_minimal_dark_square/rotite-30-29.png"></li>' +
  '<li data-show-more-thumbnails-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsNormalState.png"></li>' +
  '<li data-show-more-thumbnails-button-selectsed-path="/bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsSelectedState.png"></li>' +
  '<li data-image-icon-path="/bundles/reshape/css/skin_minimal_dark_square/photoIcon.png"></li>' +
  '<li data-video-icon-path="/bundles/reshape/css/skin_minimal_dark_square/videoIcon.png"></li>' +
  '<li data-link-icon-path="/bundles/reshape/css/skin_minimal_dark_square/linkIcon.png"></li>' +
  '<li data-iframe-icon-path="/bundles/reshape/css/skin_minimal_dark_square/iframeIcon.png"></li>' +
  '<li data-hand-move-icon-path="/bundles/reshape/css/skin_minimal_dark_square/handnmove.cur"></li>' +
  '<li data-hand-drag-icon-path="/bundles/reshape/css/skin_minimal_dark_square/handgrab.cur"></li>' +
  '<li data-combobox-down-arrow-icon-normal-path="/bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow.png"></li>' +
  '<li data-combobox-down-arrow-icon-selected-path="/bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow-rollover.png"></li>' +
  '<li data-lightbox-slideshow-preloader-path="/bundles/reshape/css/skin_minimal_dark_square/slideShowPreloader.png"></li>' +
  '<li data-lightbox-close-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonNormalState.png"></li>' +
  '<li data-lightbox-close-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonSelectedState.png"></li>' +
  '<li data-lightbox-next-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/nextIconNormalState.png"></li>' +
  '<li data-lightbox-next-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/nextIconSelectedState.png"></li>' +
  '<li data-lightbox-prev-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/prevIconNormalState.png"></li>' +
  '<li data-lightbox-prev-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/prevIconSelectedState.png"></li>' +
  '<li data-lightbox-play-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/playButtonNormalState.png"></li>' +
  '<li data-lightbox-play-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/playButtonSelectedState.png"></li>' +
  '<li data-lightbox-pause-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/pauseButtonNormalState.png"></li>' +
  '<li data-lightbox-pause-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/pauseButtonSelectedState.png"></li>' +
  '<li data-lightbox-maximize-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/maximizeButtonNormalState.png"></li>' +
  '<li data-lightbox-maximize-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/maximizeButtonSelectedState.png"></li>' +
  '<li data-lightbox-minimize-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/minimizeButtonNormalState.png"></li>' +
  '<li data-lightbox-minimize-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/minimizeButtonSelectedState.png"></li>' +
  '<li data-lightbox-info-button-open-normal-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenNormalState.png"></li>' +
  '<li data-lightbox-info-button-open-selected-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenSelectedState.png"></li>' +
  '<li data-lightbox-info-button-close-normal-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseNormalPath.png"></li>' +
  '<li data-lightbox-info-button-close-selected-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseSelectedPath.png"></li>' +
  '</ul>';

  for (a in albums_json) {
    if (name != 'All Albums' && albums_json[a].name == name) {
      html += '<ul data-cat="' + albums_json[a].name + '">';
      albums_json[a].albumItems = shuffle(albums_json[a].albumItems);
      for (i in albums_json[a].albumItems) {
        html += '<ul>' +
        '<li data-type="media" ';

        if (albums_json[a].albumItems[i].videoId) {
          html += 'data-width="1024" data-height="768" ';
        }

        if (albums_json[a].albumItems[i].videoId) {
          html += 'data-url="http://www.youtube.com/watch?v='+albums_json[a].albumItems[i].videoId+'"></li>';
        } else {
          html += 'data-url="'+albums_json[a].albumItems[i].fullSizeUrl+'"></li>';
        }

        html += '<li data-thumbnail-path="' + albums_json[a].albumItems[i].thumbUrl + '"></li>' +
        '<li data-thumbnail-text>' +
        '<p class="largeLabel">';

        if (albums_json[a].albumItems[i].videoId) {
          html += '<i class="fa fa-play-circle fa-2x"></i>';
        } else {
          html += '<i class="fa fa-picture-o fa-2x"></i>';
        }

        html += '</p>' +
        '</li>' +
        '</ul>';
      }
      html +='</ul>';
      break;
    }

    if (name == 'All Albums') {
      html += '<ul data-cat="' + albums_json[a].name + '">';
      albums_json[a].albumItems = shuffle(albums_json[a].albumItems);
      for (i in albums_json[a].albumItems) {
        html += '<ul>' +
        '<li data-type="media" ';

        if (albums_json[a].albumItems[i].videoId) {
          html += 'data-width="1024" data-height="768" ';
        }

        if (albums_json[a].albumItems[i].videoId) {
          html += 'data-url="http://www.youtube.com/watch?v='+albums_json[a].albumItems[i].videoId+'"></li>';
        } else {
          html += 'data-url="'+albums_json[a].albumItems[i].fullSizeUrl+'"></li>';
        }

        html += '<li data-thumbnail-path="' + albums_json[a].albumItems[i].thumbUrl + '"></li>' +
        '<li data-thumbnail-text>' +
        '<p class="largeLabel">';

        if (albums_json[a].albumItems[i].videoId) {
          html += '<i class="fa fa-play-circle fa-2x"></i>';
        } else {
          html += '<i class="fa fa-picture-o fa-2x"></i>';
        }

        html += '</p>' +
        '</li>' +
        '</ul>';
      }
      html +='</ul>';
    }
  }

  html += '</ul>';

  $("#galleryDivParent").parent().append(html);
}

function shuffle(array) {
  var counter = array.length, temp, index;

      // While there are elements in the array
      while (counter > 0) {
          // Pick a random index
          index = Math.floor(Math.random() * counter);

          // Decrease counter by 1
          counter--;

          // And swap the last element with it
          temp = array[counter];
          array[counter] = array[index];
          array[index] = temp;
        }

        return array;
      }

      function checkFileExt(url) {
        return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
      }
    </script>
  {% endblock %}