{% extends '::base.html.twig' %}

{% block title %}Account Registration | ReShape{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/css/bootstrapValidator.min.css"/>
<link rel="stylesheet" href="{{ asset('bundles/reshape/css/bootstrap-checkbox.css') }}"/>
{% endblock %}

{% block body -%}

<div class="contentbackground">
  <div class="tvbackground">
    <div class="container">

      <div class="row tv-screen-form">

        <div class="col-lg-12">

          <h1 class="text-center">Account Registration</h1>
          <h2 class="text-center">CREATE ACCOUNT</h2>

          {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'registerForm'}}) }}
          {{ form_errors(form) }}
          <div class="col-lg-6">
            <div class="form-group left-group">
              {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name' }}) }}
            </div>
            <div class="form-group left-group">
              {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name' }}) }}
            </div>
            <div class="form-group left-group custom-check">
              {{ form_widget(form.professional) }}
              Click here if you want to register as a profesional<br>
              {{ form_widget(form.tc) }}
              I accept the <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="tclink"> terms and conditions</a><br>
            </div>
            <div class="form-group left-group error-block">
              <span class="help-block" id="firstNameMessage"></span>
              <span class="help-block" id="lastNameMessage"></span>
              <span class="help-block" id="emailFieldMessage"></span>
              <span class="help-block" id="emailFieldMessage"></span>
              <span class="help-block" id="passFieldMessage"></span>
              <span class="help-block" id="secondpassFieldMessage"></span>
              <span class="help-block" id="tcFieldMessage"></span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group right-group">
              {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail' }}) }}
            </div>
            <div class="form-group right-group">
              {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Password' }}) }}
            </div>
            <div class="form-group right-group">
              {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Re-enter Password'}}) }}
            </div>
            <div class="form-group right-group submit">
              {{ form_widget(form.submit, {'label': ' ', 'attr': {'class': 'submit-btn' }}) }}
            </div>
          </div>


          {{ form_widget(form.city, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.state, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.zip, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.country, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.phone, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.birthDate, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.genre, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.timezone, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.address, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.username, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.photo, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.website, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.facebook, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.twitter, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.instagram, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.youtube, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.trainTeach, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.videoBefore, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.reshapeHear, {'attr': {'style': 'display:none;' }}) }}
          {{ form_widget(form.addInfo, {'attr': {'style': 'display:none;' }}) }}

          {{ form_end(form) }}

        </div>

      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
      </div>
      <div id="modal-content" class="modal-body">
        {{ tc.body | raw }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/reshape/js/validator.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script>
<script src="{{ asset('bundles/reshape/js/bootstrap-checkbox.js') }}"></script>
<script type="text/javascript">
  $('input[type="checkbox"]').checkbox();

  $("#modal").on("shown.bs.modal", function () {
    $("#modal-content").scrollTop(0);
  });
</script>
{% endblock %}