    {% extends '::base.html.twig' %}

    {% block title %}Home | {{ userInfo.publicAlias }} | Profile | Reshape{% endblock %}

      {% block stylesheets %}
        {{ parent() }}
        <style type="text/css">
          html {
            background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 53% );
            background-size: 6px 6px;
            background-color: #151515;
          }
        </style>
      {% endblock %}

      {% block body -%}
        <!-- Beg Content Part -->
        <div class="container-fluid social-hub" style="padding-bottom:10px;">
          <div id="wall" class="full-wall" style="height:auto;">
            <div class="row">
              <div class="col-md-12 prof-title">
                <div class="prof-name">
                  {{ userInfo.publicAlias }} <span class="prof-cert">{{ userInfo.title }}</span></div>
                  <br>
                  <div class="prof-descrip">
                    <p>
                      {{ userInfo.tagLine }}
                    </p>
                  </div>
                  <div class="prof-location">
                    <p>
                      {{ userInfo.city|upper }}, {{ userInfo.region|upper }}
                    </p>
                  </div>
                  <ul class="breadcrumb breadcrumb-top" style="font-size: 15px; margin-top: -13px;">
                    <li style="margin-left: -39px;"><a href="{{ path('profile', { 'apiId': apiId }) }}" style="color:#E12933;">Home</a></li>
                    <li style="color:#B6B6B6;">Services</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          {# START CONTENT SERVICES PAGE #}
          <div class="container">
            <div class="row">


              <div class="row" style="padding-top:22px;">

                {% for service in services %}

                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" data-filtertype="10">
                    <div class="block servicebox equalheight" style="min-height: 312px;">

                      <div class="block-title">
                        <div style="background:url('{{ service.picture_url }}') no-repeat; background-size: cover; min-height: 180px; background-position: center center;"> </div>
                      </div>

                      <h2 class="servicename text-center">{{ service.name }}</h2>
                      <p class="text-center serviceinfo">AVAILABLE SESSION TYPES:</p>
                      <p class="text-center" style="margin-top: -8px;">

                        <a href="#" data-toggle="tooltip" data-placement="bottom" class="gray-tooltip" data-original-title="{{ service.typeLabel }}">
                          <img src="{{ asset('bundles/reshape/assets/img/sessionsIcons/' ~ service.typeCode ~ '.png') }}" alt="{{ service.typeLabel }}"></a>
                        </p>

                        <div class="row text-center servbtns">
                          <a href="{{ path('profile_sessions', { 'apiId': apiId }) }}"><button style="margin-top:17px; font-size:12px;" class="btn btn-primary viewsessbtn">VIEW ALL SESSIONS</button></a></div>

                        </div>
                      </div>

                    {% endfor %}

                  </div>
                </div>
                {# END CONTENT SERVICES PAGE  #}

                <div class="row">
                  <div class="col-md-12 pull-right">
                    <a href="#" class="scrollup"><i style="color:#fff;" class="fa fa-angle-double-up"></i></a>
                  </div>
                </div>
              </div>
              <!-- End Content Part -->
            {% endblock %}

            {% block javascripts %}
              {{ parent() }}
              <script type="text/javascript" src="{{ asset('bundles/reshape/js/grids.min.js') }}"></script>
              <script>
                $(document).ready(function () {

                  $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                      $('.scrollup').fadeIn();
                    } else {
                      $('.scrollup').fadeOut();
                    }
                  });

                  $('.scrollup').click(function () {
                    $("html, body").animate({
                      scrollTop: 0
                    }, 600);
                    return false;
                  });

                });

                // Avoid page jumps to the top on click event
                $('a.gray-tooltip').click(function(e)
                {
                  e.preventDefault();
                });

              //Boxes of equal height
              jQuery(function ($) {
                $('.equalheight').responsiveEqualHeightGrid();
              });


              function filter_view(filter_option) {

                if (filter_option == 'all') {
                  $("div[data-filtertype]").each(function () {
                    $(this).show('slow');
                  });
                } else {
                  $("div[data-filtertype]").each(function () {
                    if ($(this).attr('data-filtertype') != filter_option) {
                      $(this).hide('slow');
                    } else {
                      $(this).show('slow');
                    }
                  });
                }
              }

              var baseUrl = "http://dash.reshape.net/";
              $(document).ready(function () {
                // $('#services_list_table').DataTable();
              });

              var apiURL = "/static/controllers/GetJSON.php";
              $(function () {
                $('[data-toggle="tooltip"]').tooltip()
              })
            </script>
          {% endblock %}

