    {% extends '::base.html.twig' %}

    {% block title %}Home | {{ userInfo.publicAlias }} | Profile | Reshape{% endblock %}

      {% block stylesheets %}
        {{ parent() }}
        <style type="text/css">
          html {
            background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 53% );
            background-size: 6px 6px;
            background-color: #151515;
          }
        </style>
      {% endblock %}

      {% block body -%}
        <!-- Beg Content Part -->
        <div class="container-fluid social-hub" style="padding-bottom:10px;">
          <div id="wall" class="full-wall" style="height:auto;">
            <div class="row">
              <div class="col-md-12 prof-title">

                <div class="prof-name">
                  {{ userInfo.publicAlias }} <span class="prof-cert">{{ userInfo.title }}</span></div>
                  <br>
                  <div class="prof-descrip">
                    <p>
                      {{ userInfo.tagLine }}
                    </p>
                  </div>
                  <div class="prof-location">
                    <p>
                      {{ userInfo.city|upper }}, {{ userInfo.region|upper }}
                    </p>
                  </div>
                  <ul class="breadcrumb breadcrumb-top" style="font-size: 15px; margin-top: -13px;">
                    <li style="margin-left: -39px;"><a href="{{ path('profile', { 'apiId': apiId }) }}" style="color:#E12933;">Home</a></li>
                    <li style="color:#B6B6B6;">Services</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          {# START CONTENT SESSIONS PAGE #}
          <div class="container">
            <div class="row">
              <div class="col-md-6 pull-left">
                <a href="{{ path('profile_services', { 'apiId': apiId }) }}"><button class="btn infobtn viewbtn">BACK TO VIEW SERVICES</button></a>
              </div>
              <div class="col-md-6 pull-right">

                <div id="filter_grid" class="filterright">
                  <ul class="filtericons">
                    <li><h4 class="filtertitle" style="float:right;">FILTER BY SESSION TYPE:</h4></li>
                    <li><a href="#" class="service_filter_all_top" data-toggle="tooltip" title="Show all" onClick="filter_view('all');"></a></li>
                    <li><a href="#" class="service_filter_one" data-toggle="tooltip" title="One to One" onClick="filter_view('10');"></a></li>
                    <li><a href="#" class="service_filter_class" data-toggle="tooltip" title="Class" onClick="filter_view('20');"></a></li>
                    <li><a href="#" class="service_filter_group" data-toggle="tooltip" title="Group" onClick="filter_view('40');"></a></li>
                    <li><a href="#" class="service_filter_broadcast" data-toggle="tooltip" title="Broadcast" onClick="filter_view('50');"></a></li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="row" id="services_grid" style="padding-top:22px;">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" data-filtertype="10">
               <div class="widget-icon">
                <img src="/bundles/reshape/assets/img/sessionsIcons/20.png" alt=""/>
              </div>
              <div class="block servicebox equalheight" style="min-height: 312px;">
                <div class="block-title block-title-light">

                  <div style="background:url('http://pics.reshape.net/p/id_3781__b_0__ext_jpeg__w_640__hf_1/blob') no-repeat; background-size: cover; min-height: 180px; background-position: center center;"> </div>
                </div>
                <h2 class="servicename text-center">Cardio Sculpt<br><small class="servicenamesmall">Personal Training</small></h2>

                <div id="first_countdown" style=" position: relative; width: 100%; height: 100px; padding-bottom:10px;"></div>
                <div class="col-md-12 text-center dateandtime">
                  <i class="fa fa-calendar fa-fw"></i> 11/20/2014
                  <i class="fa fa-clock-o"></i> 10:00 AM
                </div>
                <p class="text-center" style="color:#fff;">30 mins / $60.00</p>
                <p class="text-center serviceinfo" style="margin-top: -10px;">SESSION TYPE: CLASS</p>
                <div class="row" style="padding-bottom: 16px;">
                  <div class="col-md-12 text-center">

                    <a href="#"><button style=" font-size:12px;" class="btn infobtn newservicebtn">VIEW DETAILS</button></a>

                    <a href="#" style="padding-left: 6px;"><button style="font-size:12px; " class="btn btn-primary newservicebtn">GET SESSION</button></a>
                  </div>
                </div>
              </div>
            </div>




  </div>
  {# END CONTENT SESSIONS PAGE  #}

  <div class="row">
    <div class="col-md-12 pull-right">
      <a href="#" class="scrollup"><i style="color:#fff;" class="fa fa-angle-double-up"></i></a>
    </div>
  </div>
</div>
<!-- End Content Part -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
   <script type="text/javascript" src="{{ asset('bundles/reshape/js/jquery.responsive_countdown.js') }}"></script>
    <script>

        jQuery(document).ready(function ($) {
            $('#first_countdown').ResponsiveCountdown();
        });
    </script>
    <script type="text/javascript">

        function filter_view(filter_option) {

            if (filter_option == 'all') {
                $("div[data-filtertype]").each(function () {
                    $(this).show('slow');
                });
            } else {
                $("div[data-filtertype]").each(function () {
                    if ($(this).attr('data-filtertype') != filter_option) {
                        $(this).hide('slow');
                    } else {
                        $(this).show('slow');
                    }
                });
            }
        }

        var baseUrl = "http://dash.reshape.net/";
        $(document).ready(function () {
            $('#services_list_table').DataTable();
        });


                //Boxes of equal height
                jQuery(function ($) {
                    $('.equalheight').responsiveEqualHeightGrid();
                });

                var apiURL = "/static/controllers/GetJSON.php";



            </script>
  <script>
    $(document).ready(function () {

      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $('.scrollup').fadeIn();
        } else {
          $('.scrollup').fadeOut();
        }
      });

      $('.scrollup').click(function () {
        $("html, body").animate({
          scrollTop: 0
        }, 600);
        return false;
      });

    });
  </script>
{% endblock %}

