{% extends '::base.html.twig' %}

{% block title %}Social Hub | {{ userInfo.publicAlias }} | Profile | Reshape{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
      html {
        background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 53% );
        background-size: 6px 6px;
        background-color: #151515;
      }
    </style>
  {% endblock %}

  {% block body -%}
    <!-- Beg Content Part -->
    <div class="container-fluid social-hub" style="padding-bottom:10px;">

      <div id="wall" class="full-wall" style="height:auto;">
        <div class="row">
          <div class="col-md-12 prof-title">

            <div class="prof-name">
              {{ userInfo.publicAlias }} <span class="prof-cert">{{ userInfo.title }}</span>
            </div>
            <br>
            <div class="prof-descrip">
              <p>
                {{ userInfo.tagLine }}
              </p>
            </div>
            <div class="prof-location">
              <p>
               {{ userInfo.city|upper }}, {{ userInfo.region|upper }}
             </p>
           </div>


           <ul class="breadcrumb breadcrumb-top" style="font-size: 15px; margin-top: -13px;">
            <li style="margin-left: -39px;"><a href="{{ path('profile', { 'apiId': apiId }) }}" style="color:#E12933;">Home</a></li>
            <li style="color:#B6B6B6;">Social Hub</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              {% if social['Facebook'] is defined and social['Facebook'].account is defined %}
                <div class="fb-like-box" data-href="https://www.facebook.com/{{ social['Facebook'].account }}" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
              {% endif %}
            </div>
            <div class="col-md-3">
              {% if social['Instagram'] is defined and social['Instagram'].snapWidgetHash is defined %}
                <!-- SnapWidget -->
                <iframe src="http://snapwidget.com/in/?u={{ social['Instagram'].snapWidgetHash }}&ve=261114" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
              {% endif %}
            </div>
            <div class="col-md-3">
              {% if social['Twitter'] is defined %}
                <a class="twitter-timeline" href="https://twitter.com/{{ social['Twitter'].account }}" data-widget-id="{{ social['Twitter'].key }}">Tweets by @{{ social['Twitter'].account }}</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              {% endif %}
            </div>
            <div class="col-md-3">
              YOUTUBE
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Content Part -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if social['Instagram'] is defined and social['Instagram'].snapWidgetHash is defined %}
    <script src="http://snapwidget.com/js/snapwidget.js"></script>
  {% endif %}
  <script type="text/javascript">
    $('.fb-like-box').attr('data-width', $('.fb-like-box').parent().width());
    $('.fb-like-box').attr('data-height', Math.round(window.innerHeight * (60 / 100)));
  </script>
{% endblock %}

