{% extends '::base.html.twig' %}

{% block title %}Social Hub | {{ userInfo.publicAlias }} | Profile | Reshape{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" id="dctsp-css" href="{{ asset('bundles/reshape/css/dctsp.css') }}" type="text/css" media="all">
    <style type="text/css">

      .profile_social_facebook {
        background: url(assets/img/icons/social/profile-fb.png) no-repeat;
      }
      .profile_social_twitter {
        background: url(assets/img/icons/social/profile-twit.png) no-repeat;
      }
      .profile_social_youtube {
        background: url(assets/img/icons/social/profile-yt.png) no-repeat;
      }
      .profile_social_instagram {
        background: url(assets/img/icons/social/profile-in.png) no-repeat;
      }

      .dctsp {
        background: #ffffff;
        color: #333333;
      }
      .dctsp h3 a {
        background: #f8f8f8;
        color: #555555;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ebebeb;
      }
      .dctsp h3 a.active {
        color: #111111;
        background: #f8f8f8;
      }
      ul.dctsp-posts li {
        border-bottom: 1px solid #ebebeb;
      }
      span.dctsp-count {
        color: #555555;
      }
      .dctsp a {
        color: #333333;
      }
      ul.dctsp-posts li h4 {
        font-family: Arial, sans-serif!important;
      }

      #dcssb-float.dc-social-float .dc-social-float-content {
        box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
        border: none!important;
      }
      #dcssb-float.dc-social-float .dc-social-float-content {
        border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
      }
      .stream li.dcsns-youtube .section-title {
        clear: both;
        display: block;
        padding: 5px 0 0;
      }
      .stream li {
        margin: 0 15px 15px 0;
      }


      html {
        background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 53% );
        background-size: 6px 6px;
        background-color: #151515;
      }

    </style>
    {# <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/reshape/css/premium.css') }}"> #}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/reshape/css/dcsns.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/reshape/css/dcsns_wall.css') }}">
  {% endblock %}

  {% block body -%}
    <!-- Beg Content Part -->
    <div class="container-fluid social-hub" style="padding-bottom:10px;">

      <div id="wall" class="full-wall" style="height:auto;">
        <div class="row">
          <div class="col-md-12 prof-title">

            <div class="prof-name">
              {{ userInfo.publicAlias }} <span class="prof-cert">{{ userInfo.title }}</span>
            </div>
            <br>
            <div class="prof-descrip">
              <p>
                {{ userInfo.tagLine }}
              </p>
            </div>
            <div class="prof-location">
              <p>
               {{ userInfo.city|upper }}, {{ userInfo.region|upper }}
             </p>
           </div>


           <ul class="breadcrumb breadcrumb-top" style="font-size: 15px; margin-top: -13px;">
            <li style="margin-left: -39px;"><a href="{{ path('reshape_user_bio', { 'apiId': apiId }) }}" style="color:#E12933;">Home</a></li>
            <li style="color:#B6B6B6;">Social Hub</li>
          </ul>
        </div>
      </div>
      <div class="dcsns-toolbar">
        <ul id="dcsns-filter" class="option-set filter"></ul>
      </div>
      <div id="social-stream" class="dcsns"></div>
    </div>

  </div>
  <!-- End Content Part -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <!-- JS Global Compulsory -->
  {# <script type="text/javascript" src="{{ asset('bundles/reshape/js/woopra.js') }}"></script> #}
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ asset('bundles/reshape/js/jquery.dctsp.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/reshape/js/jquery.social.stream.wall.1.3.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/reshape/js/jquery.social.stream.1.5.4.js') }}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $('#social-stream').dcSocialStream({
        feeds: {
          {% if social['Facebook'] is defined and social['Facebook'].id is defined %}
          facebook: {
            id: '{{ social['Facebook'].id }}',
            out: 'intro,thumb,title,text,user,share',
            text: 'content'
          },
          {% endif %}
          {% if social['Twitter'] is defined %}
          twitter: {
            id: '{{ social['Twitter'].account }}',
            images: 'small'
          },
          {% endif %}
          {% if social['Google+'] is defined %}
          google: {
            id: '{{ social['Google+'].account }}',
            api_key: '{{ social['Google+'].key }}'
          },
          {% endif %}
          {% if social['YouTube'] is defined %}
          youtube: {
            id: '{{ social['YouTube'].account }}',
            thumb: '0'
          },
          {% endif %}
          {#{% if social['Instagram'] is defined %}
          instagram: {
            id: '{{ social['Instagram'].account }}',
            accessToken: '186786085.91dbf99.da4d8fab71544cdba8645bd0a02f07a1',
            clientId: '91dbf99a184e43dca3cc115500a5ba58',
            comments: 3,
            likes: 10
          },
          {% endif %}#}
          {% if social['Pinterest'] is defined %}
          pinterest: {
            id: '{{ social['Pinterest'].account }}',
            out: 'intro,thumb,text,user,share'
          },
          {% endif %}
          {% if social['Vimeo'] is defined %}
          vimeo: {
            id: '{{ social['Vimeo'].account }}',
            feed: 'all_videos'
          }
          {% endif %}
        },
        rotate: {
          delay: 0
        },
        {% if social['Twitter'] is defined %}
        twitterId: '{{ social['Twitter'].account }}',
        {% endif %}
        control: false,
        filter: true,
        wall: true,
        limit: 5,
        max: 'limit',
        iconPath: 'http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsns/images/dcsns-dark/',
        imagePath: 'http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsns/images/dcsns-dark/'
      });
});
</script>
{% endblock %}

