<!-- 	{RESH}/RESH/Components/UserActions/SignIn/RESHsignInComponent.css
		{RESH}/RESH/Components/UserActions/SignIn/RESHsignInComponent.js
-->

<section class="signInPopUp">
	<div class="fullScreenBackgroundFade"></div>
	<div class="extraBorder">
		<div class="signInBoxContainer">
			<div class="close">close</div>
			<div class="left">
				<h1>Sign In</h1>
				<form method="post">
					<p><input type="email" placeholder="E-mail" /></p>
					<p><input type="password" placeholder="Password" /></p>
					<p><input type="checkbox" value="1" name="rememberMe" id="rememberMe" checked /><label for="rememberMe" class="rememberMe">Remember me on this computer</label></p>
					<p><center><input type="submit" value="Log In" /></center></p>
				</form>
				<div class="forgotPsswd">Forgot your password? <a href="#">Get help</a></div>
				<div class="newAcct">Don't have an account with us? <a href="#">Sign up</a></div>
			</div>
			<div class="right">
				<div class="connectFb"></div>
				<div class="fbExplain">We will never post on your behalf</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>