<!--    {RESH}/RESH/Components/Media/AddMediaPopUp/RESHaddMediaPopUpComponent.css
        {RESH}/RESH/Components/Media/AddMediaPopUp/RESHaddMediaPopUpComponent.js
-->
<section class="addMediaPopUp">
    
    <div class="background"></div>
    
    <div class="step" step="0" what="photo">
        <div class="close">close</div>
        
        <form method="post" enctype="multipart/form-data">
            <input type="file" class="imageFile" />
        </form>
    </div>
    
    <div class="step" step="1" what="photo">
        <div class="close">close</div>
        <h1>Add Photo</h1>
        
        <div class="left">	
            <div class="thumb"><img src="images/trainerPage/marc/album-cover-3.jpg" /></div>
        </div>
        <div class="right">
            <form method="post">
                <div class="input">
                    <div class="what">Date</div>
                    <input type="text" class="date" name="date" value="07/18/2013" />
                </div>
                <div class="input">
                    <div class="what">Description</div>
                    <textarea name="description"></textarea>
                </div>
                <div class="submitDiv">
                    <input type="submit" class="submitBig" value="Upload" />
                </div>
            </form>
        </div>
    </div>
    
    
    //Add Video
    <div class="step" step="1" what="video">
        <div class="close">close</div>
        
        <form method="post" enctype="multipart/form-data">
            <div class="text">Video Url</div><input type="text" class="videoUrl" placeholder="http://www.youtube.com/watch?v=Lbgyrg_SGPc" />
            <div class="submitDiv" style="float:right">
                <input type="button" class="submitBig nextBtn" value="Next&nbsp;&nbsp;&nbsp;&gt;" />
            </div>
        </form>
    </div>
    
    <div class="step" step="2" what="video">
    
        <form method="post">
            <div class="close">close</div>
            <h1>Add Video</h1>
            
            <div class="left">	
                <div class="thumb"><img class="videoThumb" src="http://img.youtube.com/vi/Lbgyrg_SGPc/hqdefault.jpg" /></div>
                <div class="addAnotherThumbText">Add your own thumbnail</div>
                <div class="addAnotherThumb"><input type="file"  /></div>
            </div>
            <div class="right">
                    <div class="input">
                        <div class="what">Date</div>
                        <input type="text" class="date" name="date" value="07/18/2013" />
                    </div>
                    <div class="input">
                        <div class="what">Description</div>
                        <textarea name="description"></textarea>
                    </div>
                    <div class="submitDiv">
                        <input type="submit" class="submitBig" value="Upload" />
                    </div>
            </div>
        </form>
    </div>
    
    
    <div class="step album" step="1" what="album">
        <div class="close">close</div>
        <h1>Create Album</h1>
            <form method="post">
                <div class="input">
                    <div class="what">Name</div>
                    <input type="text" name="name" />
                </div>
                <div class="input">
                    <div class="what">Date</div>
                    <input type="text" class="date" name="date" value="07/18/2013" />
                </div>
                <div class="input">
                    <div class="what">Description</div>
                    <textarea name="description"></textarea>
                </div>
                <div class="submitDiv">
                    <input type="submit" class="submitBig" value="Create Album" />
                </div>
            </form>
    </div>
    
</section>