@charset "UTF-8";
/* CSS Document */

.broadcastTrainer{
	margin-top:20px;
}
.broadcastTrainer a{
	text-decoration:none;
	color:#000000;
}
.broadcastTrainer a:hover{
	color:#ce2127;
}
.broadcastTrainer .groupContainer{
	width:100%;
	background:#f0f0f0;
	color:#000;
}
.broadcastTrainer .groupContainer .picture{
	overflow:hidden;
	width:100%;
	height:300px;
	background:#b2b2b2;
}
.broadcastTrainer .textContainer{
	padding-left:20px;
	padding-right:20px;
}
.broadcastTrainer .groupContainer .header{
	line-height:65px;
	font-size:18px;
	font-family: 'oswaldregular';
}
.broadcastTrainer .groupContainer .description{
	font-size:12px;
	text-align:justify;
}
.broadcastTrainer .groupContainer .eventInfo{
	margin-top:20px; 
	font-size:11px;
	padding-bottom:20px;
}
.broadcastTrainer .eventInfo .info{
	margin-left:80px;
}
.broadcastTrainer .sessionContainer{
	position:relative;
	margin-bottom:20px;
}
.broadcastTrainer .sessionContainer .shadow{
	background:url(../images/trainerPage/backgrounds/shadow-under.png);
	width:230px;
	height:15px;
	position:absolute;
	z-index:0;
	top: 264px;
	left: -15px;
}
.broadcastTrainer .actionBtn{
	position:absolute;
	margin-top: -46px;
	right: 20px;
}