@charset "UTF-8";
/* CSS Document */

.meetInPerson{
	font-family:"Open Sans";
}
.meetInPerson p{
	display:block !important;
	color:#000;
	font-size:12px;
	text-align:left;
	line-height:normal;
	margin-top:10px;
}
.meetInPerson label{
	display:inline-block;
	width:180px;
}
.meetInPerson label.top{
	vertical-align: top;
}
.meetInPerson .signedOut{
	padding:40px;
	background:#f0f0f0;
	color:#000;
	text-align:center;
	font-size:16px;
}
.meetInPerson a{
	color:#c12127;
	text-decoration:none;
}
.meetInPerson a:hover{
	text-decoration:underline;
}
.meetInPerson .container{
	padding:30px;
	background:#f0f0f0;
	color:#000;
	font-size:12px;
}
.meetInPerson .container .left{
	float:right;
	padding-left:40px;
	border-left:1px solid #ccc;
	margin-left:40px;
	margin-top:-10px;
}
.meetInPerson .container .right{
	float:left;
	width: 315px;
	text-align:justify !important;
}
.meetInPerson input[type='text']{
	width: 273px;
	height: 28px;
	border: 1px solid rgb(191, 191, 191);
	text-indent: 5px;
	background: none repeat scroll 0% 0% rgb(247, 247, 247);
	font-size: 13px;
}
.meetInPerson textarea{
	width: 273px;
	height: 70px;
	border: 1px solid rgb(191, 191, 191);
	text-indent: 5px;
	background: none repeat scroll 0% 0% rgb(247, 247, 247);
	font-size: 13px;
}
.meetInPerson .submitContainer{
	text-align:right;
	margin-top:15px;
	margin-bottom:30px;
	padding-right: 100px;
}
