/* Required */
.dctsp h3 {
	position: relative;
}
.dctsp h3 img.dctsp-icon {
	position: absolute;
	left: 10px;
}
.dctsp h3 a {
	padding: 8px 10px 8px 45px;
	display: block;
}
.dctsp-accordion ul.dctsp-posts {
	display: none;
}
.dctsp-carousel {
	position: relative;
}
.dctsp-carousel .carousel {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.dctsp-carousel .carousel li {
	margin: 0;
}
.carousel-slide {
	margin-right: 0;
	float: left;
	background: #fff;
}
.btn-carousel {
	position: absolute;
	display: block;
	bottom: 0;
}
.btn-carousel.prev {
	right: 30px;
}
.btn-carousel.next {
	right: 0;
}
/* Default Styling */
.dctsp {
	background: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    padding: 0;
	color: #333333;
}
.dctsp h3 {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.dctsp h3 a {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #EBEBEB;
    margin: 0;
    color: #555;
    background: #f8f8f8;
	text-shadow: 1px 0 0 #fff;
    text-transform: capitalize;
	text-decoration: none;
}
.dctsp h3 a.active {
	color: #111;
}
.dctsp h3 img {
	width: 24px;
	top: 7px;
}
ul.dctsp-posts {
	overflow: hidden;
	list-style: none;
	margin: 0;
    padding: 0;
}
ul.dctsp-posts.top-network .dctsp-icon {
	margin: 0 10px 10px 0;
}
.dctsp-icon {
	float: left;
	margin: 0 6px 10px 0;
}
ul.dctsp-posts li {
	position: relative;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #EBEBEB;
    list-style: none;
	min-height: 34px;
}
ul.dctsp-posts li.total-count {
	padding-right: 52px;
}
ul.dctsp-posts li .dctsp-thumb img {
	width: 40px;
}
ul.dctsp-posts li h4 {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
ul.dctsp-posts li.all-counts h4 {
	margin-bottom: 10px;
}
ul.dctsp-posts li a {
	display: block;
	color: #333333;
}
.total-count span.dctsp-count {
	position: absolute;
	top: 8px; right: 5px;
	font-size: 13px;
	font-weight: bold;
	color: #555;
	text-shadow: 0 0 1px #fff;
	display: block;
	padding: 8px 0 0;
	width: 42px;
	height: 30px;
	text-align: center;
	background: url(../images/bg_count.png) no-repeat center center;
	background-repeat: none;
}
.dctsp-all-counts {
	width: 100%;
	overflow: hidden;
}
.dctsp-all-counts span {
	display: block;
	float: left;
	padding: 3px 5px 3px 0;
	margin: 0 1px 1px 0;
	height: 12px;
	font-size: 11px;
	text-align: right;
	width: 45px;
	border: 1px solid #ececec;
-moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px;
}
/* Total counts - mini icons */
span.count-facebook {
	background: #fff url(../images/mini-icons/facebook.png) no-repeat 1px center;
}
span.count-plusone {
	background: #fff url(../images/mini-icons/plusone.png) no-repeat 1px center;
}
span.count-twitter {
	background: #fff url(../images/mini-icons/twitter.png) no-repeat 1px center;
}
span.count-linkedin {
	background: #fff url(../images/mini-icons/linkedin.png) no-repeat 1px center;
}
span.count-stumble {
	background: #fff url(../images/mini-icons/stumble.png) no-repeat 1px center;
}
span.count-digg {
	background: #fff url(../images/mini-icons/digg.png) no-repeat 1px center;
}
span.count-delicious {
	background: #fff url(../images/mini-icons/delicious.png) no-repeat 1px center;
}
span.count-pinit {
	background: #fff url(../images/mini-icons/pinit.png) no-repeat 1px center;
}
span.count-reddit {
	background: #fff url(../images/mini-icons/reddit.png) no-repeat 1px center;
}
/* Statistics */
.dctsp-stats {
	border: 1px solid #EBEBEB;
    padding: 12px 0 0 12px;
    color: #555;
    display: block;
    background: #f8f8f8;

	text-shadow: 1px 0 0 #fff;
    text-transform: capitalize;
	text-decoration: none;
}
.dctsp-total {
	width: 100%;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;	
}
.dctsp-total li {
	float: left;
	width: 80px;
	background: none;
	padding: 0;
	text-align: center;
	margin: 0 5px 10px 0;
	height: 28px;
	position: relative;
}
.dctsp-total li img {
	position: absolute;
	top: 2px;
	left: 0;
}
.dctsp-total li span {
	display: block;
	background: url(../images/bg_total.png) no-repeat 100% center;
	width: 50px;
	height: 21px;
	padding: 7px 6px 0 0;
	font-size: 13px;
	font-weight: bold;
	color: #555;
	text-shadow: 0 0 1px #fff;
	float: right;
	text-align: right;
}
/* Carousel */
.dctsp-carousel {
	margin-bottom: 20px;
	padding-bottom: 36px;
}
.carousel-slide {
	background: none;
	padding: 0;
	position: absolute;
}
.dctsp-active .carousel-slide {
	position: relative;
}
.dctsp-carousel .carousel li {
	float: none;
}
