	/*
	Theme Name: The Wall
	Version: 2.0
	Author: seven media
	
	This theme was designed and built by seven media,
	http://themeforest.net/user/sevenmedia
	in Themeforest
	*/
	
	/*
	Table of Content
	----------------
	1.Media Query Landscape Mode
	*/
	
	/*Media Query Landscape css / Reset*/

	@media (max-width: 480px) {
	.imgcontainer {
	display: inline-block;
	float:left;
	position: relative;
	width: 100%;
	}
	}
	@media (max-width: 320px) {
	.imgcontainer {
	display: inline-block;
	float:left;
	position: relative;
	width: 100%;
	}
	}
	@media (min-width: 360px) {
	.imgcontainer {
	display: inline-block;
	float:left;
	position: relative;
	width: 50%;
	}
	}
	@media (min-width: 600px) {
	.imgcontainer {
	display: inline-block;
	float:left;
	position: relative;
	width: 33.3333%;
	}
	}
	@media (min-width: 1024px) {
	.imgcontainer {
	display: inline-block;
	float:left;
	position: relative;
	width: 25%;
	}
	}
	@media (min-width: 1300px) {
	.imgcontainer {
	display: inline-block;
	float:left;
	position: relative;
	width: 16.6666%;
	}