	/*
	Theme Name: The Wall
	Version: 2.0
	Author: seven media
	
	This theme was designed and built by seven media,
	http://themeforest.net/user/sevenmedia
	in Themeforest
	*/
	
	/*
	Table of Content
	----------------
	1.Font
	2.Icons Before
	3.Menu
	4.Image Container
	5.Filter
	6.Icons
	7.Media Query Menu
	*/

	/*Menu css / Reset*/
	
	*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	
	/*Font*/
	@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ecoicons';
	src: url("../fonts/ecoicons/ecoicons.eot");
	src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/ecoicons/ecoicons.woff") format("woff"), 
	url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), 
	url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
	}
	
	/*Icons Before*/
	.wall-icon:before {
	font-family: 'ecoicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	}
	
	/*Menu*/
	.gn-menu-main, .gn-menu-main ul {
	margin: 0;
	padding: 0;
	color: #666;
	list-style: none;
	text-transform: none;
	font-family: Arial, sans-serif;
	line-height: 40px;
	background: #fff;
	}
	.gn-menu-main {
	position: absolute;
	top: 0;
	left: 0px;
	width: 60px;
	height: 40px;
	font-size: 13px;
	}
	.gn-menu-main a {
	display: block;
	height: 100%;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
	.no-touch .gn-menu-main a:hover  {
	background: #646d93;
	color: white;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
	.no-touch .gn-menu-main a:current  {
	background: #999;
	color: white;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
	.gn-menu-main > li {
	display: block;
	float: left;
	height: 100%;
	border-right: 1px solid #EDEDED;
	text-align: center;
	}
	.gn-menu-main li.gn-trigger {
	position: relative;
	width: 60px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.gn-menu-main > li:last-child {
	float: right;
	border-right: none;
	border-left: 1px solid #EDEDED;
	}
	.gn-menu-main > li > a {
	padding: 0 30px;
	}
	.gn-menu-main:after {
	display: table;
	clear: both;
	content: "";
	}
	.gn-menu-wrapper {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 60px;
	background: white;
	-webkit-transform: translateX(-60px);
	-moz-transform: translateX(-60px);
	transform: translateX(-60px);
	-webkit-transition: -webkit-transform 0.3s, width 0.3s;
	-moz-transition: -moz-transform 0.3s, width 0.3s;
	transition: transform 0.3s, width 0.3s;
	z-index:-1;
	}
	.gn-scroller {
	position: relative;
	width: 190px;
	height: 100%;
	}
	.gn-menu-wrapper.gn-open-all {
	width: 190px
	}
	.gn-menu {
	border-bottom: 1px solid #EDEDED;
	text-align: left;
	font-size: 13px;
	}
	.gn-menu li:not(:first-child), .gn-menu li li {
	box-shadow: inset 0 1px #EDEDED
	}
	.gn-icon::before {
	display: inline-block;
	width: 60px;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'ecoicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	}
	.gn-icon span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
	}
	.gn-icon-menu {
	margin-left: -1px;
	width: 190px;
	height: 40px;
	background:#333 url(../img/menu.png) center center no-repeat;
	}
	.no-touch .gn-icon-menu.gn-selected:hover {
	background:#646D93 url(../img/menu-hover.png) center center no-repeat;
	}
	.gn-icon-menu.gn-selected {
	background:#333 url(../img/menu-active.png) center center no-repeat;
	}
	.gn-menu-wrapper.gn-open-all, .gn-menu-wrapper.gn-open-part {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	}
	.standing {
	color: #fff;
	background:#646D93;
	}
	.topper {
    text-indent: 9999px;
	height: 100%;
	width: 190px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	background:#333 url(../img/menu.png) center center no-repeat;
	padding: 0px 0 0px -10px;
	}
	
	/*Icons*/
	.gn-icon-photoshop::before {
	content: "\e001"
	}
	.gn-icon-illustrator::before {
	content: "\e002"
	}
	.gn-icon-article::before {
	content: "\e003"
	}
	.gn-icon-pictures::before {
	content: "\e008"
	}
	.gn-icon-videos::before {
	content: "\e009"
	}
	
	/*Media Query Menu*/
	@media screen and (max-width: 422px) {
	.gn-menu-wrapper.gn-open-all {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	width: 100%;
	}
	.gn-menu-wrapper.gn-open-all .gn-scroller {
	width: 130%;
	}
	}
	@media screen and (max-width: 1025px) {
	.container > header {
	margin: 0 auto;
	padding: 120px 50px;
	font-size: 70%;
	text-align: right;
	}
	}
	@media screen and (max-width: 599px) {
	.wall-icon span {
	display: none;
	}
	}

