 /* Main */
*{
	margin:0px;
	padding:0px;
}

body{
	background-color:#111111;
}

 /* Header and footer*/
 #header{
	position:relative;
	overflow:hidden;
	width:100%;
	height:97px;
	background-image:url("../read_more_graphics/mainBk.jpg");
	background-repeat:repeat;
 }
 
 #headerImage{
	position:absolute;
}

 #footer{
	position:relative;
	overflow:hidden;
	width:100%;
	height:97px;
	background-image:url("../read_more_graphics/mainBk.jpg");
	background-repeat:repeat;
 }
 
 #footerImage{
	position:absolute;
}