

/*Main Container*/
#wrapper_media li {
	float:left;
	padding:0px;
	margin:0px;
}
#wrapper_media .holder {
	top:0px;
	left:0;
	z-index:-100;
}
#wrapper_media {
	position:relative;
}
#wrapper_media h2 {
	margin:0;
}
.clearfix {
	clear:both;
}

/*Image Container*/
.imgcontainer {
	display: inline-block;
	float:left;
	position: relative;
	width: 20%;
	min-width:200px;
}
.middle {
	width: 100%;
	height: 40px;
	top: 50%;
	margin-top:-25px;
	position: absolute;
	text-align: center;
	display: block;
}
.center{
	left: 50%;
	margin-left: -60px;
	position: absolute;
	height: 40px;
	width: 120px;
}
.descrition{
	position: absolute;
	text-align: center;
	float:left;
	height: 40px;
	width: 100%;
	top: 50%;
	margin-top:20px;
	font-size: 11px;
	font-family: "Arial", sans-serif;
	color:#fff;
}
.dummy_image {
	width:36px;
	height:36px;
	background:#E12933 url(../img/zoom.png) no-repeat center center;
	border-radius:50px;
	margin: 0px 2px 0px 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dummy_image:hover {
	background:#fff url(../img/zoom-hover.png) no-repeat center center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dummy_tube {
	width:36px;
	height:36px;
	background:#E12933 url(../img/video.png) no-repeat center center;
	border-radius:50px;
	margin: 0px 2px 0px 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dummy_tube:hover {
	background:#fff url(../img/video-hover.png) no-repeat center center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dummy_vimeo {
	width:36px;
	height:36px;
	background:#E12933 url(../img/vimeo.png) no-repeat center center;
	border-radius:50px;
	margin: 0px 2px 0px 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dummy_vimeo:hover {
	background:#fff url(../img/vimeo-hover.png) no-repeat center center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dummy_text {

	width:36px;
	height:36px;
	background:#E12933 url(../img/text.png) no-repeat center center;
	border-radius:50px;
	margin: 0px 2px 0px 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dummy_text:hover {
	background:#fff url(../img/text-hover.png) no-repeat center center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.element img {
	height:auto;
	width:100%;
}

/*Filter*/
.ff-container {
	margin: 0px auto;
}
.ff-container label {
	font-family: Arial, sans-serif;
	height: 40px;
	cursor: pointer;
	color: #666;
	line-height: 40px;
	font-size: 13px;
	background: #fff;
	float:left;
	border-right:1px solid #EDEDED;
	padding: 0px 18px 0px 17px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.ff-container label:hover {
	background: #E12933;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.ff-container label.ff-label-type-all {
	border-radius: 0px;
	/*margin-left:190px;*/
}
.ff-container label.ff-label-type-3 {
	border-radius: 0px;
}
.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all {
	background: #E12933;
	color: #fff;
}
.ff-container input {
	display: none;
}
.ff-items {
	position: relative;
}
.ff-items a {
	display: block;
	position: relative;
}
.ff-items li img {
	display: block;
}
.ff-items li {
	float: left;
	-webkit-transition: opacity 0.6s ease-in-out;
	-moz-transition: opacity 0.6s ease-in-out;
	-o-transition: opacity 0.6s ease-in-out;
	-ms-transition: opacity 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out;
}
.ff-container input.ff-selector-type-all:checked ~ .ff-items li {
	opacity: 1;
}

.da-thumbs li, .da-thumbs li img {
	display: block;
	position: relative;
}
.da-thumbs li {
	overflow: hidden;
}
.da-thumbs li article {
	position: absolute;
	background-image:url(../img/image-overlay-dark.png);
	background-repeat:repeat;
	width: 100%;
	height: 100%;
}
.da-thumbs li article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px;
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
/*End*/
