{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit page</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(edit_form) }}

    <div class="form-group">
      <div class="col-lg-4">
        {{ form_label(edit_form.title, null, {'label_attr': {'class': 'control-label' }}) }}
        {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-12">
        {{ form_label(edit_form.body, null, {'label_attr': {'class': 'control-label' }}) }}
        {{ form_widget(edit_form.body, {'attr': {'class': 'tinymce', 'rows': 10}}) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4">
        {{ form_label(edit_form.slug, null, {'label_attr': {'class': 'control-label' }}) }}
        {{ form_widget(edit_form.slug, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {{ form_end(edit_form) }}

  </div>
</div>

<ul class="list-unstyled">
  <li>
    <a href="{{ path('page') }}">
      Back to the list
    </a>
  </li>
  <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}
{% endblock %}
