{% extends '::base.html.twig' %}

{% block body -%}
<h1>Pages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
    <tr>
      <td>{{ entity.title }}</td>
      <td>
        <ul class="list-unstyled">
          <li>
            <a href="{{ path('page_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
          </li>
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{# <ul class="list-unstyled">
    <li>
        <a href="{{ path('page_new') }}">
          <button type="button" class="btn btn-primary btn-xs">New Page</button>
        </a>
    </li>
  </ul> #}
  {% endblock %}
