{% extends '::base.html.twig' %}

{% block title %}{{ entity.title }} | Reshape{% endblock %}
{% block bigheader %}{{ entity.title }}{% endblock %}

{% block body -%}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        {{ entity.body | raw }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
