@charset "UTF-8";
/* CSS Document */

header .logo
{
	background:						url(/RESH/Images/Admin/logo.png) no-repeat center right;
}

section.signin .background
{
	background:						url(/RESH/Images/Admin/signInBackground.jpg) center;
	background-size:				cover;
	position:						fixed;
	top:							0px;
	left:							0px;
	width:							100%;
	height:							100%;
	z-index:-1;
}

section.signin .formArea
{
	width:							260px;
	margin:							auto;
	padding:						40px;
	background:						rgba(0, 0, 0, 0.6);
	color:							#fff;
	border:							none;
}

section.signin .logo
{
	background:						url(/RESH/Images/Admin/logo-big.png);
	width:							431px;
	height:							80px;
	position:						fixed;
	bottom:							30px;
	right:							30px;
}