<!--    {RESH}/RESH/Layouts/RESHdefaultLayout -->

<!--    {RESH}/RESH/Pages/SignUp/RESHsignUpProfessionalPage.css
        {RESH}/RESH/Pages/SignUp/RESHsignUpProfessionalPage.js -->
<section class="signUpPro">
    <div class="headerDiv">
    <div class="light"></div>
        <div class="h1Container">
            <h1 class="greyGradientShadow">PROFESSIONAL APPLICATION</h1>
            <h2><span class="stepTitle">Create Account</span> (Step <span class="curStep">1</span> of 5)</h2>
            <div class="logo"></div>
            <div class="name"></div>
            <ul id="errorsExplained"></ul>
        </div>
        <form id="signUpProForm" method="post">
        <div class="step" step="1" stepTitle="Create Account">
            <div class="row">
                <div class="left">
                    <input type="text" name="firstname" id="firstname" placeholder="First Name" title="Please enter you first name" autofocus required />
                </div>
                <div class="right">
                    <input type="text" id="lastname" placeholder="Last Name" title="Please enter your last name" required />
                </div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="left">
                    <input type="text" id="username" title="Please choose a username with at least 5 characters" placeholder="Username" required minlength="5" />
                </div>
                <div class="right">
                    <input type="email" id="email" placeholder="E-mail" required />
                </div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="left">
                    <input type="password" id="password" name="password" placeholder="Password" title="Please enter a password with 6 or more characters" minlength="6" required />
                </div>
                <div class="right">
                    <input type="password" id="password_confirm" name="password_confirm" title="The passwords are not the same." placeholder="Re-enter Password" required />
                </div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="left">
                    <input type="tel" id="phone" name="phone" placeholder="Phone Number" required title="Please enter a valid US Phone number" />
                </div>
                <div class="right">
                    <input type="text" id="zip" name="zip" class="zip digits" name="zip" placeholder="Zip" minlength="5" maxlength="5" title="Please enter a valid 5-digit zip code" required />
                    <input type="text" id="dob" name="dob" class="dob date date" placeholder="Date of Birth" title="Please enter a valid birthday"  required  />
                    <label class="labelCheat gender">
                        <select name="sex">
                            <option value="NotAnOption">Gender</option>
                            <option>Woman</option>
                            <option>Man</option>

                        </select>
                    </label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="center">
                        <label class="labelCheat">
                            <select name="timezone">
                                <option disabled>America</option>
                                <option>Eastern Standard Time Zone - UTC -05:00</option>
                                <option>Central Standard Time Zone - UTC -06:00</option>
                                <option>Mountain Standard Time Zone - UTC -07:00</option>
                                <option>Pacific Standard Time Zone - UTC -08:00</option>
                                
                            </select>
                        </label>
                </div>
            </div>
            <div class="tc">
                <div class="checkBox">
                    <input type="checkbox" id="checkbox" name="checkbox" value="1" title="Please accept the terms and conditions" required />
                </div>
                <div class="iAccept">I accept the <a href="#">terms and conditions</a></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="step" step="2" stepTitle="Professional Info" style="display:none">
        
            <h3>Professional Experience</h3>
            <div class="standard" name="prof_exp">
                <div class="row rowThree">
                    <div class="left">
                        <input type="text" placeholder="Profession" />
                    </div>
                    <div class="middle">
                        <input type="text" placeholder="Length of time" />
                    </div>
                    <div class="right">
                        <input type="text" placeholder="Location or Business" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row rowThree">
                <div class="left">
                    <input type="text" placeholder="Profession" />
                </div>
                <div class="middle">
                    <input type="text" placeholder="Length of time" />
                </div>
                <div class="right">
                    <input type="text" placeholder="Location or Business" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="addMoreArea" name="prof_exp"></div>
            <div class="addMore" what="prof_exp">+ Add more</div>
            
            <h3>References</h3>
            <div class="standard" name="ref">
                <div class="row rowThree">
                    <div class="left">
                        <input type="text" placeholder="Reference Name" />
                    </div>
                    <div class="middle">
                        <input type="text" placeholder="Phone" />
                    </div>
                    <div class="right">
                        <input type="text" placeholder="Relationship" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="addMoreArea" name="ref"></div>
            <div class="addMore" what="ref">+ Add more</div>
            <h3>Education</h3>
            <div class="standard" name="education">
                <div class="row rowThree">
                    <div class="left">
                        <input type="text" placeholder="Education" />
                    </div>
                    <div class="middle">
                        <input type="text" placeholder="Degree" />
                    </div>
                    <div class="right">
                        <input type="text" placeholder="School/University" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="addMoreArea" name="education"></div>
            <div class="addMore" what="education">+ Add more</div>
            
            <h3>Certifications</h3>
            <div class="standard" name="certifications">
                <div class="row">
                    <div class="center">
                        <input type="text" class="timezone" placeholder="Certification" /> <div class="documentProof"><input type="file" class="fileUpload" /><span class="uploadAction">Upload Verification</span><div class="fileUploadedSuccessfully"><img src="images/signUpPro/checkmark.png" /></div></div>
                    </div>    
                </div>
            </div>
            <div class="addMoreArea" name="certifications"></div>
            <div class="addMore" what="certifications">+ Add more</div>
            
        </div>
        <div class="step" step="3" stepTitle="Specialties" style="display:none">
            <div class="leftColumn">
                <h3>Training/Teaching Specialities</h3>
                <div class="standard" name="specialty">
                    <div class="row"><input type="text" placeholder="Specialty" /></div>
                </div>
                <div class="row"><input type="text" placeholder="Specialty" /></div>
                <div class="addMoreArea" name="specialty"></div>
                <div class="addMore" what="specialty">+ Add More</div>
            </div>
            <div class="rightColumn">
                <h3>Client Specialities</h3>
                <div class="standard" name="client_specialty">
                    <div class="row"><input type="text" placeholder="Client Specialty" /></div>
                </div>
                <div class="row"><input type="text" placeholder="Client Specialty" /></div>
                <div class="addMoreArea" name="client_specialty"></div>
                <div class="addMore" what="client_specialty">+ Add More</div>
            </div>
            <div class="clear"></div>
            
            <div class="addProfilePicContainer">
                <h3>Add Profile Picture</h3>
                <div class="addProfilePic"></div>
            </div>
        </div>
        
        <div class="step" step="4" stepTitle="Website - Social Data" style="display:none">
            <h3>Digital Footprint</h3>
            <div class="row">
                <div class="center">
                    <div class="row"><input type="text" class="timezone" placeholder="Website" /></div>
                    <div class="row"><input type="text" class="timezone facebook" placeholder="Facebook URL" /></div>
                    <div class="row"><input type="text" class="timezone twitter" placeholder="Twitter Username" /></div>
                    <div class="row"><input type="text" class="timezone instagram" placeholder="Instagram Username" /></div>
                    <div class="row"><input type="text" class="timezone youtube" placeholder="Youtube Channel" /></div>
                    <div class="row"><input type="text" class="timezone linkedin" placeholder="LinkedIn URL" /></div>
                    <div class="row"><input type="text" class="timezone pinterest" placeholder="Pinterest Username" /></div>
                </div>
            </div>
            
            
        </div>
        
        <div class="step" step="5" stepTitle="Additional Info" style="display:none">
            <h3>Additional Info</h3>
            <div class="row">
                <div class="center">
                    <div class="row"><input type="text" class="timezone" placeholder="Where do you currently train/teach" /></div>
                    <div class="row"><input type="text" class="timezone" placeholder="Have you ever done video training/teaching before?" /></div>
                </div>
            </div>
            
            <h3>How did you hear about Reshape?</h3>
            <div class="row">
                <div class="center">
                    <div class="row">
                        <label class="labelCheat">
                            <select>
                                <option>Internet</option>
                                <option>Club</option>
                                <option>Bar</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        
        <input type="button" class="back" value="&lt;&nbsp;&nbsp;&nbsp;&nbsp;Back" />
        <input type="submit" class="submit" value="Submit" />
        <div class="progress"></div>
        </form>
    </div>
    
</section>
