﻿@charset "UTF-8";
/* CSS Document */

.profileInfo {
    background: #fff;
    padding-bottom: 50px;
    padding-top:    40px;
}
/*
.profileInfo ol {
    display: block;
    width: 100%;
    background: url(/RESH/Images/stepsBg.png) repeat-x;
    height: 95px;
    margin: 40px 0;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
    -ms-border-radius: 18px;
}

.profileInfo ol li {
    float: left;
    list-style: none;
    width: 20%;
    position: relative;
    background: url(/RESH/Images/stepsDivider.png) right center no-repeat;
    height: 95px;
	cursor:pointer;
}

.profileInfo ol li:last-child {
    background: none;
}

.profileInfo ol li .padding {
    display: block;
    text-decoration: none;
    padding: 30px 20px 15px 30px;
    height: 50px;
}

.profileInfo ol li.first .padding {
    border-bottom-left-radius: 18px;
    -moz-border-bottom-left-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -o-border-bottom-left-radius: 18px;
    -ms-border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    -moz-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    -o-border-top-left-radius: 18px;
    -ms-border-top-left-radius: 18px;
}

.profileInfo ol li.last .padding {
    border-bottom-right-radius: 18px;
    -moz-border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -o-border-bottom-right-radius: 18px;
    -ms-border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    -moz-border-top-right-radius: 18px;
    -webkit-border-top-right-radius: 18px;
    -o-border-top-right-radius: 18px;
    -ms-border-top-right-radius: 18px;
}


.profileInfo ol li .tabwrap {
    font-family: 'SansationRegular';
    color: #2e3536;
    display: block;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 21px;
    padding-left: 30px;
}

.profileInfo ol li .tabwrap.oneline {
    line-height: 40px;
}

.profileInfo ol li.active .tabwrap, .profileInfo ol li:hover .tabwrap {
    color: #fff;
    font-family: 'SansationBold';
}

.profileInfo ol li.active .padding, .profileInfo ol li .padding:hover {
    background: url(/RESH/Images/stepActive.png) repeat-x;
    color: #fff;
}

.profileInfo ol li .tab {
    position: absolute;
    left: 10px;
    top: 35px;
    width: 40px;
    height: 42px;
    background: url(/RESH/Images/icons.png) 0 -1px no-repeat;
    margin-top: -5px;
}
*/
.profileInfo ol {
    display: block;
    width: 100%;
    background: url(/RESH/Images/stepsBg.png) repeat-x;
    height: 55px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
    -ms-border-radius: 18px;
}

.profileInfo ol li {
    float: left;
    list-style: none;
    width: 20%;
	margin-left:-1px;
    position: relative;
	border-right:1px solid #ccc;
    height: 55px;
	cursor:pointer;
}

.profileInfo ol li:last-child {
    background: none;
	border-right:none !important;
}

.profileInfo ol li .padding {
    display: block;
    text-decoration: none;
    padding: 8px 20px 15px 30px;
    height: 33px;
}

.profileInfo ol li.first .padding {
    border-bottom-left-radius: 18px;
    -moz-border-bottom-left-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -o-border-bottom-left-radius: 18px;
    -ms-border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    -moz-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    -o-border-top-left-radius: 18px;
    -ms-border-top-left-radius: 18px;
}

.profileInfo ol li.last .padding {
    border-bottom-right-radius: 18px;
    -moz-border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -o-border-bottom-right-radius: 18px;
    -ms-border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    -moz-border-top-right-radius: 18px;
    -webkit-border-top-right-radius: 18px;
    -o-border-top-right-radius: 18px;
    -ms-border-top-right-radius: 18px;
}


.profileInfo ol li .tabwrap {
    font-family: 'SansationRegular';
    color: #2e3536;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    padding-left: 15px;
	text-align:center;
}

.profileInfo ol li .tabwrap.oneline {
    line-height: 40px;
}

.profileInfo ol li.active .tabwrap, .profileInfo ol li:hover .tabwrap {
    color: #fff;
    font-family: 'SansationBold';
}

.profileInfo ol li.active .padding, .profileInfo ol li .padding:hover {
    background: url(/RESH/Images/stepActive.png) repeat-x;
    color: #fff;
}

.profileInfo ol li .tab {
    position: absolute;
    left: 11px;
    top: 11px;
    width: 40px;
    height: 42px;
    background: url(/RESH/Images/icons.png) 0 -1px no-repeat;
    margin-top: -5px;
}

.profileInfo ol li .tab.tab1 {
    background-position: -1px 0;
}

.profileInfo ol li .tab.tab2 {
    background-position: -42px 0;
}

.profileInfo ol li .tab.tab3 {
    background-position: -82px 0;
}

.profileInfo ol li .tab.tab4 {
    background-position: -123px 0;
}

.profileInfo ol li .tab.tab5 {
    background-position: -164px 0;
}

.profileInfo ol li.active .tab.tick, .profileInfo ol li a:hover .tab.tick {
    background-position: -35px -148px;
}

.profileInfo ol li .bottom {
    display: block;
    font-family: "gotham_book";
    color: #1b1f20;
    font-size: 13px;
    margin-top: 5px;
}

.profileInfo ol li.active .bottom, .profileInfo ol li a:hover .bottom {
    color: #fff;
}

.profileInfo h3 {
    font-size: 27px;
    text-align: center;
    font-weight: 300;
    color: #333333;
    margin: 65px 0 25px 0;
}

.profileInfo h3 strong {
    font-weight: 600;
}

#pictogramsSlider {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    position: relative;
}

.profileInfo .arrow {
    display: none;
    width: 19px;
    height: 32px;
    background: url(/RESH/Images/pictogramsArrows.png) left top no-repeat;
    position: absolute;
    top: 300px; 
    left: -150px;
}

.profileInfo .arrow.right {
    background-position: -19px 0;
    right: -180px;
    left: auto;
}


/* tabs - stars */
.profileInfo ol li ul.ratings {
    position: absolute;
    left: 60px;
    margin-top: -5px;
}

.profileInfo ol li ul.ratings li {
    display: block;
    width: 14px;
    height: 14px;
    background: url(/RESH/Images/ratings_big.png) no-repeat;
    float: left;
    border-radius: 0;
    padding: 0;
    margin: 0 2px;
}


.profileInfo ol li ul.ratings li.half {
    background-position: -12px 0;
}

.profileInfo ol li ul.ratings li.empty {
    background-position: right 0;
}

/* profile content */

.profileInfo .leftCol {
    float: left;
    width: 580px;
}

.profileInfo .rightCol {
    float: right;
    width: 340px;
}

.profileInfo .box {
    margin: 20px 0;
}

.profileInfo .speciality {
    float: left;
    width: 100px;
    margin-right: 8px;
}

.profileInfo .speciality img {
}

.profileInfo .speciality .bottom {
    background: #eaeaea;
    width: 95px;
    height: 19px;
    font-size: 8px;
    font-family: "oswaldregular";
    color: #636363;
    line-height: 19px;
    padding-left: 5px;
    margin-top: -4px;
}

.tabContainer h3{ 
}

.profileInfo .box .padding {
    margin-left: 25px;
}
.profileInfo .box h3 {
    background: url(/RESH/Images/profileBullet.jpg) 0 5px no-repeat;
    padding-left: 23px;
    text-align: left;
    font-size: 17px;
    margin: 10px 0;
    font-weight: 600;
    line-height: 22px;
    font-family: "Open Sans";
}


.profileInfo .box p {
    text-align:             justify;
    font-family:            "Open Sans";
    font-size:              13px;
    line-height:            19px;
}

.profileInfo .box ul li {
    list-style: disc;
    color: #1f2324;
    font-family: "gotham_book";
    font-size: 13px;
}

.profileInfo .box h3.certificateIcon {
    background: url(/RESH/Images/profileBullet.jpg) 0 8px no-repeat;
}

.profileInfo .box h3.certificateIcon span {
    display: inline-block;
    /*background: url(/RESH/Images/certificateIcon.jpg) no-repeat;*/
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 5px;
}

.profileInfo .certificates .certificateDesc {
    text-align: left;
    font-family: "gotham_book";
    font-size: 13px;
    width: 200px;
    vertical-align: middle;
}


.profileInfo .certificates .certificateImage {
    width: 60px;
}
.profileInfo .tabsList .stars{
	background:url(/RESH/Images/reviews/stars16.png);
	width:93px;
	height:16px;
	margin-top: 0px;
	margin-left: 55px;
}
.profileInfo .tabsList .stars[stars='4.5']{
	background-position: 0px -16px;
}
.profileInfo .tabsList .stars[stars='4']{
	background-position: -19px 0px;
}
.profileInfo .tabsList .stars[stars='3.5']{
	background-position: -19px -16px;
}
.profileInfo .tabsList .stars[stars='3']{
	background-position: -38px 0px;
}
.profileInfo .tabsList .stars[stars='2.5']{
	background-position: -38px -16px;
}
.profileInfo .tabsList .stars[stars='2']{
	background-position: -57px 0px;
}
.profileInfo .tabsList .stars[stars='1.5']{
	background-position: -57px -16px;
}
.profileInfo .tabsList .stars[stars='1']{
	background-position: -76px 0px;
}
