﻿.session-overview-page
{
    position:           relative;
    margin:             auto;
    padding-top:        60px;
}

body
{
    background:         #f9f9f9;
}

.session-overview-page h1
{
    text-align:         left;
}

.session-overview-page .main-img-container
{
    width:              638px;
    padding-right:      50px;
    float:              left;
    height:             358px;
    overflow:           hidden;
}

.session-overview-page .main-img-container img
{
    width:              100%;
}

.session-overview-page .main-info-container
{
    float:              left;
    width:              310px;
}

.session-overview-page .host
{
    margin-bottom:      15px;
}

.session-overview-page .host .img-container
{
    float:              left;
    width:              75px;
    height:             75px;
    overflow:           hidden;
    
    margin-right:        42px;
}

.session-overview-page .host .img-container img
{
}

.session-overview-page .host .text-container
{
    float:              left;
    margin-top:         18px;
}

.session-overview-page .host .text-container .line1
{
    font-size:          12px;
}

.session-overview-page .host .text-container .line2
{
    font-size:          16px;
    font-weight:        600;
}

.session-overview-page .main-description
{
    font-size:          13px;
    line-height:        22px;
    margin-top:         35px;
    text-align:         justify;
}

.session-overview-page .transactions-overview .row
{
    font-size:          14px;
}

.session-overview-page .transactions-overview-container
{
    float:              right;
    margin-top:         35px;
    width:              310px;
    margin-left:        50px;
    margin-bottom:      100px;
}

.session-overview-page .transactions-overview .row .amount
{
    font-weight:        300;
}

.session-overview-page .view-invoice
{
    font-size:          11px;
    text-align:         right;
    margin-top:         5px;
}

.session-overview-page a
{
    color:              #000;
    text-decoration:    none;
}

.session-overview-page a:hover
{
    color:              #e11330;
}