@charset "UTF-8";
/* CSS Document */

/* recommended products */

.recommendedProducts {
    background: #fff;    
    overflow: hidden;
    height: 310px;
}

.recommendedProducts .wrapper {
    text-align: center;
    width: 90%;
    padding: 0 20px;
    margin: 0 auto;
}

.recommendedProducts .wrapper .arrow {
    display: block;
    width: 13px;
    height: 23px;
    background: url(../images/arrows.png) left top no-repeat;
    float: left;
    margin-top: 65px;
}

.recommendedProducts .wrapper .arrow.right {
    background-position: right top;
    float: right;
}

.recommendedProducts .inside {
    display: inline-block;
}

.recommendedProducts ul.productList {
   overflow: hidden;
   height: 180px;
   float: left;
}


.recommendedProducts ul.productList li {
    float: left;
    margin: 0 25px;
    width: 145px;
}

.recommendedProducts ul.productList li a {
    text-decoration: none;
    text-align: left;
}

.recommendedProducts ul.productList li a .productName {
    display: block;
    font-size: 14px;
    color: #2e3536;
    text-decoration: none;
}

.recommendedProducts ul.productList li a .productDesc {
    display: block;
    font-size: 8px;
    color: #2e3536;
    text-decoration: none;
}


.recommendedProducts ul.productList li img {
    display: block;
    margin: 10px 0 10px 0;
}

.recommendedProducts ul.productList li .productBottom {
    font-size: 10px;
    text-align: left;
    color: #323839;
}

.recommendedProducts ul.productList li .productBottom ul.ratings {
    float: right;
}

.recommendedProducts ul.productList li .productBottom ul.ratings li {
    display: block;
    width: 11px;
    height: 11px;
    float: left;
    margin: 0;
}

.recommendedProducts ul.productList li .productBottom ul.ratings li a {
    display: block;
    width: 11px;
    height: 10px;
    background: url(../images/stars.png);
    float: left;
}

.recommendedProducts ul.productList li .productBottom ul.ratings li.half a {
    background-position: -12px 0;
}

.recommendedProducts ul.productList li .productBottom ul.ratings li.empty a {
    background-position: right 0;
}

.recommendedProducts .productListHeader {
    width: 780px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.recommendedProducts .productListHeader h3 {
    font-family: 'SansationRegular';
    font-weight: 300;
    font-size: 23px;
    color: #2e3536;
    float: left;
}

.recommendedProducts .productListHeader h3 span {
    font-size: 14px;
}

.recommendedProducts .productListHeader .selectWrap {
    float: right;
}