﻿.home-page .patternArea
{
    height:                     480px;
}

.home-page .whiteArea
{
    min-height:                 470px;
}

.home-page .full-size-slider
{
    margin:                     auto; 
    margin-top:                 -180px;
    z-index:                    1; 
    position:                   relative; 
    min-width:                  1000px; 
    max-width:                  1920px;
}

.home-page .main-heading-container
{
    margin:                     -270px auto auto -500px;
    position:                   absolute;
    width:                      1000px;
    left:                       50%;
    font-family:                'Open Sans';
    text-align:                 center;
}

.home-page h1
{
    font-family:                'Open Sans' !important;
    font-size:                  60px !important;
    color:                      rgb(238, 238, 238) !important;
    text-shadow:                2px 2px 0px rgb(0, 0, 0);
    margin-top:                 20px;
}

.home-page h2
{
    color:                      rgb(255, 255, 255) !important;
    font-family:                'Open Sans' !important;
    font-size:                  19px !important;
    font-weight:                400 !important;
    margin-top:                 -30px;
}

#picTraining
{
    margin-top:                 -105px;
    position:                   absolute;
    left:                       50%;
    margin-left:                -302px;
}

.home-page .left-wall
{
    left:                       10px;
    z-index:                    -1;
    margin-top:                 -90px;
    position:                   absolute;
}

.home-page .right-wall
{
    position:                   absolute;
    right:                      10px;
    z-index:                    -1;
    margin-top:                 -90px;
}

.home-page .video-btn
{
    cursor:                     pointer;
    position:                   absolute;
    width:                      100%;
    margin-top:                 160px;
}

.home-page .indexMainVideoContainer
{
    display:                    none;
    position:                   absolute;
    margin:                     auto;
    width:                      100%;
    margin-top:                 -30px;
}

.home-page .videoDiv
{
    margin-top:                 -402px; 
    margin-left:                -7px
}

.stripesArea h3
{
    font-family:                'Open Sans' !important;
    font-weight:                300 !important;
}

.viewAllTrainers
{
    margin-top:                 10px;
    font-size:                  15px;
    font-family:                'Open Sans'; 
    text-align:                 center
}

.viewAllTrainers a
{
	color:                      #fff;
    text-decoration:            none; 
    font-family:                "Open Sans"
}
		
.viewAllTrainers a:hover
{
	color:			            #ce2127;
}

.grid-element-container
{
    height:                     230px; 
    overflow:                   hidden;
}

.connect-to-tv-section
{
    background:                 #fff;
    text-align:                 center;
}

#reviews h2
{
    color:                      #333 !important;
}

.camera-icon
{
    margin:                     0px 14px;
    display:                    inline-block;
    width:                      62px;
    height:                     45px;
    background:                 url("http://static.reshape.net/RESH/Images/cameraIcon.png") no-repeat scroll 0% 0% transparent;
    float:                      left;
}