@charset "UTF-8";
/* CSS Document */

.oneOnOneTrainer{
	font-family:"Open Sans";
	position:relative;
}
.oneOnOneTrainer .container {
	width:100%;
	height:423px;
	background:#f0f0f0;
	color:#000;
}
.oneOnOneTrainer .container .image{
	background:url(../images/dummy1.jpg);
	width:306px;
	height:423px;
	float:left;
}
.oneOnOneTrainer .container .textContainer{
	padding:30px;
	float:left;
	width:550px;
	text-align:left;
}
.oneOnOneTrainer .container .textContainer h1{
	margin-bottom:13px !important;
	font-size:18px !important;
	color:#000 !important;
}
.oneOnOneTrainer .container .textContainer p{
	font-size:12px;
	line-height:16px;
	color:#000 !important;
	text-align:justify;
	margin-bottom:30px;
}
.oneOnOneTrainer .container .priceContainer{
	font-size:12px;
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
	margin-bottom:3px;
	width:210px;
}
.oneOnOneTrainer .container .priceContainer:last-child{
	border-bottom:none;
}
.oneOnOneTrainer .container .pricesContainer .length{
	display:inline-block;
	width:65px;
}
.oneOnOneTrainer .container .pricesContainer .currency{
	display:inline-block;
}
.oneOnOneTrainer .container .pricesContainer .price {
	display:inline-block;
	width:40px;
	text-align:right;
}
.oneOnOneTrainer .actionBtn{
	position: absolute;
	bottom: 67px;
	right: 140px;
	font-size:11px;
}