@charset "UTF-8";
/* CSS Document */

.sessionsTrainer{
	margin-left:-25px;
	margin-top:20px;
}
.sessionsTrainer a{
	text-decoration:none;
	color:#000000;
}
.sessionsTrainer a:hover{
	color:#ce2127;
}
.sessionsTrainer .groupContainer{
	width:200px;
	height:400px;
	position:absolute;
	z-index:2;
	background:#f0f0f0;
	color:#000
}
.sessionsTrainer .groupContainer:hover{
	
}
.sessionsTrainer .groupContainer .picture{
	overflow:hidden;
	background:#b2b2b2;
}
.sessionsTrainer .textContainer{
	padding-left:10px;
	padding-right:10px;
}
.sessionsTrainer .groupContainer .header{
	line-height:45px;
	font-size:18px;
	font-family: 'oswaldregular';
}
.sessionsTrainer .groupContainer .description{
	font-size:10px;
	text-align:justify;
}
.sessionsTrainer .groupContainer .upcomingSessionContainer{
	margin-top:10px; 
	font-size:11px
}
.sessionsTrainer .groupContainer .upcomingSessionContainer .session{
	padding:3px;
	border-top:1px solid #ccc; 
	margin-top:3px;
}
.sessionsTrainer .groupContainer .upcomingSessionContainer .session .spotsLeft{
	color:green; 
	float:right
}

.sessionsTrainer .groupContainer .upcomingSessionContainer .session .noLeft{
	color:#ce2127 !important;
}

.sessionsTrainer .sessionContainer{
	position:relative;
	margin-left:25px;
	float:left;
	width:200px;
	height:400px;
	margin-bottom:20px;
}
.sessionsTrainer .sessionContainer .shadow{
	background:url(../images/trainerPage/backgrounds/shadow-under.png);
	width:230px;
	height:15px;
	position:absolute;
	z-index:0;
	top: 264px;
	left: -15px;
}
.sessionsTrainer .learnMore{
	margin-top:15px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:11px;
	position:absolute;
	bottom:0px;
	width:100%;
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e7e7e7 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e7e7 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e7e7 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7e7e7 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#dbdbdb',GradientType=0 ); /* IE6 */
}
.sessionsTrainer .learnMore:hover{
	color:#fff;
	cursor:pointer;
	background: #ce2127; /* Old browsers */
	background: -moz-linear-gradient(top, #ce2127 0%, #9b1d22 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce2127), color-stop(100%,#9b1d22)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ce2127 0%,#9b1d22 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ce2127 0%,#9b1d22 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ce2127 0%,#9b1d22 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ce2127 0%,#9b1d22 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce2127', endColorstr='#9b1d22',GradientType=0 ); /* IE6
}