@charset "UTF-8";
/* CSS Document */

.classTrainer{
	font-family:"Open Sans";
	position:relative;
}
.classTrainer .container {
	width:100%;
	height:294px;
	background:#f0f0f0;
	color:#000;
}
.classTrainer .container .image{
	background:url(../images/dummy2.jpg);
	width:400px;
	height:294px;
	float:left;
}
.classTrainer .container .textContainer{
	padding:30px;
	float:left;
	width:456px;
	text-align:left;
}
.classTrainer .container .textContainer h1{
	margin-bottom:13px !important;
	font-size:18px !important;
	color:#000 !important;
}
.classTrainer .container .textContainer p{
	font-size:12px;
	line-height:16px;
	color:#000 !important;
	text-align:justify;
	margin-bottom:20px;
}
.classTrainer .container .priceContainer{
	font-size:12px;
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
	margin-bottom:3px;
	width:250px;
}
.classTrainer .container .priceContainer:last-child{
	border-bottom:none;
}
.classTrainer .container .pricesContainer .length{
	display:inline-block;
	width:85px;
}
.classTrainer .container .pricesContainer .currency{
	display:inline-block;
}
.classTrainer .container .pricesContainer .price {
	display:inline-block;
	width:40px;
	text-align:right;
}
.classTrainer .container .pricesContainer .desc {
	display:inline-block;
	margin-left:10px;
	font-size: 9px;
}
.classTrainer .actionBtn{
	position: absolute;
	bottom: 52px;
	right: 60px;
	font-size:11px;
}