﻿.service-package-iframe-page
{
    text-align:  center;
    max-width:   1470px;
    margin:      auto;
}

.not-offered
{
    line-height: 400px;
    text-align:  center;
    font-size:   27px;
    color:       #fff;
}

.no-slider
{
}

.no-slider .html-container
{
    width:      342px;
    margin:     10px;
    height:     315px;
    position:   relative;
    display:    inline-block;
    vertical-align: top;
    text-align: left;
    overflow:   hidden;
}