@charset "UTF-8";
/* CSS Document */

.dashboardLineGraph .heading{
	font-family:"Open Sans";
	font-weight:bold;
	font-size:20px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
}
#chart_div{
	width:100%;
	height:300px;
}