﻿@charset "UTF-8";
/* CSS Document */

.dashboardProfileBar{
	font-family:"Open Sans";
	position:relative;
	background:#f7f7f7; 
	height:50px;
	padding:20px;
	padding-top:10px;
	margin-bottom:20px;
	margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
}
.dashboardProfileBar .profileContainer{}
.dashboardProfileBar .profileContainer .picture{ 
	float:left;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.dashboardProfileBar .profileContainer .picture img
{
	height:	60px;
} 

.dashboardProfileBar .profileContainer .textContainer a{
	text-decoration:none;
	color:#000;
}
.dashboardProfileBar .profileContainer .textContainer a:hover{
	color:#ce2127;
}
.dashboardProfileBar .profileContainer .textContainer{ 
	float:left;
	margin-left:20px;
}
.dashboardProfileBar .profileContainer .textContainer .name{
	font-size:28px;
	margin-top:2px;
}
.dashboardProfileBar .profileContainer .textContainer .editProfile{
	font-size:12px;
	margin-top:2px;
}