﻿@charset "UTF-8";
/* CSS Document */

.dashboardCalendarWidget{
    position:relative;
    font-family:"Open Sans";
}
.dashboardCalendarWidget .headerContainer{
}
.dashboardCalendarWidget .headerContainer .browseLeft{
    float:left;
    width:50px;
}
.dashboardCalendarWidget .headerContainer .header{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 15px;
}
.dashboardCalendarWidget .headerContainer .browseRight{
    float:right;
    width:50px;
}

.dashboardCalendarWidget .daysContainer{
    font-size:13px;
    padding-bottom:8px;
    border-bottom:1px solid #ccc;
    margin-bottom:15px;
    margin-top: -7px;
}
.dashboardCalendarWidget .daysContainer .day{
    width:14.25%;
    text-align:center;
    float:left;
    margin-top:-8px;
}

.dashboardCalendarWidget .calendarContainer{
    display:table;
    width:100%;
}
.dashboardCalendarWidget .calendarContainer .calendarRow{
    display:table-row;
    height:40px;
}
.dashboardCalendarWidget .calendarContainer .calendarRow .dateContainer{
    display:table-cell;
    width:14.25%;
    text-align:center;
    font-size:16px;
    padding-top:3px;
    
}
.dashboardCalendarWidget .calendarContainer .calendarRow .lastMonth, .dashboardCalendarWidget .calendarContainer .calendarRow .nextMonth{
    color:#999;
}
.dashboardCalendarWidget .calendarContainer .calendarRow .curDate{
    background:url(http://static.reshape.net/RESH/Images/dashboard/blackcircle.png) no-repeat center 0px;
}
.dashboardCalendarWidget .calendarContainer .calendarRow .curDate{
    color:#FFF;
}
.dashboardCalendarWidget .calendarContainer .calendarRow .dateContainer .date{
    text-align: center;
}
.dashboardCalendarWidget .calendarContainer .calendarRow .dateContainer .dot{
    width:100%;
    height:5px;
}
.dashboardCalendarWidget .calendarContainer .calendarRow .dateContainer .active{
    background:url(http://static.reshape.net/RESH/Images/dashboard/dot.png) no-repeat center;
}
.dashboardCalendarWidget .calendarContainer .calendarRow .curDate .active{
    background:url(http://static.reshape.net/RESH/Images/dashboard/dotWhite.png) no-repeat center !important;
}