<!--    {RESH}/RESH/Layouts/RESHdashboardProLayout 

        {RESH}/RESH/Pages/Dashboard/Professional/EditInfo/RESHdashboardEditInfoPage.css
        {RESH}/RESH/Pages/Dashboard/Professional/EditInfo/RESHdashboardEditInfoPage.js
-->
<div class="mainArea">
    <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardLeftMenu -->

    <div class="mainContentContainer">
        <section class="editAccountPro">
            <div class="headerDiv">
            <div class="light"></div>
                <form>
                    <div class="heading">Identification</div>
                    <div class="row">
                        <label>Public Name<span class="redStar">*</span></label><input type="text" id="firstname" value="Marc Megna" />
                    </div>
                    <div class="row">
                        <label>Website<span class="redStar">*</span></label><input type="text" id="lastname" value="www.marcmegna.com" />
                    </div>
                    <div class="row">
                        <label>Tag Line<span class="redStar">*</span></label><input type="text" id="lastname" value="Celebrity Coach and Former Pro Athlete" />
                    </div>
                    
                    <div class="heading">Logo</div>
                    <div class="row">
                        <label>Current Logo</label><img src="images/marcLogo.jpg" />
                    </div>
                    <div class="row">
                        <label>Upload New Logo</label><input type="file" />
                    </div>
                    <div class="row">
                        <label>Or use gym logo</label>
                        <label class="labelCheat">
                            <select>
                                <option>Equinox</option>
                                <option>Crunch</option>
                                <option>Energii</option>
                            </select>
                        </label>
                    </div>
                    
                <input type="submit" class="submit" value="Submit" />
                <div class="progress"></div>
                </form>
            </div>    
        </section>
    </div>
</div>