@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
	background:#000000;
	overflow:hidden;
	font-family: "Open Sans";
}

header {
	height:95px;
}
.logo{
	background:url(../images/logo.png);
	width:231px;
	height:90px;
	text-indent:-10000px;
	margin-left:30px;
	margin-top:0px;
	float:left;
}
.optionsContainer{
	float:right;
	margin-top:10px;
	margin-right:30px;
}
.optionsContainer .option{
	float:left;
	padding:10px 20px;
	border-right:1px solid #FFF;
	color:#FFF;
}
.optionsContainer .option:nth-of-type(1){
	border-left:1px solid #FFF;
}
.optionsContainer .option:hover{
	color:#c82127;
	cursor:pointer;
}
.videoArea{
	display:table;
	width:100%;
}
.videoArea .videoLeft{
	display:table-cell;
}
.videoArea .videoRight{
	display:table-cell;
	width:25%;
}
.videoArea .clientVideoContainer{
	float:left;
	background:#CCC;
}
.videoArea[num='9'] .clientVideoContainer{
	width:33%;
}
.videoArea .clientVideoContainer .clientVideoSubContainer{
	margin:25px;
	position:relative;
}
.videoArea .clientVideoContainer .clientVideoSubContainer .video{
	height:100%;
	width:100%;
	display:inline-block;
	color:#006633
}
.trainerVideo{
	width:100%;
	margin:25px;
}
.chatContainer{
	background:#dbdbdb;
	margin:25px;
}
.chatContainer .chatStream{
	min-height:200px;
}
.chatContainer input{
	width:100%;
	line-height:40px;
	font-size:17px;
	height:40px;
	background:#fff;
	border:none;
	text-indent:20px;
	padding:0px;
}
.chatContainer input:focus{
	outline:none;
}