@charset "UTF-8";
/* CSS Document */
.signUpPro{
	position:relative;
}
.signUpPro .headerDiv{
	position: relative;
	z-index: 1;
	background-image: url(/RESH/Images/top/patternTransparent.png);
	background-color: rgb(31, 31, 33);
	text-align: center;
	min-height:1000px;
}
.signUpPro .light{
	position: absolute;
	z-index: -1;
	background: url(/RESH/Images/light.png) center top no-repeat;
	overflow: hidden;
	bottom:0px;
	height: 500px;
	width: 100%;
}
.signUpPro h1{
	font-size:32px;
}
.signUpPro h2{
	color: #c2e1e5;
	font-size:22px;
}
.signUpPro .h1Container{
	text-align:center;
	display:inline-block;
	margin-top:30px;
	margin-bottom:20px
}

.signUpPro .h1Container h1
{
	color:			#EAEAEA;
}

.signUpPro .logo{
	background:url(/RESH/Images/signUpPro/logo.png);
	background-position:center;
	background-repeat:no-repeat;
	height:43px;
	margin-top:30px;
	margin-bottom:10px;
}
.signUpPro .name{
	display:none;
	font-size:28px;
	line-height:43px;
	color:#fff;
	height:43px;
	margin-top:30px;
	margin-bottom:10px;
}
.signUpPro input{
	padding: 12px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: inset 0 4px 10px #333;
	-webkit-box-shadow: inset 0 4px 10px #333;
	box-shadow: inset 0 4px 8px #333;
	border: none;
	background-color: #d3d3d3;
	width: 280px;
	height: 24px;
	font-size: 14px;
}
.signUpPro input:focus{
	background-color: #fff;
}
.signUpPro input.error{
	background-color:#CC6666;
}
.signUpPro input.error:focus{
	background-color:#FFFFCC;
}
.signUpPro #errorsExplained{
	display:none;
	background: none repeat scroll 0% 0% rgb(204, 102, 102);
	padding: 10px;
	color: #333;
	margin-top: 20px;
	border: 2px solid #ce2127;
	list-style-type:disc;
}
.signUpPro #errorsExplained li{
	text-align:left;
	font-size:13px;
	margin-left:20px;
}

.signUpPro .zip{
	width:45px;
}
.signUpPro .dob{
	margin-left:10px;
	margin-right:10px;
	width:80px;
}
.signUpPro .gender{
	width:102px;
}
.signUpPro .step{
	width:640px;
	margin:auto;
}
.signUpPro .row{
	margin-bottom:15px;
}
.signUpPro .left{
	float:left;
}
.signUpPro .middle{
	float:left;
}
.signUpPro .right{
	float:right;
}
.signUpPro .center{
	display:inline-block;
	margin:auto;
}
.signUpPro .center input{
	width:370px;
}

.signUpPro .documentProof {
    display:			inline-block;
	margin-left: 		16px;
	font-family: 		"Open Sans";
	margin-top: 		14px;
	color: 				#f7f7f7;
	font-size: 			12px;
	width:				107px;
}

.signUpPro .documentProof:hover
{
	color:				#ce2127;
	cursor:				pointer;
}

.signUpPro .documentProof input {
	width:				0px !important;
	height:				0px;
	padding:			0px;
}

.signUpPro .fileUploadedSuccessfully
{
	display:		none;
	float:			right;
	margin-left:	10px;
}

.signUpPro input[type='submit'], .signUpPro input[type='button']{
	margin-top:20px;
	margin-bottom:30px;
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 38px;
	width: 150px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#d3d3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#d3d3d3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
}
.signUpPro input[type='submit']:hover, .signUpPro input[type='button']:hover{
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top, #d3d3d3 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d3d3d3 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d3d3d3 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d3d3d3 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d3d3d3 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.signUpPro .back{
	width: 80px !important;
	margin-right:10px;
	display:none;
}
.signUpPro input[type='checkbox']{
	width:15px;
}
.signUpPro .tc{
	width:280px;
	margin:auto;
}
.signUpPro a{
	color:#fff;
}
.signUpPro .tc .iAccept{
	margin-top:12px;
	float:left;
	font-size:12px;
	color:#fff;
}
.signUpPro .tc .checkBox{
	margin-top: 6px;
	margin-right: 8px;
	margin-left:30px;
	float:left;
}
.signUpPro h3{
	font-style:italic;
	font-size:14px;
	color:#eaeaea;
	margin-bottom:15px;
}
.signUpPro .rowThree .left input{
	width:248px !important;
}
.signUpPro .rowThree .middle input{
	width:100px !important;
	margin-left:20px;
}
.signUpPro .rowThree .right input{
	width:180px !important;
}
.signUpPro .addMore{
	text-align: left;
	color: #eaeaea;
	font-size: 12px;
	margin-top: 10px;
}
.signUpPro .addMore:hover{
	cursor:pointer;
	color:#ce2127;
}
.signUpPro .leftColumn{
	float:left;
	width:48%;
}
.signUpPro .rightColumn{
	float:right;
	width:48%;
}
.signUpPro .addProfilePicContainer{
	text-align:center;
	margin-top: 50px;
	display: inline-block;
	margin-bottom: 20px;
}
.signUpPro .addProfilePic{
	background:url(/RESH/Images/signUpPro/add-profile-image.png);
	width:193px;
	height:145px;
}
.signUpPro .addProfilePic:hover{
	background-position:0px -145px;
	cursor:pointer;
}
.signUpPro .facebook{
	background:url(/RESH/Images/signUpPro/facebook.png) no-repeat right 10px center #d3d3d3;
}
.signUpPro .twitter{
	background:url(/RESH/Images/signUpPro/twitter.png) no-repeat right 10px center #d3d3d3;
}
.signUpPro .instagram{
	background:url(/RESH/Images/signUpPro/instagram.png) no-repeat right 10px center #d3d3d3;
}
.signUpPro .youtube{
	background:url(/RESH/Images/signUpPro/youtube.png) no-repeat right 10px center #d3d3d3;
}
.signUpPro select {
    font-size:14px;
    padding:12px;
    margin: 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: inset 0 4px 10px #333;
	-webkit-box-shadow: inset 0 4px 10px #333;
	box-shadow: inset 0 4px 8px #333;
    background: #d3d3d3;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	width:394px;
}


.signUpPro .gender select {
	width: 102px !important;
	padding: 15px !important;
	padding-left: 8px !important;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.signUpPro .labelCheat select {
		padding-right:30px;
	}
	
}

.signUpPro .labelCheat {
	position:relative
}

.signUpPro .labelCheat:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#333;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:16px; top:0px;
	margin-top:-3px;
    padding:5px 0px 5px 5px;
    border-bottom:1px solid #999;
    position:absolute;
	height:15px;
    pointer-events:none;
	background:#d3d3d3;
}
.signUpPro .labelCheat:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}