﻿.join-reshape
{
    position:           relative;
    padding-top:         80px;
}

.join-reshape .form-container
{
    margin:             auto;
    margin-top:         55px;
    width:              377px;
}

.join-reshape .link-pro
{
    font-size:          14px;
    margin-top:         36px;
    text-align:         center;
}

.join-reshape .link-pro a
{
}

.join-reshape label
{
    width:              100px;
    text-align:         left;
}

.join-reshape div.submit
{
    margin-left:        305px;
}

body
{
    background:         #f9f9f9;
}

.facebook-container
{
    text-align:         center;
    margin-top:         20px;
}

.facebook-container:hover
{
    cursor:             pointer;
}