﻿body
{
    background:         #f9f9f9;
}

.payment-booking-page
{
    position:           relative;
    margin:             auto;
    padding-top:        60px;
}

.payment-booking-page h1
{
    text-align:         left;
}

.payment-booking-page h2
{
    font-size:          21px;
}

.payment-booking-page .form-container
{
    width:              710px;
    float:              left;
}

.payment-booking-page .info-payment-container
{
    margin-top:         10px;
    float:              left;
    width:              250px;
    margin-left:        40px;
    position:           relative;
    height:             256px;
}

.payment-booking-page .info-payment-container .price
{
}

.payment-booking-page .info-payment-container .price .text
{
    font-size:          14px;
}

.payment-booking-page .info-payment-container .price .amount
{
    font-size:          24px;
    font-weight:        600;
}

.payment-booking-page .billing-info
{
    margin-top:         15px;
}

.payment-booking-page .billing-info .heading
{
    font-size:          14px;
    font-weight:        600;
}

.payment-booking-page .billing-info a
{
    font-size:          11px;
    color:              #333;
}

.payment-booking-page .address-container div
{
    line-height:        22px;
    font-size:          14px;
}

.payment-booking-page .button-green-standard
{
    position:           absolute;
    bottom:             0px;
    width:              100%;
}

.payment-booking-page .amount-input-container
{

}

.payment-booking-page .amount-input-container .currencySign
{
    position:           absolute;
    font-size:          23px;
    font-weight:        600;
    line-height:        46px;
    padding-left:       10px;
}

.payment-booking-page .amount-input-container input
{
    width:              100%;
    border-radius:      5px;
    border:             1px solid #ccc;
    height:             42px;
    font-size:          23px;
    font-weight:        600;
    text-indent:        30px;
    font-family:        "Open Sans";
    padding:            0px;
}