FirstName: {{ entity.firstname }}
<br>
LastName: {{ entity.lastname }}
<br>
Email: {{ entity.email }}
<br>
Phone Number: {{ entity.number }}
<br>
Organization: {{ entity.organization }}
<br>
You Are: {{ entity.youare }}
<br>
Help: {{ entity.message }}
<br>
