{% extends '::base.html.twig' %}

{% block title %}Contact Us | ReShape{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <style>
      #map {
        height: 320px;
        margin-bottom: 0;
        font-size: 13px;
      }
      #map,
      #map *,
      #map *:before,
      #map *:after {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }

      textarea {
        resize: none;
      }
    </style>
  {% endblock %}

  {% block body -%}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4" style="margin-top:34px;">
            <h3>Contact Us</h3>
            <p>Don't hestitate to reach out! Let us know if you have any questions, concerns or you just want to say hey!
              Lorem ipsum lorem ipsum lorem ipsum

            </p>
            <p><i class="fa fa-envelope"></i> <a href="#">info@reshape.net</a></p>
            <p><i class="fa fa-phone"></i> 305.555.555</p>
          </div>
          <div class="col-md-8" style="margin-top:50px;">
            {{ form_start(form) }}
            <div class="col-md-6">
              <div class="form-group">
                {{ form_label(form.firstname, null, {'label': 'First Name', 'label_attr': {'class': 'required' }}) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control ui-wizard-content', 'placeholder': 'Enter your first name' }}) }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ form_label(form.lastname, null, {'label': 'Last Name', 'label_attr': {'class': 'required' }}) }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control ui-wizard-content', 'placeholder': 'Enter your last name' }}) }}
              </div>
            </div>
            <div class="col-md-6">
             <div class="form-group">
              {{ form_label(form.email, null, {'label': 'Email', 'label_attr': {'class': 'required' }}) }}
              {{ form_widget(form.email, {'attr': {'class': 'form-control ui-wizard-content', 'placeholder': 'Enter your email' }}) }}
            </div>
          </div>
          <div class="col-md-6">
           <div class="form-group">
            {{ form_label(form.number, null, {'label': 'Number'}) }}
            {{ form_widget(form.number, {'attr': {'class': 'form-control ui-wizard-content', 'placeholder': 'Enter your number' }}) }}
          </div>
        </div>
        <div class="col-md-12">
         <div class="form-group">
          {{ form_label(form.message, null, {'label': 'Message', 'label_attr': {'class': 'required' }}) }}
          {{ form_widget(form.message, {'attr': {'class': 'form-control ui-wizard-content', 'placeholder': 'Let us know how we can assist..', 'rows': 6 }}) }}
        </div>
      </div>
      <div class="col-md-12">
        {{ form_widget(form.submit, {'label': ' Submit', 'attr': {'class': 'btn btn-primary pull-right' }}) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="{{ asset('bundles/reshape/assets/plugins/gmaps/gmaps.js') }}"></script>
  <script type="text/javascript">

    var map;
    $(document).ready(function(){

      map = new GMaps({
        div: '#map',
        lat: 25.7912321,
        lng: -80.1317492,
        scrollwheel: false,
      });
      map.addMarker({
        lat: 25.7912321,
        lng: -80.1317492,
        title: 'Address',
        infoWindow: {
          content: '<img id="logo-header" src="{{ asset('bundles/reshape/assets/img/ReShape-Logo.png') }}" alt="ReShape"><p><span class="region">1663 Washington Ave, 2nd Floor</span><br><span class="postal-code">Miami Beach, FL 33119</span></p>'
        }

      });

    });

  </script>

{% endblock %}

