﻿header #mainMenu, .buttonContainer .signIn
{
    display:                        none;
}

.profilePage
{
    margin-top:                     -60px;
}

.profilePage .header-overlay
{
    position:                       fixed;
    margin:                         auto;
    width:                          600px;
    z-index:                        10000;
    top:                            36px;
    left:                           50%;
    margin-left:                    -200px;
}

.profilePage .header-overlay .navigation
{
}

.profilePage .header-overlay .navigation .link
{
    font-family:                    'Open Sans';
    text-decoration:                none;
    float:                          left;
    color:                          rgb(255, 255, 255);
    font-weight:                    600;
    padding:                        0px 20px;
    font-size:                      16px;
}

.profilePage .header-overlay .navigation .link:hover
{
    cursor:                         pointer;
    color:                          rgb(206, 33, 39);
}

.profilePage .header-overlay .navigation .link a
{
    text-decoration:                none;
    color:                          #fff;
}

.profilePage .header-overlay .social-icons
{
}

.profilePage .iframes-container .heading-container
{
    
}

.profilePage .iframes-container .heading-container .close
{
    color:                          #fff;
    font-size:                      12px;
    left:                           50%;
    margin-left:                    460px;
    margin-top:                     10px;
    position:                       absolute;
}

.profilePage .iframes-container .heading-container .close:hover
{
    cursor:                         pointer;
    color:                          #e11330;
}

.profilePage .iframes-container .heading-container .iframe-back
{
    color:                          #fff;
    font-size:                      12px;
    left:                           50%;
    margin-left:                    -460px;
    margin-top:                     10px;
    position:                       absolute;
    display:                        none;
}

.profilePage .iframes-container .heading-container .iframe-back:hover
{
    cursor:                         pointer;
    color:                          #e11330;
}

.profilePage .iframes-container .heading-container .arrow
{
}

.profilePage .iframes-container .heading-container .arrow.left
{
}

.profilePage .iframes-container .heading-container .arrow.right
{
}

.profilePage .iframes-container .heading-container .heading
{
    text-align:                     center;
    font-size:                      30px;
    color:                          #fff;
    font-family:                    "Open Sans";
    width:                          1000px;
    margin:                         auto;
    margin-top:                     30px;
}

.profilePage .iframes-container
{
    display:                        none;
    position:                       fixed;
    z-index:                        5000;
    top:                            90px;
    left:                           0%;
    background:                     rgba(0, 0, 0, 0.8);
    width:                          100%;
    height:                         100%;
}

.profilePage .iframes-container .iframe-container
{
    display:                        none;
    text-align:                     center;
}

.profilePage .iframes-container .iframe-container:first-of-type
{
    display:                        block;
}

.profilePage .iframes-container .iframe-container iframe
{
    width:                          1020px;
    height:                         700px;
    overflow:                       auto;
    overflow-x:                     hidden;
    margin:                         auto;
    margin-top:                     20px;
    padding:                        20px;
    display:                        inline-block;
    -webkit-overflow-scrolling:     touch;
}

.profilePage .patternArea.trainer .inside
{
    min-height:                     200px !important;
}

.profilePage .contact-us-container
{
    width:                          1000px;
    margin:                         auto;
    margin-top:                     40px;
    font-family:                    "Open Sans";
}

.profilePage .contact-us-container .map-container
{
    float:                          left;
    width:                          680px;
}

.profilePage .contact-us-container .map-container #map-canvas
{
    width:                          100%;
    height:                         400px;
}

.profilePage .contact-us-container .contact-container
{
    float:                          right;
    color:                          #fff;
    text-align:                     left;
    margin-left:                    20px;
}

.profilePage .contact-us-container .contact-container .address
{
    font-size:                      16px;
    line-height:                    26px;
}

.profilePage .contact-us-container .contact-container .email a
{
    margin-top:                     60px;
    font-size:                      25px;
    text-decoration:                none;
    color:                          #fff;
}

.profilePage .contact-us-container .contact-container .email a:hover
{
    color:                          rgb(206, 33, 39);
}