﻿.review-booking-page
{
    position:           relative;
    margin:             auto;
    padding-top:        60px;
}

body
{
    background:         #f9f9f9;
}

.review-booking-page h1
{
    text-align:         left;
}

.review-booking-page .transactions-overview
{
    width:              597px;
    margin-right:       50px;
    float:              left;
}

.review-booking-page .info-container
{
    float:              left;
    width:              310px;
}

.review-booking-page .confirmBtn
{
    width:              325px;
    margin:             auto;
    margin-top:         65px;
}