﻿body
{
    background:             #f9f9f9;
}

.request-time-page
{
    position:               relative;
}

.request-time-page h1
{
    text-align:             left;
}

.request-time-page .page-content
{
    padding-top:            55px;
}

.request-time-page .explain-text
{
    font-size:              14px;
    line-height:            22px;
}

.request-time-page .calendar-container
{

}

.request-time-page .dates-container
{
    margin-top:             55px;
}

.request-time-page .time-slots-container
{
    width:                  80px;
    float:                  left;
    margin-top:             17px;
}

.request-time-page .time-slots-container .time-slot
{
    text-align:             center;
    color:                  #1d1d1f;
}

.request-time-page .time-slot
{
    height:                 26px;
    line-height:            26px;
    font-size:              12px;
    border-right:           1px solid #e1e1e1;
    
}

.request-time-page .time-slot:nth-of-type(2n+1)
{
    background:             #eee;
}

.request-time-page .day-container
{
    width:                  130px;
    float:                  left;
}

.request-time-page .name
{
    font-size:              12px;
    font-weight:            600;
    text-align:             center;
}

.request-time-page .day-container .event
{
    text-indent:            12px;
}

.request-time-page .day-container .event:hover
{
    cursor:                 pointer;
    color:                  #5C7C3A;
}

.request-time-page .day-container .event .circle
{
    width:                  6px;
    height:                 6px;
    border-radius:          6px;
    background:             #A9E213;
    display:                inline-block;
    margin-right:           3px;
    vertical-align:         middle;
}
