/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

article, aside, figure, footer, header, hgroup, nav, section, details, summary {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
input[type=file], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  


/* general */

* {
    outline: none;
}

body 
{
    font-family: 'heroregular';
    min-width: 1220px;
	padding-top:90px;
	min-height:100%;
}

.hidden {
    display: none;
}

.cleaner {
    clear: both;
}

.at4-follow-container
{
    margin-top: 23px;
}

.wrap {
    width: 1016px;
    margin: 0 auto;
    position: relative;
}

.miniWrap {
    width: 600px;
	margin: 13px auto -20px auto;
	position: relative;
}
.miniWrap p{
    font-size:14px !important;
	line-height:23px;
}

form .redStar{
	color:#ce2127;
	font-size:120%;
	font-family:"Arial";
}
form .optional{
	color:#666;
	font-size:80%;
}

.actionBtn{
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left:20px;
	padding-right:20px;
	border:1px solid #cacaca;
	color:#000;
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e7e7e7 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7e7e7 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7e7e7 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7e7e7 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7e7e7 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#dbdbdb',GradientType=0 ); /* IE6 */
}
.actionBtn:hover{
	color:#fff;
	cursor:pointer;
	border:1px solid #600;
	background: #ce2127; /* Old browsers */
	background: -moz-linear-gradient(top, #ce2127 0%, #9b1d22 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce2127), color-stop(100%,#9b1d22)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ce2127 0%,#9b1d22 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ce2127 0%,#9b1d22 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ce2127 0%,#9b1d22 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ce2127 0%,#9b1d22 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce2127', endColorstr='#9b1d22',GradientType=0 ); /* IE6 */
}

.submitBig{
	background:			url(/RESH/Images/buttons/submitBig.png);
	background-position:0px -3px;
	min-width:			120px;
	height:				42px;
	line-height:		42px;
	text-align:			center;
	border:				1px solid #b3b3b3;
	border-radius:		5px;
	padding-left:		10px;
	padding-right:		10px;
	font-size:			14px;
	color:				#555;
}

.submitBig:hover
{
	background-position: 	0px -47px;
	cursor:					pointer;
	color:					#000;
}

.button-green-standard
{
    font-size:          20px;
    font-weight:        600;
    text-align:         center;
    height:             50px;
    line-height:        50px;
    background:         #41d141;
    background:         -moz-linear-gradient(top, #41d141 0%, #0e9e0e 100%);
    background:         -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41d141), color-stop(100%,#0e9e0e));
    background:         -webkit-linear-gradient(top, #41d141 0%,#0e9e0e 100%);
    background:         -o-linear-gradient(top, #41d141 0%,#0e9e0e 100%);
    background:         -ms-linear-gradient(top, #41d141 0%,#0e9e0e 100%);
    background:         linear-gradient(to bottom, #41d141 0%,#0e9e0e 100%);
    filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#41d141', endColorstr='#0e9e0e',GradientType=0 );
    color:              #fff;
}

.button-green-standard:hover
{
    cursor:             pointer;
    background:         #0e9e0e;
    background:         -moz-linear-gradient(top, #0e9e0e 0%, #41d141 100%);
    background:         -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e9e0e), color-stop(100%,#41d141));
    background:         -webkit-linear-gradient(top, #0e9e0e 0%,#41d141 100%);
    background:         -o-linear-gradient(top, #0e9e0e 0%,#41d141 100%);
    background:         -ms-linear-gradient(top, #0e9e0e 0%,#41d141 100%);
    background:         linear-gradient(to bottom, #0e9e0e 0%,#41d141 100%);
    filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e9e0e', endColorstr='#41d141',GradientType=0 );
}

.absolute
{
	position:		absolute;
}

/* header */

#header {
    height: 91px;
    width: 100%;
    background: url(/RESH/Images/header.png);
    overflow: hidden;
    position: fixed;
	top:0px;
    z-index: 10000;
    margin-bottom: -15px;
}

.headerRight {
    float: right;
	width:730px;
}

#logo {
    display: block;
    width: 230px;
    height: 90px;
    background: url(/RESH/Images/logo.png) no-repeat;
    position: relative;
    float: left;
}

#mainMenu {
    float: left;
    margin: 35px 0 0 0;
}

#mainMenu li {
    float: left;
}

#mainMenu a {
    font-family: 'Open Sans';
    text-decoration: none;
    float: left;
    color: #fff;
    font-weight: 600;
    padding: 0 20px;
    font-size: 16px;
}
#mainMenu a:hover {
    color:#ce2127;
}

#header .buttonContainer{
	float:right;
	margin-top:31px;
	margin-left:50px
}

#header .buttonContainer .signIn{
	background:url(/RESH/Images/buttons/login.png);
	height:32px;
	width:74px;
	float:left;
}
#header .buttonContainer .signIn:hover{
	background-position: 0 -30px;
	cursor:pointer;
}

#header .buttonContainer .signUp{
	background:url(/RESH/Images/buttons/sign-up.png);
	height:32px;
	width:74px;
	float:left;
	margin-left:5px;
}
#header .buttonContainer .signUp:hover{
	background-position: 0 -30px;
	cursor:pointer;
}

#header .account-overview
{
    font-family:                "Open Sans";
    font-weight:                400;
    margin-top:                 -10px;
}

#header .account-overview .text-container
{
    float:                      left;
}

#header .account-overview .name
{
    font-size:                  16px;
    margin-top:                 5px;
}

#header .account-overview .name a
{
    color:                      #fff;
    text-decoration:            none;
}

#header .account-overview .name a:hover
{
    color:                      #e11330;
}

#header .account-overview .nav a
{
    color:                      #e11330;
    text-decoration:            none;
}

#header .account-overview .nav a:hover
{
    color:                      #eaeaea;
}

#header .account-overview .nav
{
    font-size:                  11px;
}

#header .account-overview .img
{
    float:                      left;
    margin-right:               20px;
}

#header .account-overview .img img
{
    width:                      50px;
    border-radius:              2px;
}

#header .cart
{
    position: absolute;
    top: 9px;
    right: 2px;
    color: #fff;
}

#header .cart:hover
{
    cursor: pointer;
    color: #ce2127;
}

#header .cart .icon
{
    background: url(http://static.reshape.net/RESH/Images/icons/cart.png) no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    background-size: 80%;
}

#header .cart .text
{
    font-family: "Open Sans";
    font-size: 13px;
    margin-left: 25px;
    line-height: 12px;
}

/*
#header .cart
{
    position: absolute;
    top: 15px;
    right: 2px;
    color: #fff;
}

#header .cart:hover
{
    cursor: pointer;
    color: #ce2127;
}

#header .cart .icon
{
    background: url(http://static.reshape.net/RESH/Images/icons/cart.png);
    width: 20px;
    height: 15px;
    float: left;
}

#header .cart .text
{
    font-family: "Open Sans";
    font-size: 16px;
    margin-left: 35px;
    line-height: 15px;
}
*/

#signupBox {
    width: 74px;
    height: 18px;
    background: url(/RESH/Images/signupBox.jpg) no-repeat;
    float: left;
    margin: 37px 25px 0 25px;
}

#signupBox a.signupLink {
    display: block;
    float: left;
    font-family: 'oswaldregular';
    color: #868686;
    text-transform: uppercase;
    font-size: 8px;
    text-decoration: none;
    text-shadow: 1px 1px #fff;
    line-height: 18px;
    background: url(/RESH/Images/signupDivider.png) right 2px no-repeat;
    height: 18px;
    padding: 0 3px;
}

#signupBox #signupIcon {
    float: left;
    display: block;
    width: 8px;
    height: 18px;
    background: url(/RESH/Images/signupIcon.png) center center no-repeat;
    margin-left: 3px;
}

#socialIcons {
    margin-top: 35px;
    float: left;
}

#socialIcons a {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    background: url(/RESH/Images/socialIcons.png) -5px -5px no-repeat;
    margin-left: 2px;
}

#socialIcons a.twitter {
    background-position: -31px -5px;
}

#socialIcons a.youtube {
    background-position: -57px -5px;
}

#socialIcons a.instagram {
    background-position: -84px -5px;
}

#socialIcons a.pinterest {
    background-position: -110px -5px;
}

#topSearch {
    display: block;
    border: 0;
    width: 135px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 65px;
}

#topSearch input[type="text"] {
    background-color: #000;
	background-image:url(/RESH/Images/buttons/search-submit.png);
	background-repeat:no-repeat;
	background-position:right 3px;
	border: 0;
	color: #626667;
	font-family: 'oswaldregular';
	font-size: 9px;
	width: 122px;
	text-indent: 8px;
	height: 20px;
	line-height: 20px;
	padding: 0 25px 0 0px;
	font-weight: 400;
	position: absolute;
	right: 0;
	margin-right: 3px;
}
#topSearch input[type="text"]:focus{
	background-color:#333;
	background-image:url(/RESH/Images/buttons/search-submit.png);
	background-position-y:-67px;
	color:#000;
}

#topSearch input .hover{
	background-position-y:-67px;
}

#topSearch .submit {
    background: none;
    width: 25px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
}

/* footer */

#footer {
    height: 50px;
    background: #262626;
    width: 100%;
    line-height: 50px;
}

#footer p {
    font-family: 'heroregular';
    color: #fff;
}

#footer p.copyright {
    float: left;
}

#footer p.energy {
    float: right;
}

/* General */
.clear{
	clear:both;
}

/* hero */

#hero h1 {
    font-family: 'gotham_book';
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
    font-size: 34px;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

#hero .heroFont h1 {
    font-family: 'heroregular';
    font-size: 36px;
}

#hero .h1wrap {
    width: 100%;
    text-align: center;
    height: 30px;
}

#hero .indexTeaser{
	margin-top:-20px;
}

#hero .patternArea h2 {
    color: #c2e1e5;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4em;
}

#hero .patternArea h2.pricingHeroH2 {
    font-size: 24px;
	margin-top:0px;
}

.patternArea {
    position: relative;
    z-index: 1;
    background-image:url(/RESH/Images/top/patternTransparent.png);
    overflow: auto;
	background-color:#1f1f21;
}

.whiteAreaGradient{
	background:url(/RESH/Images/top/gradient_whitearea.png);
	height:147px;
	width:100%;
	position:absolute;
	z-index:1;
}

.patternArea .inside {
    position: relative;
    z-index: 1;
    background: url(/RESH/Images/light.png) center top no-repeat;
    overflow: auto;
}

#hero .patternArea .inside {
    padding: 50px 0;
    min-height: 400px;
}

.pricing .patternArea .inside {
    padding: 37px 0 !important;
}

#hero.pricing .patternArea .inside {
    min-height: 300px;
}

.patternArea .shadow-top{
	background:url(/RESH/Images/trainerPage/backgrounds/topHero/top-shadow.png);
	height:210px;
	position:absolute;
	top:0px;
	z-index:1;
	width:100%;
}

.patternAre.shadow-bottom{
	background:url(/RESH/Images/trainerPage/backgrounds/topHero/bottom-shadow.png);
	height:304px;
	position:absolute;
	bottom:0px;
	z-index:1;
	width:100%;
}

#hero .whiteArea {
    background: #F9F9F9 url(/RESH/Images/whiteArea.png) repeat-x;
    position: relative;
    text-align: center;
    padding-bottom: 0px;
}

.tvContainer{
	position:relative;
	background:url(/RESH/Images/index/tv.png) no-repeat;
	width:1153px;
	height:681px;
	margin: 0 auto;
    margin-top: -200px;
    position: relative;
	z-index:2;
    padding-bottom: 30px;
}
.tvContainer .slide{
	position:absolute;
	width:961px;
	height:543px;
	z-index:3;
	overflow:hidden;
	left: 89px;
	top: 30px;
}
.tvContainer .imageDiv{
	position:absolute;
	z-index:2;
}
.tvContainer .headerDiv{
	font-size:17px;
}
.tvContainer .textDiv{
	position:absolute;
	z-index:3;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
	text-align: left;
	bottom: 0px;
	color: #FFF;
	line-height: 21px;
	font-size: 13px;
}

.tvContainer .arrow{
	z-index:2;
	position:absolute;
	width:33px;
	height:70px;
	top:380px;
}

.tvContainer .arrow:hover{
	background-position: 0px -70px;
	cursor:pointer;
}
.tvContainer .arrowRight{
	background:url(/RESH/Images/arrows/rightgreybig.png);
	right:0px;
}

.tvContainer .arrowLeft{
	background:url(/RESH/Images/arrows/lefttgreybig.png);
	margin-left:-10px;
}

.iconsLinkingToSlide{
	margin-top:40px;
	text-align:center;
}

.iconsLinkingToSlide .iconContainer{
	display:inline-block;
	width:200px;
}

.iconsLinkingToSlide .iconHeader{
	font-size:13px;
	margin-top:5px;
}

.iconsLinkingToSlide .icon{
	width:93px;
	height:93px;
	display:inline-block;
}

.iconsLinkingToSlide .icon:hover{
	background-position: 0px -92px;
	cursor:pointer;
}

.iconsLinkingToSlide .iconSelected{
	background-position: 0px 95px !important;
}

.iconsLinkingToSlide .profilePageIcon{
	background:url(/RESH/Images/pricingPage/profileIcon.png);
}

.iconsLinkingToSlide .cartIcon{
	background:url(/RESH/Images/pricingPage/cartIcon.png);
}

.iconsLinkingToSlide .videoIcon{
	background:url(/RESH/Images/pricingPage/videoIcon.png);
}

.iconsLinkingToSlide .socialIcon{
	background:url(/RESH/Images/pricingPage/socialIcon.png);
}

.iconsLinkingToSlide .domainIcon{
	background:url(/RESH/Images/pricingPage/domainIcon.png);
}

#hero .videoContainer {
    width: 729px;
    height: 427px;
    background: url(/RESH/Images/videoContainer.png) center center no-repeat;
    margin: 0 auto;
    margin-top: -300px;
    position: relative;
    z-index: 2;
}

#hero .videoContainer .slide1{
	background:url(/RESH/Images/index/slide1.png);
	width:961px;
	height:543px;
}

#hero .whiteArea p {
    font-size: 15px;
}

#mainVideo {
    margin-top: 12px;
    position: relative;
    z-index: 1;
}

#mainVideoOverlay {
    position: absolute;
    top: 12px;
    left: 47px;
    cursor: pointer;
    z-index: 5;
    display: block;
}

.stripesArea {
    background: url(/RESH/Images/stripesArea.png);
    border-top: 1px solid #323737;
    border-bottom: 1px solid #323737;
}

.stripesArea .inside {
    background: url(/RESH/Images/stripesLight.png) center top no-repeat;
}


/* pricing teaser */
.teasers {
    width: 1115px;
    margin: 0 auto;
    position: relative;
    margin-top: -150px;
    z-index: 5;
    margin-bottom: 50px;
}

.teasers .teaser {
    float: left;
    margin: 0 20px;
    display: block;
    text-decoration: none;
}

.teasers .teaser h3 {
    color: #1a1a1c;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
}

.teasers .teaser .inside {
    padding-bottom: 10px;
    background: url(/RESH/Images/teaserShadowSmall.png) center bottom no-repeat;
    display: block;
}

.teasers .teaser.teaserBig .inside {
    background: url(/RESH/Images/teaserShadowBig.png) center bottom no-repeat;
}

.teasers .teaser img {
    border: 1px solid #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#pricingCols {
    text-align: left;
    margin-top: 30px;
}

#pricingCols .col {
    float: left;
    width: 400px;
    padding-left: 80px;
    background: url(/RESH/Images/profileIcon.png) left 10px no-repeat;
}

#pricingCols .col.video, #pricingCols .col.timeline, #pricingCols .col.domain {
    float: right;
}

#pricingCols .col.video {
     background: url(/RESH/Images/videoIcon.png) left 10px no-repeat;   
}

#pricingCols .col.store {
     background: url(/RESH/Images/storeIcon.png) left 5px no-repeat;   
}

#pricingCols .col.timeline {
     background: url(/RESH/Images/timelineIcon.png) left 10px no-repeat;   
}

#pricingCols .col.groups {
     background: url(/RESH/Images/groupsIcon.png) left 10px no-repeat;   
}

#pricingCols .col.domain {
     background: url(/RESH/Images/domainIcon.png) left 10px no-repeat;   
}

#pricingCols .col p {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #555555;
    font-size: 12px;
}

#pricingCols .col h4 {
    font-family: 'Open Sans';
    font-weight: 600;
    color: #363636;
    text-shadow: 1px -1px 0px #fff;
    font-size: 15px;
    margin-bottom: 5px;
}

#hero .whiteArea h2.lined {
    color: #1a1a1c;
    font-size: 18px;
    width: 100%;
    background: url(/RESH/Images/line.png) left center repeat-x;

}

#hero .whiteArea h2.lined span {
    background: #F9F9F9;
}
.pricing h1{
    font-size: 24px !important;
	
}

.pricing h2{
	font-size: 18px !important;
}

/* finder section */

#finder .stripesArea .inside {
    padding: 50px 0;
}

#finder .stripesArea h3 {
    font-family: 'SansationBold';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}

#finder .stripesArea .headingWrap {
    float: left;
    margin-top: 5px ;
}

#finder ul#buttons {
    display:inline-block;
}

#finder ul#buttons li, #finder ul#buttons li a {
    float:                          left;
    margin-left:                    5px;
    font-family:                    "Open Sans";
}

.selectHowToFindTrainer
{
	margin-left: 					53px;
	margin-top: 					-3px;
}


#finder p {
    /*text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 24px; */

    /*font-size:                      15px;
    color:                          rgb(255, 255, 255);
    line-height:                    24px;
    font-family:                    "Open Sans";
    */

    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 26px;
    font-family: "Open Sans";
    font-weight: 300;
}


#finder .leftPart .contentContainer{
	display:inline-block;
}

.selectHowToFindTrainer .button {
    display: block;
    background:url(/RESH/Images/buttons/index_btn.png);
    width: 131px;
    height: 53px;
    text-align: center;
	text-indent:-20px;
    text-decoration: none;
    font-family: "oswaldregular";
    color: #1b1f20;
    font-size: 14px;
    line-height: 53px;
    font-weight: 500;
    margin-right: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}
.selectHowToFindTrainer .button:hover{
	background-position:0px -50px;
	color:#FFF;
}



.profileButtons .button {
    font-family: 'gotham_book';
    font-weight: 600;
}



#finder .leftPart .contentContainer{
	display:inline-block;
}

/* table of reasons */

.reasons {
    color: #fff;
    text-shadow: 1px -1px 0px #000;
    font-size: 11px;
	line-height:15px;
}

.reasons td.number {
	width:33px;
}

.reasons td.reason {
    padding-bottom: 15px;
}

.reasons td.reason strong {
    font-size: 13px;
}

.reasons td.separator {
    width: 20px;
}

/* trainers carousel */

.graySection {
    background: url(/RESH/Images/trainersCarousel.png);
    overflow: hidden;
}

#trainersCarousel {
    height: 227px;
    overflow: hidden;
    text-align: center;
}

#trainersCarousel .graySection {
    height: 227px;
    overflow: hidden;
}

#trainersCarousel h3 {
    font-size: 22px;
    text-align: center;    
    color: #333333;
    margin-top: 15px;
    margin-bottom: 25px;
}

#trainersCarousel #trainersWrap {
    text-align: center;
    width: 90%;
    padding: 0 20px;
    margin: 0 auto;
}

#trainersCarousel #trainersWrap .arrow {
    display: block;
    width: 13px;
    height: 23px;
    background: url(/RESH/Images/arrows.png) left top no-repeat;
    float: left;
    margin-top: 35px;
}

#trainersCarousel #trainersWrap .arrow.right {
    background-position: right top;
}

#trainersCarousel .inside {
    display: inline-block;
}



#trainersCarousel ul#trainersList {
   float: left;   
   height: 130px;
   overflow: hidden;
}


#trainersCarousel ul#trainersList li {
    float: left;
    margin: 0 25px;
}

#trainersCarousel ul#trainersList li img {
    display: block;
    border: 1px solid #8a8a8a;
}

#trainersCarousel ul#trainersList li .trainerName {
    display: block;
    font-family: "oswaldregular";
    text-transform: uppercase;
    font-size: 8px;
    text-align: center;
    width: 88px;
    margin-top: 3px;
    color: #333333;
}

#trainersCarousel ul#trainersList li a {
    color: #333333;
    text-decoration: none;
}

#trainersCarousel ul#trainersList li ul.trainerDescription li {
    float: none;
    font-family: Arial;
    font-size: 8px;
    color: #666666;
    padding-left: 8px;
    background: url(/RESH/Images/trainersBullet.png) left 5px no-repeat;
    margin: 0;
    text-shadow: 1px 1px 0px #fff;
    line-height: 13px;
    text-align: left;
}

/* html 5 section */
#html5 {
    overflow: hidden;
}

#html5 h3 {
    margin: 40px 0 10px 0;
    font-size: 18px;
    text-align: center;
}

.html5Teaser {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

/* pricing tables section */

#pricingTables h2 {
    color: #333333;
    font-size: 27px;
    font-weight: 300;
    margin: 40px 0 25px;
    text-align: center;
}

#pricingTables .col {
    width: 33.3%;
    float: left;
    background: url(/RESH/Images/pricingShadow.jpg) center bottom no-repeat;
    padding-bottom: 35px;
}
#pricingTables .col .pricingTable {
    width: 295px;
    margin: 0 auto;
    position: relative;
    background: url(/RESH/Images/pricingTableShadow.jpg) right center no-repeat;
}

#pricingTables .col .pricingTable h5 {
    display: block;
    width: 285px;
    background: #262626;
    color: #cfcfcf;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

#pricingTables .col .pricingTable .price {
    display: block;
    width: 240px;
    background: #2f2f2f;
    color: #cfcfcf;
    font-size: 40px;
    height: 90px;
    line-height: 85px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
    padding-left: 45px;
}

#pricingTables .col .pricingTable .price .dollar {
    font-size: 20px;
    position: relative;
    top: -10px;
}

#pricingTables .col .pricingTable .price .amount {
    display: inline-block;
    position: relative;
    font-size: 60px;
    font-weight: 900;
}

#pricingTables .col .pricingTable .price .amount .month {
    font-size: 12px;
    position: relative;
    left: -40px;
    top: -2px;
}

#pricingTables .col .pricingTable .price .amount .decimal {
    font-size: 20px;
    color: #ffb400;
    position: relative;
    top: -20px;
}

#pricingTables .col .pricingTable ul {
    background: #efefef;
    width: 285px;
    position: relative;
    padding-top: 10px;
}

#pricingTables .col .pricingTable ul li {
    width: 245px;
    margin: 0;
    padding: 10px 0 10px 40px;
    margin: 1px 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #dedede;
    color: #c2c2c2;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 1;
    text-decoration: line-through;
}

#pricingTables .col .pricingTable ul li:first-child {
    border-top: 0;
}

#pricingTables .col .pricingTable ul li.active {
    color: #262626;
    text-decoration: none;
    background: url(/RESH/Images/priceBullet.jpg) 15px center no-repeat;
}

#pricingTables .col .pricingTable .joinReshape {
    display: block;
    background: #2f2f2f;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 700;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 285px;
    text-align: center;
    font-size: 20px;
}

#pricingTables .conditions {
    font-size: 20px;
    text-align: center;
    line-height: 1.2em;
    margin: 20px 0;
}


.applyNowWrap {
    height: 60px;
    width: 142px;
    margin: 0 auto;
    background: url(/RESH/Images/applyNowShadow.jpg) center bottom no-repeat;
    margin-bottom: 15px;
}

.applyNow {
    display: block;
    margin: 0 auto;
    width: 142px;
    height: 46px;
    background: url(/RESH/Images/applyNow.jpg) no-repeat;
}

#pricingTables .bottomInfo {
    text-align: center;
    color: #2f2f2f;
    font-size: 15px;
}

/* steps */
#steps {
    background: #fff;
}

#steps ol {
    display: block;
    width: 100%;
    background: url(/RESH/Images/stepsBg.png) repeat-x;
    height: 95px;
    margin: 40px 0;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
    -ms-border-radius: 18px;
}

#steps ol li {
    float: left;
    list-style: none;
    width: 20%;
    position: relative;
    background: url(/RESH/Images/stepsDivider.png) right center no-repeat;
    height: 95px;
}

#steps ol li:last-child {
    background: none;
}

#steps ol li a {
    display: block;
    text-decoration: none;
    padding: 15px 20px 15px 30px;
    height: 65px;
}

#steps ol li.first a {
    border-bottom-left-radius: 18px;
    -moz-border-bottom-left-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -o-border-bottom-left-radius: 18px;
    -ms-border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    -moz-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    -o-border-top-left-radius: 18px;
    -ms-border-top-left-radius: 18px;
}

#steps ol li.last a {
    border-bottom-right-radius: 18px;
    -moz-border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -o-border-bottom-right-radius: 18px;
    -ms-border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    -moz-border-top-right-radius: 18px;
    -webkit-border-top-right-radius: 18px;
    -o-border-top-right-radius: 18px;
    -ms-border-top-right-radius: 18px;
}


#steps ol li .step {
    font-family: 'SansationRegular';
    color: #2e3536;
    display: block;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 40px;
}

#steps ol li.active .step, #steps ol li a:hover .step {
    color: #fff;
    font-family: 'SansationBold';
}

#steps ol li.active a, #steps ol li a:hover {
    background: url(/RESH/Images/stepActive.png) repeat-x;
    color: #fff;
}

#steps ol li .number {
    position: absolute;
    left: 100px;
    top: 20px;
    width: 35px;
    height: 34px;
    background: url(/RESH/Images/numbers.png) 0 -1px no-repeat;
    margin-top: -5px;
}

#steps ol li.active .number, #steps ol li a:hover .number {
    background-position: -35px -1px;
}

#steps ol li .number.no2 {
    background-position: 0 -37px;
}

#steps ol li.active .number.no2, #steps ol li a:hover .number.no2 {
    background-position: -35px -37px;
}

#steps ol li .number.no3 {
    background-position: 0 -74px;
}

#steps ol li.active .number.no3, #steps ol li a:hover .number.no3 {
    background-position: -35px -74px;
}

#steps ol li .number.no4 {
    background-position: 0 -111px;
}

#steps ol li.active .number.no4, #steps ol li a:hover .number.no4 {
    background-position: -35px -111px;
}

#steps ol li .number.tick {
    background-position: 0 -148px;
    left: 140px;
}

#steps ol li.active .number.tick, #steps ol li a:hover .number.tick {
    background-position: -35px -148px;
}

#steps ol li .bottom {
    display: block;
    font-family: "gotham_book";
    color: #1b1f20;
    font-size: 13px;
    margin-top: 5px;
}

#steps ol li.active .bottom, #steps ol li a:hover .bottom {
    color: #fff;
}

#steps h3 {
    font-size: 27px;
    text-align: center;
    font-weight: 300;
    color: #333333;
    margin: 65px 0 25px 0;
}

#steps h3 strong {
    font-weight: 600;
}

#pictogramsSlider {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    position: relative;
}

#pictogramsSlider .arrow {
    display: block;
    width: 19px;
    height: 32px;
    background: url(/RESH/Images/pictogramsArrows.png) left top no-repeat;
    position: absolute;
    top: -10px; 
    left: -150px;
}

#pictogramsSlider .arrow.right {
    background-position: -19px 0;
    right: -180px;
    left: auto;
}

#pictogramsSlider .pictogram {
    float: left;
    margin: 0 15px;
    color: #181818;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#pictogramsSlider img {
    display: block;
    padding: 1px;
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
    margin-bottom: 5px;
}

/* reviews */
#reviews {
    background: url(/RESH/Images/reviewsBg.png);
    overflow: hidden;
}

#reviews .reviewsWrap {
    width: 1017px;
    margin: 0 auto;
}

#reviews h3 {
    text-align: center;
    color: #45484a;
    font-size: 26px;
    font-weight: 300;
    margin: 50px 0 5px 0;
}

#reviews a.readMore {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #45484a;
    margin-bottom: 30px;
}

#reviews .review {
    float: left;
    width: 214px;
    margin: 20px;
}

#reviews .review img {
    float: left;
    border: 1px solid #919191;
    margin-right: 10px;
}

#reviews .review .name {
    float: left;
    font-family: "oswaldregular";
    font-weight: 400;
    font-size: 10px;
    width: 140px;
    line-height: 21px;
}

#reviews .review .name a {
    color: #1b1f20;
}

#reviews .review .name span {
    float: left;
}


#reviews .review .desc {
    display: block;
    float: none;
    font-family: Arial;
    font-size: 9px;
}

#reviews .review img.logo {
    display: inline;
    border: 0;
    margin-left: 5px;
    margin-right: 0;
}

#applyBox {
    width: 680px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

#applyBox h2 {
    font-size: 26px;
    margin: 30px 0;
    color: #45484a;
    font-weight: 300;
}

#applyBox .banner img {
    padding: 2px;
    border-top: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-top-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -o-border-top-left-radius: 2px;
    -ms-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -o-border-top-right-radius: 2px;
    -ms-border-top-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}
#applyBox .banner {
    background: url(/RESH/Images/bannerShadow.png) center bottom no-repeat;
    padding-bottom: 10px;
}

#applyBox h3 {
    font-size: 18px;
    margin: 20px 0 15px 0;
    color: #1b1f20;
    font-weight: 300;
}

.callToAction {
    display: inline-block;
    width: 167px;
    height: 33px;
    line-height: 33px;
    font-family: "oswaldregular";
    font-size: 13px;
    color: #fff;
    background: url(/RESH/Images/callToAction.png) no-repeat;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px 1px 0px #000;
}



/* selectbox */
/* SELECTBOXY */

.sbHolder{
	height: 23px;
	position: relative;
	width: 170px;
    border-left: 1px solid #e2e3e3;
    border-top: 1px solid #e2e3e3;
    border-right: 1px solid #e2e3e3;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    background: url(/RESH/Images/selectBg.png) repeat-x;
}

.sbSelector{
    font-size:11px;
    font-family: medium;
	display: block;
	height: 23px;
	left: 0;
	line-height: 23px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 150px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-family: "oswaldregular";
    text-transform: uppercase;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(/RESH/Images/select-arrow.png) left center no-repeat;
	display: block;
	height: 23px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 26px;
    border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
}


.sbToggle:hover{

}
.sbToggleOpen{

}
.sbToggleOpen:hover{

}

.sbHolderDisabled a, .sbHolderDisabled  {
    cursor: not-allowed;
}

.sbHolderDisabled .sbSelector {
    background: #F3F3F3;
}



.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
    background: #fff;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
	list-style: none;
	left: 0px;
	margin: 2px 0 0 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 165px;
	z-index: 1;
	overflow-y: auto;
    border: 3px solid #D6D6D6;
   z-index: 99;
}

.filter .sbOptions {
    border: 3px solid #6a7271;
}

.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
    font-family: "oswaldregular";
    font-size: 10px;
    text-decoration: none;
	display: block;
	outline: none;
	padding: 3px 0 3px 3px;
    color: #2E3536;
}
.sbOptions a:link, .sbOptions a:visited{

}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
    color: #000;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	display: block;
	padding: 3px 0 3px 3px;
}
.sbOptions .sbGroup{
	display: block;
	font-weight: bold;
	padding: 3px 0 3px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}

/* social section */
#social {
    background: url(/RESH/Images/socialPattern.png);
    height: 450px;
    overflow: hidden;
}

#social .inside {
    background: url(/RESH/Images/socialLight.png) center top no-repeat;
    height: 450px;
}

#social .col {
    float: left;
    width: 33.3%;
}

#social .col h5 {
    display: block;
    width: 130px;
    height: 40px;
    background: url(/RESH/Images/facebookLogo.png) center center no-repeat;
    margin: 0 auto;
    margin-top: 40px;
}

#social .col.twitter h5 {
    background: url(/RESH/Images/twitterLogo.png) center center no-repeat;
}

#social .col.instagram h5 {
    background: url(/RESH/Images/instagramLogo.png) center center no-repeat;
}

#social .socialContent {
    height: 280px;
    background: url(/RESH/Images/socialDivider.png) center top no-repeat;
    margin: 5px 26px 0 26px;
    padding-top: 20px;
}

#social .col .socialButton {
    display: block;
    width: 117px;
    height: 36px;
    background: url(/RESH/Images/fbButton.png) no-repeat;
    margin: 0 auto;
}

#social .col.twitter .socialButton {
    background: url(/RESH/Images/twitterButton.png) no-repeat;
}

#social .col.instagram .socialButton {
    background: url(/RESH/Images/instagramButton.png) no-repeat;
}

.tweet {
    padding: 15px 0 15px 75px;
    background: url(/RESH/Images/twitterIcon.png) left center no-repeat;
    font-family: 'Open Sans';
    color: #7a7a7a;
    font-size: 13px;
    font-weight: 700;
    border-top: 1px solid #393939;
}

.tweet.first {
    border: 0;
}

.tweet a {
    color: #e4ac31;
    text-decoration: none;
}

.tweet .time {
    color: #e0e0e0;
    font-family: 'Open Sans';
    font-style: italic;
}

/* profile pre-footer */
.preFooter {
    background: url(/RESH/Images/socialPattern.png) center bottom;
}

.preFooter .inside {
    background: url(/RESH/Images/socialLight.png) center bottom no-repeat;
    height: 95px;
}

/* profile specific styles */
.profilePage #hero .h1wrap {
    text-align: left;
    float: left;
    width: auto;
}

.profilePage #hero .h1wrap h1
{
    font-size: 50px;
    font-family: 'SansationBold';
    font-size:                  50px;
    /*
    font-family:                "Open Sans";
    color:                      rgba( 255, 255, 255, 0.8 );
     */
}

.profilePage .trainerTagLine
{
    margin-top:                 10px !important;
    font-weight:                400 !important;
    font-size:                  16px !important;
    margin-left:                4px !important;
    color:                      rgba(255, 255, 255, 0.8) !important;
    text-shadow:                none !important;
}

.profilePage #hero .company 
{
    float:                      left;
    color:                      rgba( 200, 33, 39, 0.9 );
    text-shadow:                1px 1px 0 #000;
    font-size:                  30px;
    margin-top:                 14px;
    margin-left:                15px;
    height:                     31px;
    font-weight:                bold;
}

/*
.profilePage #hero .h1wrap h1 {
    font-size: 50px;
    font-family: 'SansationBold';
}

.profilePage #hero .company {
    float: left;
    color: #c82127;
    text-shadow: 2px 2px 0 #000;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    height: 32px;
}
*/

.profilePage #hero h2 {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}



.profilePage #hero .trainerDescWrapper {
    margin-top: 10px;
}


.profileHeaderLeft {
    float: left;
}

.profileHeaderRight {
    float: right;
    text-align: center;
    padding-top: 20px;
}

a.trainerWebsite {
    font-size: 13px;
    display: block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.teasers.teaserCarousel .teaser .inside {
    background: url(/RESH/Images/teaserBottomShadowSmall.png) left bottom no-repeat;
    padding: 0 30px 1px;
}

.teasers.teaserCarousel .teaser.teaser3 .inside {
    background-position: right bottom;
}

.teasers.teaserCarousel .teaserBig .inside {
    background: url(/RESH/Images/teaserBottomShadow.png) center bottom no-repeat;
    padding: 0 38px 5px;
}

.teasers.teaserCarousel {
    height: 350px;
    width: 1215px;
    margin-top: -200px;
}

.teasers.teaserCarousel .teaser {
    position: absolute;
}

.teasers.teaserCarousel .teaserBig {
    left: 250px;
    z-index: 5;
    margin-top: -50px;
}

.teasers.teaserCarousel .teaser1 {
	left:74px;
}

.teasers.teaserCarousel .teaser3 {
	right:74px;
}

.teasers.teaserCarousel .teaser img {
    border: 0;
    box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    -o-box-shadow: 0 0 5px #000;
    -ms-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}

#hero .patternArea.trainer .inside {
    min-height: 350px;
}

.profilePage #hero h2.meetMe {
    text-align: center;
}

.profilePage #hero p {
	display:inline-block;
}

.profilePage #hero h2.meetMe span {
    display: inline-block;
    background: url(/RESH/Images/meetIcon.jpg) no-repeat;
    padding-left: 40px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    color: #363636;
    font-weight: 300;
    font-size: 23px;
}

.button span {
    display: block;
    position: absolute;
}

.button span.downArrow {
    background-position: 0 0;
    width: 18px;
    height: 18px;
    right: 15px;
    top: 10px;
}

.button span.icon {
    width: 32px;
    height: 18px;
    left: 10px;
    top: 10px;
}

.button span.icon.oneone {
    background:url(/RESH/Images/icons/oneone18.png);
}

.button span.icon.groupsession {
    background:url(/RESH/Images/icons/group18.png);
}

.button span.icon.class {
    background:url(/RESH/Images/icons/class18.png);
}

.button span.icon.broadcast {
    height: 22px !important;
	background:url(/RESH/Images/icons/broadcast_new18.png) no-repeat center;
}

.button span.icon.inperson {
    background:url(/RESH/Images/icons/handshake18.png) no-repeat center;
}

.profileButtons .button {
    padding: 0 31px 0 60px;
    width: auto;
    position: relative;
    font-family: "gotham_book";
    font-weight: 600;
    font-size: 13px;
}

/* White Gradient Pages */
.white-standard-page
{
    font-family:        "Open Sans";
}

.white-standard-page .background
{
    background:         #eaeaea;
    background:         -moz-linear-gradient(top, #eaeaea 0%, #f9f9f9 100%);
    background:         -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f9f9f9));
    background:         -webkit-linear-gradient(top, #eaeaea 0%,#f9f9f9 100%);
    background:         -o-linear-gradient(top, #eaeaea 0%,#f9f9f9 100%);
    background:         -ms-linear-gradient(top, #eaeaea 0%,#f9f9f9 100%);
    background:         linear-gradient(to bottom, #eaeaea 0%,#f9f9f9 100%);
    filter:             progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f9f9f9',GradientType=0 );
    position:           absolute;
    left:               0px;
    top:                0px;
    width:              100%;
    height:             70px;
    z-index:            -1;
}

.white-standard-page h1
{
    text-align:         center;
    font-size:          38px;
    margin-bottom:      15px;
    font-weight:        300;
}

.white-standard-page .desc
{
    text-align:         center;
    font-size:          14px;
}

.white-standard-page .page-content
{
    width:              1000px;
    margin:             auto;
}

.white-standard-page .info-container
{
    padding:            20px;
    font-size:          14px;
    background:         #f7f7f9;
    border:             1px solid #ccc;
    margin-bottom:      15px;
}

.white-standard-page .info-container .info
{
    margin-bottom:      15px;
}

.white-standard-page .info-container .info:last-of-type
{
    margin-bottom:      0px;
}

.white-standard-page .info-container .info .heading
{
    float:              left;
}

.white-standard-page .info-container .info .details
{
    float:              right;
    font-weight:        600;
}

.transactions-overview
{
    border-top:         1px solid #e4e4e4;
}

.transactions-overview .row
{
    padding-top:        10px;
    padding-bottom:     10px;
    font-size:          16px;
    padding-left:       10px;
    padding-right:      10px;
}

.transactions-overview .row:first-of-type
{
    padding-top:        15px;
}

.transactions-overview .row .text
{
    float:              left;
}

.transactions-overview .row .amount
{
    float:              right;
    font-weight:        600;
}

.transactions-overview .row.sum
{
    margin-top:         5px;
    font-weight:        600;
    border-top:         1px solid #e4e4e4;
    border-bottom:      1px solid #e4e4e4;
}

.shadow-default
{
	position: 					absolute;
	z-index: 					-1;
	width: 						97%;
	height: 					40px;
	margin-left: 				1.5%;
	margin-top: 				-71px;
	box-shadow: 				0px 20px 16px rgb(62, 62, 62);
}

footer
{
    background:                 #eaeaea;
    padding:                    20px;
    font-family:                "Open Sans";
    margin-top:                 30px;
}

footer .footer-content
{
    width:                      1000px;
    margin:                     auto;
    text-align:                 center;
}

footer .footer-content .footer-menu-items
{
    font-size:                  13px;

}

footer .footer-content .footer-menu-items a
{
    text-decoration:            none;
    margin-left:                10px;
    margin-right:               10px;
    color:                      #555;
}

footer .footer-content .menu-items a:hover
{
    color:                      #ce2127;
}

footer .footer-content .bottom
{
    margin-top:                 30px;
    color:                      #555;
}

footer .footer-content .bottom .line1
{
    font-size:                  11px;
}

footer .footer-content .bottom .line2
{
    font-size:                  9px;
}

form h2
{
    font-size:                  20px;
    padding-top:                20px;
    padding-bottom:             5px;
}