﻿body
{
    background:         #e2e2e2;
}

.filter-area
{
    margin-bottom:      20px;
}

.filter-area .filter
{
    display:            inline-block;
    margin-right:       2px;
    background:         #eaeaea;
    width:              100px;
}

.filter-area .filter:hover, .filter-area .filter.selected
{
    background:         #ce2127;
    cursor:             pointer;
    color:              #fff;
}

.filter-area .filter .image-container
{

}

.filter-area .filter .image-container img
{
    float:              left;
}

.change-view
{
    margin-bottom:      15px;
    font-weight:        600;
    font-size:          13px;
}

.change-view:hover
{
    cursor:             pointer;
    color:              #ce2127;
}

.filter-area .filter .text
{
    font-size:          10px;
    line-height:        17px;
    text-align:         center;
}


.session-container
{
    position:            relative;
    margin-bottom:       20px;
    display:             inline-block;   
    vertical-align:      top;          
}

.session-container:not(.open):hover
{
    cursor:              pointer;
    background:          #ce2127;
    color:               #fff;
}

.session-container .image-container
{
    width:               220px;
    float:               left;
}

.session-container .image-container img
{
    width:               100%;
}

.session-container .content-container
{
    padding:              20px;

    border:               1px solid #eaeaea;
}

.session-container.open
{
    display:              block;
}

.session-container.open .content-container
{
    width:                900px;
    height:               125px;
    position:             relative;
}

.session-container .content-container .main-info-container
{
    display:              inline-block;
    margin-top:           13px;
    margin-left:          0px;
    width:                180px;
}

.session-container.open .content-container .main-info-container
{
    margin-left:          30px;
    width:                220px;
}

.session-container .content-container .main-info-container .heading
{
    font-size:            25px;
}

.session-container .content-container .main-info-container .date-container
{
    font-size:            18px;
    font-weight:          bold;
    margin-top:           5px;
}

.session-container .content-container .main-info-container .time-container
{
    font-size:             18px;
    margin-top:            -2px;
    display:               inline-block;
}

.session-container .content-container .main-info-container .share-container
{
    display:               inline-block;
    margin-left:           4px;
    width:                 90px;
}

.session-container .content-container .icon-container
{
    display:                none;
}

.session-container.open .content-container .icon-container
{
    display:                inline-block;
    margin-left:            50px;
    vertical-align:         top;
}

.session-container .close
{
    position:               absolute;
    top:                    10px;
    right:                  10px;
}

.session-container .close:hover
{
    cursor:                 pointer;
    color:                  #ce2127;
}

.session-container .content-container .icon-container .icon
{
    display:                inline-block;
    margin:                 30px 10px;
    text-align:             center;
}

.session-container .content-container .icon-container .icon .img-container
{
    text-align:             center;
}

.session-container .content-container .icon-container .icon img
{
}

.session-container .content-container .icon-container .icon .text
{
    font-size:                13px;
    text-align:               center;
    
}

.session-container .content-container .icon-container .icon .circle-text
{
    position:                 absolute;
    margin-top:               -54px;
    text-align:               center;
    width:                    42px;
    
}

.icon[data-id]:hover, .icon[onclick]:hover
{
    cursor:                    pointer;
    color:                     #e11330;
}

.session-container .expandable
{
    display:                   none;
    margin-left:               220px;
    background:                #f7f7f7;
    width:                     720px;
    border:                    1px solid #ccc;
    border-top:                none;
    margin-top:                -1px;
}

.session-container .expandable .arrow
{
    width:                      0; 
	height:                     0; 
	border-left:                50px solid transparent;
	border-right:               50px solid transparent;
	border-bottom:              30px solid #f7f7f7;
    position:                   absolute;
    margin-top:                 -30px
}

.session-container .expandable .content
{
    padding:                    22px;
}

.session-container .expandable.client
{
}

.session-container .expandable.client .arrow
{
    margin-left:                492px;
}

.session-container .expandable.settings
{
}

.session-container .expandable.note .arrow
{
    margin-left:                428px;
}

.session-container .expandable.settings .arrow
{
    margin-left:                425px;
}

.session-container .user
{
    display:                    inline-block;
    margin-right:               20px;
}

.session-container .user:hover
{
    cursor:                     pointer;
}

.session-container .user:hover .image-container
{
    border:                     1px solid #cf9999;
}

.session-container .user .image-container
{
    width:                      100px;
    border-radius:              5px;
    overflow:                   hidden;
    border:                     1px solid #eaeaea;
    float:                      none;
}

.session-container .user .image-container img
{
    margin-bottom:              -5px;
}

.session-container .user .name
{
    font-size:                    13px;
    text-align:                   center;
    margin-top:                   3px;
}

.profile-widget-container
{
    display:                      none;
}

.profile-widget
{
    position:                     fixed;
    top:                          200px;
    background: #eaeaea;
    margin:auto;
    left:50%;
    margin-left:-400px;
    z-index:3;
}

.profile-widget-container .background
{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    z-index:2;
    background: rgba( 0, 0, 0, 0.6);
}

.profile-widget .navigation-container
{
}

.profile-widget .navigation-container .item
{
    display:inline-block;
    height:                        160px;
    box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
    border-bottom:                 10px solid rgba(0,0,0,0.3);
    width: 160px;
    text-align:center;
    padding-top:30px;
    margin-left:-4px;
}

.profile-widget .navigation-container .item.selected
{
    border:none;
}

.profile-widget .navigation-container .item .icon-container
{
    display: inline-block;
}

.profile-widget .navigation-container .item .text
{
    text-align:center;
}

.profile-widget .navigation-container .item[data-id='close']
{
}

.profile-widget .navigation-container .item[data-id='profile']
{
    background: #c7040a;
}

.profile-widget .navigation-container .item[data-id='messages']
{
    background: #bfbfbf;
}

.profile-widget .navigation-container .item[data-id='notes']
{
    background: #919191;
}

.profile-widget .navigation-container .item[data-id='settings']
{
    background: #696969;
}

.profile-widget .content-container
{
    padding: 20px 30px;
    text-align:left !important;
    width: auto !important;
    min-height: 280px;
}

.profile-widget .name
{
    text-align:left !important;
    font-size: 35px !important;
    font-weight:400;
    text-transform:uppercase;
}

.profile-widget .location
{
    font-size: 20px;
    font-weight:400;
    text-transform: uppercase;
}

.profile-widget .more-info-container
{
    margin-top:   20px;
    font-size:18px;
    border-bottom: 1px solid #ccc;
padding-bottom: 10px;
width: 400px;
}

.profile-widget .more-info-container .more-info
{
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #333;
    margin-right: 20px;
}

.profile-widget .more-info-container .more-info:last-of-type
{
    border:none;
    margin-right: 0px;
}

.profile-widget .social-container
{
}

.profile-widget .user-info-icon-contianer
{
    margin-top: 20px;
}

.profile-widget .user-info-icon-contianer .icon
{
    display:        inline-block;
    margin-right:   1px;
}

.profile-widget .user-info-icon-contianer .icon:hover
{
    cursor:         pointer;
}

.profile-widget .user-info-icon-contianer .icon .image-container
{
    width: inherit;
}

.profile-widget .user-info-icon-contianer .icon .image-container
{
    border: none !important;
}

.profile-widget .user-info-icon-contianer .icon .explain
{
    display:            none;
    position:           absolute;
    padding:            3px;
    font-size:          12px;
    background:         #f7f7f7;
    border-radius:      3px;
    margin-top:         -70px;
    margin-left:        -9px;
}

.profile-widget .user-info-icon-contianer .icon .text
{
    display:            none;
    position:           absolute;
    background:         #000;
    line-height:        35px;
    border-radius:      20px 20px;
    margin-top:         -40px;
    padding:            0px 10px;
    color:              #fff;
    margin-left:        40px;
}

.profile-widget .user-image-container
{
    width:              320px;
    position:           absolute;
    top:                0;
    right:              -320px;
}

.respond-container
{
    display:            none;
    background:         rgba(0, 0, 0, 0.4);
    position:           fixed;
    z-index:            2;
    margin:             auto;
    left:               0px;
    top:                0px;
    width:              100%;
    height:             100%;
}

.responds-container
{
    background:         #F7F7F7;
    width:              1200px;
    margin:             120px auto auto;
    border-radius:      5px;
    padding-top:        1px;
}

.close-all
{
    position:           fixed;
    left:               50%;
    margin-left:        620px;
    top:                130px;
    font-weight:        600;
    color:              #fff;
}

.close-all:hover
{
    color:              #ce2127;
    cursor:             pointer;
}

.browse
{
    display:            none;
}

.new-times
{
    display:            none;
    background:         #F7F7F7;
    width:              1200px;
    margin:             120px auto auto;
    border-radius:      5px;
    padding-top:        1px;
}

.new-times .time-slots-container
{
    margin-top:         0px;
}

.new-times .dates-container
{
    margin:             auto;
    width:              1070px;
}

.new-times .day-container
{
    width:              140px !important;
}

.new-times .overview .image
{
    float:              none;
    width:              75px;
    height:             75px;
}

.new-times h1
{
    display: block;
    text-align: center !important;
    margin-top: -9px !important;
    text-transform: none;
    font-size: 19px;
    margin-bottom: 21px;
}

.new-times .overview .name
{
    display: none;
}

.new-times form
{
    padding-top: 20px;
    padding-bottom: 20px;
}