<!-- 	{RESH}/RESH/Components/Pricing/RESHpricingOverviewComponent.css -->

<section class="professionalMembershipPricing">
	<h1>PROFESSIONAL MEMBERSHIP PRICING</h1>
	
	<div class="container">
		<table class="mainTable">
			<tr class="plans">
				<th rowspan="2" class="heading">Plans</th>
				<th>Standard</th>
				<th>Premium</th>
				<th>Platinum</th>
			</tr>
			<tr class="pricing">
				<td>
					<div class="pricingContainer">
						<div class="USD">$</div>
						<div class="mainPrice">19</div>
						<div class="decimals">.99</div>
						<div class="period">/month</div>
					</div>
					<div class="orContainer">
						<div class="line"></div>
						<div class="text">or</div>
						<div class="line"></div>
					</div>
					<div class="pricingContainer">
						<div class="USD">$</div>
						<div class="mainPrice">199</div>
						<div class="decimals">.99</div>
						<div class="period">/year</div>
					</div>
					<div class="freemonths">2 free months</div>
				</td>
				<td>
					<div class="pricingContainer">
						<div class="USD">$</div>
						<div class="mainPrice">29</div>
						<div class="decimals">.99</div>
						<div class="period">/month</div>
					</div>
					<div class="orContainer">
						<div class="line"></div>
						<div class="text">or</div>
						<div class="line"></div>
					</div>
					<div class="pricingContainer">
						<div class="USD">$</div>
						<div class="mainPrice">299</div>
						<div class="decimals">.99</div>
						<div class="period">/year</div>
					</div>
					<div class="freemonths">2 free months</div>
				</td>
				<td>
					<div class="pricingContainer">
						<div class="USD">$</div>
						<div class="mainPrice">49</div>
						<div class="decimals">.99</div>
						<div class="period">/month</div>
					</div>
					<div class="orContainer">
						<div class="line"></div>
						<div class="text">or</div>
						<div class="line"></div>
					</div>
					<div class="pricingContainer">
						<div class="USD">$</div>
						<div class="mainPrice">499</div>
						<div class="decimals">.99</div>
						<div class="period">/year</div>
					</div>
					<div class="freemonths">2 free months</div>
				</td>
			</tr>
			<tr>
				<td>Customized Brand Profile Page</td>
				<td class="yes"></td>
				<td class="yes"></td>
				<td class="yes"></td>
			</tr>
			<tr>
				<td>1 on 1 Video Training Portal</td>
				<td class="limited">Free Sessions Only</td>
				<td class="yes"></td>
				<td class="yes"></td>
			</tr>
			<tr>
				<td>Personalized Store (10% Commisions)</td>
				<td class="yes"></td>
				<td class="yes"></td>
				<td class="yes"></td>
			</tr>
			<tr>
				<td>Reshape Social HUB Integration</td>
				<td class="yes"></td>
				<td class="yes"></td>
				<td class="yes"></td>
			</tr>
			<tr>
				<td>Business Card Design w/ QR code</td>
				<td class="yes"></td>
				<td class="yes"></td>
				<td class="yes"></td>
			</tr>
			<tr>
				<td>Domain Forwarding to Profile Page</td>
				<td class="no"></td>
				<td class="yes"></td>
				<td class="yes"></td>
			</tr>
			<tr>
				<td>Group Video Session Hosting (12 clients)</td>
				<td class="no"></td>
				<td class="no"></td>
				<td class="yes"></td>
			</tr>
			<tr>
				<td>Broadcast vSession Hosting (no limit)</td>
				<td class="no"></td>
				<td class="no"></td>
				<td class="yes"></td>
			</tr>
			<tr class="annualFeatures">
				<td>
					ANNUAL SUBSCRIPTION EXTRAS
				</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td>Free Months</td>
				<td>2</td>
				<td>2</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Reshape Camera TV PC Discount</td>
				<td>20 %</td>
				<td>50 %</td>
				<td>FREE</td>
			</tr>
			<tr class="join">
				<td></td>
				<td class="joinBtn">Join Reshape</td>
				<td class="joinBtn">Join Reshape</td>
				<td class="joinBtn">Join Reshape</td>
			</tr>
		</table>
	</div>
	<div class="shadow"></div>
</section>
