@charset "UTF-8";
/* CSS Document */

.navigationBoxes{
	position:fixed;
	right:0px;
	top:150px;
	z-index:20;
	font-family:"Open Sans";
}
.navigationBoxes .navigationBox{
	width:50px;
	height:50px;
	overflow:hidden;
	background:rgba(0, 0, 0, 0.75);
	padding:5px;
	color:#FFF;
	margin-bottom:2px;
	font-size:11px;
	clear:both;
}
.navigationBoxes .navigationBox .text{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 50px;
	height: 50px;
}
.navigationBoxes .selected{
	color:#ce2127 !important;
}

.navigationBoxes .navigationBox:hover{
	color:#ce2127;
	cursor:pointer;
	background:rgba(0, 0, 0, 0.95);
}