﻿@charset "UTF-8";
/* CSS Document */

.professionalMembershipPricing{
	width:1016px;
	margin:auto;
	position:relative;
}
.professionalMembershipPricing h1{
	text-align:center;
	font-size:20px;
	font-family:'heroregular';
	color:#363636;
	margin-top:30px;
	margin-bottom:30px;
}
.professionalMembershipPricing .container{
}
.professionalMembershipPricing .mainTable{
	width:700px;
	margin:auto;
	margin-bottom:20px;
}
.professionalMembershipPricing .mainTable tr{
	height:38px;
	border-bottom:1px solid #ccc;
}
.professionalMembershipPricing .mainTable .heading{
	font-size:40px;
	color:#cfcfcf;
	text-align:left;
	font-family:'Open Sans';
	font-weight:normal;
	background:none !important;
	vertical-align:bottom;
}
.professionalMembershipPricing .mainTable th:nth-child(odd){
	background:#262626;
}
.professionalMembershipPricing .mainTable th:nth-child(even){
	background:#1d1d1d;
}
.professionalMembershipPricing .mainTable td:not(:first-child){
	width:125px;
	text-align:center;
}
.professionalMembershipPricing .mainTable th{
	font-size:19px;
	color:#cfcfcf;
	height:70px;
	vertical-align:middle;
}
.professionalMembershipPricing .mainTable .plans{
	border-bottom:none !important;
}
.professionalMembershipPricing .mainTable .pricing td{
	padding-top:10px;
	padding-bottom:10px;
	text-indent:0px;
}
.professionalMembershipPricing .mainTable .pricing td:nth-child(even){
	background:#2f2f2f;
}
.professionalMembershipPricing .mainTable .pricing td:nth-child(odd){
	background: #2a2929;
}
.professionalMembershipPricing .mainTable .pricingContainer{
	position:relative;
	text-align:center;
	color:#cfcfcf;
	font-family:'Open Sans';
	text-indent: 0px;
}
.professionalMembershipPricing .mainTable .pricingContainer .USD{
	display:inline-block;
	font-size:11px;
}
.professionalMembershipPricing .mainTable .pricingContainer .mainPrice{
	display:inline-block;
	font-size:25px;
	font-weight:600;
}
.professionalMembershipPricing .mainTable .pricingContainer .decimals{
	display:inline-block;
	vertical-align:top;
	margin-top:4px;
	color:#ffb400;
	font-size:11px;
}
.professionalMembershipPricing .mainTable .pricingContainer .period{
	display:inline-block;
	font-size:7px;
	margin-left: -5px;
}

.professionalMembershipPricing .plan-col
{
    color: #eaeaea;
    font-size: 30px !important;
    text-indent: 0 !important;
    text-align: center;
    font-weight: 300;
}

.professionalMembershipPricing .mainTable .orContainer{
	position:relative;
	text-align:center;
	text-indent: 0px;
}
.professionalMembershipPricing .mainTable .orContainer .line{
	width:20px;
	height:1px;
	background:#464646;
	display:inline-block;
	vertical-align:middle;
	margin-top:3px;
}
.professionalMembershipPricing .mainTable .orContainer .text{
	display:inline-block;
	color:#cfcfcf;
	font-size:9px;
	margin-left:5px;
	margin-right:5px;
}
.professionalMembershipPricing .mainTable tr td:nth-child(even){
	background-color:#e5e5e5;
}
.professionalMembershipPricing .mainTable tr td:nth-child(odd){
	background-color:#efefef;
}
.professionalMembershipPricing .mainTable tr td{
	font-size:12px;
	vertical-align:middle;
	font-family:'Open Sans';
}
.professionalMembershipPricing .mainTable tr td:first-child{
	background:url(/RESH/Images/pricingModule/bullet.png) #efefef;
	background-repeat:no-repeat;
	background-position:13px;
	text-indent:40px;
}
.professionalMembershipPricing .mainTable .annualFeatures{
	height:18px !important;
}
.professionalMembershipPricing .mainTable .annualFeatures td{
	text-align:center;
	text-indent:0px !important;
	background:#2f2f2f !important;
	color:#cfcfcf;
	font-size:10px;
}
.professionalMembershipPricing .mainTable .join
{
    border-bottom: none;
}

.professionalMembershipPricing .mainTable .join td{
	color:#FFF;
}
.professionalMembershipPricing .mainTable .join td:first-child{
	background: #2f2f2f;
}
.professionalMembershipPricing .mainTable .joinBtn:hover{
	cursor:pointer;
	background:#ce2127 !important;
}
.professionalMembershipPricing .mainTable .joinBtn:nth-child(even){
	background:#1d1d1d;
}
.professionalMembershipPricing .mainTable .joinBtn:nth-child(odd){
	background:#2f2f2f;
}
.professionalMembershipPricing .mainTable .yes{
	background:url(/RESH/Images/pricingModule/checkmark.png);
	background-repeat:no-repeat;
	background-position:center;
}
.professionalMembershipPricing .mainTable .no{
	background:url(/RESH/Images/pricingModule/notavailable.png);
	background-repeat:no-repeat;
	background-position:center;
}
.professionalMembershipPricing .mainTable .limited{
	background:url(/RESH/Images/pricingModule/limitation.png);
	background-repeat:no-repeat;
	background-position:center;
	font-size: 8px;
	vertical-align: bottom;
	color: #999;
}
.professionalMembershipPricing .shadow{
	background:url(/RESH/Images/signUpPro/shadow.png);
	width:799px;
	height:26px;
	position:absolute;
	z-index: -1;
	bottom: -11px;
	left: 109px;
}
.professionalMembershipPricing .freemonths{
	text-align: center;
	color: #cfcfcf;
	font-size: 8px;
	text-indent: 0px;
}