﻿.buy-btn .btn
{
    background: url(http://static.reshape.net/RESH/Images/buttons/BuyBtnGreen.png);
    width:127px;
    height: 38px;
    line-height: 157px;
    text-align:center;
}

.buy-btn:hover .btn
{
    background-position: 0px -36px;

}

.buttons-container
{
    float: left;
    position: relative;
    z-index:2;
    margin-left: 50px;
}

.buy-btn:hover
{
    cursor:pointer;
}

.buy-btn.alt
{
    background: url(http://static.reshape.net/RESH/Images/buttons/BuyBtnBlack.png);
}

.buy-btn .price
{
    font-size:  19px;
}

.buy-btn .desc
{
    font-size: 10px;
}

.profileHeaderRight
{
    padding-right: 20px !important;
    padding-top: 0px !important;
}

.profileHeaderRight img
{
    width: 100px;
}

.black-box
{
    font-family: "Open Sans";
    font-size: 12px;
    padding-top: 20px;
    padding-left: 25px;
}

.black-box /*Additional when in top*/
{
}

.black-box .item
{
    display: inline-block;
    margin-right:20px;
    padding: 5px;
    border-radius: 3px;
    min-width: 70px;
}

.black-box .item .img-container
{
    text-align: center;
    line-height: 40px;
}

.black-box .item .img-container img
{
    display: inline-block;
    vertical-align: text-bottom;
}

.black-box .item .text
{
    text-align: center;
}
        
.leftCol
{
    width: 350px !important;
}

.middleCol
{
    float: left;
    width: 250px;
    margin-left: 40px;
}

.single-image
{
    z-index: 2;
    position: relative;
    height: 290px;
    margin-left: -530px;
    width: 1000px;
    margin: auto;
    margin-top: -270px;
}

.single-image img
{
    max-height: 360px;
    max-width: 1000px;
}

#hero .whiteArea
{
    background: none !important;
}

.company
{
    font-size: 25px !important;
    margin-top: 19px !important;
            
}

.location
{
    color: #eaeaea;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 13px;
}

.countdown-container
{
    position:       relative;
    margin-top:     20px;
}

.countdown-container .heading
{
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 10px;
}

.countdown-container #countdown
{
    width: 950px;
    position: relative;
    margin-bottom: -20px;
}

.upcoming-sessions .session
{
    padding: 5px;
    display: inline-block;
    background: none repeat scroll 0% 0% rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    font-size: 11px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

.upcoming-sessions .date-heading
{
    border-bottom: 1px solid #CCC;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.upcoming-sessions .date-heading .weekday
{
    display: inline-block;
    font-size: 28px;
}

.upcoming-sessions .date-heading .month-date
{
    display: inline-block;
    font-size: 11px;
    margin-left: 3px;
    line-height: 12px;
}

.upcoming-sessions .session:hover
{
    cursor: pointer;
    background: #eaeaea;
    color: #000;
}