@charset "UTF-8";
/* CSS Document */

.roundabout-holder {
	list-style: none;
	padding: 0;
	margin: 0;
}
.roundabout-moveable-item {
	cursor: pointer;
	background-color: #000;
}
.roundabout-in-focus {
	cursor: auto;
}
.carousel{
	width: 1000px;
	margin: 0px auto;
	height: 250px;
	position:relative;
}

.carousel .carouselContent{
	width:770px;
	margin: 0px auto;
}
.carousel .teaser .teaserShadow{
	z-index:1;
	position:absolute;
	margin-top: 54.5%;
	margin-left: -9%;
	width: 118%;
	border:none;
	height:7%;
	overflow:hidden;
}
.carousel .carouselContent .teaser {
    position: absolute;
	height:331px;
	width:588px;
}
.carousel .carouselContent .teaser .contentContainer{
	position:absolute;
	width:100%;
	z-index:2;
}
.carousel .video .videoPlayerContainer{
	display:none;
}
.carousel .arrow {
    display: block;
	width: 59px;
	height: 60px;
	background: url(../images/trainerArrows.png) no-repeat;
	position: absolute;
	left: -120px;
	top: -40px;
	z-index: 1;
}

.carousel .arrow.right {
    background-position: -60px 0;
    right: -110px;
    left: auto;
}

.carousel .teasers{
	margin-bottom: 0px;
}

.carousel .teaserCarousel{
	height: auto;
}
.teasers.teaserCarousel .arrow {
    top: -40px;
}

.carousel .reflection canvas{
	width:100%;
}

.profilePage .patternArea.trainer .inside {
	min-height: 300px !important;
}



/* FIX IF IN WHITE AREA HAVE TO GO TO PREV DIV*/
.whiteArea .carousel{
	margin-top:-50px;
}