﻿/*ALWAYS */


.user-info
{
   opacity:             0;
   background:          rgba( 0, 0, 0, 0.6 );
   color:               #fff;
   text-align:          center;
   position:            absolute;
   top:                 0px;
   left:                0px;
   width:               100%;
   height:              100%;
}

.user-info .user-img-container
{
    margin-top:         20px;
}

.user-info .user-img-container .user-img
{
    border-radius:      12px;
    width:              100px;
    max-width:          20%;
}

.user-info .user-text-container
{
    margin-top:         10px;
}

.user-info .user-text-container .user-name
{
    font-size:          35px;
}

.user-info .user-text-container .user-location
{
}

.user-info .admin-options
{
    
}

.user-info .admin-options .option.zoom-out
{
    display:            none;
}

.user-info .admin-options .option
{
    display: inline-block;
    margin: 0 10px;
}

.user-info .admin-options .option:hover
{
    cursor: pointer;
    color: #E70C0C;
}

.user-info-compact
{
    color:              #fff;
    font-size:          25px;
    margin-left:        25px;
    padding-bottom:     7px;
}

.user-info-compact .user-name
{
}

.user-info-compact .user-location
{
    display:            none;
}

.small-video .user-info .user-img-container
{
    margin-top:         15px;

}

.small-video .user-info .user-text-container
{
    margin-top:         0px;
}

.small-video .user-info .user-text-container .user-name
{
    font-size:          15px;
    font-weight:        400;
}

.small-video .user-info .admin-options
{
    font-size:          12px;
}

.small-video .user-info .admin-options .option
{
    margin:             0px 3px;
}

.small-video .user-info-compact
{
    font-size:          16px;
}

.main {
  width:                960px;
  min-height:           300px;
  margin:               0 auto;
  padding:              30px 0 30px;
}

.main.wide 
{
  width:                1026px;
}

h1#tutorialTitle {
  text-align:           center;
  margin-bottom:        30px;
}

h2#tutorialSubTitle {
  text-align: center;
  margin-bottom: 30px;
  display: block;
}

#logsContainer {
  width: 100%;
}

#pluginContainer {
  position: fixed;
  left: -10px;
  width: 2px;
}

#installBtn {
  margin: 30px auto;
  padding: 10px;
  display: none;
  width: 400px;
}

#initProgressBar {
  width: 360px;
  margin-bottom: 10px;
}

.clearer {
  clear: both;
}

.allowed-senders-wrapper{
  margin-top: 10px;
  display: inline-flex;
}

.ctrl-wrapper {
  margin-left: 10px;
  margin-bottom: 10px;
}

.ctrl-wrapper input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.ctrl-wrapper label, .ctrl-wrapper .ctrl {
  float: left;
  margin-right: 5px;

}

.ctrl-wrapper label {
  width: 180px;
  display: block;
  padding-top: 3px;
}

.ctrl-wrapper .ctrl {
  width: 300px;
}

#micActivityBar {
  height: .8em;
}

.remote-renderer {
  display: inline-block;
  position: relative;
}

.render-wrapper {
  width: 600px;
  height: 450px;
  overflow:hidden;
  margin-left: 20px;
}

.render-wrapper:first-of-type, .render-wrapper:nth-of-type(2)
{
    margin: 0px;
}

.rendering-wrapper, #tut4CtrlWrapper {
  width: 100%;
  margin: 0 20px;
  position: relative;
}

#tut8CtrlWrapper {
  width: 830px;
  margin: 0 auto 20px;
  position: relative;
}

.main.wide .rendering-wrapper {
  width: 1026px;
}

.windowed-windowless-showcase {
  position: absolute;
  width: 128px;
  height: 128px;
  background: rgba(255, 0, 0, 0.5);
  z-index: 100;
  top: 225px;
  left: 280px;
}

#templatesContainer {
  display: none;
}

.no-video-text {
  display: none;
}

#scopeIdTxtField {
  margin-top: 5px;
}

.muted-indicator 
{
  display: none;
}

/**

Tutorial 6.2

*/

.monitor-speech-wrapper{
  position: relative;
  right: 75px;
  bottom: 75px;
}

.vertical-progress{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
}

/* Tutorial 7 stuff */

.chat-widget {
  width: 400px;
  height: 500px;
  border: #888 solid 1px;
  margin: 20px auto 10px;
  position: relative;
}

.messages-input {
  background: #EEE;
  position: absolute;
  bottom: 0;
  width: 390px;
  height: 100px;
  padding: 2px 5px
}

.messages-input textarea {
  width: 380px;
  height: 45px;
  resize: none;
}

.messages-input select {
  width: 110px;
  height: 26px;
  padding: 2px;
  margin-top: 5px;
}

.messages-input label {
  margin-top: 10px;
  display: inline-block;
}

.messages-input .send-btn {
  margin-left: 5px;
}

.messages-sink {
  height: 394px;
  border-bottom: 2px solid #666;
  padding: 5px;
  overflow-y: scroll;

}

.messages-sink .msg-itm {
  border-bottom: 1px solid #666;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.msg-itm .msg-header {
  /*line-height: 12px;*/
  font-size: 12px;
  color: #888;
}

.msg-itm .direct-indicator.hidden {
  visibility: hidden;
}

.render-wrapper-big {
  width: 640px;
  height: 480px;
  padding: 5px;
  border: 1px solid #333;
  background: #999;
}

.scr-share-src-wrapper {
  height: 300px;
  overflow-y: auto;

}

.scr-share-src-list {
  height: 300px;
}

.scr-share-src-itm {
  float: left;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  width: 240px;
  height: 175px;
}

.scr-share-src-itm p {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  text-align: center;
}

.scr-share-src-itm.selected {
  background: #DDD;
}

.scr-share-src-itm:hover {
  background: #DDD;
}

/**

Tutorial 9 - user landing widget

*/

#accordion {
  width: 450px;
  margin: 0 auto;
}

#accordion .ui-accordion-header {
  cursor: default;
}

.next-wrapper {
  padding-top: 20px;
  text-align: right;
}

.next-btn {
  display: none;
}

/* Hide those items initially */
.state-ok-msg, .state-testing-msg, .state-error-msg {
  display: none;
}

.state-ok-msg {
  color: #41b953;
}

.state-error-msg {
  color: #E70C0C;
}

.hw-conn-ok {
  color: #41b953;
}

.hw-conn-warn {
  color: #ff9700;
}

.hw-conn-bad {
  color: #E70C0C;
}

#platformInitStep {
  height: 150px;
}

#platformInitStep .state-testing-msg {
  display: block;
}

#platformInitStep .btn-wrapper {
  height: 40px;
}

#micSetupStepWrapper {
  height: 170px;
}

#spkSetupStepWrapper {
  height: 170px;
}

#camSetupStepWrapper {
  height: 310px;
}

#connHwTestWrapper {
  height: 150px;
}

#camPreviewRenderer {
  width: 160px;
  height: 120px;
  background: #DDD;
  margin: 0 auto;
}

#connHwTestWrapper .hw-conn-status,
#connHwTestWrapper .info {
  display: none;
}

#connHwTestWrapper .hw-conn-status {
  float: right;
}

#connHwTestWrapper .hw-conn-test-label {

}

#connHwTestWrapper li {
  margin-bottom: 10px;
}

.main.tutorial11 {
  width: 1280px;

}

.main.tutorial11 .rendering-wrapper {
  /*height: 720px;*/
  /*width: 1280px;*/
  position: relative;
  margin: 0;
  padding: 0;
}

.main.tutorial11 .render-wrapper {
  background: none;
  border: none;
  padding: 0;
}

.main.tutorial11 #renderLocalPreview {
  /*position: absolute;*/
  top:5px;
  left:5px;
}

.main.tutorial11 #renderRemoteUser {
  /*width:1280px;*/
  /*height: 720px;*/
}

#settings-container
{
    display: none;
    padding: 20px;
    background: #dbdbdb;
    position: fixed;
    top: 100px;
    right: 80px;
    border-radius: 4px;
}

.close-settings
{
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: -25px;
    right: 0px;
}

.close-settings:hover
{
    cursor: pointer;
    color: #e11330;
}

#renderLocalPreview
{
    overflow: hidden;
    height: 300px;
    width: 400px;
    right: -405px;
    position: absolute;
}

.stopBtn
{
    display: none;
}

.videoHidden
{

}