﻿@charset "UTF-8";
/* CSS Document */

.signInPopUp
{
	font-family:"Open Sans";
	display: none;
}

.signInPopUp .fullScreenBackgroundFade
{
	position: fixed;
	z-index: 10001;
	top: 91px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
}


.signInPopUp .extraBorder
{
	width:750px;
	border:1px solid #d3d3d3;
	left:50%;
	margin-left:-375px;
	position:fixed;
	z-index:10003;
	top:150px;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #efe5ef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#efe5ef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#efe5ef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#efe5ef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#efe5ef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 0%,#efe5ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#efe5ef',GradientType=0 ); /* IE6-9 */
	border-radius:8px;
}

.signInPopUp .signInBoxContainer
{
	border-radius:8px;
	border: 1px solid #fff;
	padding:50px;
}

.signInPopUp .signInBoxContainer .close
{
	margin-top:-40px;
	background:url(/RESH/Images/close.png) no-repeat 0px 8px;
	position:absolute;
	width:11px;
	overflow:hidden;
	right:-26px;
	text-indent:15px;
	color:#ccc;
}

.signInPopUp .signInBoxContainer .close:hover
{
	width:60px;
	right:-75px;
	cursor:pointer;
}

.signInPopUp .signInBoxContainer .left
{
	float:left;
	width:300px;
	padding-right:30px;
	border-right:1px solid #d3d3d3;
	margin-right:50px;
}

.signInPopUp .signInBoxContainer .right
{
	float:right;
	width:256px;
}

.signInPopUp .signInBoxContainer h1
{
	color:#ce2127;
	font-size:24px;
	font-weight:normal;
	padding-bottom:20px;
	line-height:24px;
	margin-top:0px;
}

.signInPopUp .signInBoxContainer p
{
	margin-top:14px
}

.signInPopUp .signInBoxContainer input[type='text'],
.signInPopUp .signInBoxContainer input[type='email'], 
.signInPopUp .signInBoxContainer input[type='password']
{
	padding: 6px;
	border-radius: 3px;
	border: 1px solid #FFF;
	background-color: #eaeaea;
	box-shadow: 0px 2px 3px #666 inset;
	width: 260px;
	height: 30px;
	font-size: 15px;
	text-indent: 7px;
}

.signInPopUp .signInBoxContainer input[type='text']:focus,
.signInPopUp .signInBoxContainer input[type='email']:focus, 
.signInPopUp .signInBoxContainer input[type='password']:focus
{
	background-color:		#f7f7f7;
}

.signInPopUp .signInBoxContainer input[type='checkbox']{
	vertical-align:middle;
}

.signInPopUp .signInBoxContainer .rememberMe
{
	font-size:12px;
	margin-left:15px;
	padding-top:5px;
}

.signInPopUp .signInBoxContainer a
{
	text-decoration:underline;
	color:#000;
}

.signInPopUp .signInBoxContainer a:hover
{
	color:#ce2127;
}

.signInPopUp .signInBoxContainer input[type='submit']
{
	background:url(/RESH/Images/buttons/loginBig.png);
	width:120px;
	height:46px;
	text-indent:-1000px;
	border:none;
}

.signInPopUp .signInBoxContainer input[type='submit']:hover
{
	background-position: 0px -44px;
	cursor:pointer;
}

.signInPopUp .signInBoxContainer .forgotPsswd{
	font-size:12px;
	margin-top:30px;
}
.signInPopUp .signInBoxContainer .newAcct{
	font-size:12px;
	margin-top:5px;
}
.signInPopUp .signInBoxContainer .connectFb
{
	background:url(/RESH/Images/buttons/fbConnect.png);
	width:175px;
	height:29px;
	cursor:pointer;
	margin:auto;
	margin-top:140px;
}

.signInPopUp .signInBoxContainer .fbExplain
{
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
	color: #666;
}