@charset "UTF-8";
/* CSS Document */

.mainSlider{
	position: relative;
	width: 1000px;
	margin: 0px auto;
	margin-top: -300px;
	z-index: 2;
	margin-bottom:20px;
}
.mainSlider .slideContainer .slide{
	width:636px;
	height:403px;
	background:#000000;
	overflow:hidden;
	z-index:3;
	margin:0px auto;
}
.mainSlider .shadow{
	background:url(../images/index/shadow-under.png);
	width:748px;
	height:25px;
	z-index:2;
	margin:0px auto;
	margin-top:-13px !important;
}
.mainSlider .navigateContainer{
	position: absolute;
	right: 190px;
	top: 410px
}
.mainSlider .navigateContainer .navigate{
	background:url(../images/buttons/slideshow_nav.png);
	width:22px;
	height:24px;
	float:left;
}
.mainSlider .navigateContainer .navigate:hover{
	background-position:0px -24px;
	cursor:pointer;
}
.mainSlider .navigateContainer .navigateSelected{
	background-position:0px 25px !important;
}
.mainSlider .arrow{
	display: block;
	width: 59px;
	height: 60px;
	background: url(../images/trainerArrows.png) no-repeat;
	position: absolute;
	left: 40px;
	top: 180px;
}
.mainSlider .arrow:hover{
	cursor:pointer;
}
.mainSlider .arrowRight{
	background-position: -60px 0;
	right: 40px;
	left: auto;
}

.mainSlider .headerToDisplay, .mainSlider .contentToDisplay{
	display:none;
}

.contentToUpdate{
	height:69px;
}

/* ADD TO MAIN STYLESHEET WHEN TRAINER PAGES HAVE BEEN UPDATED */ 
.patternArea .inside{
	min-height:300px
}