﻿@charset "UTF-8";
/* CSS Document */
.removeRow{
	background:url(../images/forms/minus.png);
	width:16px;
	height:16px;
	position: absolute;
	left: 473px;
	margin-top: -27px;
}
.removeRow:hover{
	background-position:0px 16px;
	cursor:pointer;
}
.editAccountPro .removable:first-child .removeRow{
	display:none;
}
.editAccountPro .addMoreArea .removable:first-child .removeRow{
	display:block;
}
.editAccountPro .carouselContent .removeRow{
	left: -8px;
	margin-top: -161px;
}

.editAccountPro .carouselContent img{
	width:178px;
	float:left; 
	margin-right:20px;
}

.editAccountPro .iOfferThis{
	font-size: 12px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.editAccountPro .iOfferThis input[type='checkbox']{
	margin-top:-2px !important;
	vertical-align:middle !important;
	margin-right:5px;
}

.editAccountPro .priceAd{
	font-size:12px;
}

.editAccountPro .priceAd input{
	width:70px;
	margin-left:20px;
}

.showSocialHub
{
	float:			right;
	font-size:		11px;
	color:			#333;
	line-height:	33px;
}

.showSocialHub input
{
	margin-right:		7px;
	vertical-align:		middle;
	margin-top:			0px !important
}



.editAccountPro .bigTextarea{
	padding:10px;
	width:600px;
	height:185px;
	text-indent:0px;
	line-height:18px;
	font-size:12px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.editAccountPro select {
		padding-right:30px;
	}
	
}
.editAccountPro .state {
	float:left !important;

}
.editAccountPro .state select{
	width:150px !important;
}

.editAccountPro .labelCheat {
	position:relative;
	width:auto;
	float:none;
}

.editAccountPro .labelCheat:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#333;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:6px; 
	top:0px;
    padding:5px 3px 0px 3px;
    border-bottom:1px solid #999;
    position:absolute;
	height:17px;
    pointer-events:none;
	background:#f7f7f7;
}
.editAccountPro .labelCheat:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}

