﻿@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
	background:#000000;
	font-family: "Open Sans";
}

header 
{
	height:105px;
    margin-top: -70px;
}
.logo
{
	background:url(http://static.reshape.net/RESH/Images/logo.png);
	width:231px;
	height:90px;
	text-indent:-10000px;
	margin-left:30px;
	margin-top:0px;
	float:left;
}
.optionsContainer{
	float:right;
	margin-top:30px;
	margin-right:30px;
}
.optionsContainer .option{
	float: left;
    padding: 3px 20px;
    border-right: 1px solid rgb(102, 102, 102);
    color: rgb(234, 234, 234);
    font-weight: 600;
    line-height: 30px;
}
.optionsContainer .option:last-of-type
{
    border: none;
    padding-right:0;
}
.optionsContainer .option:hover{
	color:#c82127;
	cursor:pointer;
}
.videoArea{
	display:table;
	width:100%;
}
.videoArea .videoLeft{
	display:table-cell;
}
.videoArea .videoRight{
	display:table-cell;
	width:25%;
}
.videoArea .clientVideoContainer{
	float:left;
	background:#CCC;
}
.videoArea[num='9'] .clientVideoContainer{
	width:33%;
}
.videoArea .clientVideoContainer .clientVideoSubContainer{
	margin:25px;
	position:relative;
}
.videoArea .clientVideoContainer .clientVideoSubContainer .video{
	height:100%;
	width:100%;
	display:inline-block;
	color:#006633
}
.trainerVideo{
	width:400px;
    height: 280px;
	margin:25px;
}
.chatContainer{
	background:#dbdbdb;
	margin:25px;
    width: 400px;
    margin-top:330px;
}
.chatContainer .chatStream{
	min-height:200px;
}
.chatContainer input{
	width:100%;
	line-height:40px;
	font-size:17px;
	height:40px;
	background:#fff;
	border:none;
	text-indent:20px;
	padding:0px;
}
.chatContainer input:focus{
	outline:none;
}

.right-area
{
    display:table-cell;
    width:400px;
    vertical-align: top;
}

.addlive-container
{
    display: table-cell;
    vertical-align: top;
}

.option img
{
    height:         35px;
    vertical-align: middle;
    margin-right:   20px;
}

.option.mute-video img
{
    height:         20px;
}


.account-overview
{
    font-family:                "Open Sans";
    font-weight:                400;
    margin-top:                 -10px;
}

.account-overview .text-container
{
    float:                      left;
}

.account-overview .name
{
    font-size:                  16px;
    margin-top:                 5px;
}

.account-overview .name a
{
    color:                      #fff;
    text-decoration:            none;
}

.account-overview .name a:hover
{
    color:                      #e11330;
}

.account-overview .nav a
{
    color:                      #e11330;
    text-decoration:            none;
}

.account-overview .nav a:hover
{
    color:                      #eaeaea;
}

.account-overview .nav
{
    font-size:                  11px;
}

.account-overview .img
{
    float:                      left;
    margin-right:               20px;
}

.account-overview .img img
{
    width:                      50px;
    border-radius:              2px;
}