@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
	background:#000000;
	overflow:hidden;
	font-family: "Open Sans";
	height: 100%;
	padding:50px;
	padding-top:10px;
	min-width:1400px;
}

header {
	height:95px;
}
.logo{
	background:url(../images/logo.png);
	width:231px;
	height:90px;
	text-indent:-10000px;
	margin-left:30px;
	margin-top:0px;
	float:left;
}
.optionsContainer{
	float:right;
	margin-top:10px;
	margin-right:30px;
}
.optionsContainer .option{
	float:left;
	padding:10px 20px;
	border-right:1px solid #FFF;
	color:#FFF;
}
.optionsContainer .option:nth-of-type(1){
	border-left:1px solid #FFF;
}
.optionsContainer .option:hover{
	color:#c82127;
	cursor:pointer;
}
.videoArea{
	display:table;
	width:100%;
}
.videoArea .videoLeft{
	vertical-align: top;
	display:table-cell;
}
.videoArea .videoRight{
	vertical-align:top;
	display:table-cell;
	width:25%;
}
.videoArea .clientVideoContainer{
}
.videoArea[num='9'] .clientVideoContainer{
	width:33%;
}
.videoArea .clientVideoContainer{
	margin:25px;
	margin-top: 0px;
	position:relative;
}
.videoArea .clientVideoContainer .video{
	margin-bottom:100%;
	
}
.trainerVideo{
	margin:25px;
	margin-top:0px;
}

.chatContainer{
	background:#dbdbdb;
	margin:25px;
}

.chatContainer .chatStream
{
	min-height:			200px;
	padding:			20px;
}

.chatContainer .chatStream p
{
	margin-bottom:		8px;
}

.chatContainer .chatStream p label
{
	float:				left;
	width:				90px;
	color:				#666;
}

.chatContainer input{
	width:100%;
	line-height:40px;
	font-size:17px;
	height:40px;
	background:#fff;
	border:none;
	text-indent:20px;
	padding:0px;
}
.chatContainer input:focus{
	outline:none;
}
.trainerVideo video
{
	max-width: 450px;
}