﻿.edit-services-page
{
}

.edit-services-page h1
{
    text-align:                 center !important;
    font-size:                  40px !important;
}

.edit-services-page .view-all-link
{
    margin-bottom:              30px;
    text-align:                 center;
    display:                    block;
    margin-top:                 -30px;
}

.edit-services-page .view-all-link.selected
{
    font-weight:                600;
    color:                      #b01313;
}

.edit-services-page .services-container
{
    width:                      980px;
    margin:                     auto;
}

.edit-services-page .services-container .service
{
    display:                    inline-block;
    min-width:                  187px;
    height:                     40px;
    text-align:                 center;
    text-decoration:            none;
    color:                      rgb(27, 31, 32);
    font-size:                  14px;
    line-height:                40px;
    font-weight:                500;
    margin-right:               4px;
    border-radius:              4px;
    width:                      103px;
    cursor:                     pointer;
}

.edit-services-page .services-container .service.selected .name, .edit-services-page .services-container .service:hover .name
{
    color:                      #fff;
    background-position:        0px -43px;
    border:                     1px solid #b01313;
}

.edit-services-page .services-container .service .name
{
    background:                 url("/RESH/Images/buttons/button.png") repeat-x scroll 0% -1px transparent;
    border-radius:              5px;
    border:                     1px solid #eee;
    text-align:                 center;
    position:                   relative;
    padding-left:               20px;
}

.edit-services-page .services-container .service .icon
{
    width:                      32px;
    height:                     18px;
    left:                       10px;
    top:                        10px;
    position:                   absolute;
}

.edit-services-page .services-container .service .icon.oneone {
    background:url(/RESH/Images/icons/oneone18.png);
}

.edit-services-page .services-container .service .icon.groupsession {
    background:url(http://static.reshape.net/RESH/Images/icons/group18.png);
}

.edit-services-page .services-container .service .icon.class {
    background:url(http://static.reshape.net/RESH/Images/icons/class18.png);
}

.edit-services-page .services-container .service .icon.broadcast {
    height: 22px !important;
	background:url(http://static.reshape.net/RESH/Images/icons/broadcast_new18.png) no-repeat center;
}

.edit-services-page .services-container .service .icon.inperson {
    background:url(http://static.reshape.net/RESH/Images/icons/handshake18.png) no-repeat center;
}

.edit-services-page .services-container .service .more-info
{
    border-radius:              0px 0px 5px 5px;
    border-width:               medium 2px 2px;
    border-style:               none solid solid;
    border-color:               -moz-use-text-color rgb(238, 238, 238) rgb(238, 238, 238);
    font-size:                  13px;
    line-height:                36px;
    text-align:                 center;
}

.edit-services-page .services-container .service:hover .more-info
{
    border-color:               #b01313;
 }

iframe
{
    background:                 none;
    width:                      100%;
    border:                     none;
}

#iframe-1
{
    height:                     1412px;
    margin-top:                 60px;
}

#iframe-2
{
    height:                     600px;
    width:                      1100px;
    margin:                     auto;
    display:                    none;
}

#iframe-3
{
    margin:                     auto;
    height:                     1260px;
    width:                      1100px;
    display:                    none;
}

.centerBlock
{
    display:                    inline-block;
}