<!-- Include Layout {RESH}/RESH/Layouts/RESHdashboardLayout -->
   		
        <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardProfileBarContainer.css -->

      	<div class="mainArea">
        		<!-- {RESH}/RESH/Components/Dashboard/RESHupcomingSessionsComponent.html -->
        
        		<!-- {RESH}/RESH/Components/Dashboard/RESHdashboardCalendarWidgetComponent -->
                
                <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardComponent -->
            
                <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardLineGraphComponent -->
                
                <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardTopNetworkComponent.js With 
                        List of Top Clients,
                        Heading: TOP CLIENTS        
                --> 
            
                 <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardTopNetworkComponent.js With 
                        List of Top Connections,
                        Heading: TOP CONNECTIONS        
                --> 
                
                
            
                <div class="clear"></div>
      	</div>