<!-- {RESH}/RESH/Layouts/RESHdashboardProLayout -->
            <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardLeftMenuComponent -->
            <div class="mainContentContainer">
                <section class="networkOverview">
                <!--
                	css/clients.css
                -->
                	<div class="topArea">
                    	<h1>My Network</h1>
                        
                        <div class="selection">
                        	<div class="option selected">All Networks</div>
                            <div class="option">My Clients</div>
                            <div class="option">My Followers</div>
							<div class="option">My Professional Network</div>
                            <div class="search"><input type="text" autocomplete="off" placeholder="Search" /></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    
                	<div class="clientsContainer">
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/samhaginas/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Sam Haginas</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/marcmegna/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Marc Megna</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/paultesar/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Paul Tesar</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/pcology/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Paul Christopher</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/Xenia.X.Kisantal/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Xenia Kisantal</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/silviaribeirotriatleta/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Silvia Riveriro</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/selima.elinger/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Selima Ellinger</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/nataliakneze/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Natalia Kneze</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/rachel.desmarais1/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Rachel Desmarais</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        
                        
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/samhaginas/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Sam Haginas</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/marcmegna/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Marc Megna</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/paultesar/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Paul Tesar</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/pcology/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Paul Christopher</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/Xenia.X.Kisantal/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Xenia Kisantal</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/silviaribeirotriatleta/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Silvia Riveriro</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/selima.elinger/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Selima Ellinger</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/nataliakneze/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Natalia Kneze</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                        <div class="client">
                            <div class="picture"><img src="http://graph.facebook.com/rachel.desmarais1/picture?width=168&height=168" /></div>
                            <div class="moreInfo">
                                <div class="name">Rachel Desmarais</div>
                                <div class="location">Miami, FL</div>
                                <div class="numberofsessions">14 sessions</div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </section>
            </div>