@charset "UTF-8";
/* CSS Document */

.clients
{
	position: 		relative;
	font-family: 	"Open Sans";
}

.clients h1
{
	font-size:		28px;
	text-transform:	uppercase;
}

.clients .topArea
{
	margin-bottom:	20px;
}

.clients .selection
{
	margin-top:		20px;
	padding-bottom:	7px;
	border-bottom:	1px solid #ccc;
}

.clients .selection .option
{
	float:			left;
	margin-right:	25px;
	font-size:		12px;
}

.clients .option:hover
{
	color:			#ce2127;
	cursor:			pointer;
}

.clients .selection .selected
{
	color:			#ce2127;
}

.clients .clientsContainer
{
	margin-left:	-25px;
}

.clients .client
{
	float:			left;
	height:			168px;
	margin-left:	25px;
	margin-bottom:	25px;
	background:		#eaeaea;
}

.clients .client:hover
{
	background:		#ce2127;
	cursor:			pointer;
	color:			#fff;
}

.clients .client .picture{
	width:			168px;
	height:			168px;
	overflow:		hidden;
	float:			left;
}

.clients .client .moreInfo
{
	padding:		20px;
	float:			left;
	height:			102px;
	width:			228px;
	padding-top:	46px;
}

.clients .client .name
{
	font-size:		22px;
}

.clients .client .location, .clients .client .numberofsessions
{
	font-size:		13px;
}

.clients .search
{
	float:				right;
	margin-top:			-10px;
}

.clients .search input
{
	padding: 			6px;
	-moz-border-radius: 7px;
	border-radius: 		7px;
	border: 			none;
	background-color: 	#f7f7f7;
	-moz-box-shadow: 	inset 0 4px 10px #eaeaea;
	-webkit-box-shadow: inset 0 4px 10px #eaeaea;
	box-shadow: 		inset 0 4px 8px #eaeaea;
	width: 				140px;
	height: 			14px;
	font-size: 			12px;
	text-indent:		5px;
}
.clients .search input:focus{
	background-color: 	#eaeaea;
	-moz-box-shadow: 	inset 0 4px 10px #ccc;
	-webkit-box-shadow: inset 0 4px 10px #ccc;
	box-shadow: 		inset 0 4px 8px #ccc;
}
