<!-- {RESH}/RESH/Layouts/RESHdashboardProLayout -->
       <div class="mainArea">
            <!-- {RESH}/RESH/Components/Dashboard/RESHdashboardLeftMenuComponent -->
            <div class="mainContentContainer">
                <section class="dashboardMedia">
                <!-- {RESH}/RESH/Pages/Dashboard/Professional/RESHdashboardMediaPage.css -->
                	<div class="topArea">
                    	<h1>My Media</h1>
                        
                        <div class="selection">
                            <div class="option selected">Photo Albums</div>
                            <div class="option">Video Albums</div>
							<div class="option">In The Media Album</div>
                            <div class="option">All Albums</div>
                            <div class="right"><div class="actionBtn createAlbum">+ Create Album</div><div class="actionBtn addPhoto">+ Add Photo</div><div class="actionBtn addVideo">+ Add Video</div></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    
                    <!-- View: {RESH}/RESH/Components/Media/RESHmediaAlbumsComponent -->
                    
                	<!-- View: {RESH}/RESH/Components/Media/RESHaddMediaPopUpComponent -->
                
                
                </section>
            </div>
