@charset "UTF-8";
/* CSS Document */

.dashboardMedia
{
	position: 		relative;
	font-family: 	"Open Sans";
}

.dashboardMedia h1
{
	font-size:		28px;
	text-transform:	uppercase;
}

.dashboardMedia .topArea
{
	margin-bottom:	20px;
}

.dashboardMedia .selection
{
	margin-top:		20px;
	padding-bottom:	7px;
	border-bottom:	1px solid #ccc;
}

.dashboardMedia .selection .option
{
	float:			left;
	margin-right:	25px;
	font-size:		12px;
}

.dashboardMedia .option:hover
{
	color:			#ce2127;
	cursor:			pointer;
}

.dashboardMedia .selection .selected
{
	color:			#ce2127;
}

.dashboardMedia .dashboardMediaContainer
{
	margin-left:	-25px;
}

.dashboardMedia .right
{
	float:				right;
	margin-top:			-10px;
}

.dashboardMedia .actionBtn
{
	float:			left;
	margin-left:	10px;
}