<!-- Include View: {RESH}/RESH/Layouts/RESHdefaultLayout -->
    <section id="hero">
        <div class="patternArea" style="height:400px;">
            
        </div>
        <div class="whiteAreaGradient"></div>
        <div class="whiteArea" style="min-height:400px">
        
        <section class="full-size-slider" style="margin:auto; margin-top:-150px;z-index:1; position:relative; min-width:1000px; max-width:1920px; ">
        	
            <img src="images/index/mainPicture.png" style="margin-top:-170px" />
        	<img src="images/index/superwall-reshape-left3.png" style="position:absolute;left:10px;z-index:-1;margin-top:-50px" />
            <img src="images/index/superwall-reshape-right3.png" style="position:absolute; right:10px;z-index:-1;margin-top:-50px" />
            
            <div class="arrowLeft arrow"></div>
            <div class="arrowRight arrow"></div>
        </section>
       
            
        	
        </div>
    </section>
    <section id="finder">
        <div class="stripesArea">
            <div class="inside">
                <div class="wrap">
                    <div class="headingWrap">
                        <h3 class="" style="font-family:'Open Sans';font-weight:300">Find Your Professional:</h3>
                    </div>
                    <ul id="buttons" class="selectHowToFindTrainer">
                        <li><a class="button" href="category.html">CATEGORY</a></li>
                        <li><a class="button" href="#">LOCATION</a></li>
                        <li><a class="button" href="pricing.html">PRICE</a></li>
                        <li><a class="button" href="#">SESSION</a></li>
                    </ul>
                    <br class="cleaner">
                    <br>
                    <p style="font-size:13px; font-family:'Open Sans'; font-weight:300; line-height:22px; text-align:justify">
                        Our Professional’s clientele includes Top Pro athletes, Celebrities, Executives and People passionate about leading
                        <br>
                        a Fit and Healthy Lifestyle.  You now have access to the best advice and training to acheive the results you desire.
                    </p>
                
                </div>
                
				<!-- Grid , {core}/PTS/Components/Grid , w:100% h: 200px; -->
				
            </div>
            
            
        </div>
    </section>
    
    
    
    
    <section id="steps">
        <div class="wrap">
            <h3>Search Profiles by Category, Location, Price or Session.
                <br>
                <strong>NO</strong> questions, <strong>NO</strong> obligations.....your choice.</h3>
            <div id="pictogramsSlider">
                <a class="arrow left" href="javascript:void(0);"></a>
                <a href="#" class="pictogram">
                    <img src="images/category.png" alt="Category">
                    CATEGORY</a>
                <a href="#" class="pictogram">
                    <img src="images/location.png" alt="Category">
                    LOCATION</a>
                <a href="#" class="pictogram">
                    <img src="images/price.png" alt="Category">
                    PRICE</a>
                <a href="#" class="pictogram">
                    <img src="images/ratings.png" alt="Category">
                    REVIEWS</a>
                <a class="arrow right" href="javascript:void(0);"></a>
                <br class="cleaner">
            </div>
        </div>
    </section>
    <section id="reviews">
        <section id="applyBox">
            <h2>RESHAPE PROFESSIONALS LEAD BY EXAMPLE</h2>
            <div class="banner">
                <img src="images/banner.png" alt="RESHAPE PROFESSIONALS LEAD BY EXAMPLE">
            </div>
            <a class="callToAction" href="#">Apply for Membership</a>
        </section>
    </section>
    <section class="recommendedProducts">
        <div class="productListHeader">
            <h3>RESHAPE STORE <span>(TOP PROFESSIONAL SUGGESTIONS)</span></h3>
            <div class="selectWrap">
                <select id="marketCategory">
                    <option>SELECT MARKET CATEGORY</option>
                    <option>OPTION ONE</option>
                    <option>OPTION TWO</option>
                    <option>OPTION THREE</option>
                </select>
            </div>
            <br class="cleaner">
        </div>
        <div class="wrapper">
            <div class="inside">
                <a class="arrow left" href="javascript:void(0);"></a>

                <ul class="productList">
                    <li>
                        <a href="#"><span class="productName">Protein</span> <span class="productDesc">&amp; Muscletech NITRO-TECH Chocolate</span></a>
                        <a href="#">
                            <img src="images/products/protein.png" alt="Protein"></a>
                        <div class="productBottom">
                            <span class="price">Price: $20.20
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star half"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="productName">Foam Roller</span> <span class="productDesc">&amp; Muscletech IntracVol</span></a>
                        <a href="#">
                            <img src="images/products/foamroller.png" alt="Foam Roller"></a>
                        <div class="productBottom">
                            <span class="price">Price: $8.80
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="productName">Pre-workout energy</span> <span class="productDesc">&amp; Muscletech Leukic</span></a>
                        <a href="#">
                            <img src="images/products/preworkout.png" alt="Pre-workout energy"></a>
                        <div class="productBottom">
                            <span class="price">Price: $29.00
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="productName">Kettle Bells</span> <span class="productDesc">&amp; Muscletech Vitakic</span></a>
                        <a href="#">
                            <img src="images/products/kettlebells.png" alt="Kettle Bells"></a>
                        <div class="productBottom">
                            <span class="price">Price: $10.00
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="productName">Protein</span> <span class="productDesc">&amp; Muscletech NITRO-TECH Chocolate</span></a>
                        <a href="#">
                            <img src="images/products/protein.png" alt="Protein"></a>
                        <div class="productBottom">
                            <span class="price">Price: $20.20
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star half"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="productName">Extreme Roller</span> <span class="productDesc">&amp; Muscletech IntracVol</span></a>
                        <a href="#">
                            <img src="images/products/extremeroller.png" alt="xtreme Roller"></a>
                        <div class="productBottom">
                            <span class="price">Price: $8.80
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="productName">Pre-workout energy</span> <span class="productDesc">&amp; Muscletech Leukic</span></a>
                        <a href="#">
                            <img src="images/products/preworkout.png" alt="Pre-workout energy"></a>
                        <div class="productBottom">
                            <span class="price">Price: $29.00
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><span class="productName">Neoprene Dumbells</span> <span class="productDesc">&amp; Muscletech Vitakic</span></a>
                        <a href="#">
                            <img src="images/products/neoprenedumbells.png" alt="Neoprene Dumbells"></a>
                        <div class="productBottom">
                            <span class="price">Price: $10.00
                            </span>
                            <ul class="ratings">
                                <li class="star full"><a href="#"></a></li>
                                <li class="star full"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                                <li class="star empty"><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <a class="arrow right" href="javascript:void(0);"></a>
                <br class="cleaner">
            </div>
        </div>
    </section>
    <section id="social">
        <div class="inside">
            <div class="wrap">
                <div class="col facebook">
                    <h5><span class="hidden">facebook</span></h5>
                    <div class="socialContent">
                    </div>
                    <a class="socialButton" href="http://facebook.com/"><span class="hidden">follow us on facebook</span></a>
                </div>
                <div class="col twitter">
                    <h5><span class="hidden">twitter</span></h5>
                    <div class="socialContent">
                        <div class="tweet first">
                            I like this  freebie. Check it online @ <a href="http://t.co/9vslJFpW">http://t.co/9vslJFpW</a><br>
                            <span class="time">About 15 mins</span>
                        </div>
                        <div class="tweet">
                            I like this  freebie. Check it online @ <a href="http://t.co/9vslJFpW">http://t.co/9vslJFpW</a><br>
                            <span class="time">About 15 mins</span>
                        </div>
                        <div class="tweet">
                            I like this  freebie. Check it online @ <a href="http://t.co/9vslJFpW">http://t.co/9vslJFpW</a><br>
                            <span class="time">About 15 mins</span>
                        </div>
                    </div>
                    <a class="socialButton" href="http://twitter.com/"><span class="hidden">follow us on twitter</span></a>
                </div>
                <div class="col instagram">
                    <h5><span class="hidden">instagram</span></h5>
                    <div class="socialContent">
                        <a class="instagramImg" href="#">
                            <img src="images/instagramDummy.png"></a>
                        <a class="instagramImg" href="#">
                            <img src="images/instagramDummy.png"></a>
                        <a class="instagramImg" href="#">
                            <img src="images/instagramDummy.png"></a>
                        <a class="instagramImg" href="#">
                            <img src="images/instagramDummy.png"></a>
                        <a class="instagramImg" href="#">
                            <img src="images/instagramDummy.png"></a>
                        <a class="instagramImg" href="#">
                            <img src="images/instagramDummy.png"></a>
                    </div>
                    <a class="socialButton" href="http://instagram.com/"><span class="hidden">follow us on instagram</span></a>
                </div>
                <br class="cleaner">
            </div>
        </div>
    </section>
