<!-- {RESH}/RESH/Layouts/RESHdefaultLayout.html -->
<section id="hero" class="pricing">
    <div class="patternArea">
        <div class="inside">
            <div class="wrap">
                <div class="h1wrap heroFont">
                    <h1 class="greyGradientShadowReverse">RESHAPE ALLOWS YOU TO WORK SMARTER NOT HARDER!</h1>
                </div>
                <br class="cleaner">
                <h2 class="pricingHeroH2">Online Video <strong>Teaching, Training & Consultation</strong> is the Future
                    <br /> and <strong>Reshape</strong> gives you the platform to easily monetize it.</h2>
            </div>
        </div>
    </div>
    <div class="whiteAreaGradient"></div>
    <div class="whiteArea">
        <div class="tvContainer">
        <div class="arrowLeft arrow"></div>
        <div class="arrowRight arrow"></div>
            <div class="slide" num="1">
                <div class="imageDiv">
                    <img src="images/pricingPage/profile.jpg" />
                </div>
                
                <div class="textDiv">
                    <div class="headerDiv">Professional Profile Page </div>
                    Reshape profiles convey a clean, magazine style branding where your best video and photo content will stand out like never before. Each profile is designed to act as a customizable website homepage that contains all your vital content, info on your methods and all social media connections.
                </div>
            </div>
            
            <div class="slide" num="2" style="display:none">
                <div class="imageDiv">
                    <img src="images/pricingPage/video.jpg" />
                </div>
                
                <div class="textDiv">
                    <div class="headerDiv">One on One & Group Video Portal</div>
                    A built in Live Video chat interface allows you to connect with clients from anywhere and charge a set price for your services.  Your business is no longer geographically limited to the city you work from, Reshape gives you access to a limitless client base.  
                </div>
            </div>
            
            <div class="slide" num="3" style="display:none">
                <div class="imageDiv">
                    <img src="images/pricingPage/slide1.png" />
                </div>
                
                <div class="textDiv">
                    <div class="headerDiv">10% Online Store Referral Program</div>
                    Reshape allows you to feature suggested products from our store to direct  existing and new clients to purchase. These sales are tracked by click thru and unique checkout codes where a 10% referral fee will be paid out monthly on your client’s gross purchases.  It’s your advice and influence that directs them to buy these products, now its time to get paid for it!   
                </div>
            </div>
            
            <div class="slide" num="4" style="display:none">
                <div class="imageDiv">
                    <img src="images/pricingPage/slide1.png" />
                </div>
                
                <div class="textDiv">
                    <div class="headerDiv">Social Hub - Facebook Timeline and Social Media Integration</div>
                    We understand the vital role this plays in your referral lead generation and client communication, so we have designed a portal to display your facebook timeline feed in your profile page.  So all your social media will be centralize on one page keeping the focus in one place and saving you time to update your new and existing clients.
                </div>
            </div>
            
            <div class="slide" num="5" style="display:none">
                <div class="imageDiv">
                    <img src="images/pricingPage/slide1.png" />
                </div>
                
                <div class="textDiv">
                    <div class="headerDiv">Domain Forwarding and Professional Business Cards</div>
                    Along with have a profile address of reshape.net/username, we can direct your personal or business domains to forward to your reshape profile.  In addition, we have created a professional Business Card template with QR Code linked to profile to help you market and brand your business.
                </div>
            </div>
        </div>
        
        <div class="iconsLinkingToSlide">
            <div class="iconContainer" num="1">
                <div class="icon profilePageIcon iconSelected"></div>
                <div class="iconHeader">Professional Profile Page</div>
            </div>
            <div class="iconContainer" num="2">
                <div class="icon videoIcon"></div>
                <div class="iconHeader">Video Portal</div>
            </div>
            <div class="iconContainer" num="3">
                <div class="icon cartIcon"></div>
                <div class="iconHeader">Online Store Referral Program</div>
            </div>
            <div class="iconContainer" num="4">
                <div class="icon socialIcon"></div>
                <div class="iconHeader">Social Hub</div>
            </div>
            <div class="iconContainer" num="5">
                <div class="icon domainIcon"></div>
                <div class="iconHeader">Dashboard &amp; CMS System</div>
            </div>
            <input type="hidden" id="autoChangePhoto" value="1" />
        </div>
        <script>
            $(document).ready(function(e) {
                function changePhoto(nextNum){
                    var autoChangePhoto = parseInt($("#autoChangePhoto").val());
                    
                    if(autoChangePhoto == 0 && nextNum == null){
                        return;
                    }
                    else if(nextNum == null){
                        var curNum = parseInt($(".slide:visible").attr("num"));
                        var maxNum = parseInt($(".slide").last().attr("num"));
                        
                        if(curNum == maxNum){
                            var nextNum = 1;
                        } else {
                            var nextNum = curNum;
                            nextNum++;
                        }
                    }
                    
                    $(".icon").removeClass("iconSelected");
                    $(".iconContainer[num='"+ nextNum +"']").children(".icon").addClass("iconSelected");
                    
                    $(".slide").fadeOut();
                    $(".slide[num='"+ nextNum +"']").fadeIn();
                }
                
                function stopChangingPhotos(){
                    $("#autoChangePhoto").val("0");
                }
                
                $(".iconContainer").click(function(e) {
                    var thisNum = parseInt($(this).attr("num"));
                    changePhoto(thisNum);
                    stopChangingPhotos();
                });
                
                $(".arrowRight").click(function(e) {
                    var curNum = parseInt($(".slide:visible").attr("num"));
                    var maxNum = parseInt($(".slide").last().attr("num"));
                        
                        if(curNum == maxNum){
                            var nextNum = 1;
                        } else {
                            var nextNum = curNum;
                            nextNum++;
                        }
                    changePhoto(nextNum);
                    stopChangingPhotos();
                });
                $(".arrowLeft").click(function(e) {
                    var curNum = parseInt($(".slide:visible").attr("num"));
                    var maxNum = parseInt($(".slide").last().attr("num"));
                        
                        if(curNum == 1){
                            var nextNum = maxNum;
                        } else {
                            var nextNum = curNum;
                            nextNum--;
                        }
                        
                        changePhoto(nextNum);
                        stopChangingPhotos();
                });
                
                
                setInterval(changePhoto, 4000);
                
            });
        </script>
    </div>
</section>
<section id="finder">
    <div class="stripesArea">
        <div class="inside">
            <div class="wrap">
                <div class="cameraIcon"></div>
                <div class="headingWrap">
                    <h3 class="greyGradient">TOP Reasons to become a RESHAPE Professional:</h3>
                </div>
                <br class="cleaner">
                <br>
                <table class="reasons">
                    <tbody>
                        <tr>
                            <td>
                                <table class="reasonsRow">
                                    <tbody>
                                        <tr>
                                            <td class="number">
                                                <img src="images/number_01.png" alt="1" /></td>
                                            <td class="reason"><strong>New Revenue Streams:</strong> Reshape profiles give you the platform to charge for online video sessions and have a custom online store that pays you a 10% referral commission on all your clients purchases.    </td>
                                        </tr>
                                        <tr>
                                            <td class="number">
                                                <img src="images/number_02.png" alt="2" /></td>
                                            <td class="reason"><strong>Professional Brand Page:</strong>  Your Reshape profile provides a magazine style intro of who you are in an inspiring and motivating way.  Clients will want to engage your services because of the powerful example you live your life by. </td>
                                        </tr>
                                        <tr>
                                            <td class="number">
                                                <img src="images/number_03.png" alt="3" /></td>
                                            <td class="reason"><strong>Reshape Profiles are Public:</strong>  We do not require the client to create an account or ask them for any information until they want to engage your services.  It’s always FREE for the consumer to browse and make their own choice.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="separator"></td>
                            <td>
                                <table class="reasonsRow">
                                    <tbody>
                                        <tr>
                                            <td class="number">
                                                <img src="images/number_04.png" alt="4" /></td>
                                            <td class="reason"><strong>New Lead Generation:</strong>  Thru your profile page intro video, professional photos and bio, clients can quickly get a feel and comfort level with who you are and what you can offer to engage your services both on or offline. </td>
                                        </tr>
                                        <tr>
                                            <td class="number">
                                                <img src="images/number_05.png" alt="5" /></td>
                                            <td class="reason"><strong>Social Media Centric:</strong>  With your built in Facebook Timeline feed, you can direct all your social media to one place to keep your clients updated.  Every aspect of Reshape is Facebook friendly to promote shares and likes to capture referrals leads.</td>
                                        </tr>
                                        <tr>
                                            <td class="number">
                                                <img src="images/number_06.png" alt="6" /></td>
                                            <td class="reason"><strong>No Hidden Fees:</strong>  Your revenue from video sessions and online store referrals is passed straight thru to you minus transaction processing fees, Reshape does not take a percentage, our revenue comes from your membership fees.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- {RESH}/RESH/Components/Pricing/RESHpricingOverviewComponent -->