﻿.dom-grid
{
    position:           relative;
}

.dom-grid .heading
{
    font-size:          28px;
}

.dom-grid a
{
    display:            block;
    margin-top:         10px;
}

.dom-grid .results
{
    margin-top:         30px;
}

.dom-grid .item
{
    display:            inline-block;
    width:              200px;
    height:             200px;
    overflow:           hidden;
    position:           relative;
    cursor:             pointer;
}

.dom-grid .item .image-container
{
    height:             100%;
    width:              100%;
}

.dom-grid .item .image-container img
{
    width:              100%;
}

.dom-grid .item .content-container
{
    display:            none;
    background:         rgba( 0,0,0, 0.4);
    color:              #fff;
    position:           absolute;
    left:               0px;
    top:                0px;
    width:              100%;
    height:             100%;
    text-align:         center;
}

.dom-grid .item .content-container .name
{
    margin-top:         70px;
    font-size:          16px;
    text-align:         center;
}

.dom-grid .item .content-container .desc
{
    margin-top:         15px;
    font-size:          12px;
    text-align:         center;
}