﻿@charset "UTF-8";
/* CSS Document */

/* social integration */

.socialHub {
    background: url("/RESH/Images/socialIntegrationPattern.jpg") repeat scroll 0 0 transparent;
    overflow: hidden;
    text-align: center;
}

.socialHub .inside {
    background: url("/RESH/Images/socialIntegrationLight.jpg") no-repeat scroll center top transparent;
    padding-bottom: 20px;
}

.socialHub .inside {
    padding-top: 20px;
}

.socialHub .socialBox {
    width: 490px;
    background: #414141;
    border: 2px solid #5c5c5c;
    border-radius: 8px;
    padding: 5px;
	margin-bottom:20px;
}

.socialHub .socialBox.left {
    float: left;
}

.socialHub .socialBox.right {
    float: right;
}

.socialHub .socialBox .socialWrap {
    margin: 0;
}

.socialHub .socialHeaderIcons {
    margin: 0 auto;
    width: 265px;
}

.socialHub .socialHeaderIcons a {
    display: block;
    float: left;
    width: 43px;
    height: 44px;
    background: url(/RESH/Images/socialHeaderIcons.png) no-repeat;
    margin: 0 5px;
}

.socialHub .socialHeaderIcons a.tw {
    background-position: -50px 0;
}

.socialHub .socialHeaderIcons a.ig {
    background-position: -102px 0;
}

.socialHub .socialHeaderIcons a.pt {
    background-position: -152px 0;
}

.socialHub .socialHeaderIcons a.sf {
    background-position: -204px 0;
}

.socialHub .facebookArea{
	position:relative;
}

.socialHub .oneColumn 
{
    width:      800px !important;
    margin:     auto;
}

.socialHub .faceBookPluginContainer{
	background: #FFF;
    border-radius: 8px;
}
.socialHub .facebookArea .facebookLogo{
	background:url(/RESH/Images/trainerPage/socialHub/logos/facebookTimeline.png);
	width:165px;
	height:20px;
	text-indent:-100000px;
	position:absolute;
	top:30px;
	right:20px;
}
.socialHub .twitterArea{
	position: relative; 
}
.socialHub .twitterArea .twitterLogo{
	background:url(/RESH/Images/trainerPage/socialHub/logos/twitter.png);
	width:110px;
	height:21px;
	text-indent:-100000px;
	position:absolute;
	top:10px;
	left:13px;
}
.socialHub .instagramArea{
	background: #FFF !important;
	width: 490px;
	padding: 7px 0 0;
	overflow: auto;  
	border-radius: 5px;
}
.socialHub .instagramArea .instagramLogo{
	background:url(/RESH/Images/trainerPage/socialHub/logos/instagram.png);
	background-position:center;
	background-repeat:no-repeat;
	height:44px;
	text-indent:-100000px;
}
.socialHub .spotifyArea{
	position: relative; 
	top: 5px;
}
.socialHub .spotifyArea .spotifyLogo{
	background:url(/RESH/Images/trainerPage/socialHub/logos/spotify.png) #2e2d2d;
	background-repeat: no-repeat;
	background-position: left;
	width: 103px;
	height: 42px;
	text-indent: -100000px;
	position: absolute;
	top: 4px;
	right: 6px
}
.socialHub .spotifyArea .spotifyIframeFix{
	overflow:hidden;
	border-radius:5px;
}

.socialHub .insta-follow
{
    float: right;
    margin-top: 8px;
    margin-right: 1px;
}

.ig-b- { display: inline-block; }
.ig-b- img { height: 21px; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }