﻿.signin-selection-page
{
    position:           relative;
    padding-top:        80px;
    font-family:        'Open Sans';
    font-weight:        300;
}

.signin-selection-page h1
{
    font-weight:        300;
}

.signin-selection-page .desc
{
    text-align:         center;
    font-size:          14px;
}

.signin-selection-page .options-container
{
    margin:             auto;
    margin-top:         87px;
    width:              1000px;
}

.signin-selection-page .options-container .option
{
    width:              49%;
    height:             227px;
    line-height:        227px;
    font-size:          48px;
    text-align:         center;
    float:              left;
}

.signin-selection-page .options-container .option:nth-child(2)
{
    border-left:        1px solid #e4e4e4;
}

body
{
    background:         #f9f9f9;
}

.signin-selection-page a
{
    text-decoration:    none;
    color:              #000;
}

.signin-selection-page a:hover
{
    color:              #e11330;
}