@font-face 
{
    font-family: 'gotham_book';
    src: url('http://static.reshape.net/RESH/Externals/fonts/gotham_book-webfont.eot');
    src: url('http://static.reshape.net/RESH/Externals/fonts/gotham_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.reshape.net/RESH/Externals/fonts/gotham_book-webfont.woff') format('woff'),
         url('http://static.reshape.net/RESH/Externals/fonts/gotham_book-webfont.ttf') format('truetype'),
         url('http://static.reshape.net/RESH/Externals/fonts/gotham_book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.connectWithTrainer .leftPart 
{
    text-align:center;
}

.connectWithTrainer .leftPart a.shareOnFB {
    float: left;
    display: block;
    width:  137px;
    height: 42px;
    background: url(/RESH/Images/shareOnFB.png) no-repeat;
    margin-top: 14px;
	margin-left:96px;
}

.connectWithTrainer .button:hover{
	color:#fff;
}

.connectWithTrainer .leftPart a.shareOnTW {
    float: left;
    display: block;
    width:  137px;
    height: 42px;
    background: url(/RESH/Images/shareOnTW.png) no-repeat;
    margin-left: 15px;
    margin-top: 14px;
}

.connectWithTrainer .cameraIcon {
    display: inline-block;
    width: 62px;
    height: 45px;
	vertical-align:middle;
    background: url(/RESH/Images/cameraIcon.png) no-repeat;
	margin-top:-10px;
	margin-right:10px;
}
.connectWithTrainer .rightPart {
    margin-top: 15px;
	text-align:center;
}

.connectWithTrainer ul#buttons li ul.sessionPricing {
    border-left: 2px solid #b6bec2;
    border-right: 2px solid #b6bec2;
    border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    margin-right: 4px;
}

.connectWithTrainer ul#buttons li ul.sessionPricing li {
    float: none;
    text-align: center;
    color: #c6c6c6;
    font-size: 11px;
    font-family: "gotham_book";
    border-bottom: 2px solid #b6bec2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 3px 0;
}

.connectWithTrainer ul#buttons li ul.sessionPricing.inperson li {
    padding: 13px 0 14px 0;
}

.connectWithTrainer .stripesArea .inside {
    padding: 50px 0;
}

.profilePage #hero .inside
{
}

.connectWithTrainer .stripesArea h3 {
    font-family: 'SansationBold';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}

.connectWithTrainer .stripesArea .headingWrap {
    margin: 8px 0 0 20px;
	text-align:center;
}

.connectWithTrainer ul#buttons {
    display:inline-block;
}

.connectWithTrainer ul#buttons li, .connectWithTrainer ul#buttons li a {
    float: left;
}

.connectWithTrainer ul#buttons li a.button {
    margin-left: 20px;
}

.connectWithTrainer p {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
}
.connectWithTrainer .connectExplain{
	width:916px;
	margin:auto;
	margin-top:20px;
	color:#eaeaea;
	display:none;
}
.connectWithTrainer .button {
    display: block;
    background:url(/RESH/Images/buttons/button.png) repeat-x;
	min-width:47px;
    height: 43px;
    text-align: center;
    text-decoration: none;
    color: #1b1f20;
    font-size: 14px;
    line-height: 43px;
    font-weight: 500;
    margin-right: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    width:              103px;
}
.connectWithTrainer .profileButtons li:hover .button, .connectWithTrainer .buttonSelected .button {
	background-position:0px -43px;
	cursor:pointer;
	color:#FFF;
}
.connectWithTrainer .buttonSelected .sessionPricing, .connectWithTrainer .profileButtons li:hover .sessionPricing  {
	border-left: 2px solid #ce2127 !important;
	border-right: 2px solid #ce2127 !important;
}
.connectWithTrainer .buttonSelected .sessionPricing li, .connectWithTrainer .profileButtons li:hover .sessionPricing li{
	border-bottom: 2px solid #ce2127 !important;
}

@charset "UTF-8";
/* CSS Document */

.meetTrainer{
	width:                      1016px;
	margin:                     0 auto;
	position:                   relative;
	text-align:                 center;
    font-family:                "Open Sans";
    font-weight:                300;
}
.meetTrainer .col {
    float: left;
}

.meetTrainer .logo, .meetTrainer .follow {
    background: url(/RESH/Images/applyNowShadow.jpg) center bottom no-repeat;
    padding: 0 0 15px 0;
    margin-bottom: 20px;
	display:inline-block;
}
.meetTrainer .trainerLogoContainer{
	width: 213px;
	float:left;
	text-align:center;
}

.meetTrainer .trainerLogoContainer:hover
{
    cursor:                 pointer;
}

.meetTrainer .trainerLogoContainer img{
	max-width:180px;
	max-height:90px;
}

.meetTrainer .follow{
	padding: 0 22px 20px 22px;
	margin-left:27px;
}

.meetTrainer .col.follow a.followOnReshape {
    display: block;
    margin: 0 auto;
    width: 142px;
    height: 46px;
    background: url(/RESH/Images/followOnReshape.png) no-repeat;
}

.meetTrainer .description {
    width: 590px;
    margin-top: -25px;
}

.meetTrainer .description p {
    line-height: 1.5em;
    font-size: 15px;
}
.meetTrainer h2{
	font-size: 18px;
	font-weight: 600;
	text-align:center !important;
}
.meetTrainer h2 > span{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	color: #363636;
	font-size: 23px;
    width: 590px;
}

.meetTrainer .videoIcon
{
    background:                 url(/RESH/Images/meetIcon.jpg) no-repeat;
    width:                      32px;
    height:                     32px;
    margin-right:               8px;
    margin-left:                0px;
    display:                    inline-block;
    vertical-align:             middle;
}

.meetTrainer .seeVideo:hover
{
    cursor:                     pointer;
}

.meetTrainer .seeVideo.text
{
    font-size:                  12px;
    font-weight:                600;
}

.meetTrainer .seeVideo.text:hover
{
    color:                      #e11330;
}

.meetTrainer .text
{
     padding-bottom:            20px;
}

.certification-item
{
    float:                      left; 
    font-size:                  16px;
}

.profilePage .tabContainer iframe
{
    width:                      100%;
    height:                     500px;
}

.profilePage .certifications .padding
{
    margin-left:                0px !important;
}

.profilePage .connectWithTrainer .wrap
{
    position:                   static;
    width:                      100%;
}

#iframeAppendDiv
{
    
     webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
    opacity: 0;
}

#iframeAppendDiv.load
{
    opacity: 1;
}

#iframe-service
{
    width:                      100%;
    height:                     411px;
    overflow:                   hidden;
    display:                    none;
}

.profilePage .main-logo
{
}

.profilePage .main-logo img
{
    max-height:                 100px;
    max-width:                  400px;
}

.profilePage .featured
{
    background:                 url("http://static.reshape.net/RESH/Images/stripesArea.png") repeat scroll 0% 0% transparent;
    border-top:                 1px solid rgb(50, 55, 55);
    border-bottom:              1px solid rgb(50, 55, 55);
    padding:                    50px;
}

.profilePage .featured h1
{
    color:                      #fff;
    text-align:                 center;
    text-transform:             uppercase;
    width:                      100%;
}

.profilePage .featured .grid-element-container
{
}

.tabsList li
{
    width:                      33.3% !important;
}

.tabsList .stars
{
    margin-left:                113px !important;
}

.profilePage .tabContainer iframe {
    width:                      104% !important;
    height:                     535px !important;
}

.profilePage .equipment
{
}

.profilePage .equipment .product
{
    display:                    inline-block;
    font-family:                'Open Sans';
    text-align:                 center;
    margin:                     5px;
    width:                      45%;
    vertical-align:             top;
}

.profilePage .equipment a
{
    text-decoration:            none;
    color:                      #000;
}

.profilePage .equipment a:hover
{
    color:                      #ce2127;
}

.profilePage .equipment .product .img
{
    
}

.profilePage .equipment .product .img img
{
    max-width:                  100px;
}

.profilePage .equipment .product .text
{
   font-size:                   11px;
}

