﻿body
{
    background-color:       transparent;
}

.html-container
{
    background:             #f7f7f7;
    font-family:            "Open Sans";
    font-weight:            400;
    font-size:              12px;
    color:                  #494949;
    height:                 297px !important;
}

.html-container .img-container
{
    width:                  100%;
    height:                 192px;
    overflow:               hidden;
}

.html-container .img-container img
{
    width:                  100%;
}

.html-container .content-container
{
     min-height:            183px;
}

.html-container .content-container .text-container
{
    padding:                15px;
}

.html-container .content-container .text-container .heading-container
{
}

.html-container .content-container .text-container .heading-container .heading
{
    font-size:              16px;
    text-align:             center;
    display:                block;
}

.html-container .content-container .text-container .heading-container .difficulty
{
    font-size:              12px;
    font-weight:            700;
    text-align:             center;
    margin-top:             3px;
    display:                block;
}

.html-container .content-container .text-container .description
{
    display:                none;
    font-size:              12px;
    line-height:            17px;
    margin-top:             7px;
}

.html-container .content-container .rows-container
{

}

.html-container .content-container .rows-container .row
{
    height:                 24px;
    line-height:            24px;
    font-weight:            600;
    padding-left:           15px;
}

.html-container .content-container .rows-container .row:nth-child(2n+1)
{
    background:             #e7e7e7;
}

.html-container .content-container .rows-container .row.arrow
{
 
}

.html-container .content-container .rows-container .row.arrow:hover
{
    cursor:                 pointer;
    background:             #ccc;
}

.html-container .content-container .more-info-container
{
    background:             #a0a0a0;
    color:                  #fff;
    height:                 23px;
    position:               absolute;
    width:                  100%;
    bottom:                 0px;
}

.html-container .content-container .more-info-container a:hover
{
    color:                  #fff;
}

.html-container .content-container .more-info-container .left
{
    float:                  left;
    font-size:              11px;
    font-weight:            600;
    line-height:            23px;
    padding-left:           15px;
}

.html-container .content-container .more-info-container .right
{
    float:                  right;
    background:             #949494;
    width:                  60px;
    text-align:             center;
    font-weight:            600;
    line-height:            23px;
}

.html-container .content-container .more-info-container-edit
{
    background:             #e7e7e7;
    height:                 30px;
    line-height:            30px;
    position:               absolute;
    width:                  100%;
    bottom:                 0px;
    font-size:              14px;
}

.html-container .content-container .more-info-container-edit .left
{
    float:                  left;
    font-weight:            600;
    text-align:             center;
    width:                  100%;
}

.html-container .content-container .more-info-container-edit .right
{
    float:                  right;
    border-left:            1px solid #ccc;
    width:                  50%;
    font-weight:            600;
    text-align:             center;
}

.html-container .content-container .more-info-container-edit .left:hover, .html-container .content-container .more-info-container-edit .right:hover
{
    background:             #ccc;
    color:                  #fff;
    cursor:                 pointer;
}

.html-container .add-new-box
{
    line-height:            315px;
    font-size:              51px;
    text-transform:         uppercase;
    text-align:             center;
    width:                  100%;
    display:                block;
}

.html-container .add-new-box:hover
{
    color:                  #fff;
    background:             #ccc;
    cursor:                 pointer;
}