﻿@charset "UTF-8";
/* CSS Document */

.profileCompletion{
	position:relative;
	font-family:"Open Sans";
}
.profileCompletion .heading
{
	font-weight:bold;
	font-size:20px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
}
.profileCompletion .items-container .item
{
	padding-left: 3px;
    margin-bottom: 5px;
    padding-right: 15px;
    font-size: 13px;
    line-height: 22px;
}
.profileCompletion .items-container .item:hover
{
	cursor:pointer;
    color: #55c93d;
}
.profileCompletion .items-container .item .name
{
	font-size:14px;
}

.profileCompletion .items-container .item .icon
{
    margin-right:   10px;
    display:        inline-block;
    vertical-align: middle;
    color:          #333;
    width:          20px;
    height:         20px;
}

.profileCompletion .items-container .item .checkmark
{
    background: url(http://static.reshape.net/RESH/Images/dashboard/checkmark.png) no-repeat center;
}

.profileCompletion .items-container .item .cross
{
    background: url(http://static.reshape.net/RESH/Images/dashboard/cross.png) no-repeat center;
}

.profileCompletion .pct-container
{
    background: rgb(238, 238, 238);
    top: 75px;
    right: 60px;
    height: 186px;
    width: 17px;
    position: absolute;
}

.profileCompletion .pct-container .bar
{
    position: relative;
    height: 100%;
    top: 16px;
}

.profileCompletion .pct-container .pct-fill
{
    width: 100%;
    bottom: 0px;
    position: absolute;
    background: #55c93d;
}

.profileCompletion .pct-container .number
{
    font-size: 17px;
    margin-left: 23px;
    width: 40px;
    margin-top: -16px;
}