﻿@charset "UTF-8";
/* CSS Document */

.dashboardLeftMenu{
	display:table-cell;
	width:250px;
	height:100%;
	background:#282828;
	border-top:1px solid #000;
	box-shadow: 2px 0px 10px #888888;
	vertical-align:top;
	position:relative;
}
.dashboardLeftMenu .menuContainer .profileContainer{
	margin-top:10px;
	margin-bottom:10px;
}
.dashboardLeftMenu .menuContainer .profileContainer .picture{
	float:left;
	width:70px;
	height: 70px;
	overflow: hidden;
	margin-left:10px;
}
.dashboardLeftMenu .menuContainer .profileContainer .picture img
{
	height: 70px;
}
.dashboardLeftMenu .menuContainer .profileContainer .textContainer{
	float:left;
	width:169px;
	margin-top:20px;
}
.dashboardLeftMenu .menuContainer .profileContainer .textContainer .name{
	text-align:center;
}
.dashboardLeftMenu .menuContainer .profileContainer .textContainer .name a{
	color:#d0d0d0;
	font-size:16px;
	text-decoration:none;
}
.dashboardLeftMenu .menuContainer .profileContainer .textContainer .name a:hover{
	color:#ce2127;
}
.dashboardLeftMenu .menuContainer .profileContainer .textContainer .viewProfile{
	text-align:center;
}
.dashboardLeftMenu .menuContainer .profileContainer .textContainer .viewProfile a{
	color:#ce2127;
	text-decoration:none;
	font-size:12px;
}
.dashboardLeftMenu .menuContainer .profileContainer .textContainer .viewProfile a:hover{
	color:#d0d0d0;
}
.dashboardLeftMenu .tab{
	color:#fff;
	background:url(/RESH/Images/dashboard/leftmenuTab.png);
	height:56px;
	line-height:56px;
	width:100%;
	text-indent:20px;
	font-size:14px;
	font-family:"Open Sans";
}
.dashboardLeftMenu .tab:hover, .dashboardLeftMenu .selected{
	cursor:pointer;
	background-position:0px 58px;
}

.dashboardLeftMenu .tab .notifications
{
    position: absolute;
    margin-left: 192px;
    color: #ce2127;
    margin-top: -56px;
}

.dashboardLeftMenu .tab:hover .notifications, .dashboardLeftMenu .selected .notifications
{
    color: #fff;
}

.dashboardLeftMenu .bottom{
	bottom:0px;
	position:absolute;
	width:250px;
}
.dashboardLeftMenuDivider
{
	display: none;
	width: 30px;
}