@charset "UTF-8";
/* CSS Document */

.dashboardStats{
	color:#fff;
	font-family:"Open Sans";
	position:relative;
}
.dashboardStats .container{
	display:table;
	width:100%;
}
.dashboardStats .row{
	display:table-row;
}

.dashboardStats .statContainer{
	display:table-cell;
	height:127px;
	min-width:127px;
	background:url(/RESH/Images/dashboard/statcircle.png) no-repeat center;
	padding-bottom:20px;
}
.dashboardStats .statContainer:hover{
	background:url(/RESH/Images/dashboard/statcircleHover.png) no-repeat center;
	cursor:pointer;
}
.dashboardStats .statContainer .icon{
	height:43px;
	margin-top:30px;
}
.dashboardStats .statContainer .num{
	text-align:center;
}
.dashboardStats .statContainer .desc{
	text-align:center;
	font-size:11px;
}
.dashboardStats .clients .icon{
	background:url(/RESH/Images/dashboard/statsClients.png) no-repeat center;
}
.dashboardStats .balance .icon{
	background:url(/RESH/Images/dashboard/statsBalance.png) no-repeat center;
}
.dashboardStats .messages .icon{
	background:url(/RESH/Images/dashboard/statsMessages.png) no-repeat center;
}
.dashboardStats .views .icon{
	background:url(/RESH/Images/dashboard/statsViews.png) no-repeat center;
}