@charset "UTF-8";
/* CSS Document */

.upcomingSessions{
	position:relative;
	font-family:"Open Sans";
}
.upcomingSessions .heading{
	font-weight:bold;
	font-size:20px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
}
.upcomingSessions .sessionsContainer .session{
	background:url(/RESH/Images/dashboard/circleArrow.png) no-repeat 10px 0px;
	padding-left:67px;
	min-height:37px;
	margin-bottom:10px;
	padding-right:15px;
}
.upcomingSessions .sessionsContainer .session:hover{
	background:url(/RESH/Images/dashboard/circleArrowHover.png) no-repeat 10px 0px;
	cursor:pointer;
}
.upcomingSessions .sessionsContainer .session .name{
	font-size:14px;
}
.upcomingSessions .sessionsContainer .session .details{
	font-style:italic;
	font-size:11px;
	color:#585858;
}