@charset "UTF-8";
/* CSS Document */

.dashboardTop{
	position:relative;
	
	font-family:"Open Sans";
	overflow:hidden;
}

.dashboardTop .heading{
	font-weight:bold;
	font-size:20px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
	margin-bottom:30px;
}

.dashboardTop .peopleContainer{
}
.dashboardTop .peopleContainer .person{
	position:relative;
	float:left;
	width:25%;
	height:auto;
	margin-top:-6px;
}
.dashboardTop .peopleContainer .person a{
	color:#FFF;
	text-decoration:none;
}
.dashboardTop .peopleContainer .person a:hover{
	color:#ce2127;
}
.dashboardTop .peopleContainer .person .picture:hover{
	cursor:pointer;
}
.dashboardTop .peopleContainer .person .picture img{
	width:100%;
	height:100%;
	border:1px solid #eaeaea;
}
.dashboardTop .peopleContainer .person .name{
	display:none;
	font-size:10px;
	position:absolute;
	bottom:6px;
	left:0px;
	line-height:15px;
	text-align:center;
	background:rgba(0,0,0,0.3);
	padding-left:1px;
	padding-right:1px;
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
}