﻿@charset "UTF-8";
/* CSS Document */

.socialIconsColor a {
    display: block;
    width: 24px;
    height: 24px;
    background: url(/RESH/Images/trainerSocial.png) no-repeat;
    float: left;
    margin: 0 4px;
    text-decoration: none;
}

.socialIconsColor a.twitter {
    background-position: -31px 0;
}

.socialIconsColor a.youtube {
    background-position: -62px 0;
}

.socialIconsColor a.skype {
    background-position: -93px 0;
}

.socialIconsColor a.instagram {
    background-position: -124px 0;
}

.socialIconsColor a.linkedin {
    background-position: -155px 0;
}

.socialIconsColor a.pinterest
{
    background-position: -214px 0;
}

.socialIconsColor a.googleplus
{
    background-position: -183px 0;
}

.socialIconsColor a.spotify
{
    background-position: -244px 0;
}

.socialIconsColor a.homepage
{
    background-position: -275px 0;
}

.socialIconsColor a.vimeo
{
    background-position: -304px 0;
}