{% extends '::base.html.twig' %}

{% block body -%}
<!--=== BEG SUPER WALL ===-->
<div class="container-fluid visible-lg">
  <div class="row" style="border-top: solid 2px #A8A8A8;">
    <div class="col-md-12 super-wall-bg">
      <center>
        <img class="img-responsive" src="{{ asset('bundles/reshape/assets/img/home/Reshape-Home-LG.png') }}">
      </center>
    </div>
  </div>
</div>
<div class="container-fluid visible-md">
  <div class="row" style="border-top: solid 2px #A8A8A8;">
    <div class="col-md-12 super-wall-bg">
      <center>
        <img class="img-responsive" src="{{ asset('bundles/reshape/assets/img/home/Reshape-Home-MD.png') }}">
      </center>
    </div>
  </div>
</div>
<div class="container-fluid visible-sm">
  <div class="row" style="border-top: solid 2px #A8A8A8; border-bottom:solid 1px #303434;">
    <div class="col-md-12 super-wall-bg-sm">
      <center>
        <img class="img-responsive" src="{{ asset('bundles/reshape/assets/img/home/Reshape-Home-SM2.png') }}">
      </center>
    </div>
  </div>
</div>
<div class="container-fluid visible-xs">
  <div class="row" style="border-top: solid 2px #A8A8A8; border-bottom:solid 1px #303434;">
    <div class="col-md-12 super-wall-bg-xsm">
      <center>
        <img class="img-responsive" src="{{ asset('bundles/reshape/assets/img/home/Reshape-Home-XS2.png') }}">
      </center>
    </div>
  </div>
</div>
<!--=== END SUPER WALL ===-->
{% endblock %}
