{% extends '::base.html.twig' %}

{% block title %}Search | Reshape{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/reshape/css/skin_minimal_dark_global.css') }}"/>
    {# <link rel="stylesheet" href="{{ asset('bundles/reshape/css/chosen.min.css') }}"/> #}
    <style type="text/css">
      html {
        background-image: linear-gradient( to left top, transparent 40%,rgba(255,255,255,.13) 40%,rgba(255,255,255,.13) 49%,transparent 50% );
        background-size: 6px 6px;
        background-color: #151515;
      }
      body {
        background-color: transparent;
      }
      .modal-body {
        max-height: none !important;
        overflow-y: inherit !important;
      }

      .prof-bg{
        background-color:#232323;
        -webkit-box-shadow: 0px 6px 10px 0px rgba(45, 42, 43, 1);
        -moz-box-shadow:    0px 6px 10px 0px rgba(45, 42, 43, 1);
        box-shadow:         0px 6px 10px 0px rgba(45, 42, 43, 1);
        background-image: none;
      }

      .prof-title{
        text-align:center;
        padding-top: 18px;
        padding-bottom: 10px;
        background-color: #1c1c1c;

      }

      .prof-name{
        color:#EEEEEE;
        font-family: 'Roboto condensed', sans-serif;
        font-weight:700;
        font-size:48px;
      }
      .prof-cert{
        color:#D31313;
        font-size:24px;
      }

      .prof-descrip{
        color:#FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size:14px;
        margin-top: -28px;
      }

      .prof-descrip p {
        margin-bottom: 20px;
      }

      .prof-location{
        color: #A8A8A8;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-top: -19px;
      }
      .prof-view{
        min-width: 740px;
        min-height: 728px;
        background-color: #2d2d2d;
      }
      .followbtn{
        z-index:99999;
        position:absolute;
        margin-left: 422px;
        margin-top: -2px;
      }
      .prof-text{
        color:#fff;
        padding: 14px 73px;
        text-align: center;
        font-size: 13px;
      }

      .view {
        width: 120px;
        /*height: 120px;*/
        margin: 10px;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

      }
      .view .mask,.view .content {
        width: 120px;
        height: 120px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
      }
      .view img {
        display: block;
        position: relative;
      }
      .view h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
        margin: 20px 0 0 0;
      }
      .view-first img {
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      .view-first .mask {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        background-color: rgba(88, 88, 88, 0.7);;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      .view-first h2 {
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      .view-first p {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      .view-first:hover img {
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
      }
      .view-first a.info {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      .view-first:hover .mask {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
      }
      .view-first:hover h2,
      .view-first:hover p,
      .view-first:hover a.info {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
      }
      .view-first:hover p {
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        -ms-transition-delay: 0.1s;
        transition-delay: 0.1s;
      }
      .view-first:hover a.info {
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        -ms-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
      .form-bordered .form-group{
        border-bottom:none;
      }

      .searchintro{
        min-height: 40px;
        color: #fff;
        background-color: #000000;
        text-transform: uppercase;
        margin-top: -10px;
      }

      .searchintro h4{
        line-height: 20px;
        font-size: 13px;
      }

      .refreshicon{
        color: #fff !important;
        vertical-align: middle;
        font-size: 17px;
        margin-left: 17px;
      }

      /*.refreshicon a:hover{
        background-color:#454545 !important;
        color:#fff !important;
        float: right;
        min-height: 40px;
        min-width: 50px;
      }*/

      .refreshicon a{
        color:#fff !important;

      }

      .panel-heading{
        border-radius: 0px;
      }

      .active-filter{
        border-left: 4px solid #d3202c !important;
        background-color: #000000 !important;
      }
      .panel-default>.panel-heading {
        color: #FFF;
        background-color:#171719;
        border-bottom: 1px solid #000000;
      }
      .panel-title{
        font-family: 'open-sans',arial, helvetica, sans-serif;
      }
      .count-icon{
        width: 21px;
        height: 21px;
        background-color: #FFF;
        color: #b80d0d;
        border-radius: 3px;
        float: left;
        text-align: center;
        margin-top: -3px;
      }
      .panel-title{
        color:#fff;
        font-size:15px;
      }

      .panel-body{
        background-color: #0e0e10;
      }

      .checkbox label{
        /*margin-left:35px;*/
        color:#fff;
      }
      .update-btn{
        text-align:center;
      }
      .btn-primary {
        background-color: #d22130;
        border-color: #d22130;
        color: #FFF;
      }
      .btn-primary:hover{
        background-color: #FFF;
        color: #d22130;
        border-color: #d22130;
      }
      .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border-top-color: #272727;
        max-height: 300px;
        overflow: auto;
      }
      .panel-body{
        padding:0px;
      }
      .checkbox{
        position: relative;
        display: block;
        min-height: 40px;
        margin-top:0px;
        padding-top: 13px;
        padding-bottom: 10px;
        margin-bottom:0px;
        border-bottom: 1px solid #2D2D2D;
      }

      input[type=checkbox] {
        visibility: hidden;
      }

      /* ROUNDED ONE */
      .roundedOne {
        width: 20px;
        height: 20px;
        background-color: #fff;
        margin-left:35px;
        /*margin: 20px auto;*/
        -webkit-border-radius: 50px !important;
        -moz-border-radius: 50px !important;
        border-radius: 50px !important;
        position: relative;
      }

      .roundedOne label {
        cursor: pointer;
        position: absolute;
        width: 14px;
        height: 14px;
        -webkit-border-radius: 50px !important;
        -moz-border-radius: 50px !important;
        border-radius: 50px !important;
        left: 2px;
        top: 2px;
      }

      .roundedOne label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #d3202c;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        top:1px;
        left:1px;
        border-radius: 50px;
        -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      }

      .roundedOne label:hover::after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.3;
      }

      .roundedOne input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
      }

      i.plusminus {
        float: right;
        margin-top: -15px;
      }

      .chosen-container {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        zoom: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .chosen-container-multi .chosen-choices li.search-choice {
        position: relative;
        margin: 7px 0 6px 5px;
        padding: 2px 20px 2px 5px;
        background: #f9fafc;
        border: 1px solid #1bbae1;
        background-color: #1bbae1;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px;
        border-radius: 2px;
        line-height: 13px;
        cursor: default;
      }
      .chosen-container-active.chosen-with-drop .chosen-choices {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .chosen-container-multi .chosen-choices li.search-field {
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }
      .chosen-container .chosen-drop {
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 1041;
        width: 100%;
        border: 1px solid #4A4A4A;
        border-top: 0;
        background: #4A4A4A;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .chosen-container-multi .chosen-choices li {
        float: left;
        list-style: none;
      }

      .chosen-container-active .chosen-choices li.search-field input[type="text"] {
        color: #fff !important;
      }
      .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        margin: 1px 0;
        padding: 5px 8px;
        height: 30px;
        outline: 0;
        border: 0 !important;
        background: transparent !important;
        box-shadow: none;
        font-size: 100%;
        line-height: normal;
      }
      .chosen-container.chosen-with-drop .chosen-drop {
        left: 0;
      }
      .chosen-container-multi .chosen-results {
        margin: 0;
        padding: 0;
      }
      .chosen-container .chosen-results {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 4px 4px 0;
        padding: 0 0 0 4px;
        max-height: 240px;
        -webkit-overflow-scrolling: touch;
      }
      .chosen-container .chosen-results li.active-result {
        display: list-item;
        cursor: pointer;
        color: #eaeaea;
        font-size: 13px;
      }
      .chosen-container .chosen-results li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
      }
      .chosen-container-multi .chosen-choices {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto !important;
        height: 1%;
        border: 1px solid #252525;
        background-color: #242424;
        cursor: text;
        border-radius: 4px;
      }
      .chosen-container-multi .chosen-choices li.search-choice {
        position: relative;
        margin: 7px 0 6px 5px;
        padding: 2px 20px 2px 5px;
        background: #f9fafc;
        border: 1px solid #d22130;
        background-color: #d22130;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px;
        border-radius: 2px;
        line-height: 13px;
        cursor: default;
      }
      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        position: absolute;
        top: 1px;
        right: 2px;
        display: block;
        color: #ffffff;
        width: 12px;
        height: 12px;
        font-size: 12px;
      }
      .chosen-container-multi .chosen-choices li.search-field {
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }
      .chosen-container-multi .chosen-choices li {
        float: left;
        list-style: none;
      }
      .chosen-container-multi .chosen-choices li.search-field .default {
        color: #4d4d4d;
        font-size: 13px !important;
      }
      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
        content: "x";
      }
      .chosen-container-multi .chosen-drop .result-selected {
        display: list-item;
        color: #7b7b7b;
        font-size:13px;
        cursor: default;
      }

      .chosen-container .chosen-results li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
      }

      .filter-options li{
        list-style: none;
        font-size: 14px;
      }
      .searchintro h4{
        line-height: 40px;
        font-size: 13px;
      }

      .filter-options label{
        color: #B8B8B8;
        font-weight: 300;
        font-size: 14px;
      }
      .search-sidebar{
        background-color:#171719;
      }
      .filter-border{
        border-top: 1px solid #000000;
        padding-top: 10px;
        padding-bottom: 15px;
      }
      .filter-options{
        margin-top: -10px;
      }
    </style>
  {% endblock %}

  {% block body -%}
    <!-- Beg Content Part -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 search-sidebar">
          <div class="searchintro text-center">
            <h4>
              Select to narrow your search options
            </h4>
          </div>
          <ul class="filter-options">
            {% for attrGroup in attributes %}
              <li class="filter-border col-md-12">
                <label>{{ attrGroup.name }}</label>
                <select class="chosen-select" data-placeholder="Select one or more" style="width: 100%;" multiple>
                  {% for attribute in attrGroup.attributes %}
                    <option value="{{ attribute.id }}" {{ app.request.attributes.get('_route') == attribute.name|lower ? 'selected' }}>{{ attribute.name }}</option>
                  {% endfor %}
                </select>
              </li>
            {% endfor %}
          </ul>
          <div class="update-btn">
            <button id="updateSearch" type="button" class="btn btn-primary">UPDATE SEARCH</button>
            <span class="refreshicon">
              <a id="resetSearch" href="#"  data-toggle="tooltip" title="" data-original-title="Clear Filters">
                <i style="margin-top:10px;" class="sidebar-nav-icon fa fa-refresh"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 results-container" id="galleryDivParent">

          <div id="galleryDiv" style="width:100%;"></div>

          <ul id="playlist" style="display: none;">
            <!-- skin -->
            <ul data-skin="">
              <li data-preloader-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/rotite-30-29.png') }}"></li>
              <li data-show-more-thumbnails-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsNormalState.png') }}"></li>
              <li data-show-more-thumbnails-button-selectsed-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsSelectedState.png') }}"></li>
              <li data-image-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/photoIcon.png') }}"></li>
              <li data-video-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/videoIcon.png') }}"></li>
              <li data-link-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/linkIcon.png') }}"></li>
              <li data-iframe-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/iframeIcon.png') }}"></li>
              <li data-hand-move-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/handnmove.cur') }}"></li>
              <li data-hand-drag-icon-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/handgrab.cur') }}"></li>
              <li data-combobox-down-arrow-icon-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow.png') }}"></li>
              <li data-combobox-down-arrow-icon-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow-rollover.png') }}"></li>
              <li data-lightbox-slideshow-preloader-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/slideShowPreloader.png') }}"></li>
              <li data-lightbox-close-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonNormalState.png') }}"></li>
              <li data-lightbox-close-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonSelectedState.png') }}"></li>
              <li data-lightbox-next-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/nextIconNormalState.png') }}"></li>
              <li data-lightbox-next-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/nextIconSelectedState.png') }}"></li>
              <li data-lightbox-prev-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/prevIconNormalState.png') }}"></li>
              <li data-lightbox-prev-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/prevIconSelectedState.png') }}"></li>
              <li data-lightbox-play-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/playButtonNormalState.png') }}"></li>
              <li data-lightbox-play-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/playButtonSelectedState.png') }}"></li>
              <li data-lightbox-pause-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/pauseButtonNormalState.png') }}"></li>
              <li data-lightbox-pause-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/pauseButtonSelectedState.png') }}"></li>
              <li data-lightbox-maximize-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/maximizeButtonNormalState.png') }}"></li>
              <li data-lightbox-maximize-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/maximizeButtonSelectedState.png') }}"></li>
              <li data-lightbox-minimize-button-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/minimizeButtonNormalState.png') }}"></li>
              <li data-lightbox-minimize-button-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/minimizeButtonSelectedState.png') }}"></li>
              <li data-lightbox-info-button-open-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenNormalState.png') }}"></li>
              <li data-lightbox-info-button-open-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenSelectedState.png') }}"></li>
              <li data-lightbox-info-button-close-normal-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseNormalPath.png') }}"></li>
              <li data-lightbox-info-button-close-selected-path="{{ asset('bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseSelectedPath.png') }}"></li>
            </ul>

            <!-- image playlist category  -->
            <ul data-cat="PROFILES">
              {% for profile in profiles %}
                <ul>
                  <li data-type="link" data-url="javascript:showModal({{ profile.id }});" data-target="_self"></li>
                  <li data-thumbnail-path="{{ profile.picture_url ? profile.picture_url : 'http://placehold.it/200x200' }}"></li>
                  <li data-thumbnail-text>
                    <p class="largeLabel">
                      {{ profile.name }}
                    </p>
                  </li>
                </ul>
              {% endfor %}
            </ul>

          </ul>
        </div>
      </div>

      <div id="profile-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content prof-view">
            <!-- Modal Header -->

            <div class="row prof-bg" style="margin:0 0;">
              <div class="col-md-12 prof-title">
                <i class="fa fa-times fa-2x"></i>
                <div class="prof-name">
                  MARC MEGNA
                  <span class="prof-cert">CSCS</span>
                </div>
                <br>
                <div class="prof-descrip"><p>SPORTS PERFORMANCE COACH, MUSCLETECH ATHLETE & CELEBRITY TRAINER</p></div>
                <div class="prof-location"><p>LOCATION: MIAMI, FL</p></div>
              </div>

            </div>



            <!-- END Modal Header -->

            <!-- Modal Body -->
            <div class="modal-body">
              <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                <fieldset>
                  <div class="form-group">

                    <a id="modalPrev"></a>
                    <a id="modalNext"></a>

                    <div class="col-md-12 text-center" style="margin-top: -40px;">
                      <div class="prof-video">
                        <!--<a href="#"><span class="followbtn"><img src="img/assets/followbtn.png"></span></a>-->

                        <iframe style="position:relative;" width="560" height="315" src="http://www.youtube.com/embed/9UmvMXIO9F4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                      </div>
                      <p class="prof-text"><strong>Marc Megna</strong> has evolved into the foremost strength and conditioning coach in Miami. The former NFL football player is certified by the National Strength and Conditioning Association and has years of experience in this field. Megna works with a wide variety of clients, from celebrities, professional athletes and novices.</p>

                    </div>
                    <div class="col-md-12" style="margin-left: 58px;">
                      <div class="block-section col-md-5" id="viewProfile">
                        <button type="button" class="btn btn-block btn-default">VIEW RESHAPE PROFILE</button>
                      </div>
                      <div class="block-section col-md-5" id="getSession">
                        <button type="button" class="btn btn-block btn-primary">GET SESSION</button>
                      </div>
                    </div>
                    <div class="col-md-12" style="margin-left: 46px; margin-top: 15px;">
                      <h5 style="color: #fff; margin-left: 25px; margin-bottom: 0;">SPECIALTIES</h5>
                      <div id="specs">
                      </div>
                    </div>
                  </div>


                </div>

                <!-- Dropzone Block -->

              </div>
            </div>
            <!-- END Form Components Row -->

          </fieldset>

        </form>
      </div>

    </div>
    <!-- End Content Part -->
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/reshape/js/FWDGrid.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/reshape/js/jquery.nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/reshape/js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript">

      $(".chosen-select").chosen({disable_search_threshold: 10});

      var grid;

      var pageResults;

      FWDUtils.onReady(function(){
        create();
        updateSearch()
      })

      $('#resetSearch').click(function () {
        $('.chosen-select option:selected').removeAttr('selected');
        $('.chosen-select').trigger('chosen:updated');
      // $('.chosen-select option:selected').prop('selected', false);
      updateSearch();
    })

      $('#updateSearch').click(function () {
        updateSearch();
      })

      function updateSearch(){
        var selectedAttr = $('.chosen-select option:selected').map(function() {
          return this.value;
        }).get();

        var attrData = new FormData();
        attrData.append('token', 1234);
        attrData.append('picture_size', 200);
        attrData.append('start_no', 0);
        attrData.append('limit', 0);
        attrData.append('metaData', false);
        for (attr in selectedAttr) {
          attrData.append('attributes[]', selectedAttr[attr]);
        }

        ActionURL = 'http://dash.reshape.net/api/ajax/search/profileSearch';

        $.ajax({
          type: 'POST',
          processData: false,
          contentType: false,
          data: attrData,
          url: ActionURL,
          dataType: 'json',
          xhrFields: {
            withCredentials: true
          },
          crossDomain: true,
          success: function(data){
            grid = null;
            $("#galleryDiv").children().remove();
            category(data);
            create();
            pageResults = data.data;
        // console.log(data);
      }
    });
      }

      function category(data) {
        var html = '<ul id="playlist" style="display: none;">' +
        '<ul data-skin="">' +
        '<li data-preloader-path="/bundles/reshape/css/skin_minimal_dark_square/rotite-30-29.png"></li>' +
        '<li data-show-more-thumbnails-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsNormalState.png"></li>' +
        '<li data-show-more-thumbnails-button-selectsed-path="/bundles/reshape/css/skin_minimal_dark_square/showMoreThumbsSelectedState.png"></li>' +
        '<li data-image-icon-path="/bundles/reshape/css/skin_minimal_dark_square/photoIcon.png"></li>' +
        '<li data-video-icon-path="/bundles/reshape/css/skin_minimal_dark_square/videoIcon.png"></li>' +
        '<li data-link-icon-path="/bundles/reshape/css/skin_minimal_dark_square/linkIcon.png"></li>' +
        '<li data-iframe-icon-path="/bundles/reshape/css/skin_minimal_dark_square/iframeIcon.png"></li>' +
        '<li data-hand-move-icon-path="/bundles/reshape/css/skin_minimal_dark_square/handnmove.cur"></li>' +
        '<li data-hand-drag-icon-path="/bundles/reshape/css/skin_minimal_dark_square/handgrab.cur"></li>' +
        '<li data-combobox-down-arrow-icon-normal-path="/bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow.png"></li>' +
        '<li data-combobox-down-arrow-icon-selected-path="/bundles/reshape/css/skin_minimal_dark_square/combobox-down-arrow-rollover.png"></li>' +
        '<li data-lightbox-slideshow-preloader-path="/bundles/reshape/css/skin_minimal_dark_square/slideShowPreloader.png"></li>' +
        '<li data-lightbox-close-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonNormalState.png"></li>' +
        '<li data-lightbox-close-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/galleryCloseButtonSelectedState.png"></li>' +
        '<li data-lightbox-next-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/nextIconNormalState.png"></li>' +
        '<li data-lightbox-next-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/nextIconSelectedState.png"></li>' +
        '<li data-lightbox-prev-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/prevIconNormalState.png"></li>' +
        '<li data-lightbox-prev-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/prevIconSelectedState.png"></li>' +
        '<li data-lightbox-play-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/playButtonNormalState.png"></li>' +
        '<li data-lightbox-play-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/playButtonSelectedState.png"></li>' +
        '<li data-lightbox-pause-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/pauseButtonNormalState.png"></li>' +
        '<li data-lightbox-pause-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/pauseButtonSelectedState.png"></li>' +
        '<li data-lightbox-maximize-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/maximizeButtonNormalState.png"></li>' +
        '<li data-lightbox-maximize-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/maximizeButtonSelectedState.png"></li>' +
        '<li data-lightbox-minimize-button-normal-path="/bundles/reshape/css/skin_minimal_dark_square/minimizeButtonNormalState.png"></li>' +
        '<li data-lightbox-minimize-button-selected-path="/bundles/reshape/css/skin_minimal_dark_square/minimizeButtonSelectedState.png"></li>' +
        '<li data-lightbox-info-button-open-normal-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenNormalState.png"></li>' +
        '<li data-lightbox-info-button-open-selected-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonOpenSelectedState.png"></li>' +
        '<li data-lightbox-info-button-close-normal-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseNormalPath.png"></li>' +
        '<li data-lightbox-info-button-close-selected-path="/bundles/reshape/css/skin_minimal_dark_square/infoButtonCloseSelectedPath.png"></li>' +
        '</ul>';

        html += '<ul data-cat="PROFILES">';
        for (p in data.data) {
          html += '<ul>' +
          '<li data-target="_self" data-type="link" ';

          html += 'data-url="javascript:showModal('+data.data[p].id+', \''+encodeURIComponent(data.data[p].name)+'\', \''+data.data[p].video_id+'\', \''+data.data[p].picture_url+'\', \''+encodeURIComponent(data.data[p].descr_short)+'\');"></li>';

          html += '<li data-thumbnail-path="' + (data.data[p].picture_url ? data.data[p].picture_url : 'http://placehold.it/200x200') + '"></li>' +
          '<li data-thumbnail-text>' +
          '<p class="largeLabel">';

          html += data.data[p].name;

          html += '</p><p class="smallLabel">'+data.data[p].pageData.city+', '+data.data[p].pageData.region+'</p>' +
          '</li>' +
          '</ul>';
        }
        html +='</ul>';

        html += '</ul>';

        $("#galleryDivParent").parent().append(html);
      }

      function create(){

        grid = new FWDGrid({
        //main settings
        gridHolderId:"galleryDiv",
        gridPlayListAndSkinId:"playlist",
        showContextMenu:"no",
        //grid settings
        thumbnailOverlayType:"text",
        addMargins:"no",
        loadMoreThumbsButtonOffest:0,
        thumbnailBaseWidth:200,
        thumbnailBaseHeight:200,
        // nrOfThumbsToShowOnSet:100,
        horizontalSpaceBetweenThumbnails:0,
        verticalSpaceBetweenThumbnails:0,
        thumbnailBorderSize:0,
        thumbnailBorderRadius:0,
        thumbnailOverlayOpacity:.85,
        backgroundColor:"transparent",
        thumbnailOverlayColor:"#000000",
        thumbnailBackgroundColor:"transparent",
        thumbnailBorderNormalColor:"#FFFFFF",
        thumbnailBorderSelectedColor:"#FFFFFF",
        //combobox settings
        startAtCategory:1,
        selectLabel:"SELECT ALBUM",
        allCategoriesLabel:"All Albums",
        showAllCategories:"yes",
        comboBoxPosition:"topleft",
        selctorBackgroundNormalColor:"#FFFFFF",
        selctorBackgroundSelectedColor:"#000000",
        selctorTextNormalColor:"#000000",
        selctorTextSelectedColor:"#FFFFFF",
        buttonBackgroundNormalColor:"#FFFFFF",
        buttonBackgroundSelectedColor:"#000000",
        buttonTextNormalColor:"#000000",
        buttonTextSelectedColor:"#FFFFFF",
        comboBoxShadowColor:"#000000",
        comboBoxHorizontalMargins:2,
        comboBoxVerticalMargins:-30,
        comboBoxCornerRadius:0,
        //ligtbox settings
        addLightBoxKeyboardSupport:"yes",
        showLightBoxNextAndPrevButtons:"yes",
        showLightBoxZoomButton:"yes",
        showLightBoxInfoButton:"yes",
        showLighBoxSlideShowButton:"yes",
        showLightBoxInfoWindowByDefault:"no",
        slideShowAutoPlay:"no",
        lightBoxVideoAutoPlay:"yes",
        lighBoxBackgroundColor:"#000000",
        lightBoxInfoWindowBackgroundColor:"#FFFFFF",
        lightBoxItemBorderColor:"#FFFFFF",
        lightBoxItemBackgroundColor:"#222222",
        lightBoxMainBackgroundOpacity:.8,
        lightBoxInfoWindowBackgroundOpacity:.9,
        lightBoxBorderSize:1,
        lightBoxBorderRadius:0,
        lightBoxSlideShowDelay:4
      });
}

function showModal(id) {

  var profileData = new FormData();
  profileData.append('token', 1234);
  profileData.append('id', id);
  profileData.append('attrGroupId', 754);
  profileData.append('slidePicSize', 560);
  profileData.append('attrPicSize', 120);

  pActionURL = 'http://dash.reshape.net/api/ajax/search/profileModal';

  $.ajax({
    type: 'POST',
    processData: false,
    contentType: false,
    data: profileData,
    url: pActionURL,
    dataType: 'json',
    xhrFields: {
      withCredentials: true
    },
    crossDomain: true,
    success: function(data){
      var profileInfo = data.profiles[0].profileInfo;
      var pageInfo = data.profiles[0].pageInfo;
      var specialitiesInfo = data.profiles[0].attrGroups[0].attributes;
      var slides = data.profiles[0].slides;

      var prevId = $.grep(pageResults, function(e, i){ return (pageResults[i+1] || {}).id == id; })[0];
      var nextId = $.grep(pageResults, function(e, i){ return (pageResults[i-1] || {}).id == id; })[0];

      if (prevId) {
        $('#modalPrev').show().attr('href', 'javascript:showModal('+prevId.id+');');
      } else {
        $('#modalPrev').hide();
      }

      if (nextId) {
        $('#modalNext').show().attr('href', 'javascript:showModal('+nextId.id+');');
      } else {
        $('#modalNext').hide();
      }

      $('.prof-name').html(profileInfo.name+'<span class="prof-cert"> '+profileInfo.pageData.title+'</span>');
      $('.prof-descrip').html('<p>'+pageInfo.pageData.tagLine+'</p>');
      $('.prof-location').html('<p>'+profileInfo.pageData.city+', '+profileInfo.pageData.region+'</p>');
      if (slides[0].video_id) {
        $('.prof-video').html('<iframe style="position:relative;" width="560" height="315" src="http://www.youtube.com/embed/'+slides[0].video_id+'?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>');
      } else {
        $('.prof-video').html('<img src="'+slides[0].picture_url+'">');
      }
      $('.prof-text').html(profileInfo.descr_short);
      $('#viewProfile').html('<a href="/Profile/'+id+'"><button type="button" class="btn btn-block btn-default">VIEW RESHAPE PROFILE</button></a>');

      $('#specs').empty();

      for (i in specialitiesInfo) {
        if (i == 4) break;
        $('#specs').append('<div class="col-md-3 text-center"'+(i != 0 ? 'style="margin-left:-30px;"' : '')+'><div class="view view-first"><img src="'+specialitiesInfo[i].picture_url+'"><h4 style="color: #fff;">'+specialitiesInfo[i].name+'</h4></div></div>');
      }

      // console.log(slides);
    }
  });

$('#profile-modal').modal('show');

}

$( '.panel-heading' ).click(function() {
  $( this ).toggleClass( 'active-filter' );
  $('.panel-body').niceScroll({
    cursorminheight: 80,
    cursorwidth: 10,
    cursoropacitymin: 0.3
  });

  $(this).find('i').toggleClass('fa-plus-circle fa-minus-circle');

});

$("input[id^='attribute_']").click(function () {
  {% for attrGroup in attributes %}
  $('.group{{ loop.index }}').html($('.group{{ loop.index }}:checked').length);
  {% endfor %}
});

$('#profile-modal').on('hidden.bs.modal', function () {
  $('#profile-modal').find('iframe').attr('src', '');
});

$('.fa-times').click(function () {
  $('#profile-modal').modal('hide');
});

</script>
{% endblock %}