{% if album is defined %}
    {{ album.name }}
{% endif %}
<br>
{% if item is defined %}
    {{ item.fullurllocal }}
{% endif %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.attachment) }}
{{ form_end(form) }}