{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">

  <div class="col-lg-12">

    <h1 class="page-header">FAQ Categories</h1>

    <table class="records_list table">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in entities %}
        <tr>
          <td>{{ entity.catName }}</td>
          <td>
            <ul class="list-unstyled">
              <li>
                <a href="{{ path('faq-categories_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary btn-xs">EDIT</button></a>
              </li>
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul class="list-unstyled">
      <li>
        <a href="{{ path('faq-categories_new') }}">
          <button type="button" class="btn btn-primary btn-xs">Create new category</button>
        </a>
      </li>
    </ul>

  </div>

</div>
{% endblock %}
