{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">

  <div class="col-lg-12">
    <h1 class="page-header">New Category</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.catName, null, {'label': 'Name', 'label_attr': {'class': 'col-lg-1 col-sm-1 control-label' }}) }}
      <div class="col-lg-4">
        {{ form_widget(form.catName, {'attr': {'class': 'form-control' }}) }}
      </div>
    </div>

    <ul class="list-unstyled">
      <li class="bottom-space">
        {{ form_widget(form.submit, {'label': ' Create', 'attr': {'class': 'btn btn-primary fa fa-floppy-o' }}) }}
      </li>
      <li>
        <a href="{{ path('faq-categories') }}">
          <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-arrow-left"></i> Back to the list</button>
        </a>
      </li>
    </ul>

    {{ form_end(form) }}

  </div>
</div>
{% endblock %}
